div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="hamburger")
            if(dj[key].icon)
                span(id="mainHumb",class="icon-humbmobile-img",ng-click="global.get('functions').val.openSlideMenu()")
                span(id="inverseHumb",class="icon-humbmobile-inverse",ng-click="global.get('functions').val.openSlideMenu()")
            else if(dj[key].iconStandart)
                button(class="button navbar-toggle pull-left",ng-click="global.get('functions').val.openSlideMenu()",type="button")
                    span(class="sr-only") Toggle navigation
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
            if(dj[key].text)
                span(ng-click="global.get('functions').val.openSlideMenu()")
                    | !{dj[key].text}
