$colorProject:rgba(230, 192, 189, 0.95);
$colorProjectOne: rgba(230, 192, 189, 0.95);
$colorProjectTwo: #999;
$backgroundcolorProjectOne: rgba(230, 192, 189, 0.6);
$backgroundcolorProjectTwo: #ffffff;