button(class="button navbar-toggle pull-right",ng-click="global.get('functions').val.openSlideMenu()",type="button")
    span(class="sr-only") Toggle navigation
    span(class="icon-bar")
    span(class="icon-bar")
    span(class="icon-bar")
