/*cliniq*/
.navbar.menu1-top-bottom {
    background-color: transparent;
    border: none;
    max-height: 110px;
    margin-bottom: 0;
    border-radius: 0;
    color: $color;
}
.navbar.menu1-top-bottom:hover {
    border: none;
}
.navbar-fixed-top.menu1-top-bottom .navbar-toggle-slide {
    padding: 10px 30px;
    background-color: transparent;
}
.navbar-fixed-top.menu1-top-bottom .navbar-toggle-slide:hover {
    background-color: rgba(255, 255, 255, 0.77);
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    border-bottom: 1px solid $color;
}
.menu1-top-bottom .navbar-toggle-slide.navbar-toggle-slide-mini {
    background-color: $background-color;
}
.menu1-top-bottom .navbar-toggle-slide.navbar-toggle-slide-mini:hover {
    background-color: #fff;
}

.menu1-top-bottom.menuColor {
    background-color: rgba(255, 255, 255, 0.77);
    /*background-color: #fff;*/
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    border-bottom: 1px solid $color;
}
.menu1-top-bottom a{
    font-size: 18px;
    padding: 25px 10px;
    color: $color;
}
.menu1-top-bottom a:hover{
    opacity: 0.8;
}
.menu1-top-bottom .page-stat.nav-group {
    padding: 25px 10px;
}
.navbar-toggle-slide.navbar-toggle-slide-mini img.img-logo {
    width: 60px;
}
@media (max-width: 550px) {
    .navbar-toggle-slide {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.mobile-wrapper .menu1-top-bottom .navbar-toggle-slide {
    padding: 10px 15px;
}
.mobile-wrapper .navbar-toggle-slide.navbar-toggle-slide-mini {
    background-color: $background-color;
    opacity: 1;
}
.mobile-wrapper .navbar-toggle-slide.navbar-toggle-slide-mini img.img-logo {
    width: 50px;
}
/*navbar-toggle*/
.navbar-toggle {
    display: block;
    width: 60px;
    height: 60px;
    z-index: 2000;
    margin-top: 6px;
    margin-bottom: 6px;
    cursor: pointer;
}
.navbar-toggle .icon-bar {
    background-color: $color;
    height: 3px;
    width: 100%;
    opacity: 1;
}
.navbar-toggle:hover .icon-bar {
    background-color: $color;
    opacity: 0.8;
}
