<style>
    .add-info .modal-body .cancel {
        top: 0;
        right: 0;
    }
    .add-info hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
<div class="add-info select-modal">
    <div class="modal-header">
        <h3 class="modal-title text-center" >таблицы параметров для характеристики</h3>
        <a class="cancel" type="button" ng-click="$ctrl.cancel()"></a>
    </div>
    <div class="modal-body">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0" >
            <h4 class="text-center">выберите таблицу из списка</h4>
        </div><!-- ng-if="item.name.length"-->
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0"  ng-repeat="item in $ctrl.items">

            <h4 style="position: relative">
                <a ng-click="$ctrl.setTable(item)">
                    <span ng-bind="item.name"></span>
                </a>
                <a ng-click="$ctrl.deleteTable(item)">
                    <span class="cancel"></span>
                </a>
            </h4>
            <hr>
        </div>
        <div class="clearfix"></div>
        <div class="table-box">
            <h4 class="text-center">создать/отредактировать таблицу</h4>
            <table >
                <caption>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group label-floating ">
                            <label class="control-label">наименование таблицы</label>
                            <input class="form-control" ng-model="$ctrl.item.name"/>
                        </div>
                    </div>

                </caption>
                <!--<thead>
                <th colspan="2">


                </th>
                </thead>-->
                <thead>
                <th></th>
                <th ng-repeat="tag in $ctrl.filter.tags"><span ng-bind="tag.name"></span></th>
                <th></th>
                </thead>
                <tr ng-repeat="row in $ctrl.item.headerTable[$ctrl.lang] track by $index">
                    <td>
                        <input class="form-control parameter" placeholder="параметр" ng-model="$ctrl.item.headerTable[$ctrl.lang][$index]"/>
                    </td>
                    <td ng-repeat="tag in $ctrl.filter.tags track by $index">
                        <input class="form-control text-center"ng-model="$ctrl.item.table[tag._id][$ctrl.lang][$parent.$index]">
                        <!--<span class="help-block link-success">значение</span>-->
                    </td>
                    <td>
                        <div class="form-group">
                            <a class="btn btn-fab btn-fab-mini"  ng-if="$index==$ctrl.item.headerTable[$ctrl.lang].length-1" ng-click="$ctrl.addRow()" title="добавить строку">
                                <i class="material-icons link-success">add_box</i>
                            </a>
                            <a class="btn btn-fab btn-fab-mini" ng-click="$ctrl.deleteRow($index)" ng-if="$index!=$ctrl.item.headerTable[$ctrl.lang].length-1">
                                <i class="material-icons link-warning">delete</i>
                            </a>


                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-raised btn-block" ng-click="$ctrl.saveTable()">
                <span>сохранить</span>
            </button>
        </div>
        <!--<a class="btn btn-success pull-right" type="button" ng-click="$ctrl.saveTable()">Сохранить</a>-->
        <div class="clearfix"></div>
    </div>
    <!--<div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Отмена</button>
    </div>-->
</div>