div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  ng-if="$ctrl.items.length")
    div(class="background-logo-big")
    h1(class="text-center") сотрудники бьюти-клиники SMART CLINIQ
    div(class="col-lg-3 col-md-4 col-sm-6 col-xs-12 master-box ", ng-repeat="item in $ctrl.items")
        a(ui-sref="master.item({id:item.url})")
            div(class="thumbnail-master")
                div(class="box-overlay")
                img(class="img-responsive",ng-src="{{item.img||'/img/upload/no.png'}}")
                div(class="master-name")
                    div(class="see")
                        img(src="../../../../img/logo/logosmart.png")
                        p(class="see-master") о специалисте
            h3(class="text-center" ng-bind="item.name")
            h4(class="text-center" ng-bind="item.position")

    div(class="clearfix")
    p(class="text-justify",ng-bind="item.desc.clearTag()|cut:true:250:'...'")

div(class="clearfix")
div(ui-view)


