background: url($img) center center no-repeat;
width: $width;
height: $height;
background-size: $width;
display: $display;
padding-right: $padding-right;
padding-left: $padding-left;
padding-top: $padding-top;
padding-bottom: $padding-bottom;
margin-right: $margin-right;
margin-left: $margin-left;
margin-top: $margin-top;
margin-bottom: $margin-bottom;
float: $float;
position: $position;
opacity: $opacity;
top: $top;
left: $left;
right: $right;
bottom: $bottom;
z-index: $z-index;
vertical-align: $vertical-align;
border: $border;
border-radius: $border-radius;
background-color: $background-color;


