.pre-animate-opacity{
  opacity: 0
}
/*fadeInLeftBig*/
.animated1 {
  -webkit-animation: fadeInLeftBig 3s ease-in 200ms both;
  animation: fadeInLeftBig 3s ease-in 200ms both;
}
.animated1-0 {
  -webkit-animation: fadeInLeftBig 3s ease-in 200ms both;
  animation: fadeInLeftBig 3s ease-in 200ms both;
}
.animated1-1 {
  -webkit-animation: fadeInLeftBig 3s ease-in 400ms both;
  animation: fadeInLeftBig 3s ease-in 400ms both;
}
.animated1-2 {
  -webkit-animation: fadeInLeftBig 3s ease-in 600ms both;
  animation: fadeInLeftBig 3s ease-in 600ms both;
}
.animated1-3 {
  -webkit-animation: fadeInLeftBig 3s ease-in 800ms both;
  animation: fadeInLeftBig 3s ease-in 800ms both;
}
.animated1-4 {
  -webkit-animation: fadeInLeftBig 3s ease-in 1000ms both;
  animation: fadeInLeftBig 3s ease-in 1000ms both;
}
.animated1-5 {
  -webkit-animation: fadeInLeftBig 3s ease-in 1200ms both;
  animation: fadeInLeftBig 3s ease-in 1200ms both;
}
.animated1-6 {
  -webkit-animation: fadeInLeftBig 3s ease-in 1400ms both;
  animation: fadeInLeftBig 3s ease-in 1400ms both;
}
.animated1-7 {
  -webkit-animation: fadeInLeftBig 3s ease-in 1600ms both;
  animation: fadeInLeftBig 3s ease-in 1600ms both;
}
.animated1-8 {
  -webkit-animation: fadeInLeftBig 3s ease-in 1800ms both;
  animation: fadeInLeftBig 3s ease-in 1800ms both;
}
.animated1-9 {
  -webkit-animation: fadeInLeftBig 3s ease-in 2000ms both;
  animation: fadeInLeftBig 3s ease-in 2000ms both;
}
.animated1-10 {
  -webkit-animation: fadeInLeftBig 3s ease-in 2200ms both;
  animation: fadeInLeftBig 3s ease-in 2200ms both;
}
.animated1-11 {
  -webkit-animation: fadeInLeftBig 3s ease-in 2400ms both;
  animation: fadeInLeftBig 3s ease-in 2400ms both;
}
.animated1-12 {
  -webkit-animation: fadeInLeftBig 3s ease-in 2600ms both;
  animation: fadeInLeftBig 3s ease-in 2600ms both;
}
.animated1-13 {
  -webkit-animation: fadeInLeftBig 3s ease-in 2800ms both;
  animation: fadeInLeftBig 3s ease-in 2800ms both;
}
.animated1-14 {
  -webkit-animation: fadeInLeftBig 3s ease-in 3000ms both;
  animation: fadeInLeftBig 3s ease-in 3000ms both;
}
.animated1-15 {
  -webkit-animation: fadeInLeftBig 3s ease-in 3200ms both;
  animation: fadeInLeftBig 3s ease-in 3200ms both;
}
/*fadeInLeft*/
.animated2 {
  -webkit-animation: fadeInLeft 0.5s ease-in 200ms both;
  animation: fadeInLeft 0.5s ease-in 200ms both;
}
.animated2-0 {
  -webkit-animation: fadeInLeft 0.5s ease-in 200ms both;
  animation: fadeInLeft 0.5s ease-in 200ms both;
}
.animated2-1 {
  -webkit-animation: fadeInLeft 0.5s ease-in 400ms both;
  animation: fadeInLeft 0.5s ease-in 400ms both;
}
.animated2-2 {
  -webkit-animation: fadeInLeft 0.5s ease-in 600ms both;
  animation: fadeInLeft 0.5s ease-in 600ms both;
}
.animated2-3 {
  -webkit-animation: fadeInLeft 0.5s ease-in 800ms both;
  animation: fadeInLeft 0.5s ease-in 800ms both;
}
.animated2-4 {
  -webkit-animation: fadeInLeft 0.5s ease-in 1000ms both;
  animation: fadeInLeft 0.5s ease-in 1000ms both;
}
.animated2-5 {
  -webkit-animation: fadeInLeft 0.5s ease-in 1200ms both;
  animation: fadeInLeft 0.5s ease-in 1200ms both;
}
.animated2-6 {
  -webkit-animation: fadeInLeft 0.5s ease-in 1400ms both;
  animation: fadeInLeft 0.5s ease-in 1400ms both;
}
.animated2-7 {
  -webkit-animation: fadeInLeft 0.5s ease-in 1600ms both;
  animation: fadeInLeft 0.5s ease-in 1600ms both;
}
.animated2-8 {
  -webkit-animation: fadeInLeft 0.5s ease-in 1800ms both;
  animation: fadeInLeft 0.5s ease-in 1800ms both;
}
.animated2-9 {
  -webkit-animation: fadeInLeft 0.5s ease-in 2000ms both;
  animation: fadeInLeft 0.5s ease-in 2000ms both;
}
.animated2-10 {
  -webkit-animation: fadeInLeft 0.5s ease-in 2200ms both;
  animation: fadeInLeft 0.5s ease-in 2200ms both;
}
.animated2-11 {
  -webkit-animation: fadeInLeft 0.5s ease-in 2400ms both;
  animation: fadeInLeft 0.5s ease-in 2400ms both;
}
.animated2-12 {
  -webkit-animation: fadeInLeft 0.5s ease-in 2600ms both;
  animation: fadeInLeft 0.5s ease-in 2600ms both;
}
.animated2-13 {
  -webkit-animation: fadeInLeft 0.5s ease-in 2800ms both;
  animation: fadeInLeft 0.5s ease-in 2800ms both;
}
.animated2-14 {
  -webkit-animation: fadeInLeft 0.5s ease-in 3000ms both;
  animation: fadeInLeft 0.5s ease-in 3000ms both;
}
.animated2-15 {
  -webkit-animation: fadeInLeft 0.5s ease-in 3200ms both;
  animation: fadeInLeft 0.5s ease-in 3200ms both;
}
/*fadeInLeftMiddle*/
.animated3 {
  -webkit-animation: fadeInLeftMiddle 2.5s ease-in 200ms both;
  animation: fadeInLeftMiddle 2.5s ease-in 200ms both;
}
.animated3-0 {
  -webkit-animation: fadeInLeftMiddle 2.5s ease-in 200ms both;
  animation: fadeInLeftMiddle 2.5s ease-in 200ms both;
}
.animated3-1 {
  -webkit-animation: fadeInLeftMiddle 2.5s ease-in 400ms both;
  animation: fadeInLeftMiddle 2.5s ease-in 400ms both;
}
.animated3-2 {
  -webkit-animation: fadeInLeftMiddle 2.5s ease-in 600ms both;
  animation: fadeInLeftMiddle 2.5s ease-in 600ms both;
}
.animated3-3 {
  -webkit-animation: fadeInLeftMiddle 2.5s ease-in 800ms both;
  animation: fadeInLeftMiddle 2.5s ease-in 800ms both;
}
.animated3-4 {
  -webkit-animation: fadeInLeftMiddle 2.5s ease-in 1000ms both;
  animation: fadeInLeftMiddle 2.5s ease-in 1000ms both;
}
.animated3-5 {
  -webkit-animation: fadeInLeftMiddle 2.5s ease-in 1200ms both;
  animation: fadeInLeftMiddle 2.5s ease-in 1200ms both;
}
.animated3-6 {
  -webkit-animation: fadeInLeftMiddle 2.5s ease-in 1400ms both;
  animation: fadeInLeftMiddle 2.5s ease-in 1400ms both;
}
.animated3-7 {
  -webkit-animation: fadeInLeftMiddle 2.5s ease-in 1600ms both;
  animation: fadeInLeftMiddle 2.5s ease-in 1600ms both;
}
.animated3-8 {
  -webkit-animation: fadeInLeftMiddle 2.5s ease-in 1800ms both;
  animation: fadeInLeftMiddle 2.5s ease-in 1800ms both;
}
.animated3-9 {
  -webkit-animation: fadeInLeftMiddle 2.5s ease-in 2000ms both;
  animation: fadeInLeftMiddle 2.5s ease-in 2000ms both;
}
.animated3-10 {
  -webkit-animation: fadeInLeftMiddle 2.5s ease-in 2200ms both;
  animation: fadeInLeftMiddle 2.5s ease-in 2200ms both;
}
.animated3-11 {
  -webkit-animation: fadeInLeftMiddle 2.5s ease-in 2400ms both;
  animation: fadeInLeftMiddle 2.5s ease-in 2400ms both;
}
.animated3-12 {
  -webkit-animation: fadeInLeftMiddle 2.5s ease-in 2600ms both;
  animation: fadeInLeftMiddle 2.5s ease-in 2600ms both;
}
.animated3-13 {
  -webkit-animation: fadeInLeftMiddle 2.5s ease-in 2800ms both;
  animation: fadeInLeftMiddle 2.5s ease-in 2800ms both;
}
.animated3-14 {
  -webkit-animation: fadeInLeftMiddle 2.5s ease-in 3000ms both;
  animation: fadeInLeftMiddle 2.5s ease-in 3000ms both;
}
.animated3-15 {
  -webkit-animation: fadeInLeftMiddle 2.5s ease-in 3200ms both;
  animation: fadeInLeftMiddle 2.5s ease-in 3200ms both;
}
/*fadeInRight*/
.animated4 {
  -webkit-animation: fadeInRight 0.5s ease-in 200ms both;
  animation: fadeInRight 0.5s ease-in 200ms both;
}
.animated4-0 {
  -webkit-animation: fadeInRight 0.5s ease-in 200ms both;
  animation: fadeInRight 0.5s ease-in 200ms both;
}
.animated4-1 {
  -webkit-animation: fadeInRight 0.5s ease-in 400ms both;
  animation: fadeInRight 0.5s ease-in 400ms both;
}
.animated4-2 {
  -webkit-animation: fadeInRight 0.5s ease-in 600ms both;
  animation: fadeInRight 0.5s ease-in 600ms both;
}
.animated4-3 {
  -webkit-animation: fadeInRight 0.5s ease-in 800ms both;
  animation: fadeInRight 0.5s ease-in 800ms both;
}
.animated4-4 {
  -webkit-animation: fadeInRight 0.5s ease-in 1000ms both;
  animation: fadeInRight 0.5s ease-in 1000ms both;
}
.animated4-5 {
  -webkit-animation: fadeInRight 0.5s ease-in 1200ms both;
  animation: fadeInRight 0.5s ease-in 1200ms both;
}
.animated4-6 {
  -webkit-animation: fadeInRight 0.5s ease-in 1400ms both;
  animation: fadeInRight 0.5s ease-in 1400ms both;
}
.animated4-7 {
  -webkit-animation: fadeInRight 0.5s ease-in 1600ms both;
  animation: fadeInRight 0.5s ease-in 1600ms both;
}
.animated4-8 {
  -webkit-animation: fadeInRight 0.5s ease-in 1800ms both;
  animation: fadeInRight 0.5s ease-in 1800ms both;
}
.animated4-9 {
  -webkit-animation: fadeInRight 0.5s ease-in 2000ms both;
  animation: fadeInRight 0.5s ease-in 2000ms both;
}
.animated4-10 {
  -webkit-animation: fadeInRight 0.5s ease-in 2200ms both;
  animation: fadeInRight 0.5s ease-in 2200ms both;
}
.animated4-11 {
  -webkit-animation: fadeInRight 0.5s ease-in 2400ms both;
  animation: fadeInRight 0.5s ease-in 2400ms both;
}
.animated4-12 {
  -webkit-animation: fadeInRight 0.5s ease-in 2600ms both;
  animation: fadeInRight 0.5s ease-in 2600ms both;
}
.animated4-13 {
  -webkit-animation: fadeInRight 0.5s ease-in 2800ms both;
  animation: fadeInRight 0.5s ease-in 2800ms both;
}
.animated4-14 {
  -webkit-animation: fadeInRight 0.5s ease-in 3000ms both;
  animation: fadeInRight 0.5s ease-in 3000ms both;
}
.animated4-15 {
  -webkit-animation: fadeInRight 0.5s ease-in 3200ms both;
  animation: fadeInRight 0.5s ease-in 3200ms both;
}
/*fadeInRightMiddle*/
.animated5 {
  -webkit-animation: fadeInRightMiddle 2.5s ease-in 200ms both;
  animation: fadeInRightMiddle 2.5s ease-in 200ms both;
}
.animated5-0 {
  -webkit-animation: fadeInRightMiddle 2.5s ease-in 200ms both;
  animation: fadeInRightMiddle 2.5s ease-in 200ms both;
}
.animated5-1 {
  -webkit-animation: fadeInRightMiddle 2.5s ease-in 400ms both;
  animation: fadeInRightMiddle 2.5s ease-in 400ms both;
}
.animated5-2 {
  -webkit-animation: fadeInRightMiddle 2.5s ease-in 600ms both;
  animation: fadeInRightMiddle 2.5s ease-in 600ms both;
}
.animated5-3 {
  -webkit-animation: fadeInRightMiddle 2.5s ease-in 800ms both;
  animation: fadeInRightMiddle 2.5s ease-in 800ms both;
}
.animated5-4 {
  -webkit-animation: fadeInRightMiddle 2.5s ease-in 1000ms both;
  animation: fadeInRightMiddle 2.5s ease-in 1000ms both;
}
.animated5-5 {
  -webkit-animation: fadeInRightMiddle 2.5s ease-in 1200ms both;
  animation: fadeInRightMiddle 2.5s ease-in 1200ms both;
}
.animated5-6 {
  -webkit-animation: fadeInRightMiddle 2.5s ease-in 1400ms both;
  animation: fadeInRightMiddle 2.5s ease-in 1400ms both;
}
.animated5-7 {
  -webkit-animation: fadeInRightMiddle 2.5s ease-in 1600ms both;
  animation: fadeInRightMiddle 2.5s ease-in 1600ms both;
}
.animated5-8 {
  -webkit-animation: fadeInRightMiddle 2.5s ease-in 1800ms both;
  animation: fadeInRightMiddle 2.5s ease-in 1800ms both;
}
.animated5-9 {
  -webkit-animation: fadeInRightMiddle 2.5s ease-in 2000ms both;
  animation: fadeInRightMiddle 2.5s ease-in 2000ms both;
}
.animated5-10 {
  -webkit-animation: fadeInRightMiddle 2.5s ease-in 2200ms both;
  animation: fadeInRightMiddle 2.5s ease-in 2200ms both;
}
.animated5-11 {
  -webkit-animation: fadeInRightMiddle 2.5s ease-in 2400ms both;
  animation: fadeInRightMiddle 2.5s ease-in 2400ms both;
}
.animated5-12 {
  -webkit-animation: fadeInRightMiddle 2.5s ease-in 2600ms both;
  animation: fadeInRightMiddle 2.5s ease-in 2600ms both;
}
.animated5-13 {
  -webkit-animation: fadeInRightMiddle 2.5s ease-in 2800ms both;
  animation: fadeInRightMiddle 2.5s ease-in 2800ms both;
}
.animated5-14 {
  -webkit-animation: fadeInRightMiddle 2.5s ease-in 3000ms both;
  animation: fadeInRightMiddle 2.5s ease-in 3000ms both;
}
.animated5-15 {
  -webkit-animation: fadeInRightMiddle 2.5s ease-in 3200ms both;
  animation: fadeInRightMiddle 2.5s ease-in 3200ms both;
}
/*fadeInRightBig*/
.animated6 {
  -webkit-animation: fadeInRightBig 3s ease-in 200ms both;
  animation: fadeInRightBig 3s ease-in 200ms both;
}
.animated6-0 {
  -webkit-animation: fadeInRightBig 3s ease-in 200ms both;
  animation: fadeInRightBig 3s ease-in 200ms both;
}
.animated6-1 {
  -webkit-animation: fadeInRightBig 3s ease-in 400ms both;
  animation: fadeInRightBig 3s ease-in 400ms both;
}
.animated6-2 {
  -webkit-animation: fadeInRightBig 3s ease-in 600ms both;
  animation: fadeInRightBig 3s ease-in 600ms both;
}
.animated6-3 {
  -webkit-animation: fadeInRightBig 3s ease-in 800ms both;
  animation: fadeInRightBig 3s ease-in 800ms both;
}
.animated6-4 {
  -webkit-animation: fadeInRightBig 3s ease-in 1000ms both;
  animation: fadeInRightBig 3s ease-in 1000ms both;
}
.animated6-5 {
  -webkit-animation: fadeInRightBig 3s ease-in 1200ms both;
  animation: fadeInRightBig 3s ease-in 1200ms both;
}
.animated6-6 {
  -webkit-animation: fadeInRightBig 3s ease-in 1400ms both;
  animation: fadeInRightBig 3s ease-in 1400ms both;
}
.animated6-7 {
  -webkit-animation: fadeInRightBig 3s ease-in 1600ms both;
  animation: fadeInRightBig 3s ease-in 1600ms both;
}
.animated6-8 {
  -webkit-animation: fadeInRightBig 3s ease-in 1800ms both;
  animation: fadeInRightBig 3s ease-in 1800ms both;
}
.animated6-9 {
  -webkit-animation: fadeInRightBig 3s ease-in 2000ms both;
  animation: fadeInRightBig 3s ease-in 2000ms both;
}
.animated6-10 {
  -webkit-animation: fadeInRightBig 3s ease-in 2200ms both;
  animation: fadeInRightBig 3s ease-in 2200ms both;
}
.animated6-11 {
  -webkit-animation: fadeInRightBig 3s ease-in 2400ms both;
  animation: fadeInRightBig 3s ease-in 2400ms both;
}
.animated6-12 {
  -webkit-animation: fadeInRightBig 3s ease-in 2600ms both;
  animation: fadeInRightBig 3s ease-in 2600ms both;
}
.animated6-13 {
  -webkit-animation: fadeInRightBig 3s ease-in 2800ms both;
  animation: fadeInRightBig 3s ease-in 2800ms both;
}
.animated6-14 {
  -webkit-animation: fadeInRightBig 3s ease-in 3000ms both;
  animation: fadeInRightBig 3s ease-in 3000ms both;
}
.animated6-15 {
  -webkit-animation: fadeInRightBig 3s ease-in 3200ms both;
  animation: fadeInRightBig 3s ease-in 3200ms both;
}
/*bouncezzz*/
.animated7 {
  -webkit-animation: bounce 0.75s ease-in 200ms both;
  animation: bounce 0.75s ease-in 100ms both;
  opacity: 1;
}
.animated7-0 {
  -webkit-animation: bounce 0.75s ease-in 200ms both;
  animation: bounce 0.75s ease-in 200ms both;
  opacity: 1;
}
.animated7-1 {
  -webkit-animation: bounce 0.75s ease-in 400ms both;
  animation: bounce 0.75s ease-in 400ms both;
  opacity: 1;
}
.animated7-2 {
  -webkit-animation: bounce 0.75s ease-in 600ms both;
  animation: bounce 0.75s ease-in 600ms both;
  opacity: 1;
}
.animated7-3 {
  -webkit-animation: bounce 0.75s ease-in 800ms both;
  animation: bounce 0.75s ease-in 800ms both;
  opacity: 1;
}
.animated7-4 {
  -webkit-animation: bounce 0.75s ease-in 1000ms both;
  animation: bounce 0.75s ease-in 1000ms both;
  opacity: 1;
}
.animated7-5 {
  -webkit-animation: bounce 0.75s ease-in 1200ms both;
  animation: bounce 0.75s ease-in 1200ms both;
  opacity: 1;
}
.animated7-6 {
  -webkit-animation: bounce 0.75s ease-in 1400ms both;
  animation: bounce 0.75s ease-in 1400ms both;
  opacity: 1;
}
.animated7-7 {
  -webkit-animation: bounce 0.75s ease-in 1600ms both;
  animation: bounce 0.75s ease-in 1600ms both;
  opacity: 1;
}
.animated7-8 {
  -webkit-animation: bounce 0.75s ease-in 1800ms both;
  animation: bounce 0.75s ease-in 1800ms both;
  opacity: 1;
}
.animated7-9 {
  -webkit-animation: bounce 0.75s ease-in 2000ms both;
  animation: bounce 0.75s ease-in 2000ms both;
  opacity: 1;
}
.animated7-10 {
  -webkit-animation: bounce 0.75s ease-in 2200ms both;
  animation: bounce 0.75s ease-in 2200ms both;
  opacity: 1;
}
.animated7-11 {
  -webkit-animation: bounce 0.75s ease-in 2400ms both;
  animation: bounce 0.75s ease-in 2400ms both;
  opacity: 1;
}
.animated7-12 {
  -webkit-animation: bounce 0.75s ease-in 2600ms both;
  animation: bounce 0.75s ease-in 2600ms both;
  opacity: 1;
}
.animated7-13 {
  -webkit-animation: bounce 0.75s ease-in 2800ms both;
  animation: bounce 0.75s ease-in 2800ms both;
  opacity: 1;
}
.animated7-14 {
  -webkit-animation: bounce 0.75s ease-in 3000ms both;
  animation: bounce 0.75s ease-in 3000ms both;
  opacity: 1;
}
.animated7-15 {
  -webkit-animation: bounce 0.75s ease-in 3200ms both;
  animation: bounce 0.75s ease-in 3200ms both;
  opacity: 1;
}
/*fadeInDown*/
.animated8 {
  -webkit-animation: fadeInDown 0.5s ease-in 200ms both;
  animation: fadeInDown 0.5s ease-in 200ms both;
}
.animated8-0 {
  -webkit-animation: fadeInDown 0.5s ease-in 200ms both;
  animation: fadeInDown 0.5s ease-in 200ms both;
}
.animated8-1 {
  -webkit-animation: fadeInDown 0.5s ease-in 400ms both;
  animation: fadeInDown 0.5s ease-in 400ms both;
}
.animated8-2 {
  -webkit-animation: fadeInDown 0.5s ease-in 600ms both;
  animation: fadeInDown 0.5s ease-in 600ms both;
}
.animated8-3 {
  -webkit-animation: fadeInDown 0.5s ease-in 800ms both;
  animation: fadeInDown 0.5s ease-in 800ms both;
}
.animated8-4 {
  -webkit-animation: fadeInDown 0.5s ease-in 1000ms both;
  animation: fadeInDown 0.5s ease-in 1000ms both;
}
.animated8-5 {
  -webkit-animation: fadeInDown 0.5s ease-in 1200ms both;
  animation: fadeInDown 0.5s ease-in 1200ms both;
}
.animated8-6 {
  -webkit-animation: fadeInDown 0.5s ease-in 1400ms both;
  animation: fadeInDown 0.5s ease-in 1400ms both;
}
.animated8-7 {
  -webkit-animation: fadeInDown 0.5s ease-in 1600ms both;
  animation: fadeInDown 0.5s ease-in 1600ms both;
}
.animated8-8 {
  -webkit-animation: fadeInDown 0.5s ease-in 1800ms both;
  animation: fadeInDown 0.5s ease-in 1800ms both;
}
.animated8-9 {
  -webkit-animation: fadeInDown 0.5s ease-in 2000ms both;
  animation: fadeInDown 0.5s ease-in 2000ms both;
}
.animated8-10 {
  -webkit-animation: fadeInDown 0.5s ease-in 2200ms both;
  animation: fadeInDown 0.5s ease-in 2200ms both;
}
.animated8-11 {
  -webkit-animation: fadeInDown 0.5s ease-in 2400ms both;
  animation: fadeInDown 0.5s ease-in 2400ms both;
}
.animated8-12 {
  -webkit-animation: fadeInDown 0.5s ease-in 2600ms both;
  animation: fadeInDown 0.5s ease-in 2600ms both;
}
.animated8-13 {
  -webkit-animation: fadeInDown 0.5s ease-in 2800ms both;
  animation: fadeInDown 0.5s ease-in 2800ms both;
}
.animated8-14 {
  -webkit-animation: fadeInDown 0.5s ease-in 3000ms both;
  animation: fadeInDown 0.5s ease-in 3000ms both;
}
.animated8-15 {
  -webkit-animation: fadeInDown 0.5s ease-in 3200ms both;
  animation: fadeInDown 0.5s ease-in 3200ms both;
}
/*fadeOut*/
.animated9 {
  -webkit-animation: fadeOut  2s ease-out 200ms both;
  animation: fadeOut  2s ease-out 200ms both;
}
.animated9-0 {
  -webkit-animation:  fadeOut 2s ease-in 200ms both;
  animation:  fadeOut 2s ease-out 200ms both;
}
.animated9-1 {
  -webkit-animation:  fadeOut 2s ease-out 400ms both;
  animation:  fadeOut 2s ease-out 400ms both;
}
.animated9-2 {
  -webkit-animation:  fadeOut 2s ease-out 600ms both;
  animation:  fadeOut 2s ease-out 600ms both;
}
.animated9-3 {
  -webkit-animation:  fadeOut 2s ease-out 800ms both;
  animation:  fadeOut 2s ease-out 800ms both;
}
.animated9-4 {
  -webkit-animation:  fadeOut 2s ease-out 1000ms both;
  animation:  fadeOut 2s ease-out 1000ms both;
}
.animated9-5 {
  -webkit-animation:  fadeOut 2s ease-out 1200ms both;
  animation:  fadeOut 2s ease-out 1200ms both;
}
.animated9-6 {
  -webkit-animation:  fadeOut 2s ease-out 1400ms both;
  animation:  fadeOut 2s ease-out 1400ms both;
}
.animated9-7 {
  -webkit-animation:  fadeOut 2s ease-out 1600ms both;
  animation:  fadeOut 2s ease-out 1600ms both;
}
.animated9-8 {
  -webkit-animation:  fadeOut 2s ease-out 1800ms both;
  animation:  fadeOut 2s ease-out 1800ms both;
}
.animated9-9 {
  -webkit-animation:  fadeOut 2s ease-out 2000ms both;
  animation:  fadeOut 2s ease-out 2000ms both;
}
.animated9-10 {
  -webkit-animation:  fadeOut 2s ease-out 2200ms both;
  animation:  fadeOut 2s ease-out 2200ms both;
}
.animated9-11 {
  -webkit-animation:  fadeOut 2s ease-out 2400ms both;
  animation:  fadeOut 2s ease-out 2400ms both;
}
.animated9-12 {
  -webkit-animation:  fadeOut 2s ease-out 2600ms both;
  animation:  fadeOut 2s ease-out 2600ms both;
}
.animated9-13 {
  -webkit-animation:  fadeOut 2s ease-out 2800ms both;
  animation:  fadeOut 2s ease-out 2800ms both;
}
.animated9-14 {
  -webkit-animation:  fadeOut 2s ease-out 3000ms both;
  animation:  fadeOut 2s ease-out 3000ms both;
}
.animated9-15 {
  -webkit-animation:  fadeOut 2s ease-out 3200ms both;
  animation:  fadeOut 2s ease-out 3200ms both;
}
/*bounceIn*/
.animated10 {
  -webkit-animation: bounceIn 1.7s ease-in 200ms both;
  animation: bounceIn 1.7s ease-in 200ms both;
  opacity: 1;
}
.animated10-0 {
  -webkit-animation: bounceIn 1.7s ease-in 200ms both;
  animation: bounceIn 1.7s ease-in 200ms both;
  opacity: 1;
}
.animated10-1 {
  -webkit-animation: bounceIn 1.7s ease-in 400ms both;
  animation: bounceIn 1.7s ease-in 400ms both;
  opacity: 1;
}
.animated10-2 {
  -webkit-animation: bounceIn 1.7s ease-in 600ms both;
  animation: bounceIn 1.7s ease-in 600ms both;
  opacity: 1;
}
.animated10-3 {
  -webkit-animation: bounceIn 1.7s ease-in 800ms both;
  animation: bounceIn 1.7s ease-in 800ms both;
  opacity: 1;
}
.animated10-4 {
  -webkit-animation: bounceIn 1.7s ease-in 1000ms both;
  animation: bounceIn 1.7s ease-in 1000ms both;
  opacity: 1;
}
.animated10-5 {
  -webkit-animation: bounceIn 1.7s ease-in 1200ms both;
  animation: bounceIn 1.7s ease-in 1200ms both;
  opacity: 1;
}
.animated10-6 {
  -webkit-animation: bounceIn 1.7s ease-in 1400ms both;
  animation: bounceIn 1.7s ease-in 1400ms both;
  opacity: 1;
}
.animated10-7 {
  -webkit-animation: bounceIn 1.7s ease-in 1600ms both;
  animation: bounceIn 1.7s ease-in 1600ms both;
  opacity: 1;
}
.animated10-8 {
  -webkit-animation: bounceIn 1.7s ease-in 1800ms both;
  animation: bounceIn 1.7s ease-in 1800ms both;
  opacity: 1;
}
.animated10-9 {
  -webkit-animation: bounceIn 1.7s ease-in 2000ms both;
  animation: bounceIn 1.7s ease-in 2000ms both;
  opacity: 1;
}
.animated10-10 {
  -webkit-animation: bounceIn 1.7s ease-in 2200ms both;
  animation: bounceIn 1.7s ease-in 2200ms both;
  opacity: 1;
}
.animated10-11 {
  -webkit-animation: bounceIn 1.7s ease-in 2400ms both;
  animation: bounceIn 1.7s ease-in 2400ms both;
  opacity: 1;
}
.animated10-12 {
  -webkit-animation: bounceIn 1.7s ease-in 2400ms both;
  animation: bounceIn 1.7s ease-in 2400ms both;
  opacity: 1;
}
.animated10-13 {
  -webkit-animation: bounceIn 1.7s ease-in 2600ms both;
  animation: bounceIn 1.7s ease-in 2600ms both;
  opacity: 1;
}
.animated10-14 {
  -webkit-animation: bounceIn 1.7s ease-in 2800ms both;
  animation: bounceIn 1.7s ease-in 2800ms both;
  opacity: 1;
}
.animated10-15 {
  -webkit-animation: bounceIn 1.7s ease-in 3000ms both;
  animation: bounceIn 1.7s ease-in 3000ms both;
  opacity: 1;
}
/*shake*/
.animated30 {
  -webkit-animation: shake 1s ease-in 200ms both;
  animation: shake 1s ease-in 200ms both;
  opacity: 1;
}
.animated30-0 {
  -webkit-animation:  shake 1s ease-in 200ms both;
  animation:  shake 1s ease-in 200ms both;
  opacity: 1;
}
.animated30-1 {
  -webkit-animation:  shake 1s ease-in 400ms both;
  animation:  shake 1s ease-in 400ms both;
  opacity: 1;
}
.animated30-2 {
  -webkit-animation:  shake 1s ease-in 600ms both;
  animation:  shake 1s ease-in 600ms both;
  opacity: 1;
}
.animated30-3 {
  -webkit-animation:  shake 1s ease-in 800ms both;
  animation:  shake 1s ease-in 800ms both;
  opacity: 1;
}
.animated30-4 {
  -webkit-animation:  shake 1s ease-in 1000ms both;
  animation:  shake 1s ease-in 1000ms both;
  opacity: 1;
}
.animated30-5 {
  -webkit-animation:  shake 1s ease-in 1200ms both;
  animation:  shake 1s ease-in 1200ms both;
  opacity: 1;
}
.animated30-6 {
  -webkit-animation:  shake 1s ease-in 1400ms both;
  animation:  shake 1s ease-in 1400ms both;
  opacity: 1;
}
.animated30-7 {
  -webkit-animation:  shake 1s ease-in 1600ms both;
  animation:  shake 1s ease-in 1600ms both;
  opacity: 1;
}
.animated30-8 {
  -webkit-animation:  shake 1s ease-in 1800ms both;
  animation:  shake 1s ease-in 1800ms both;
  opacity: 1;
}
.animated30-9 {
  -webkit-animation:  shake 1s ease-in 2000ms both;
  animation:  shake 1s ease-in 2000ms both;
  opacity: 1;
}
.animated30-10 {
  -webkit-animation:  shake 1s ease-in 2200ms both;
  animation:  shake 1s ease-in 2200ms both;
  opacity: 1;
}
.animated30-11 {
  -webkit-animation:  shake 1s ease-in 2400ms both;
  animation:  shake 1s ease-in 2400ms both;
  opacity: 1;
}
.animated30-12 {
  -webkit-animation:  shake 1s ease-in 2600ms both;
  animation:  shake 1s ease-in 2600ms both;
  opacity: 1;
}
.animated30-13 {
  -webkit-animation:  shake 1s ease-in 2800ms both;
  animation:  shake 1s ease-in 2800ms both;
  opacity: 1;
}
.animated30-14 {
  -webkit-animation:  shake 1s ease-in 3000ms both;
  animation:  shake 1s ease-in 3000ms both;
  opacity: 1;
}
.animated30-15 {
  -webkit-animation:  shake 1s ease-in 3200ms both;
  animation:  shake 1s ease-in 3200ms both;
  opacity: 1;
}

/*fadeInUpBig*/
.animated31 {
  -webkit-animation: fadeInUpBig  1s ease-in 200ms both;
  animation: fadeInUpBig  1s ease-in 200ms both;
}
.animated31-0 {
  -webkit-animation:  fadeInUpBig 1s ease-in 200ms both;
  animation:  fadeInUpBig 1s ease-in 200ms both;
}
.animated31-1 {
  -webkit-animation:  fadeInUpBig 1s ease-in 400ms both;
  animation:  fadeInUpBig 1s ease-in 400ms both;
}
.animated31-2 {
  -webkit-animation:  fadeInUpBig 1s ease-in 600ms both;
  animation:  fadeInUpBig 1s ease-in 600ms both;
}
.animated31-3 {
  -webkit-animation:  fadeInUpBig 1s ease-in 800ms both;
  animation:  fadeInUpBig 1s ease-in 800ms both;
}
.animated31-4 {
  -webkit-animation:  fadeInUpBig 1s ease-in 1000ms both;
  animation:  fadeInUpBig 1s ease-in 1000ms both;
}
.animated31-5 {
  -webkit-animation:  fadeInUpBig 1s ease-in 1200ms both;
  animation:  fadeInUpBig 1s ease-in 1200ms both;
}
.animated31-6 {
  -webkit-animation:  fadeInUpBig 1s ease-in 1400ms both;
  animation:  fadeInUpBig 1s ease-in 1400ms both;
}
.animated31-7 {
  -webkit-animation:  fadeInUpBig 1s ease-in 1600ms both;
  animation:  fadeInUpBig 1s ease-in 1600ms both;
}
.animated31-8 {
  -webkit-animation:  fadeInUpBig 1s ease-in 1800ms both;
  animation:  fadeInUpBig 1s ease-in 1800ms both;
}
.animated31-9 {
  -webkit-animation:  fadeInUpBig 1s ease-in 2000ms both;
  animation:  fadeInUpBig 1s ease-in 2000ms both;
}
.animated31-10 {
  -webkit-animation:  fadeInUpBig 1s ease-in 2200ms both;
  animation:  fadeInUpBig 1s ease-in 2200ms both;
}
.animated31-11 {
  -webkit-animation:  fadeInUpBig 1s ease-in 2400ms both;
  animation:  fadeInUpBig 1s ease-in 2400ms both;
}
.animated31-12 {
  -webkit-animation:  fadeInUpBig 1s ease-in 2600ms both;
  animation:  fadeInUpBig 1s ease-in 2600ms both;
}
.animated31-13 {
  -webkit-animation:  fadeInUpBig 1s ease-in 2800ms both;
  animation:  fadeInUpBig 1s ease-in 2800ms both;
}
.animated31-14 {
  -webkit-animation:  fadeInUpBig 1s ease-in 3000ms both;
  animation:  fadeInUpBig 1s ease-in 3000ms both;
}
.animated31-15 {
  -webkit-animation:  fadeInUpBig 1s ease-in 3200ms both;
  animation:  fadeInUpBig 1s ease-in 3200ms both;
}


/*при наведении контур 1*/
.animated11{
  transition: color 0.25s;
  &::before,
  &::after {
    // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }

  // This covers the top & right borders (expands right, then down)
  &::before {
    top: 0;
    left: 0;
  }

  // And this the bottom & left borders (expands left, then up)
  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover {
    @if $addColor2 {
      color: $addColor2;
    }
  }



  // Hover styles
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    @if $addColor2 {
      border-top-color: $addColor2; // Make borders visible
    }
    @if $addColor2 {
      border-right-color: $addColor2;
    }

    transition:
            width 0.25s ease-out, // Width expands first
            height 0.25s ease-out 0.25s; // And then height
  }

  &:hover::after {
    @if $addColor2 {
      border-bottom-color: $addColor2; // Make borders visible
    }
    @if $addColor2 {
      border-left-color: $addColor2;
    }


    transition:
            border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
            width 0.25s ease-out 0.5s, // And then exanding width
            height 0.25s ease-out 0.75s; // And finally height
  }
}


/*при наведении контур 2*/
.animated12 {
  &:hover {
    @if $addColor2 {color: $addColor2;}

  }

  // Set up base styles, we're going to scale instead of animating width/height
  &::before,
  &::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center; // Ensure scaling is done from the center (expands outwards)
  }

  // scale3d(<scale-horizontal>, <scale-vertical>, <scale-depth>);
  &::before {
    @if $addColor2 {border-top: 2px solid $addColor2;}

    @if $addColor2 {border-bottom: 2px solid $addColor2;}

    transform: scale3d(0,1,1); // Shrink only width
  }

  &::after {
    @if $addColor2 {border-left: 2px solid $addColor2;}

    @if $addColor2 {border-right: 2px solid $addColor2;}

    transform: scale3d(1,0,1); // Shrink only height
  }

  &:hover::before,
  &:hover::after {
    transform: scale3d(1,1,1); // Show full-size
    transition: transform 0.5s;
  }
}
/* Sweep To Top */
.animated13  {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.animated13:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  @if $addColor2{
    background: $addColor2;
  }
  @else {
    background:#000
  }
}
.animated13:hover, .animated13:focus, .animated13:active {
  @if $addColor1{
    color: $addColor1;
  }
  @else {
    background:#fff
  }
}
.animated13:hover:before, .animated13:focus:before, .animated13:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/*animated14*/
/*SweepToBottom*/
.animated14 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.animated14:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  background:#000;
  @if $addColor1{
    background: $addColor1;
  }



}
.animated14:hover, .animated14:focus, .animated14:active {
  background:#fff;
  @if $addColor2{
    color: $addColor2;
  }

}
.animated14:hover:before, .animated14:focus:before, .animated14:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


/*animated15*/
/*line-center-bottom*/

.animated15 {
  position: relative;
  text-decoration: none;
}
.animated15:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  @if $addColor2 {
    background-color: $addColor2;
  }
  @else {
    background-color: #000;
  }

  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.animated15:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*animated16*/
/*scale-block*/
.animated16 {
  -webkit-transition: all 0.5s ease-in-out 0.5s;
  -moz-transition: all 0.5s ease-in-out 0.5s;
  -ms-transition: all 0.5s ease-in-out 0.5s;
  -o-transition: all 0.5s  ease-in-out 0.5s;
  transition: all 0.5s ease-in-out 0.5s;
}
.animated16:hover {
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}



/*animated17*/
/*Sweep To Right*/
.animated17{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.animated17:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @if $mainColor {
    background: $mainColor;
  }
  @else {
    background: #000;
  }
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.animated17:hover, .animated17:focus, .animated17:active {
  color: white;
}
.animated17:hover:before, .animated17:focus:before, .animated17:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*animated18*/
/*Sweep To Left*/
.animated18 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.animated18:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @if $mainColor {
    background: $mainColor;
  }
  @else {
    background: #000;
  }

  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.animated18:hover, .animated18:focus, .animated18:active {
  color: white;
}
.animated18:hover:before, .animated18:focus:before, .animated18:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*animated19*/
/*underline LeftRightLeft*/
.animated19 {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.animated19:before {
  display: block;
  position: absolute;
  content: "";
  height: 1px;
  width: 0;
  @if $mainColor {
    background-color: $mainColor;
  }
  @else {
    background-color: #000;
  }
  transition: width .5s ease-in-out, left .5s ease-in-out;
  left: 0;
  bottom: 0px;
}

.animated19:after{
  display: block;
  position: absolute;
  content: "";
  height: 1px;
  width: 0;
  @if $mainColor {
    background-color: $mainColor;
  }
  @else {
    background-color: #000;
  }
  transition: width .5s ease-in-out;
  left: 0;
  bottom: 0;
}
.animated19:hover::before{
  width: 100%;
  left: 0;
}
.animated19:hover::after{
  width: 100%;
}


/*animated20*/
/*underline RightLeftRight*/
.animated20 {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.animated120:before {
  display: block;
  position: absolute;
  content: "";
  height: 1px;
  width: 0;
  @if $mainColor {
    background-color: $mainColor;
  }
  @else {
    background-color: #000;
  }
  transition: width .5s ease-in-out, left .5s ease-in-out;
  right: 0;
  bottom: 0px;
}

.animated20:after{
  display: block;
  position: absolute;
  content: "";
  height: 1px;
  width: 0;
  @if $mainColor {
    background-color: $mainColor;
  }
  @else {
    background-color: #000;
  }
  transition: width .5s ease-in-out;
  right: 0;
  bottom: 0;
}
.animated20:hover::before{
  width: 100%;
  right: 0;
}
.animated20:hover::after{
  width: 100%;
}


/*animated21*/
/*line-through LeftRightLeft*/
.animated21 {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.animated21:before {
  display: block;
  position: absolute;
  content: "";
  height: 1px;
  width: 0;
  @if $mainColor {
    background-color: $mainColor;
  }
  @else {
    background-color: #000;
  }

  transition: width .5s ease-in-out, left .5s ease-in-out;
  left: 0;
  bottom: 9px;
}

.animated21:after{
  display: block;
  position: absolute;
  content: "";
  height: 1px;
  width: 0;
  @if $mainColor {
    background-color: $mainColor;
  }
  @else {
    background-color: #000;
  }
  transition: width .5s ease-in-out;
  left: 0;
  bottom: 9px;
}
.animated21:hover::before{
  width: 100%;
  left: 0;
}
.animated21:hover::after{
  right: 0;
}
/*underline RightLeftRight 5px*/
.animated22 {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.animated122:before {
  display: block;
  position: absolute;
  content: "";
  height: 5px;
  width: 0;
  @if $mainColor {
    background-color: $mainColor;
  }
  @else {
    background-color: #000;
  }
  transition: width .5s ease-in-out, left .5s ease-in-out;
  right: 0;
  bottom: 0px;
}

.animated22:after{
  display: block;
  position: absolute;
  content: "";
  height: 5px;
  width: 0;
  @if $mainColor {
    background-color: $mainColor;
  }
  @else {
    background-color: #000;
  }
  transition: width .5s ease-in-out;
  right: 0;
  bottom: 0;
}
.animated22:hover::before{
  width: 100%;
  right: 0;
}
.animated22:hover::after{
  width: 100%;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeftMiddle {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeftMiddle {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeftMiddle {
  -webkit-animation-name: fadeInLeftMiddle;
  animation-name: fadeInLeftMiddle;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRightMiddle {
  from {
    opacity: 0;
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRightMiddle {
  from {
    opacity: 0;
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInRightMiddle {
  -webkit-animation-name: fadeInRightMiddle;
  animation-name: fadeInRightMiddle;
}

@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}

