div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="cart-page")
            div(class="container")
                div(class="cart-box", elem-ready="$ctrl.ready()", style="margin-bottom: 60px")
                            div(class="")
                                h2(class="page-section text-center",ng-bind="$ctrl.global.get('lang').val.yourorder", ng-if="$ctrl.order.totalCount")

                                //p(class="text-center", ng-if="$ctrl.order.totalCount>0")
                                    a(class="btn  btn-project btn-border ", ng-class="{'pull-right':!$ctrl.mobile}",ng-click="$ctrl.clearCart()",ng-bind="$ctrl.global.get('lang').val.clearcart")
                                    div(class=" clearfix")
                                h2(class="text-center", ng-if="!$ctrl.order.totalCount")
                                    span(ng-bind="$ctrl.global.get('lang').val.basketEmpty")
                                hr
                                div(class="cart-inner",ng-show="$ctrl.order.cart.stuffs.length", ng-repeat="(idx,stuff) in $ctrl.order.cart.stuffs track by $index", class="cart-detail",  id="cart-inner")
                                        div

                                            div(class="col-lg-2 col-md-2 col-sm-2 col-xs-4")
                                                span(class="index1 pull-left",ng-bind="idx + 1")
                                                span(class="pull-right",ng-if="stuff.img" )
                                                    img(class="img-responsive cart-img", ng-src="{{stuff.img}}")

                                                span( ng-if="stuff.sticker" )
                                                    img(class="sticker", ng-src="{{stuff.sticker}}")
                                            div(class="col-lg-4 col-md-4 col-sm-4 col-xs-8")
                                                a(ng-click="$ctrl.goToStuff({groupUrl:'group',categoryUrl:'category',stuffUrl:stuff.url})")
                                                    p(class="name-goods",  ng-bind="stuff.name+' '+stuff.artikul")
                                                        span(ng-bind="stuff.name")
                                                        span &nbsp;
                                                        span(class="artikul",ng-bind="stuff.artikul")
                                                p(ng-if="stuff.sortName")
                                                    // здесь имя характеристики
                                                    span(class="name-sort",ng-if="stuff.filterName",ng-bind="stuff.filterName")
                                                    span &nbsp;&nbsp;- &nbsp;&nbsp;
                                                    span(ng-bind="stuff.sortName")
                                            div(class="col-lg-5 col-md-5 col-sm-5 col-xs-12 ")
                                                div()
                                                    div(class="qty-box")
                                                        div(class="pull-left qty")
                                                            a(class="pull-left",ng-click="$ctrl.decreaseQty($index)")
                                                                span(class="qty-minus") -
                                                                    //span(class="icon-menu-img",style="position: absolute; width: 16px; height:16px; right:10px")
                                                            //span(ng-bind="stuff.quantity")
                                                            input(class="form-control pull-left",ng-class="{'cart-mobile':$ctrl.mobile}",type="text",min='{{stuff.minQty}}', max='{{stuff.maxQty}}',ng-model="stuff.quantity",ng-change="$ctrl.saveCart()")
                                                            a(class="pull-left",ng-click="$ctrl.increaseQty($index)")
                                                                span(class="qty-plus") +
                                                        p(class="pull-left unit")
                                                            span(ng-bind="stuff.unitOfMeasure")
                                                    div(class="price-box")
                                                        div(ng-if="stuff.price>stuff.cena")
                                                            p(class="text-right",ng-bind="$ctrl.global.get('lang').val.price")
                                                            p(class="text-right line")
                                                                span(class="text-right",ng-bind="($ctrl.order.kurs *(stuff.price)).toFixed(2)")
                                                                | &nbsp
                                                                span(class="text-right",ng-bind="$ctrl.order.currencyStore[$ctrl.order.currency][2]")

                                                        p(class=" text-right")
                                                            span(ng-if="stuff.price>stuff.cena",ng-bind="$ctrl.global.get('lang').val.pricesale")
                                                            span(ng-if="stuff.price<=stuff.cena",ng-bind="$ctrl.global.get('lang').val.price")
                                                        p(class="text-right")
                                                                span(ng-bind="($ctrl.order.kurs*(stuff.cena=$ctrl.order.getPrice(idx))).toFixed(2)")
                                                                | &nbsp
                                                                span(ng-bind="$ctrl.order.currencyStore[$ctrl.order.currency][2]")
                                                    div(class="clearfix")
                                                    hr

                                                div(class="sum text-right")
                                                    span(ng-bind="($ctrl.order.kurs * (stuff.sum = stuff.cena * stuff.quantity)).toFixed(2)")
                                                    | &nbsp
                                                    span(ng-bind="$ctrl.order.currencyStore[$ctrl.order.currency][2]")
                                            div(class="col-lg-1 col-md-1 col-sm-1 col-xs-6")
                                                a(class="info",title="{{$ctrl.global.get('lang').val.delete}}")
                                                    span(ng-click="$ctrl.removeItem($index)")
                                                        span(class="icon-delete-img")
                                        div(class=" clearfix")
                                div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12",ng-show="$ctrl.enableCheckOut()")
                                    div(ng-if="$ctrl.coupon && !$ctrl.order.coupon._id")
                                        p
                                            span(ng-bind="$ctrl.global.get('lang').val.available")
                                            p(ng-repeat="c in $ctrl.coupons")
                                                strong(ng-bind="c.name")
                                                | &nbsp;&nbsp;&nbsp;
                                                a(class="coupon", ng-click="$ctrl.order.setCoupon(c)",ng-bind="$ctrl.global.get('lang').val.usecoupon")
                                    div(ng-if="$ctrl.order.coupon._id")
                                        p
                                            span(ng-bind="$ctrl.coupon.name")
                                        a(class="coupon",ng-click="$ctrl.order.setCoupon(null)",ng-bind="$ctrl.global.get('lang').val.cancelcoupon")
                                div(class="col-lg-5 col-md-5 col-sm-5 col-xs-12 text-right",ng-show="$ctrl.enableCheckOut()")
                                    p(ng-if="$ctrl.order.coupon._id")
                                        span(ng-bind="$ctrl.global.get('lang').val.intotal")
                                        | &nbsp;:&nbsp;
                                        //span(ng-bind="$ctrl.order.quantity = $ctrl.order.getTotalQuantity()")
                                            | &nbsp;
                                        //span(ng-if="$ctrl.order.unitOfMeasure")
                                            // если единиц измерения несколько, то они не выводятся ////
                                            span(class="unit" ng-bind="$ctrl.order.unitOfMeasure")
                                            | &nbsp;&nbsp;&nbsp;

                                        span(class="sum")
                                            span(class="unit")
                                                | &nbsp;
                                                span(ng-bind="($ctrl.order.kurs * ($ctrl.order.sum = $ctrl.order.getTotalSum())).toFixed(2)")
                                                | &nbsp
                                                span(ng-bind="$ctrl.order.currencyStore[$ctrl.order.currency][2]")
                                        br
                                        span(ng-if="$ctrl.order.coupon._id")
                                            span(ng-bind="$ctrl.global.get('lang').val.withcoupon")
                                            | &nbsp;
                                            span(class="sum")
                                                span(ng-bind="$ctrl.order.paySum = $ctrl.order.kurs * $ctrl.order.getCouponSum().toFixed(2)")
                                                | &nbsp
                                                span(ng-bind="$ctrl.order.currencyStore[$ctrl.order.currency][2]")
                                    p(ng-if="!$ctrl.order.coupon || !$ctrl.order.coupon._id")
                                        span(ng-bind="$ctrl.global.get('lang').val.intotal")
                                        span &nbsp;:&nbsp;
                                        //span(ng-bind="$ctrl.order.quantity = $ctrl.order.getTotalQuantity()")
                                            | &nbsp;
                                        //span(ng-if="$ctrl.order.unitOfMeasure")
                                            // если единиц измерения несколько, то они не выводятся ////
                                            span(class="unit" ng-bind="$ctrl.order.unitOfMeasure")
                                            | &nbsp;&nbsp;&nbsp;
                                        span()
                                            span(class="sum")
                                                span(ng-bind="($ctrl.order.paySum = $ctrl.order.kurs *($ctrl.order.sum = $ctrl.order.getTotalSum())).toFixed(2)")
                                                | &nbsp
                                            span(ng-bind="$ctrl.order.currencyStore[$ctrl.order.currency][2]")
                                div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12",ng-if="$ctrl.disabledMessage && $ctrl.order.totalCount<$ctrl.opt")
                                    h3(class="text-center no-order")
                                        span(ng-bind="$ctrl.global.get('lang').val.checkoutimpossible")
                                        | &nbsp; - &nbsp;
                                        span(ng-bind="$ctrl.opt")
                                            span(ng-bind="$ctrl.global.get('lang').val.unitsadd")
                                div(class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center",ng-if="$ctrl.enableCheckOut()", ng-disabled="$ctrl.disabledCheckOut()")
                                    a(class="btn btn-lg btn-project",ng-class="{'pull-right':!$ctrl.mobile}",ng-click="$ctrl.checkOut()")
                                        span(ng-bind="$ctrl.global.get('lang').val.checkout")
                                div(class="clearfix")

                if(dj[key].desc)
                    h1=dj[key].name
                if(dj[key].desc)
                    p
                        | !{dj[key].desc}



