/*.sticker {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 15px;
    top:0;
}*/
/*.index {
    position: absolute;
}*/
.coupon {
    color:$mainColor
}
.line {
    text-decoration:line-through;
}
.unit {
    display: inline-block;
    margin-top: 10px;
}
.qty-box input {
    width: 40px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    border-bottom: 0;
    font-size: 20px;
    background-color: transparent;
}
.qty-box .qty-plus,
.qty-box .qty-minus{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #dcdcdc;
    text-align: center;
    padding-top: 7px;
    font-weight: 600;
    background-color: #fbfbfb;
}
.qty-box .qty-plus:hover,
.qty-box .qty-minus:hover {
    background-color: #e2e2e2;
    border: 1px solid #cacaca;
}