div(class=wrapclass)
    div(class=mobileWrapper)
        div(class="col-lg-12")
            div(class="box-static text-center")
                a(href="/masters")
                    h2=name
                masters-static-page