.main-content {
    margin-top: 60px;
    font-size: 16px;
    background-color: #eee;
    color: #666
}

.cart-detail {
    font-size: 18px;
    background-color: #f5f5f5;
    box-shadow: 0px 8px 17px 0px #999;
    margin-bottom: 10px;
    padding: 20px;
    transition: all .1s ease-out;
}

.pages-header {
    margin-bottom: 20px;
    margin-top: 10px;
}

.name-page{
    font-size: 24px;
    font-weight: 500;
    color: #767c89;
    letter-spacing: 2px;
}

@media (max-width: 780px) {
    .name-page{
        font-size: 20px;
    }
}

/*hr {
    border-top-color: #5f5f5f;
}*/

.badge {
    padding: 7px 9px;
    border-radius: 100%;
}

.badge-danger {
    background-color: rgb(255, 109, 90)
}

.mb-40 {
    margin-bottom: 40px;
}
.no_story {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: lowercase;
    font-weight: 500;
}

.btn:focus,
.checkbox:focus{
    outline: none;
}

/*a*/
a {
    color: #93b1c6;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

a:hover,
a:focus {
    color: #6d7f8f;
    text-decoration: none;
}

/*a.back-to-top {
    color: #ff7148;
    z-index: 3000;
}

a.back-to-top:hover {
    color: #ff461f;
}*/




/*link*/
.link-danger {
    color: rgb(255, 75, 72);
}

.link-danger:hover, .link-danger:focus {
    text-decoration: none;
    color: rgb(255, 63, 58);
}

.link-warning{
    color: #ff7148;
}

.link-warning:hover,
.link-danger:focus  {
    color: #ff996b;
}

.link-info {
    color: #93b1c6;
}

.link-info:hover,
.link-info:focus  {
    color: #a7cbe2;
}

.link-success {
    color: #72ad66;
}

.link-success:hover,
.link-success:focus  {
    color: #9bce7d;
}

.link-primary {
    color: #4ca8a1;
}

.link-primary:hover,
.link-primary:focus  {
    color: #70c6b8;
}

.link-white {
    color: #fff;
}
.link-white:hover {
    color: rgba(255, 255, 255, 0.60);
}


/*btn*/
.btn:focus,
.btn.focus,
.btn:active,
.btn.active.focus,
.btn.active:focus,
.btn:active:focus,
.btn:active.focus{
    outline: none;
}
.btn:not(.btn-raised).btn-info,
.input-group-btn .btn:not(.btn-raised).btn-info {
    color: #93b1c6;
}

.btn:not(.btn-raised).btn-warning,
.input-group-btn .btn:not(.btn-raised).btn-warning {
    color: #ff7148;
}
.btn:not(.btn-raised).btn-warning:focus,
.input-group-btn .btn:not(.btn-raised).btn-warning:focus {
    border-color: #ff7148;
}

.btn:not(.btn-raised).btn-success,
.input-group-btn .btn:not(.btn-raised).btn-success {
    color: #72ad66;
}

.btn:not(.btn-raised).btn-danger,
.input-group-btn .btn:not(.btn-raised).btn-danger {
    color: rgb(255, 75, 72);
}

.btn:not(.btn-raised).btn-primary,
.input-group-btn .btn:not(.btn-raised).btn-primary {
    color: #4ca8a1;
}

.btn:not(.btn-raised).btn-violet,
.input-group-btn .btn:not(.btn-raised).btn-violet {
    color: #9c6a8d;
}


/*material-icons*/
.material-icons {
    margin-right: 10px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36,
.btn.btn-fab i.material-icons.md-36,
.input-group-btn .btn.btn-fab i.material-icons.md-36{
    font-size: 36px;
    transform: translate(-17px, -11px);
}

.material-icons.md-48 {
    font-size: 48px;
}

/*elements*/
.form-group {
    margin-top: 16px;
}

.form-control {
    font-size: 18px;
}
.checkbox label,/*
.radio label,*/
.form-group .checkbox label,
.form-group .radio label,
.togglebutton label{
    color: #93b1c6;
}
/*.checkbox label:hover,
.radio label:hover,
.form-group .checkbox label:hover,
.form-group .radio label:hover,
.togglebutton label:hover {
    color: #6d7f8f;
}*/
.form-group .label-floating input {
    color: #4d505b;
}
.form-group label.control-label {
    font-size: 16px;
    color: #93b1c6;
}
.form-group .form-control.name {
    font-weight: 500;
}
.form-group.is-focused label/*,
.form-group.is-focused label.control-label*/{
    color: #9c6a8d;
}
.form-group.label-static label.control-label,
.form-group.label-floating.is-focused label.control-label,
.form-group.label-floating:not(.is-empty) label.control-label {
    font-size: 14px;
    color: #9c6a8d;
}
/*
.form-group.is-focused label,
.form-group.is-focused label.control-label{
    color: #6d7f8f;
}
*/

.form-control,
.form-group.is-focused .form-control {
    background-image: linear-gradient(#9c6a8d, #9c6a8d), linear-gradient(#D2D2D2, #D2D2D2);
}

.checkbox .checkbox-material .check {
    margin-right: 10px;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check,
.checkbox input[type=checkbox]:checked + .checkbox-material .check:before{
    color: #93b1c6;
    border-color: #93b1c6;
}

.togglebutton label .toggle,
.togglebutton label input[type=checkbox][disabled] + .toggle {
    margin-left: 10px;

}



.togglebutton label input[type=checkbox]:checked + .toggle {
    background-color: #93b1c6;
}

.togglebutton label input[type=checkbox]:checked + .toggle:after {
    background-color: #93b1c6;
}

.radio input[type=radio]:checked ~ .check {
    background-color: #93b1c6;
}

.radio input[type=radio]:checked ~ .circle {
    border-color: #93b1c6;
}


.form-group.is-focused .radio label {
    color: #93b1c6;
}

input.enter {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}

/*ui-select*/
.ui-select-match {
    font-weight: normal;
    outline: none;
}

/*.ui-select-container .form-group {
    margin-top: 34px;
}*/
/*
.ui-select-bootstrap > .ui-select-choices  {
    margin-top: 30px;
}*/
.ui-select-container .ui-select-match .btn-default {
    /*padding-left: 15px;*/
    font-size: 16px;
}
.ui-select-container input {
    padding-left: 15px;
    margin-bottom: 0;
}
.ui-select-bootstrap .ui-select-choices-row>a {
    font-size: 16px;
}
.ui-select-bootstrap .ui-select-choices-row.active>a {
    background-color: #93b1c6;
}
.ui-select-bootstrap .ui-select-choices-row>a:hover {
    background-color: rgba(147, 177, 198, 0.33);
}
.ui-select-container .ui-select-match .btn-default:hover {
    background-color: rgba(198, 198, 198, 0.19);
}
.ui-select-match .btn.btn-xs {
    font-size: 12px;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
    line-height: 0.9;
}

/*editor*/
.editor  .cart-detail{
    font-size: 16px;
    padding: 30px 40px;
}
.editor .ta-toolbar .btn-group {
    background-color: rgba(198, 155, 184, 0.47);
}
.editor .ta-scroll-window {
    border: 1px solid #e8e8e8;
    border-bottom-color: #ccc;
    padding: 15px;
}

.data-picker .btn:not(.btn-raised).btn-info,
.data-picker.input-group-btn .btn:not(.btn-raised).btn-info {
    background-color: #93b1c6;
    border-color: #93b1c6;
    color: #fff;
}


/*modal*//*

 .modal-header {
    background-color: rgba(204, 204, 204, 0.50);
    background-color: rgba(178, 139, 165, 0.28);
    padding-top: 12px;
    padding-bottom: 12px;
}
.modal-title {
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 20px;
}
.modal-header i,
.modal-body i,
.modal-footer i{
    font-size: 30px;
}
.btn-ok {
    margin: 0;
}
*/

/*modal*/
.modal-header .cancel .material-icons{
    font-size: 30px;
}
.modal-header .cancel {
    color: #767c89;
}
.modal-header .cancel:hover {
    color: #93b1c6;
}

.modal-header .modal-title {
    font-weight: 400;
    color: #767c89;
}
.modal-header hr {
    border-top: 1px solid #d7d7d7;
    margin-bottom: 0;
}
.modal-body img{
    width: 100%;
}

.modal-body a.thumbnail:hover {
    border-color: rgba(118, 124, 137, 0.48);
}
.modal-body .stuff-name {
    margin-top: 5px;
    font-size: 16px;
}





.content  {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
    color: #666;
}

@media (max-width:1190px){
    .content {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width:500px){
    .content {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.content .content-box {
    font-size: 18px;
    min-height: 350px;
}

.content .content-box .panel-heading{
    background-color: #93b1c6;
    color: #fff;
}

.content .content-box .panel-heading .panel-title {
    font-size: 22px;
}

.content .content-box .panel-body i{
    font-size: 40px;
}

.content .content-box .panel-body .plot {
    color: #767c89
}

a.content-box-link {
    color: #ff7148;
    text-decoration: none;
}

/*search*/
.nav-box-stuff .form-group.search label.control-label {
    color: #ff7148;
}
.nav-box-stuff .form-group.label-static.search label.control-label,
.nav-box-stuff .form-group.label-floating.is-focused.search label.control-label,
.nav-box-stuff .form-group.search.label-floating:not(.is-empty) label.control-label {
    color: #ff7148;
}
.nav-box-stuff .search .form-control,
.nav-box-stuff .search .form-group.is-focused .form-control {
    background-image: linear-gradient(#ff7148, #ff7148), linear-gradient(#D2D2D2, #D2D2D2);
    /*background-image: linear-gradient(#767c89, #767c89), linear-gradient(#D2D2D2, #D2D2D2);*/
}
/*gallery*/
.galleryTable ul[dnd-list],
.galleryTable ul[dnd-list] > li {
    position: relative;
}

.galleryTable .galleryRow ul[dnd-list] {
    min-height: 42px;
    margin: 0px;
    padding-left: 0px;
}
.galleryTable .galleryRow li {
    display: block;
}
.galleryTable .galleryRow .dndDragging {
    opacity: 0.7;
}
.galleryTable .galleryRow .dndDraggingSource {
    display: none;
}

.galleryTable .galleryRow .dndPlaceholder {
    background-color: #e7e7e7;
    height: 450px;
    width: 300px;
    display: block;
    position: relative;
}

.galleryTable .galleryRow .gallery-item-ul {
    padding-left: 0;
}

.galleryTable .galleryRow .gallery-item-ul> li {
    background-color: #e8e8e8;
    border: 10px solid #f5f5f5;
    color: #fff;
    float: left;
    font-weight: 700;
    height: 450px;
    width: 300px;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 20px;
}

.galleryTable .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.galleryTable img {
    margin-top: -3px;
    margin-left: -3px;
    vertical-align: middle;
    width: 100%;
    cursor: move;
}

/*navbar*/

.navbar.navbar,
.navbar-default.navbar.navbar-main,
.main .btn-primary:not(.btn-link):not(.btn-flat){
    background-color: #93b1c6;
    min-height: 60px;
    margin-bottom: 0;
}
.navbar .navbar-brand {
    padding: 15px;
}
.navbar-brand,
.dropdown-toggle{
    text-transform: uppercase;
}

.dropdown,
.dropdown-menu{
    font-size: 18px;
}
.dropdown-menu li a {
    color: #93b1c6;
}
.navbar .dropdown-menu li > a:hover,
.navbar.navbar-default .dropdown-menu li > a:hover{
    color: #6d7f8f;
}
#dimScreenFull
{
    height:100vh;
    width:100%;
    background-color: #90D4D4;
    position:fixed;
    top:0;
    left:0;
    z-index:1050;
    padding:0;
    margin:0;
    opacity:0.96;

}


