/*od*/
/*.mobile-wrapper .container {
    width: 100%;
}*/
/*.mobile-wrapper .name-block {
    margin-top: -60px;
    margin-left: 20px;
}*/
/*
.mobile-wrapper h1 {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}*/
