div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="seo-block")
            div(class="seo-desc",ng-bind-html="global.get('titles').val.desc|unsafe")
                | !{titles.desc}
            div( class="clearfix")


    