<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="cart-detail">
        <div class="subscription">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-box">
                <h3 class="text-center name-action">добавить/изменить фото</h3>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group label-floating">
                        <label class="control-label">заголовок  блока</label>
                        <input class="form-control" ng-model="block.name"
                               ng-model-options="{'updateOn': 'default blur',
                               'debounce': {'default': 700,'blur': 0}}"
                               ng-change="block.nameL[$ctrl.global.get('store').val.lang]=block.name;$ctrl.saveField('blocks.'+block.i+'.name',block.name)">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label class="control-label" style="margin-top: 0">анимация заголовка</label>
                    <ui-select ng-model="block.nameAnimate" append-to-body="true" skip-focusser="true" search-enabled="false"
                               ng-change="$ctrl.saveField(block,$index,'nameAnimate')">
                        <ui-select-match placeholder="анимация">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="opt.type as opt in $ctrl.animationTypes">{{ opt.name }}</ui-select-choices>
                    </ui-select>
                </div>
                <div class="clearfix"></div>

                <div class="editor form-group">
                    <h3 class="name-action"  ng-click="isCollapsed[$index] = !isCollapsed[$index]">добавить/изменить текст</h3>
                    <div uib-collapse="!isCollapsed[$index]" text-angular
                         ng-model-options="{'updateOn': 'default blur',
                         'debounce': {'default': 700,'blur': 0}}"
                         ng-change="block.descL[$ctrl.global.get('store').val.lang]=block.desc;$ctrl.saveField('blocks.'+block.i+'.desc',block.desc)"
                         ta-toolbar="[['h1','h2','h3','h4','h5','h6','p','underline','italics','bold','ul','ol','outdent','indent','justifyLeft','justifyCenter','justifyRight','justifyFull','insertLink','insertImage','html']]"
                         ng-model="block.desc"
                         ta-paste="$ctrl.global.get('functions').val.taPaste($html)"
                         ta-text-editor-class="border-around"
                         ta-html-editor-class="border-around">
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>