/*dtn*/

.img-logo {
    margin: 0 auto;
    width: $width;
    transition: all  1s ease-in-out 0.5s;
    display: none;
}
.img-logoInv {
    margin: 0 auto;
    width: $width;
    transition: all  1s ease-in-out 0.5s;
    display: block;
}
.mobile-wrapper .logo-top,
.tablet-wrapper .logo-top {
    text-align: center;
}
.mobile-wrapper .logo-top .img-logo,
.tablet-wrapper .logo-top .img-logo {
    margin-top: 5px;
    @if $width {
        width: $width*0.7;
    }
}
