/*autofan*/
.img-box {
    overflow: hidden;
}
.box-overlay {
    background-attachment: scroll;
    background-repeat: repeat;
    background-image: none;
    background-position: 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s ease-out 0s;
    width: 100%;
    z-index: 1020;
}
.home-banner:hover .box-overlay {
    opacity: 0.8;
}
img {
    transition: all 0.5s ease-out 0s;
}
.home-banner:hover img {
    transition: transform 0.5s ease-out 0s;
    transform: scale(1.2,1.2);
}
