<div class="select-stuff select-modal">
    <div class="modal-header">
        <h3 class="modal-title text-center">способ заказа товара/услуги</h3>
        <a class="cancel" ng-click="$ctrl.cancel()"></a>
    </div>
    <div class="modal-body padding-body">
        <div class="form-group">
            <h4 class="name-box">Тип заказа</h4>
            <div class="radio radio-primary">
                <label>
                    <input type="radio" ng-model="$ctrl.orderType" name="optionsRadios"value=0 >
                    Корзина
                </label>
            </div>
            <div class="radio radio-primary">
                <label>
                    <input type="radio"ng-model="$ctrl.orderType" value="1">
                    В один клик
                </label>
            </div>
            <div class="radio radio-primary">
                <label>
                    <input type="radio"ng-model="$ctrl.orderType" value="2">
                    Запись на время
                </label>
            </div>
            <div class="radio radio-primary">
                <label>
                    <input type="radio" ng-model="$ctrl.orderType" value="3">
                    Только просмотр
                </label>
            </div>
            <div class="radio radio-primary">
                <label>
                    <input type="radio" ng-model="$ctrl.orderType" value="4">
                    Предоставление бонуса
                </label>
            </div>
            <div class="radio radio-primary">
                <label>
                    <input type="radio" ng-model="$ctrl.orderType" value="5">
                    Шаблон
                </label>
            </div>
            <div class="radio radio-primary">
                <label>
                    <input type="radio" ng-model="$ctrl.orderType" value="6">
                    Только просмотр
                </label>
            </div>
            <div class="radio radio-primary">
                <label>
                    <input type="radio" ng-model="$ctrl.orderType" value="7">
                    Запись в расписании
                </label>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <a class="btn btn-raised" type="button"
           ng-click="$ctrl.ok()">Применить</a>
    </div>
    <div class="clearfix"></div>
</div>

