doctype html
html(ng-app="gmall")
  head


    meta(charset='utf8')
    base(href='/')
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")


    // Material Design fonts
    link(rel="stylesheet",href="assets/fonts.googleapis.com.css",type="text/css")
    link(href="assets/icon.css",rel="stylesheet")
    // Dropdown.js
    link(href="assets/jquery.dropdown.css",rel="stylesheet")
    //Bootstrap
    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    //link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    //link(rel="stylesheet", href="bower_components/select2/select2.css")

    link(rel='stylesheet', href='assets/ui-select-master/dist/select.css')

    link(rel="stylesheet",href="assets/owl/owl.carousel.css")
    link(rel="stylesheet",href="assets/owl/owl.theme.default.min.css")

    //link(rel='stylesheet', href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css")
    link(rel='stylesheet', href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css")
    link(rel='stylesheet', href="bower_components/bootstrap-material-design/dist/css/ripples.min.css")

    // дата пикер
    link(rel="stylesheet",href="bower_components/bootstrap-daterangepicker/daterangepicker.css")
    //link(rel="stylesheet",href="bower_components/bootstrap-material-datepicker/css/bootstrap-material-datepicker.css")
    link(rel="stylesheet",href="bower_components/AngularJS-Toaster/toaster.min.css")

    link(rel='stylesheet', href='modules/content/css/content.css')
    //стили компонентов
    //link(rel='stylesheet', href='components/content/css/component.order.css')
    link(rel='stylesheet', href='components/sections/css/component.sections.css')
    link(rel='stylesheet', href='components/filters/css/component.filters.css')
    link(rel='stylesheet', href='components/menu/css/component.menu.css')
    link(rel='stylesheet', href='components/stuff/css/component.stuffEdit.css')
  body
    block content