doctype html
html(ng-app="gmall")
  head


    meta(charset='utf8')
    base(href='/')
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    link(href="content.min.css",rel="stylesheet")

    if(false)
      link(rel="stylesheet",href="bower_components/font-awesome/css/font-awesome.css",type="text/css")
      link(href="assets/icon.css",rel="stylesheet")


      //Bootstrap
      link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
      // Dropdown.js
      link(href="assets/jquery.dropdown.css",rel="stylesheet")

      link(rel='stylesheet', href='assets/ui-select-master/dist/select.css')


      link(rel='stylesheet', href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css")
      link(rel='stylesheet', href="bower_components/bootstrap-material-design/dist/css/ripples.min.css")

      // дата пикер
      link(rel="stylesheet",href="bower_components/bootstrap-daterangepicker/daterangepicker.css")
      link(rel="stylesheet",href="bower_components/AngularJS-Toaster/toaster.min.css")
      link(rel='stylesheet',href='bower_components/textAngular/dist/textAngular.css')
      link(rel="stylesheet",href="bower_components/angular-bootstrap-colorpicker/css/colorpicker.min.css")

      link(rel='stylesheet', href='assets/animate.css/animate.css')
      link(rel='stylesheet', href='modules/content/css/content.css')


      link(rel="stylesheet", href="bower_components/angular-circular-navigation/angular-circular-navigation.css")

      link(rel="stylesheet", href="bower_components/angularjs-slider/dist/rzslider.min.css")
      //стили компонентов
      link(rel='stylesheet', href='components/paginator/css/component.paginator.css')
      link(rel='stylesheet', href='components/sections/css/component.sections.css')
      link(rel='stylesheet', href='components/sections/css/component.categoryEdit.css')
      link(rel='stylesheet', href='components/sections/css/component.section.selectCategoryModal.css')
      link(rel='stylesheet', href='components/sections/css/component.sectionSelectSubsectionModal.css')
      link(rel='stylesheet', href='components/filters/css/component.filters.css')
      link(rel='stylesheet', href='components/filters/css/component.bindFilterTagToModel.css')
      link(rel='stylesheet', href='components/filters/css/component.tagEdit.css')
      link(rel='stylesheet', href='components/menu/css/component.menu.css')
      link(rel='stylesheet', href='components/paps/css/component.papsList.css')


      link(rel='stylesheet', href='components/paps/css/component.papsItem.css')
      link(rel='stylesheet', href='components/TEMPLATE/slider/component.slider.css')
      link(rel='stylesheet', href='components/loadImage/css/component.loadImage.css')
      link(rel='stylesheet', href='components/stuff/css/component.stuffAdmin.css')
      link(rel='stylesheet', href='components/stuff/css/component.stuffEdit.css')
      link(rel='stylesheet', href='components/stuff/css/component.modalStuff.css')
      link(rel='stylesheet', href='components/categoriesForList/css/component.categoriesForList.css')
      link(rel='stylesheet', href='components/growlNotification/css/style.growlNotification.css')
      link(rel='stylesheet', href='components/backToTop/css/style.backToTop.css')
      link(rel='stylesheet', href='components/slideMenu/css/style.slideMenu.css')
      link(rel='stylesheet', href='components/circleMenu/css/style.circleMenu.css')
      link(rel='stylesheet', href='components/selectCategoryModal/css/categoryToFilter.css')
      link(rel='stylesheet', href='components/selectCategoryModal/css/selectCategoryModal.css')
      link(rel='stylesheet', href='components/editModel/css/editModel.css')


      link(rel='stylesheet', href='components/selectCategoryModal/css/selectBrandModal.css')
      link(rel='stylesheet', href='components/selectCategoryModal/css/selectBrandTagModal.css')
      link(rel='stylesheet', href='components/selectCategoryModal/css/selectFilterModal.css')
      link(rel='stylesheet', href='components/sortsOfStuff/css/addInfo.css')
      link(rel='stylesheet', href='components/brand/css/component.brands.css')
      link(rel='stylesheet', href='components/brand/css/component.collectionEdit.css')
      link(rel='stylesheet', href='components/brand/css/component.selectBrandTag.css')
      link(rel='stylesheet', href='components/sortsOfStuff/css/component.sortsOfStuff.css')
      link(rel='stylesheet', href='components/createStuff/css/component.createStuff.css')
      link(rel='stylesheet', href='components/filterStuffsList/css/component.filterStuffsList.css')
      link(rel='stylesheet', href='components/staticPage/css/component.staticPage.css')
      link(rel='stylesheet', href='components/staticPage/css/component.staticPageEdit.css')
      link(rel='stylesheet', href='components/staticPage/css/component.staticSelectItem.css')
      link(rel='stylesheet', href='components/CONTENT/additional/css/component.additional.css')
      link(rel='stylesheet', href='components/CONTENT/additional/css/component.additionalEdit.css')


      link(rel='stylesheet', href='components/homePage/css/component.homePage.css')
      link(rel='stylesheet', href='components/homePage/css/component.homePage.editSlide.css')
      link(rel='stylesheet', href='components/CONTENT/master/css/component.masterList.css')
      link(rel='stylesheet', href='components/CONTENT/master/css/component.masterItem.css')
      link(rel='stylesheet', href='components/lookbook/css/component.lookbook.css')
      link(rel='stylesheet', href='components/lookbook/css/component.lookbookItem.css')
      link(rel='stylesheet', href='components/lookbook/css/createLookbook.css')
      link(rel='stylesheet', href='components/news/css/component.news.css')
      link(rel='stylesheet', href='components/news/css/component.createNews.css')
      link(rel='stylesheet', href='components/news/css/component.newsItem.css')
      link(rel='stylesheet', href='components/news/css/component.viewEmail.css')
      link(rel='stylesheet', href='components/sign-login/css/component.sign-login.css')
      link(rel='stylesheet', href='components/user/css/component.loginModal.css')
      link(rel='stylesheet', href='components/info/css/info.component.css')
      link(rel='stylesheet', href='views/template/partials/stuffDetail/modal/css/zoom.css')

  body
    block content