/*semya logo*/

.logo-out{
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    transition: all 2s;
}

.logo-out img {
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    transition: all 2s;
}

