div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(ng-if="$ctrl.item.sortsOfStuff && $ctrl.item.sortsOfStuff.stuffs.length>1",class="color-box")
            div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
                p(ng-bind="$ctrl.item.sortsOfStuff.name")
            div(class="group-goods col-lg-2 col-md-2 col-sm-1 col-xs-2",ng-class="{'active':itemInGroup._id==$ctrl.item._id}", ng-repeat="itemInGroup in $ctrl.item.sortsOfStuff.stuffs")
                a(href2="{{itemInGroup.link}}",ng-click="$ctrl.chancheStuff(itemInGroup)")
                    img(class="img-responsive", ng-src="{{itemInGroup.gallery[0].thumbSmallTag||itemInGroup.gallery[0].thumbSmall}}")
            div(class="clearfix")