div(class="news-box")
    div(class="col-lg-5 col-md-12 col-sm-12 col-xs-12")
        a(href=dj[key].href+item.url)
            if(item.img)
                img(style="width:100%", src=photoHost+'/'+item.img)
            if(item.video)

            div(ng-if="::!item.img", ng-bind-html="item.video|unsafe")
    div(class="col-lg-7 col-md-12 col-sm-12 col-xs-12")
        a(ui-sref="news.item({id:item.url})")
            h2(ng-bind="item.name")
        if(item.desc)
            p=item.desc.clearTag().substring(0.150)
        h4(ng-bind="$ctrl.moment(item.date).format('LL')")
    div(class="clearfix")