<div class="thumbnail">
    <div class="col-lg-12 news-stuff-img">


        <a ng-if="item.img" ui-sref="news.item({id:item.url})">
            <img ng-if="::item.img" class="img-responsive" ng-src="{{item.img||'/img/upload/no.png'}}" />
            <div ng-if="::!item.img" ng-bind-html="item.video|unsafe"></div>
        </a>
        <a ng-if="item.imgs" ui-sref="news.item({id:item.url})">
            <gmall-slider  images="item.imgs"></gmall-slider>
        </a>

    </div>
    <div class="col-lg-12 news-stuff-desk" >
        <a ui-sref="news.item({id:item.url})">
            <div class=" form-group">
                <h2 ng-bind="item.name"></h2>
                <p ng-bind="item.desc.clearTag()|cut:true:200:'...'"></p>
            </div>
            <div class="social-hub-stuff col-lg-8 news-stuff-date" ><!--ng-if="$ctrl.objShare"-->
                <social-hub></social-hub>
            </div>
            <h4 class="pull-right col-lg-4 news-stuff-date" ng-bind="$ctrl.moment(item.date).format('LL')"></h4>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="clearfix"></div>
</div>