div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="row")
            div(class="col-lg-12 col-md-12 description",ng-repeat="tag in $ctrl.item.FullTags")
                div(class="col-lg-8 col-md-8")
                    span(ng-bind="tag.filter.name")
                div(class="col-lg-4 col-md-4")
                    span(ng-bind="tag.name")
            div(class="clearfix")