<div  class="sign-login">
    <!--<h2 class="text-center">авторизация</h2>
    <div class="login col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
        <user-login close-modal="$ctrl.closeModal()" toaster="true"></user-login>
    </div>
    <h2 class="text-center">регистрация</h2>
    <div class="enter-button col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
        <user-sign  close-modal="$ctrl.closeModal()" toaster="true"></user-sign>
    </div>
    <div class="enter-button col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
        <enter-button  toaster="true"></enter-button>
    </div>-->
    <h2 class="text-center">заполните указанные поля</h2>
    <div class="login col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
        <user-login close-modal="$ctrl.closeModal()" toaster="true"></user-login>
    </div>
    <div class="clearfix"></div>
</div>


