<div class="select-modal">
    <div class="modal-header">
        <h3 class="modal-title text-center">формирование таблицы с данными подписчиков</h3>
        <a class="cancel" ng-click="$ctrl.cancel()"></a>
    </div>
    <div class="modal-body">
        <div class="ship-box col-sm-12 col-lg-12 col-md-12 col-xs-12 text-center">
            <h2>{{$ctrl.value}}</h2>
            <uib-progressbar max="$ctrl.max" value="$ctrl.value" type="success">
                <span style="color:white; white-space:nowrap;">{{$ctrl.value}} %</span>
            </uib-progressbar>
        </div>
    </div>
    <div class="clearfix"></div>
    <!--<div class="modal-footer">
        <button ng-disabled="$ctrl.blockButton" class="btn btn-block btn-raised" ng-click="$ctrl.ok()">скачать</button>
    </div>-->
</div>
