<style>
    .new-user .form-group .help-block {
        margin-top: 0 !important;
    }
</style>
<div class="new-user select-modal">
    <div class="modal-header">
        <h3 class="modal-title text-center">
            <span>создание ордера</span>
        </h3>
        <a class="cancel" ng-click="$ctrl.cancel()"></a>
    </div>
    <div class="modal-body">
        <div class="col-lg-12 mb-40"><!-- uib-collapse="$ctrl.addingUser"-->
            <h4 class="text-center">Поиск клиента в базе</h4>
            <p>Для поиска в клиентской базе введите не менее 3-х символов имени, телефона или электронного адреса.</p>
            <ui-select ng-model="$ctrl.user">
                <ui-select-match allow-clear="true" placeholder="введите телефон имя или email">
                    {{$select.selected.name}}  +{{$select.selected.profile.phone}} {{$select.selected.profile.fio}} {{$select.selected.email}}
                </ui-select-match>
                <ui-select-choices repeat="user in $ctrl.users track by $index"
                                   refresh="$ctrl.refreshUsers($select.search)"
                                   refresh-delay="0">
                    <strong ng-bind="user.name"></strong>  <span ng-if="user.profile.phone">+<span ng-bind="user.profile.phone"></span></span> <span ng-bind="user.profile.fio"></span> <span ng-bind="user.email"></span>

                </ui-select-choices>
            </ui-select>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-12">
            <p class="text-center">Если в базе нет клиента, то добавьте новую запись.</p>
            <a ng-click="$ctrl.addingUser=true" class="link-success ">
                <h4 class="text-center">Добавить нового клиента</h4>
            </a>
            <div class="" uib-collapse="!$ctrl.addingUser">
                <form name="form" ng-submit="$ctrl.addUser()">
                    <fieldset class="thumbnail the-fieldset" style="padding: 20px 0 0 0">
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">введите имя</label>
                                    <input class="form-control" type="text"
                                           ng-model="$ctrl.userName"
                                           autocomplete="off"
                                           ng-minlength="3"
                                           ng-maxlength="50"
                                           name="name"
                                           required/>
                                </div>
                                <div class="help-block" ng-messages="form.name.$error" role="alert">
                                    <!--<div ng-message="required">необходимо ввести имя</div>-->
                                    <div ng-message="minlength">не менее 3 символов</div>
                                    <div ng-message="maxlength">не более 25 символов</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">введите e-mail</label>
                                    <input class="form-control" type="email"
                                           ng-model="$ctrl.userEmail"
                                           ng-model-options="{ debounce: 300 }"
                                           autocomplete="off"
                                           name="email"/>
                                    <div class="help-block" ng-messages="form.email.$error" role="alert">
                                        <!--<div ng-message="required">необходимо ввести имя</div>-->
                                        <div>неверный формат e-mail</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <label class="control-label">введите телефон</label>
                                <div class="row">
                                    <ui-select ng-model="$ctrl.phoneCode" skip-focusser="true" class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                                        <ui-select-match>{{$select.selected.code}}</ui-select-match>
                                        <ui-select-choices repeat="opt.code as opt in $ctrl.phoneCodes">{{opt.code}}({{opt.country}})</ui-select-choices>
                                    </ui-select>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                                        <input type="text"
                                               class="form-control"
                                               ng-model="$ctrl.oldPhone"
                                               ui-mask="( 9 9 9 )  9 9 9 - 9 9 9 9"
                                               ui-mask-placeholder
                                               ui-mask-placeholder-char="_"
                                               name="phone"
                                               required/>
                                        <!--<span class="input-group-addon">{{$ctrl.phoneCode}}</span>-->
                                        <div class="help-block" ng-messages="form.phone.$error" role="alert">
                                            <div ng-message="required || mask">необходимо ввести телефон в указанном формате</div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <a class="btn btn-default btn-block" ng-click="$ctrl.addingUser=false">отмена</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <button class="btn btn-success btn-raised btn-block" ng-disabled="!form.$valid" type="submit">сохранить</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>


    <div class="clearfix"></div>

    <div class="modal-footer col-lg-12 ">
        <button class="btn btn-raised btn-block" ng-click="$ctrl.ok()"
                ng-disabled="!$ctrl.user" style="width: 100%">
            создать ордер
        </button>
    </div>
    <div class="clearfix"></div>
</div>