div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="hamburger")
            if(dj[key].icon)
                span(id="mainHumb",class="icon-menu-img",ng-click="checkedMenuChange('slideMenu',false)")
                span(id="inverseHumb",class="icon-menu-inverse",ng-click="checkedMenuChange('slideMenu',false)")
            else if(dj[key].iconStandart)
                button(class="button navbar-toggle pull-left",ng-click="checkedMenuChange('slideMenu',false)",type="button")
                    span(class="sr-only") Toggle navigation
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
            if(dj[key].text)
                span(ng-click="checkedMenuChange('slideMenu',false)")
                    | !{dj[key].text}