<div class="select-to-filter select-modal">
    <div class="modal-header">
        <h4 class="modal-title text-center">выберите категории, связанные с данной характеристикой</h4>
        <a  class=" cancel" ng-click="cancel()" ></a>
        <div class="clearfix"></div>
    </div>

    <div class="modal-body">
        <script type="text/ng-template" id="mainSection.html">
           <div class="col-lg-11  col-md-11 col-sm-11 col-xs-11 padding0 form-group section-box" >
               <form >
                   <div class="color-box-orange col-lg-9  col-md-9 col-sm-9 col-xs-9 padding0 ">
                       <span  ng-bind="section.name"></span>
                   </div>
                   <div class="box-control label-action col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right padding0">
                       <div class="checkbox" ng-if="section.showCheck">
                           <label>
                               <input type="checkbox" ng-model="section.checkAll" ng-click="bindFilterForSection(section,section.checkAll)">
                           </label>
                       </div>
                       <div class="clearfix"></div>
                   </div>
               </form>
           </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1  box-border-top"  ng-if="section.categories.length || section.child.length"></div>
        </script>

        <script type="text/ng-template" id="subSection.html">
            <ul ng-init="parentSection=section"
                class="subSectiondnd">
                <li ng-repeat="section in section.child" ng-if="section.categories.length" style="padding-bottom: 40px">
                    <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 " ng-init="section.showList=true;">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1  box-border-top"></div>
                            <div class="col-lg-10  col-md-10 col-sm-10 col-xs-10 padding0 form-group section-box">
                                <form>
                                    <div class="color-box-orange  col-lg-9  col-md-9 col-sm-9 col-xs-9 padding0">
                                        <span ng-bind="section.name"></span>
                                    </div>
                                    <div class="box-control label-action col-lg-3 col-md-3 col-sm-3 col-xs-3 padding0 text-right">
                                        <div class=" checkbox" ng-if="section.showCheck">
                                            <label>
                                                <input type="checkbox" ng-model="section.checkAll"
                                                       ng-click="bindFilterForSection(section,section.checkAll)">
                                            </label>
                                        </div>
                                    </div>
                                </form>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1  box-border-top"></div><!-- ng-if="section.showList"-->
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  box-section-right  box-section-left">
                        <div ng-if="section.showList">
                            <div ng-if="section.categories.length" ng-include="'categoryTree.html'">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  box-section-left" >
                    <div ng-if="section.categories.length" ng-include="'categoryTree.html'">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " ></div>
            </div>
        </script>

        <script type="text/ng-template" id="categoryTree.html">
            <ul>
                <li ng-repeat="category in section.categories track by $index"
                    class="tree-node-category"
                    ng-include="'category.html'">
                </li>
            </ul>
        </script>

        <script type="text/ng-template" id="category.html">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1  box-border-top"></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  form-group  category-box color-box-blue">
                <form>
                    <span class="col-lg-10 col-md-10 col-sm-10 col-xs-10 name-tag padding0" ng-bind="category.name"></span>
                    <div class="col-lg-2  col-md-2 col-sm-2 col-xs-2 padding0 text-right action-box-item checkbox">
                        <label>
                            <input type="checkbox" ng-click="bindFilter(category,section)" ng-model="category.checked">
                        </label>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="clearfix"></div>
        </script>

        <div  class="catalog col-lg-12">
            <ul class="row">
                <li  ng-repeat="section in sections" style="padding-bottom: 40px">
                    <div class="col-lg-4 box-section-left"  ng-include="'mainSection.html'"></div>
                    <div class="col-lg-8 box-section-right  box-section-left" ng-init="section.showList=true;">
                        <div uib-collapse="!section.showList" ng-include="'subSection.html'" ></div>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>

        </div>
        <div class="clearfix"></div>
    </div>

    <div class="modal-footer">
    </div>
</div>
<!--
<div class="category-to-filter">
    <div class="modal-header">
        <h3 class="modal-title text-center">выберите категории, связанные с данной характеристикой</h3>
        <a  class=" cancel" ng-click="cancel()" ></a>
        <div class="clearfix"></div>
    </div>

   <div class="value-filters form-group">

       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right"> тип и единица измерения</div>
       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">значение</div>

       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
        <h4>вапвапвап</h4>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 label-floating">
           <input class="form-control" placeholder="количественное значение">
       </div>


   </div>

    <div class="modal-footer">
    </div>
</div>-->
