<div class="select-category-modal">
    <div class="modal-header">
        <h3 class="modal-title col-lg-10">выберите категорию</h3>
        <a class="col-lg-2 btn btn-fab btn-fab-mini pull-right" ng-click="cancel()" >
            <i class="material-icons link-warning">reply</i>
        </a>
        <div class="clearfix"></div>
        <hr>
    </div>
    <div class="modal-body bind-category-modal">
        <script type="text/ng-template" id="mainSection.html">
            <div class="col-lg-11  col-md-11 col-sm-11 col-xs-11 form-group section-box" >
                <form >
                    <div class="color-box-orange row">
                        <span  ng-bind="section.name"></span>
                    </div>
                    <!--<div class="box-control row">
                        <div class="checkbox col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-if="section.showCheck">
                            <label>
                                <input type="checkbox" ng-model="section.checkAll" ng-click="bindFilterForSection(section,section.checkAll)">
                                отметить все
                            </label>
                        </div>
                        <div class="clearfix"></div>
                    </div>-->
                </form>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1  box-border-top"  ng-if="section.categories.length"></div>
        </script>

        <script type="text/ng-template" id="subSection.html">
            <ul ng-init="parentSection=section"
                class="subSectiondnd">
                <li ng-repeat="section in section.child" ng-if="section.categories.length">
                    <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 " ng-init="section.showList=true;">
                        <div class="row">
                            <div class="col-lg-11  col-md-11 col-sm-11 col-xs-11  form-group section-box">
                                <form>
                                    <div class="color-box-orange row">
                                        <span ng-bind="section.name"></span>
                                    </div>
                                    <!--<div class="box-control row">
                                        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 checkbox" ng-if="section.showCheck">
                                            <label>
                                                <input type="checkbox" ng-model="section.checkAll"
                                                       ng-click="bindFilterForSection(section,section.checkAll)">
                                                отметить все
                                            </label>
                                        </div>
                                    </div>-->
                                </form>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1  box-border-top"></div><!-- ng-if="section.showList"-->
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  box-section-right  box-section-left">
                        <div ng-if="section.showList">
                            <div ng-if="section.categories.length" ng-include="'categoryTree.html'">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  box-section-left" >
                    <div ng-if="section.categories.length" ng-include="'categoryTree.html'">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " ></div>
            </div>
        </script>

        <script type="text/ng-template" id="categoryTree.html">
            <ul>
                <li ng-repeat="category in section.categories track by $index"
                    class="tree-node-category"
                    ng-include="'category.html'">
                </li>
            </ul>
        </script>

        <script type="text/ng-template" id="category.html">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11  form-group  category-box ">
                <form>
                    <div ng-click="selectCategory(category)">
                        <span ng-bind="category.name"></span>
                    </div>

                    <!--<span class="pull-left col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-bind="category.name"></span>

                    <div class="pull-right col-lg-2 col-md-2 col-sm-2 col-xs-2 checkbox checkbox-white">
                        <label>
                            <input type="checkbox"ng-click="bindFilter(category,section)" ng-model="category.checked">
                        </label>
                    </div>-->
                </form>
            </div>
            <div class="clearfix"></div>
        </script>

        <div  class="catalog col-lg-12">
            <ul class="row">
                <li  ng-repeat="section in sections" style="padding-bottom: 40px">
                    <div class="col-lg-4 box-section-left"  ng-include="'mainSection.html'"></div>
                    <div class="col-lg-8 box-section-right  box-section-left" ng-init="section.showList=true;">
                        <div uib-collapse="!section.showList" ng-include="'subSection.html'" ></div>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a  class="  btn btn-fab btn-fab pull-right"  ng-click="cancel()">
            <i class="material-icons link-warning">reply</i>
        </a>
    </div>
</div>






<!--
<div class="modal-body">
    <script type="text/ng-template" id="mainSection.html">
        <div class="col-lg-11  col-md-11 col-sm-11 col-xs-11 form-group section-box" >
            <div class="col-lg-1  col-md-1 col-sm-1 col-xs-1 form-group">

            </div>
            <div class="col-lg-9  col-md-9 col-sm-9 col-xs-9 label-floating">
                <label class="control-label">раздел</label>
                <span class="form-control" ng-bind="section.name"></span>
            </div>
            <div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right box-section-left">
                <a class="btn btn-fab btn-fab-mini down-up pull-right" ng-click="section.showList=!section.showList"
                   ng-if="section.child.length || section.categories.length">
                    <i  class="material-icons link-primary" ng-if="!section.showList">expand_more</i>
                    <i  class="material-icons link-primary" ng-if="section.showList">expand_less</i>
                </a>
            </div>
        </div>
        <div class="col-lg-1 box-border-top">
        </div>

    </script>
    <script type="text/ng-template" id="subSection.html">
        <ul ng-init="parentSection=section"
            class="subSectiondnd">
            <li ng-repeat="section in section.child" ng-if="section.categories.length">
                <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 " ng-init="section.showList=true;">
                    <div class="row">
                        <div class="col-lg-11  col-md-11 col-sm-11 col-xs-11  form-group section-box">
                            <div class="col-lg-1  col-md-1 col-sm-1 col-xs-1 form-group">

                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                               <label class="control-label">подраздел</label>
                                <input class="form-control" ng-model="section.name">&
                                <span class="form-control" ng-bind="section.name"></span>

                            </div>
                            <div class="form-group pull-right box-section-left  block-control-mini">
                                <a class="btn btn-fab btn-fab-mini down-up pull-right" ng-if="section.child.length || section.categories.length" ng-click="section.showList=!section.showList">
                                    <i  class="material-icons link-primary" ng-if="!section.showList">expand_more</i>
                                    <i  class="material-icons link-primary" ng-if="section.showList">expand_less</i>
                                </a>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1  box-border-top"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  box-section-right  box-section-left">

                    <div uib-collapse="!section.showList">
                        <div ng-if="section.categories.length" ng-include="'categoryTree.html'">

                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>


            </li>
        </ul>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  box-section-left" >
                <div ng-if="section.categories.length" ng-include="'categoryTree.html'">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " ></div>
        </div>
    </script>
    <script type="text/ng-template" id="categoryTree.html">
        <ul>
            <li ng-repeat="category in section.categories track by $index"
                class="tree-node-category"
                ng-include="'category.html'">
            </li>
        </ul>
    </script>
    <script type="text/ng-template" id="category.html">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11  form-group  section-category">
            <div class="col-lg-1  col-md-1 col-sm-1 col-xs-1 form-group">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-8  label-floating">
                <label class="control-label">категория</label>
                <span ng-click="selectCategory(category)" class="form-control" ng-bind="category.name"></span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-1"></div>
        <div class="clearfix"></div>
    </script>


    <div  class="catalog col-lg-12">
        <ul class="row">
            <li  ng-repeat="section in sections" style="padding-bottom: 40px">
                <div class="col-lg-4 box-section-left"  ng-include="'mainSection.html'"></div>
                <div class="col-lg-8 box-section-right  box-section-left" ng-init="section.showList=true;">
                    <div uib-collapse="!section.showList" ng-include="'subSection.html'" ></div>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Отменить</button>
</div>-->
