<div class="lang-item store-list-site" ng-class="{'store-list-site-mobile':$ctrl.global.get('mobile').val}" ng-show="$ctrl.item">
    <div class="nav-box-stuff">
        <div class="tab-nav-stuff">
            <a class="btn btn-fab btn-fab-mini btn-violet"  ui-sref="frame.lang">
                <i class="material-icons">reply</i>
            </a>
        </div>
        <div class="tab-nav-stuff" >
            <form ng-submit="$ctrl.addNewTag($ctrl.newTag)">
                <div style="float: left">
                    <input style="width: 250px; margin-left: 20px;" class="form-control" placeholder="введите название тега"
                           ng-model="$ctrl.newTag"
                           pattern="^[a-zA-Z][a-zA-Z0-9-].{1,20}" required>
                </div>
                <div style="float: left;">
                    <button class="btn btn-fab btn-fab-mini btn-success"
                       type="submit"
                       title="создать новый тег">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </form>
        </div>
        <div class="tab-nav-stuff ">
            <h4 class="name-box">
            <span class="name-page" ng-bind="$ctrl.item.name"></span><!--редактирование языковой карты-->
            </h4>
        </div>
        <div class="tab-nav-stuff pull-right">
            <a class="btn btn-fab btn-fab-mini btn-pink"  ng-click="$ctrl.googleTranslate()">
                <i class="material-icons" title="автоперевод">translate</i>
            </a>
        </div>
        <div class="tab-nav-stuff pull-right select-lang">
            <div class="form-group">
                <ui-select ng-model="$ctrl.currentLang" skip-focusser="true" search-enabled="false">
                    <ui-select-match placeholder="выбрать язык">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="item in $ctrl.langsArr">{{ item }}</ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div >
        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pages-header">
            <h3 class="text-center name-page">редактирование языковой карты</h3>
        </div>-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="cart-detail">
                <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-group label-floating">
                        &lt;!&ndash;<label class="control-label">название</label>&ndash;&gt;
                        <input class="form-control name" ng-model="$ctrl.item.name" ng-blur="$ctrl.saveField('name',$ctrl.item.name,true)" disabled>
                    </div>

                </div>-->

                <div class="col-lg-6 col-md-6 col-sm-0 col-xs-0"></div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <input class="form-control" placeholder="поиск тега"
                           ng-model-options="{'updateOn': 'default blur','debounce': {'default': 300,'blur': 0}}"
                           ng-model="$ctrl.searchStrTag" >
                </div>
                <div class="clearfix"></div>
                <br>
                <br>
                <!-- <a class="link-success new-info" ng-if="$ctrl.item.blocks.length<40" ng-click="$ctrl.saveEmbeddedField({name:'новый подраздел'},'name')">создать новый подраздел</a>-->
                <div class="text-center">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <p>в коде</p>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" ng-repeat2="l in $ctrl.langs">
                        <p>ru</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <p>{{$ctrl.currentLang}}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                        <p>примечание</p>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="(tag,item) in $ctrl.searchStrFilter($ctrl.item.tags,$ctrl.searchStrTag)">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <h3>{{tag}}</h3>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-repeat2="l in $ctrl.langs">
                        <input class="form-control"ng-model="item['ru']"
                               ng-model-options="{'updateOn': 'default blur','debounce': {'default': 300,'blur': 0}}"
                               ng-change="$ctrl.saveField(tag+'.ru',item['ru'])">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-repeat2="l in $ctrl.langs">
                        <input class="form-control"ng-model="item[$ctrl.currentLang]"
                               ng-model-options="{'updateOn': 'default blur','debounce': {'default': 300,'blur': 0}}"
                               ng-change="$ctrl.saveField(tag+'.'+$ctrl.currentLang,item[$ctrl.currentLang])">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <input class="form-control"ng-model="item.desc"
                               ng-model-options="{'updateOn': 'default blur','debounce': {'default': 300,'blur': 0}}"
                               ng-change="$ctrl.saveField(tag+'.desc',item.desc)">
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0">
                        <a class="btn btn-fab btn-fab-mini btn-warning" ng-click="$ctrl.deleteTag(tag)">
                            <i class="material-icons">delete</i>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>