<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-comment"></span> Chat
    </div>
    <div id="innerChat"class="panel-body" style="margin:0px">
        <ul class="chat">
            <li class="text-center" ng-if="chatCtrl.totalCount>chatCtrl.localCount"><a ng-click="chatCtrl.getMoreMessage()">====ЕЩЕ====</a></li>
            <li class="row" ng-repeat="message in chatCtrl.messages"
                ng-init="message.who=chatCtrl.getWho(message.recipient)">
                <div ng-if="message.who=='me'">
                    <div class="col-lg-9">
                        <small class="text-muted">
                            <span class="glyphicon glyphicon-time"></span>{{moment(message.date).format('LLL')}}
                        </small>
                        <p ng-bind="message.message"></p>
                    </div>
                    <div class="col-lg-3 text-right">
                        <strong class="primary-font"  ng-bind="message.name"></strong>
                        <img src="http://placehold.it/50/55C1E7/fff&text=ME" class="img-circle" />

                    </div>
                </div>
                <div ng-if="message.who=='he'">
                    <div class="col-lg-3">
                        <img src="http://placehold.it/50/FA6F57/fff&text=YOU" class="img-circle" />
                        <strong class="primary-font"  ng-bind="message.name"></strong>
                    </div>
                    <div class="col-lg-9 text-right">
                        <small class="text-muted ">
                            <span class="glyphicon glyphicon-time"></span>{{moment(message.date).format('LLL')}}
                        </small>
                        <p ng-bind="message.message"></p>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="panel-footer">
        <form novalidate name='formChat' ng-submit="chatCtrl.sendMessage(formChat)">
            <div class="form-group" ng-class="{ 'has-success': formChat.message.$valid && chatCtrl.submitted,
                                                      'has-error': formChat.message.$invalid && chatCtrl.submitted }">
                <input id="btn-input" type="text"
                       ng-minlength="3"
                       ng-maxlength="200"
                       required
                       name="message"
                       ng-model="chatCtrl.message" class="form-control input-sm" placeholder="Type your message here..." />
                <span class="help-block" ng-show="(formChat.message.$error.minlength ||
                                                          formChat.message.$error.required) && chatCtrl.submitted">
                    введено менее 3-х символов
                </span>
                <span class="help-block" ng-show="formChat.message.$error.maxlength && chatCtrl.submitted">
                    введено более 200-ти символов
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-warning btn-sm" id="btn-chat"
                                    ng-disabled="order && order.status>5"><!--ng-click="chatCtrl.sendMessage(chatCtrl.message)"-->
                        Отправить
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

<style>
    .chat
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .chat li
    {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted #B3A9A9;
    }

    .chat li.left .chat-body
    {
        margin-left: 60px;
    }

    .chat li.right .chat-body
    {
        margin-right: 60px;
    }


    .chat li .chat-body p
    {
        margin: 0;
        color: #777777;
    }

    .panel .slidedown .glyphicon, .chat .glyphicon
    {
        margin-right: 5px;
    }

    .panel-body
    {
        overflow-y: scroll;
        height: 250px;
    }

    ::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar
    {
        width: 12px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
</style>