/**/

/*
.select-size {
    font-size: 14px;
    color: #db4437;
    min-height: 20px;
}
.mobile-wrapper .btn-project,
.mobile-wrapper .btn-project-inv {
    width: 100%;
}
.tablet-wrapper .add-to-cart {
    text-align: center;
}*/
