div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="add-to-cart",ng-switch="::$ctrl.item.orderType")
            div(ng-class=" {'row':$ctrl.global.get('mobile').val}")
                if(item.orderType==1)
                    a(class="btn  btn-project btn-animation draw",ng-click="$ctrl.item.order()")
                        span(class="btn-val",ng-bind="$ctrl.global.get('lang').val.toOrder")
                else if(item.orderType==2)
                    a(class="btn  btn-project-inv",ng-click="$ctrl.item.dateTime()")
                        span(class="btn-val",ng-bind="$ctrl.global.get('lang').val.enroll")
                else if(item.orderType==4)
                    a(class="btn  btn-project btn-border btn-animation draw",ng-click="stuff.getBonus()")
                        span(class="btn-val",ng-bind="$ctrl.global.get('store').val.bonusButtonText")
                else if(item.orderType==5)
                    a(class="btn  btn-project-inv",ng-click="$ctrl.global.get('functions').val.cloneStore($ctrl.item)")
                        span(class="btn-val",ng-bind="$ctrl.global.get('lang').val.enroll")
                else if(item.orderType == 6)
                    div
                        a(class="btn  btn-project btn-border", ng-click="$ctrl.global.get('functions').val.witget('call',{stuff:$ctrl.item})",ng-bind="$ctrl.global.get('lang').val.enroll")
                else
                    p(class="select-size")
                        span(ng-show="$ctrl.item.unableToOrder",ng-bind="$ctrl.global.get('lang').val.selectSize")
                    span(ng-switch="$ctrl.item.checkInCart()")
                        span(ng-switch-when='true')
                            a(class="btn  btn-project btn-border", disabled="disabled")
                                span(class="btn-val",ng-bind="$ctrl.global.get('lang').val.inCart")
                        span(ng-switch-default)
                            a( class="btn  btn-project-inv",  ng-click="$ctrl.item.addItemToOrder()",set-animate=dj[key].animate,data-animation=dj[key].animate)
                                span(class="btn-val",ng-bind="$ctrl.global.get('lang').val.addToCart")
        div(class="clearfix")

div(class="clearfix")