<div class="select-modal">
    <div class="modal-header">
        <h3 class="modal-title text-center">log файл загрузки каталога в базу данных</h3>
        <a class="cancel" ng-click="$ctrl.cancel()"></a>
    </div>
    <div class="modal-body">
        <div class="ship-box col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <p ng-bind-html="$ctrl.logFile"></p>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="modal-footer">
        <button ng-disabled="$ctrl.blockButton" class="btn btn-block btn-raised" ng-click="$ctrl.ok()">OK</button>
    </div>
</div>
