<div class="create-info select-modal">
    <div class="modal-header">
        <h3 class="modal-title text-center" ng-bind="$ctrl.header"></h3>
        <a class="cancel" ng-click="$ctrl.cancel()"></a>
    </div>
    <form ng-submit="$ctrl.ok()">
        <div class="modal-body  padding-body">
            <div class="form-group label-floating">
                <label for="name" class="control-label">название</label>
                <input type="text" id="name" class="form-control"
                       ng-model="$ctrl.name" autofocus/>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="modal-footer col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <button class="btn btn-block  btn-raised" type="submit">
                <span ng-bind="$ctrl.button"></span>
            </button>
        </div>
        <div class="clearfix"></div>
    </form>
</div>

