div(class=dj[key].wrapclass)
  div(class=mobileWrapper)
    nav(class=dj[key].navClass,set-fon-after-start-scroll=dj[key].fon,id='menu2-section',slide-menu-after-scroll="menu2",ng-class="{'navbar-toggle-slide-mini':$state.current.name!='home'}")
      ul(class="nav navbar-nav flex-grow")
        div
      ul(class="nav navbar-nav flex-grow justify-content-center")
        div
      ul(class="nav navbar-nav flex-grow justify-content-end")
        div