.background-logo {
    background-color: $background-color;
    color:$color;
}
/*
@media (max-width: 1550px) and (min-width: 1251px) {
    .home-section {
        padding-right: 50px;
        padding-left: 50px;
    }
}
@media (max-width: 1250px) and (min-width: 1026px) {
    .home-section {
        padding-right: 20px;
        padding-left: 20px;
    }
}*/
