
.panel-heading {
    padding: 0;
}
.panel-title a {
    display: block;
    width: 100%;
    padding: 20px;
}

.mobile-wrapper .info-block ul{
    padding-left: 15px;
}
.panel-default {
    border: none;
    box-shadow: none;
}
.panel-default.panel-open {
    border-bottom: 1px solid #eee;
}
.panel-default.panel-open .panel-heading {
    border-bottom: none;
}
.panel-default>.panel-heading {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #eee;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: none;
}