/*dtn*/
.stuff-list-wrapper {
    min-height: 80vh;
}
.stuff-list-wrapper table{
    width: 100%;
    margin-top: 40px;
}
.stuff-list-wrapper table td {
    vertical-align: top;
}
.stuff-box  .img-goods {
    width: 100%;
}
.stuff-box .stuff-name {
    font-size: 18px;
}
/*.price-block .price {
    font-size: 22px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}*/
.price-block {
    text-align: center;
}
/*.price-block .sale {
    font-size: 26px;
    letter-spacing: 2px;
    color: $mainColor;
}*/
.price-block a {
    cursor: default;
}
.price-block a:hover {
    color: $color
}
.line {
    text-decoration: line-through;
}
.stuffs-box  .sort-of-stuff {
    color: #999;
    font-weight: normal;
}
.stuffs-box  .tab-nav-stuff {
    margin-top: 10px;
}
.sort {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    /*font-size: 18px;*/
    /*color: #ffffff;*/
    margin-bottom: 10px;
    min-width: 35px;
}
.sort-active {
    color: #ffffff;
    border-bottom: 1px solid $mainColor
}
/*тень при наведении*/
.box-overlay {
    background: none repeat scroll 0 0 #000;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s ease-out 0s;
    width: 100%;
    z-index: 1020;
}
.stuff-box:hover .box-overlay{
    opacity: 0.5;
}
.half-shadow img{
    width: 50px;
    transition: all  0.4s ease-in-out 0.1s;
}
/*.half-shadow{
    background-repeat: no-repeat;
    background-size: cover;
}*/
.half-shadow p {
    margin-bottom: 0;
    line-height: 22px;
}
.title-block {
    padding: 15px;
    bottom: 15px;
    display: none;
}
.title-block a {
    letter-spacing: 1px;
    color: $color;
}
.stuff-box:hover .title-block {
    display: block;
}
.mobile-wrapper  .title-block,
.tablet-wrapper  .title-block {
    display: block;
}
@media (max-width:1500px){
    .container {
        width: 65%;
    }
    .stuffs {
        padding-right: 40px;
        padding-left: 40px;
    }
}
@media (max-width:1300px){
    .container {
        width: 70%;
    }
    .stuffs {
        padding-right: 20px;
        padding-left: 20px;
    }
}
.mobile-wrapper .container {
    width: 90%;
}
.mobile-wrapper .sort-box {
    display: none;
}
.mobile-wrapper .stuffs {
    padding-left: 0;
    padding-right: 0;
}
/*
@media (max-width:1392px) and (min-width: 1200px){
    .title-block {
        padding: 5px 15px;
    }
    .sort {
        font-size: 14px;
    }
}*/
