div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="home-campaign col-lg-12 col-md-12 col-sm-12 col-xs-12")
            div(class="container")
                h3=dj[key].name
                expiration-date(date=dj[key].campaign[0].dateEnd)
        div(class="clearfix")
    


