div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="gallery")
            div(ng-if="$ctrl.item.gallery")
                div(ng-init="$ctrl.activeSlide=0")
                    if(!mobile)
                        div(class="gallery-small",ng-if="$ctrl.item.gallery.length>1")
                            div(class="gallery-wrap")
                                div(id="gallery-small-container")
                                    div(class="gallery-small-box",ng-repeat="slide in $ctrl.item.gallery track by $index",ng-class="{'active':$ctrl.activeSlide==$index}" )
                                        a(ng-click="$ctrl.chancheActiveSlide($index)")
                                            img(ng-src="{{slide.thumbSmall}}", class="img-responsive gallery-small-imgs")

                            a(class="arrow-up-gallery-small",ng-click="smallGalleryF.move_up()")
                                span(class="icon-upslide-img")
                            a(class="arrow-down-gallery-small",ng-click="smallGalleryF.move_down()")
                                span(class="icon-downslide-img")
                    div(ng-class="{'gallery-big':$ctrl.item.gallery.length>1}")
                        ks-swiper-container(initial-slide="3",loop="false",show-nav-buttons="false",slides-per-view="1",space-between="5",pagination-clickable="false")
                            ks-swiper-slide(class="swiper-slide",ng-repeat="s in [1,2,3,4,5,6,7,8,9,10,11,12,13,14]")
                                img(ng-src="http://api.randomuser.me/portraits/thumb/men/{{s}}.jpg")
                        //div(uib-carousel,active="$ctrl.activeSlide", ng-if="::!$ctrl.crawler",class='gallery-carousel')
                            div(uib-slide,ng-repeat="slide in $ctrl.item.gallery track by $index",index="$index",active='slide.active')
                                a(ng-click="$ctrl.item.zoomImg($index)")
                                    img(ng-src="{{slide.img}}", style="margin:auto;",ng-swipe-left="$ctrl.chancheActiveSlide(0,'left')",ng-swipe-right="$ctrl.chancheActiveSlide(0,'right')",alt="{{$ctrl.item.name}} {{(($ctrl.item.artikul)?$ctrl.item.artikul:'')}} {{$index}}")
                                    span(class="icon-zoom-img")

                        ul(ng-if="::$ctrl.crawler")
                            li(ng-repeat="slide in $ctrl.item.gallery track by $index")
                                img(class="img-responsive",alt="{{::$ctrl.item.categoryName}} {{::$ctrl.item.name}}",ng-src="{{slide.thumb}}",style="margin:auto;")
                    div(class="clearfix")