/*ideal*/
.carousel-inner {
    width: 100%;
}
.gallery {
    position: relative;
    margin-bottom: 20px;
    width: 98%;
    padding-left: 2%;
}
.gallery img{
    width: 100%;
    height: 100%;
}
.gallery-wrap {
    width: 1000px;
}
.carousel-inner a {
    cursor: crosshair;
}
button:focus,
button:active {
    outline: none;
}
.gallery-big {
    width: 100%;
}
.gallery-big img {
    padding-left: 20px;
    padding-right: 20px;
}
.nav-box {
    height: 100%;
}
.gallery  .carousel-control.right,
.gallery  .carousel-control.right span,
.gallery .carousel-control.left,
.gallery .carousel-control.left span {
    display: none;
}
.gallery  .carousel-control.right {
    right: -20px;
}
.gallery .carousel-control.left {
    left: -20px;
}
.carousel-indicators li.active,
.carousel-indicators li{
    width: 16px;
    height: 16px;
    margin: 0 5px;
}
.gallery .zoom-plus {
    opacity: 0;
}
.gallery:hover .zoom-plus {
    opacity: 1;
}
#gallery-small-container {
    overflow-x: hidden;
    margin-left: 35px;
}
.gallery-small {
    height: 100%;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
}
.gallery-small img {
    width: 100px;
}
.gallery-small-box{
    float: left;
    padding: 3px;
    margin: 5px;
    border: 1px solid transparent;
}
.gallery-small-box:hover {
    border: 1px solid $mainColor
}
.gallery-small .active {
    border: 1px solid $mainColor
}
.gallery-small-container {
    position: relative;
}
.arrow-prev-gallery-small {
    position: absolute;
    left: 10px;
    bottom: 50px;
    border: 0;
    background-color: transparent;

}
.arrow-next-gallery-small {
    position: absolute;
    right: 10px;
    bottom: 50px;
    border: 0;
    background-color: transparent;
}
.tablet-wrapper .gallery,
.mobile-wrapper .gallery {
    padding-right: 0;
    padding-left: 0;
}
@media (max-width: 360px) {
    .gallery  .carousel-control.right {
        right: 0px;
    }
    .gallery .carousel-control.left {
        left: 0px;
    }
}