if(i && i==1)
    - var id='arrowDownDiv'
    arrow-down
//- var id=(i && i==1)?'arrow-down':'';
div(id=id,ng-class="::{'home2-banner':!homeCtrl.template.banner.class,'home2-banner1':homeCtrl.template.banner.class==1, 'home2-banner2':homeCtrl.template.banner.class==2, 'home2-banner3':homeCtrl.template.banner.class==3, 'home2-banner4':homeCtrl.template.banner.class==4, 'home2-banner5':homeCtrl.template.banner.class==5,}",ng-if="homeCtrl.data.bannerSrc")
    //img(ng-class="::{'img-banner-mobile':global.get('mobile').val}",ng-src="{{homeCtrl.data.bannerSrc}}")
    //img(ng-class="::{'img-responsive':!global.get('mobile').val}",class="",ng-src="{{homeCtrl.data.bannerSrc}}")
    img(ng-if="!global.get('mobile').val",class="img-responsive",ng-src="{{homeCtrl.data.bannerSrc}}")
    img(ng-if="global.get('mobile').val",ng-src="{{homeCtrl.data.bannerSrc}}")
    div(class="box-overlay")
    div(class="half-shadow")
        div(class="banner-content" ng-if="homeCtrl.data.banner.button")
            h1(class="banner-header")
                span(ng-bind="homeCtrl.data.banner.desc")
        div(class="title-block text-center")
            div(class="banner-content", ng-if="homeCtrl.data.banner.button")
                span(ng-switch="homeCtrl.data.banner.link")
                    span(ng-switch-when="subscription")
                        a(set-animate,data-animation="animated8",data-animation-delay="02",class="btn btn-project btn-banner",ng-click="global.get('functions').val.witget('subscription')",ng-bind="homeCtrl.data.banner.text")
                    span(ng-switch-when="call")
                        a(set-animate,data-animation="animated8",data-animation-delay="02",class="btn btn-project btn-banner",ng-click="global.get('functions').val.witget('call')",ng-bind="homeCtrl.data.banner.text")
                    span(ng-switch-when="dateTime")
                        a(set-animate,data-animation="animated8",data-animation-delay="02",class="btn btn-project btn-banner",ng-click="global.get('functions').val.witget('dateTime')",ng-bind="homeCtrl.data.banner.text")
                    span(ng-switch-default="")
                        a(set-animate,data-animation="animated8",data-animation-delay="02",class="btn btn-project btn-banner",href="{{homeCtrl.data.banner.link}}",ng-bind="homeCtrl.data.banner.text")
div(class="clearfix")