if(i && i==1)
    - var id='arrowDownDiv'
    arrow-down
//- var id=(i && i==1)?'arrow-down':'';
div(id=id,ng-class="::{'home1-slides':!homeCtrl.template.slider.class,'home1-slides1':homeCtrl.template.slider.class==1,'home1-slides2':homeCtrl.template.slider.class==2,'home1-slides3':homeCtrl.template.slider.class==3,'home1-slides4':homeCtrl.template.slider.class==4,'home1-slides5':homeCtrl.template.slider.class==5}")
    gmall-slider(images="homeCtrl.data.imgs",index="photoIndex")