<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 sort-stuff" ng-if="$ctrl.item.sortsOfStuff.filter">
    <div ng-if="::$ctrl.item.sort">
        <!--<p>
            выберите {{$ctrl.getFilterName($ctrl.item.sortsOfStuff.filter)}}
        </p>-->
        <div class="sort" ng-init="stuff=$ctrl.item">
            <ui-select
                    ng-init="stuff.stock[stuff.sort].name=$ctrl.getTagName(stuff.sort)"
                    ng-model="stuff.sort"
                    ng-change="stuff.changeSortOfStuff()"
                    on-select="stuff.onSelected()"
                    append-to-body="true"
                    search-enabled="false">
                <ui-select-match placeholder="из {{$ctrl.getFilterName(stuff.sortsOfStuff.filter)}}">
                    <!-- <span ng-bind="getTagName($select.selected.tag)"></span>-->
                    {{$ctrl.getTagName($select.selected.tag)}}
                </ui-select-match>
                <ui-select-choices ui-disable-choice="!sort.value.quantity"
                                   repeat="sort.tag as (tag,sort) in stuff.stock|filter:stuff.filterSorts">
                    <span>{{sort.value.name=$ctrl.getTagName(sort.tag)}}</span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>


    <div ng-if="$ctrl.item.sortsOfStuff && $ctrl.item.sortsOfStuff.stuffs.length>1">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-repeat="item in $ctrl.item.sortsOfStuff.stuffs">
            <a ng-class="{'active':item._id==$ctrl.item._id}"
               ui-sref="stuffs.stuff({groupUrl:'group',categoryUrl:'category',stuffUrl:item.url})">
                <img class="img-responsive" ng-src="{{item.gallery[0].thumbSmall}}">
            </a>
        </div>
    </div>
    <div class="clearfix"></div>

</div>
