div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="sort-stuff", ng-if="$ctrl.item.sortsOfStuff.filter")
            div(class="sort-box")
                span(class="sort-name",ng-bind="$ctrl.item.filterName")
                span(class="sort-value")
                    span(class="sort repeat-modify",ng-repeat="item in $ctrl.item.stockKeysArray",ng-class="{'sort-active':$ctrl.item.sort==item._id}")
                        span(ng-bind="item.name",ng-class="{'nosort':!item.quantity}",ng-click="$ctrl.item.changeSortOfStuff(item._id)")
                    div(class="clearfix")
                div(class="clearfix")