div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="sort-stuff", ng-if="$ctrl.item.sortsOfStuff.filter")
            div(class="sort-box pull-left")
                span(class="sort repeat-modify",ng-repeat="key in $ctrl.item.stockKeysArray|filter:$ctrl.filterSorts",ng-class="{'sort-active':$ctrl.item.sort==key._id}")
                      span(ng-click="$ctrl.item.changeSortOfStuff(key._id)")
                              span(ng-bind="key.name")
            div(class="clearfix")
        div(class="clearfix")