div(class=dj[key].wrapclass+pullClass)
    div(class=mobileWrapper)
        div(class="icon")
            a(class="set-animate=dj[key].animate,data-animation=dj[key].animate",href="/home")
                span(class="icon-header-img")


