/*clinic, tatiana - zoom*/
.mytoggle-page {
    width: 100%;
}
.home-slides .substrate{
    position: relative;
    -webkit-transition: opacity 1.5s  ease-in-out 0.5s;
    -moz-transition: opacity 1.5s  ease-in-out 0.5s;
    -ms-transition: opacity 1.5s  ease-in-out 0.5s;
    -o-transition: opacity 1.5s  ease-in-out 0.5s;
    transition: opacity  1.5s ease-in-out 0.5s;
}
.home-slides .slide-fade{
    position: relative;
}
.home-slides {
    position: relative;
}
.box-overlay {
    background-attachment: scroll;
    background-repeat: repeat;
    background-image: none;
    background-position: 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s ease-out 0s;
    width: 100%;
    z-index: 1020;
}
.home-slides:hover .box-overlay {
    opacity: 0.3;
}

.carousel-indicators {
  z-index: 1025;
    width: 100%;
    margin-left: -50%;
}
.carousel-indicators li{
    height: 3px;
    opacity: 0.6;
    @if $color {
        background-color: $color;
        border: 2px solid $color;
    }
}
.carousel-indicators .active {
    height: 3px;
    background-color: transparent;
    opacity: 1;
    @if $color {
        border: 2px solid $color;
    }
}
.icon-zoom-img {
    display: inline-block;
}
.zoom-plus:hover .icon-zoom-img {
    display: none;
}
.icon-zoom-inverse {
    display: none;
}
.zoom-plus:hover .icon-zoom-inverse {
    display: inline-block;
}
/*.owl-theme .owl-dots .owl-dot span {
    background-color: #333;
    border: 1px solid #333;
}
.owl-theme .owl-dots .owl-dot.active span {
    background-color: #ccc;
    border: 1px solid #333;
}*/
.owl-theme .owl-dots .owl-dot span {
    border: none;
    width: 15px;
    height: 15px;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.84);
}
.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot.active span {
    opacity:1;
}

