@media  (max-width: 1500px) and (min-width: 1301px) {
  h1 {
    @if $top {
      top: $top*0.9;
    }
    @if $bottom {
      bottom: $bottom*0.9;
    }
    @if $right {
      right: $right*0.9;
    }
    @if $left {
      right: $left*0.9;
    }
    @if ($font-size) {
      @if $font-size>70px {
        font-size: $font-size*0.9;
      }
    }
  }
}
/*@media  (max-width: 1300px) and (min-width: 1025px) {
  h1 {
    @if ($font-size) {
      !*@if $font-size>70px {
        font-size: $font-size*0.8;
      }*!
      @if $letter-spacing {
        letter-spacing: $letter-spacing*0.8;
      }
    }
  }
}*/
/*@media  (max-width: 992px) and (min-width: 993px) {
  h1 {
    @if ($font-size) {
      @if $font-size>70px {
        font-size: $font-size*0.7;
      }
      @if $font-size==30px {
        font-size: $font-size*0.9;
      }
    }
    @if $letter-spacing {
      letter-spacing: $letter-spacing*0.7;
    }
    !*@if $letter-spacing==0 {
      letter-spacing: 0
    }*!
  }
}*/
/*.tablet-wrapper {
  h1 {
    @if $top {
      top: $top*0.75;
    }
    @if $bottom {
      bottom: $bottom*0.7;
    }
    @if $right {
      right: $right*0.7;
    }
    @if $left {
      left: $left*0.7;
    }
    @if $font-size==40px {
      font-size: $font-size*0.5;
    }
    @if $font-size==36px {
      font-size: $font-size*0.7;
    }
  }
}*/
/*.mobile-wrapper {
  h1 {
    @if $top {
      top: $top*0.5;
    }
    @if $bottom {
      bottom: $bottom*0.5;
    }
    @if $right {
      right: $right*0.1;
    }
    @if $left {
      left: $left*0.1;
    }
    @if $padding-left {
      padding-left: $padding-left*0.4;
    }
    @if $padding-right {
      padding-right: $padding-right*0.4;
    }
    @if $padding-top {
      padding-top: $padding-top*0.4;
    }
    @if $padding-bottom {
      padding-bottom: $padding-bottom*0.4;
    }
    @if $padding-right {
      padding-right: $padding-right*0.4;
    }
    @if ($font-size) {
      !*@if $font-size==60px {
        font-size: $font-size*0.5;
      }*!
      !*@if $font-size>70px {
        font-size: $font-size*0.5;
      }*!
      !*@if $font-size==30px {
        font-size: $font-size*0.8;
      }*!
      @if $font-size==36px {
        font-size: $font-size*0.7;
      }
      @if $font-size==35px {
        font-size: $font-size*0.7;
      }
      !*@if $font-size<30px {
        font-size: $font-size*0.8;
      }*!
    }
  }
}*/
/*
@media  (max-width: 1500px) {
  h1 {
    @if $top {
      top: $top*0.9;
    }
    @if $bottom {
      bottom: $bottom*0.9;
    }
    @if $right {
      right: $right*0.9;
    }
    @if $left {
      right: $left*0.9;
    }
    @if $font-size {
      font-size: $font-size*0.9;
    }
  }
}
@media  (max-width: 1300px) {
  h1 {
    @if $font-size {
      font-size: $font-size*0.8;
    }
    @if $letter-spacing {
      letter-spacing: $letter-spacing*0.8;
    }
  }
}
@media  (max-width: 992px) {
  h1 {
    @if $font-size {
      font-size: $font-size*0.7;
    }
    @if $letter-spacing {
      letter-spacing: $letter-spacing*0.7;
    }
    !*@if $letter-spacing==0 {
      letter-spacing: 0
    }*!
  }
}
.tablet-wrapper {
  h1 {
    @if $top {
      top: $top*0.75;
    }
    @if $bottom {
      bottom: $bottom*0.7;
    }
    @if $right {
      right: $right*0.7;
    }
    @if $left {
      left: $left*0.7;
    }
  }
}
.mobile-wrapper {
  h1 {
    @if $top {
      top: $top*0.5;
    }
    @if $bottom {
      bottom: $bottom*0.5;
    }
    @if $right {
      right: $right*0.1;
    }
    @if $left {
      left: $left*0.1;
    }
    @if $font-size {
      font-size: $font-size*0.5;
    }
  }
}

*/
