  script(src='scripts/myPrototype.js')
  script(src='scripts/angular-node.js')
  script(src='crawler.scripts.min.js')

  script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='bower_components/arrive/src/arrive.js')
  script(src='bower_components/bootstrap-material-design/dist/js/material.js')
  script(src='bower_components/bootstrap-material-design/dist/js/ripples.min.js')
  script(src='assets/jquery.dropdown.js')

  script(src='bower_components/angular-socket-io/socket.js')
  script(src='bower_components/angular-cookies/angular-cookies.js')
  script(src='bower_components/angular-touch/angular-touch.js')
  script(src='/bower_components/angular-ui-mask/dist/mask.min.js')
  script(src='bower_components/AngularJS-Toaster/toaster.min.js')




  // дата пикер
  script(src='bower_components/bootstrap-daterangepicker/daterangepicker.js')
  script(src='bower_components/angular-daterangepicker/js/angular-daterangepicker.js')

  script(src='scripts/angular-drag-and-drop-lists.js')


  script(src='modules/order/js/app.js')
  script(src='modules/order/js/controllers.js')
  script(src='modules/order/js/services.js')
  script(src='modules/order/js/directives.js')


  // auth
  script(src='components/sign-login/scripts/sign-login.component.js')
  script(src='components/directives/check-password-match.directive.js')

  //services
  script(src='components/services/factory.exeption.js')
  script(src='components/services/confirm.factory.js')
  script(src='components/services/interceptor.factory.js')
  script(src='components/storeSetting/scripts/store-seller.service.js')

  script(src='components/sections/scripts/service.sections.js')
  script(src='components/sections/scripts/category.service.js')
  script(src='components/brand/scripts/service.brands.js')
  script(src='components/stuff/scripts/controller.stuff.js')
  script(src='components/stuff/scripts/stuff.service.js')
  script(src='components/stuff/scripts/stuff-download.component.js')
  script(src='components/filters/scripts/service.filters.js')
  script(src='components/filters/scripts/filterTags.service.js')


  script(src='scripts/service.global.js')
  script(src='scripts/service.helper.js')
  script(src='scripts/service.email.js')

  // order
  script(src='components/order/scripts/service.order.js')
  script(src='components/order/scripts/order.service.js')
  script(src='components/order/scripts/cart-in-order.service.js')
  script(src='components/order/scripts/controller.order.js')
  script(src='components/order/scripts/directive.order.js')
  script(src='components/order/scripts/order-list.component.js')
  script(src='components/order/scripts/order-item.component.js')


  // notification
  script(src='components/notification/scripts/service.notification.js')
  script(src='components/notification/scripts/controller.notification.js')

  // chat
  script(src='components/chat/scripts/service.chat.js')
  script(src='components/chat/scripts/controller.chat.js')
  script(src='components/chat/scripts/directive.chat.js')
  script(src='components/chat/scripts/chat.component.js')

  // dialogs
  script(src='components/dialogs/scripts/service.dialog.js')
  script(src='components/dialogs/scripts/controller.dialog.js')
  script(src='components/dialogs/scripts/directive.dialog.js')

  // user
  script(src='components/user/scripts/service.user.js')
  script(src='components/user/scripts/controller.user.js')
  script(src='components/user/scripts/directive.user.js')
  //comment
  script(src='components/comment/scripts/service.comment.js')
  script(src='components/comment/scripts/comment-list.component.js')
  //store
  script(src='components/storeSetting/scripts/store-seller.service.js')
  script(src='components/storeSetting/scripts/component.storeSetting.js')

  // directives
  script(src='components/directives/directive.focus-element.js')
  script(src='components/directives/directive.select-drop-down.js')
  script(src='components/paginator/scripts/component.paginator.js')
  script(src='components/directives/directive.lost-focus.js')
  script(src='components/directives/ng-autocomplite-city.directive.js')



  script(src='scripts/service.brandcollections.js')
  script(src='scripts/service.anchorSmoothScroll.js')
  script(src='components/services/service.print.js')

  script(src='scripts/directive.datePicker.js')
  script(src='scripts/directive.editNote.js')


  // online entry
  script(src='components/ORDERS/online/scripts/online.service.js')
  script(src='components/ORDERS/online/scripts/online-list.component.js')

  script(src='components/CONTENT/master/scripts/master.service.js')
  script(src='components/PROMO/coupon/scripts/coupon.service.js')
  script(src='components/call/scripts/directive.call.js')
  script(src='components/externalCatalog/externalCatalog.component.js')
  script(src='scripts/globalVariable.js')