<div class="select-modal">
    <div class="modal-header">
        <h3 class="modal-title text-center" ng-bind="$ctrl.header"></h3>
        <a class="cancel"  ng-click="$ctrl.cancel()"></a>
    </div>
    <div class="modal-body">

        <ul>
            <li ng-repeat="item in $ctrl.items">
                <a ng-click="$ctrl.selectItem(item)">
                    <span ng-bind="item.nameTemplate"></span>
                </a>
            </li>
        </ul>

        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>

    <div class="clearfix"></div>
</div>