.hideLink {
    display: none;
}
.collapsedText{
    overflow-y: hidden;
    min-height: 100px;
    transition: all ease-in-out 1.5s;
}
.textInBlock {
    transition: all ease-in-out 1.5s;
}
.textInBlock.collapsedText {
    box-shadow: inset 0px -95px 70px -35px white;
    transition: all ease-in-out 0.5s;
}
.textInBlock.collapsedText .desc {
    position: relative;
    z-index: -1;
}
.textInBlock .desc {
    z-index: 1;
}