div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="textInBlock",ng-class="{'collapsedText':!collapsedText}")
            div(class="desc",ng-bind-html="$ctrl.item.desc|unsafe")
        p(class="read")
            a(class="roll-up",ng-class="{'hideLink':!collapsedText}",ng-click="collapsedText=false")
                //span(class="pull-right icon-delete-img")
                span(class="")=lang['rollUp']
                div(class="clearfix")
            a(class="read-more",ng-class="{'hideLink':collapsedText}",ng-click="collapsedText=true")
                //span(class="pull-right icon-plus-img")
                span()=lang['readMore']
                div(class="clearfix")
        div(class="clearfix")