/*dtn*/
.panel-default > .panel-heading {
    background-color: transparent;
    border: none;
}

.panel-group .panel {
    border: none;
    box-shadow: none;
    background-color: transparent;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    background-color: transparent;
    border: none;
}

