div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="goods-record",style="position: relative")
            a
                img(src="views/template/img/assets/call3.jpg")
            div(class="blur")
                img(src="views/template/img/assets/call3.jpg")
            div(class="goods-record-desc")

                div(class="container")
                    //,set-animate=dj[key].animate,data-animation=dj[key].animate
                    h1(class="goods-record-name")
                        | портфолио
                    p Ваши эмоции, чувства, мечты способны вдохновлять! А это значит, что ваша свадьба будет уникальной, такой же неповторимой, как и вы сами. Команда Студии с радостью поможет вам в этом!
                    //a(class="btn btn-project", ng-click="$ctrl.global.get('functions').val.witget('call')")
                            | записаться