<div class="goods-record" style="position: relative">
    <a>
        <img src="views/template/img/assets/call.jpg" >
    </a>

    <div class=" goods-record-desc text-center" set-animate data-animation="animated6" data-animation-delay="03">
        <h3 class="goods-record-name">
            <span>бесплатная консультация</span><br>
            <span> по телефону</span>
        </h3>

        <a class="btn btn-project"  ng-click="$ctrl.global.get('functions').val.witget('call')">
            записаться
        </a>
    </div>
</div>