div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="goods-record",style="position: relative")
            a(class="btn btn-project-inv", ng-click="$ctrl.global.get('functions').val.witget('call')")
                | записаться на фотосессию
