<div class="template-list base-setting" ng-class="{'template-list-mobile':$ctrl.global.get('mobile').val}" ng-if="$ctrl.item.index">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="cart-detail">
            <h4 class="text-center name-box">база</h4>
            <p class="text-center box-style" >
                <span><small>body</small></span><br>
                <a class="btn btn-fab btn-fab-mini btn-primary"  title="загрузить шаблон" ng-click="$ctrl.downloadPartOfTemplate('index.body')">
                    <i class="material-icons">vertical_align_bottom</i>
                </a>
                <a class="btn btn-fab btn-fab-mini btn-info pull-right" ng-click="$ctrl.setColor($ctrl.item.index.body,'index.body',true)">
                    <i class="material-icons">opacity</i>
                </a>
            </p>
            <p class="text-center box-style">
                <span><small>модальные<br> окна</small></span><br>
                <a class="btn btn-fab btn-fab-mini btn-primary" title="загрузить шаблон" ng-click="$ctrl.downloadPartOfTemplate('index.modalProject.styles')" title="загрузить из шаблона">
                    <i class="material-icons">vertical_align_bottom</i>
                </a>
                <a class="btn btn-fab btn-fab-mini btn-info pull-right" ng-click="$ctrl.setColor($ctrl.item.index.modalProject.styles,'index.modalProject.styles',true)">
                    <i class="material-icons">opacity</i>
                </a>
                <span class="clearfix"></span>
            </p>
            <p class="text-center box-style">
                <span><small>экран<br> загрузки</small></span><br>
                <a class="btn btn-fab btn-fab-mini btn-primary"  title="загрузить шаблон" ng-click="$ctrl.downloadPartOfTemplate('index.dimScreen')" title="загрузить из шаблона">
                    <i class="material-icons">vertical_align_bottom</i>
                </a>
                <a class="btn btn-fab btn-fab-mini btn-info pull-right"  ng-click="$ctrl.setColor($ctrl.item.index.dimScreen,'index.dimScreen',true)">
                    <i class="material-icons">opacity</i>
                </a>
                <span class="clearfix"></span>
            </p>
            <p class="text-center box-style">
                <span><small>затемнение<br> экрана</small></span><br>
                <a class="btn btn-fab btn-fab-mini btn-primary" title="загрузить шаблон" ng-click="$ctrl.downloadPartOfTemplate('index.modalBackdropClass')" title="загрузить из шаблона">
                    <i class="material-icons">vertical_align_bottom</i>
                </a>
                <a class="btn btn-fab btn-fab-mini btn-info pull-right"  ng-click="$ctrl.setColor($ctrl.item.index.modalBackdropClass,'index.modalBackdropClass',true)">
                    <i class="material-icons">opacity</i>
                </a>
                <span class="clearfix"></span>
            </p>
            <p class="text-center box-style">
                <span><small>ссылки<br> проекта</small></span><br>
                <a class="btn btn-fab btn-fab-mini btn-info"  ng-click="$ctrl.setColor($ctrl.item.index.link,'index.link',true)">
                    <i class="material-icons">opacity</i>
                </a>
                <span class="clearfix"></span>
            </p>
            <p class="text-center box-style">
                <span><small>шаблон ссылок</small></span><br>
                <ui-select ng-model="$ctrl.item.index.linkFile" append-to-body="true" skip-focusser="true" search-enabled="false"
                           ng-change="$ctrl.saveFieldTemplate('index.linkFile',$ctrl.item.index.linkFile)">
                    <ui-select-match placeholder="номер шаблона">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="opt in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">{{ opt }}</ui-select-choices>
                </ui-select>
            </p>
        </div>
        <div class="cart-detail">
            <div class="text-center">
                <h4 class="text-center name-box">шрифты</h4>
                <ui-select multiple ng-model="$ctrl.item.index.fontFaces" skip-focusser="true" search-enabled="false"
                           ng-change="$ctrl.saveFieldTemplate('index.fontFaces',$ctrl.item.index.fontFaces)">
                    <ui-select-match  allow-clear="true"placeholder="font family">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="opt in $ctrl.fontFaces">{{ opt }}</ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="cart-detail">
            <h4 class="text-center  name-box">слайд-панель</h4>
            <p class="text-center box-style">
                <span><small>панель<br> МЕНЮ</small></span><br>
                <a class="btn btn-fab btn-fab-mini btn-primary" title="загрузить шаблон" ng-click="$ctrl.downloadPartOfTemplate('index.slideMenu')" title="загрузить из шаблона">
                    <i class="material-icons">vertical_align_bottom</i>
                </a>
                <a class="btn btn-fab btn-fab-mini btn-info pull-right"  ng-click="$ctrl.setColor($ctrl.item.index.slideMenu,'index.slideMenu',true)">
                    <i class="material-icons">opacity</i>
                </a>
                <span class="clearfix"></span>
            </p>
            <p class="text-center box-style">
                <span><small>панель<br> ЧАТ</small></span><br>
                <a class="btn btn-fab btn-fab-mini btn-primary" title="загрузить шаблон" ng-click="$ctrl.downloadPartOfTemplate('index.slideChat')" title="загрузить из шаблона">
                    <i class="material-icons">vertical_align_bottom</i>
                </a>
                <a class="btn btn-fab btn-fab-mini btn-info pull-right"  ng-click="$ctrl.setColor($ctrl.item.index.slideChat,'index.slideChat',true)">
                    <i class="material-icons">opacity</i>
                </a>
                <span class="clearfix"></span>
            </p>
            <p class="text-center box-style">
                <span><small>панель<br> КОРЗИНА</small></span><br>
                <a class="btn btn-fab btn-fab-mini btn-primary" title="загрузить шаблон" ng-click="$ctrl.downloadPartOfTemplate('index.slideCart')" title="загрузить из шаблона">
                    <i class="material-icons">vertical_align_bottom</i>
                </a>
                <a class="btn btn-fab btn-fab-mini btn-info pull-right"  ng-click="$ctrl.setColor($ctrl.item.index.slideCart,'index.slideCart',true)">
                    <i class="material-icons">opacity</i>
                </a>

                <span class="clearfix"></span>
            </p>
            <p class="text-center box-style">
                <span style="display: inline-block"><small>панель<br> ОН-ЛАЙН</small></span><br>
                <a class="btn btn-fab btn-fab-mini btn-primary"  title="загрузить шаблон"ng-click="$ctrl.downloadPartOfTemplate('index.slideEntry')" title="загрузить из шаблона">
                    <i class="material-icons">vertical_align_bottom</i>
                </a>
                <a class="btn btn-fab btn-fab-mini btn-info pull-right"  ng-click="$ctrl.setColor($ctrl.item.index.slideEntry,'index.slideEntry',true)">
                    <i class="material-icons">opacity</i>
                </a>
                <span class="clearfix"></span>
            </p>
        </div>
        <div class="cart-detail">
            <h4 class="text-center  name-box">кнопки</h4>
            <p class="text-center box-style pull-left">
                <span><small>кнопка<br> вниз</small></span><br>
                <a class="btn btn-fab btn-fab-mini btn-primary" title="загрузить шаблон" ng-click="$ctrl.downloadPartOfTemplate('index.arrowDown')" title="загрузить из шаблона">
                    <i class="material-icons">vertical_align_bottom</i>
                </a>
                <a class="btn btn-fab btn-fab-mini btn-info pull-right"  ng-click="$ctrl.setColor($ctrl.item.index.arrowDown,'index.arrowDown',true)">
                    <i class="material-icons">opacity</i>
                </a>
                <span class="clearfix"></span>
            </p>
            <p class="text-center box-style pull-left">
                <span><small>кнопка<br> вверх</small></span><br>
                <a class="btn btn-fab btn-fab-mini btn-primary" title="загрузить шаблон" ng-click="$ctrl.downloadPartOfTemplate('index.arrowUp')" title="загрузить из шаблона">
                    <i class="material-icons">vertical_align_bottom</i>
                </a>
                <a class="btn btn-fab btn-fab-mini btn-info pull-right"  ng-click="$ctrl.setColor($ctrl.item.index.arrowUp,'index.arrowUp',true)">
                    <i class="material-icons">opacity</i>
                </a>
                <span class="clearfix"></span>
            </p>
            <p class="text-center box-style pull-right">
                <span class="text-center"><span><small>кнопки<br>проекта</small></span></span><br>
                <a class="btn btn-fab btn-fab-mini btn-info"  ng-click="$ctrl.setColor($ctrl.item.index.button,'index.button',true)">
                    <i class="material-icons">opacity</i>
                </a>
                <span class="clearfix"></span>
            </p>
            <p class="text-center box-style pull-right">
                <span class="text-center"><span><small>шаблон<br>кнопок</small></span></span><br>
                <ui-select  ng-model="$ctrl.item.index.buttonColorFile" skip-focusser="true" search-enabled="false"
                            ng-change="$ctrl.saveFieldTemplate('index.buttonColorFile',$ctrl.item.index.buttonColorFile)">
                    <ui-select-match placeholder="choice file of color">{{$select.selected.value}}</ui-select-match>
                    <ui-select-choices repeat="item.key as (key, item) in $ctrl.tableOfColorsForButton">{{ item.value }}</ui-select-choices>
                </ui-select>
                <ui-select ng-model="$ctrl.item.index.buttonFile" skip-focusser="true" search-enabled="false"
                           ng-change="$ctrl.saveFieldTemplate('index.buttonFile',$ctrl.item.index.buttonFile)">
                    <ui-select-match placeholder="choice file of button">{{$select.selected.value}}</ui-select-match>
                    <ui-select-choices repeat="item.key as (key, item) in $ctrl.tableOfButtonsFile">{{ item.value }}</ui-select-choices>
                </ui-select>
            </p>
            <span class="clearfix"></span>
        </div>
    </div>
    <span class="clearfix"></span>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="cart-detail">
            <h4 class="text-center name-box">цвета проекта</h4>
            <div class="text-center box-color">
                <span><small>основной цвет проекта mainColor</small></span>
                <div class="input-group">
                    <span class="input-group-addon">
                        <a class="btn btn-fab btn-fab-mini btn-pink" colorpicker="rgba" colorpicker-position="bottom" ng-model="$ctrl.item.index.mainColor">
                            <i class="material-icons">color_lens</i>
                        </a>
                    </span>
                    <input type="text" class="form-control" placeholder="color"ng-model="$ctrl.item.index.mainColor"
                           ng-change="$ctrl.saveFieldTemplate('index.mainColor',$ctrl.item.index.mainColor)">
                    <span class="input-group-addon" >
                        <a class="btn btn-fab btn-fab-mini btn-success" ng-click="$ctrl.saveFieldTemplate('index.mainColor',$ctrl.item.index.mainColor)">
                            <i class="material-icons">save</i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="text-center box-color">
                <span><small>первый цвет проекта addColor1</small></span>
                <div class="input-group">
                    <span class="input-group-addon">
                        <a class="btn btn-fab btn-fab-mini btn-pink"  colorpicker="rgba" colorpicker-position="bottom" ng-model="$ctrl.item.index.addColor1">
                            <i class="material-icons">color_lens</i>
                        </a>
                    </span>
                    <input type="text" class="form-control" placeholder="color"ng-model="$ctrl.item.index.addColor1"
                           ng-change="$ctrl.saveFieldTemplate('index.addColor1',$ctrl.item.index.addColor1)">
                    <span class="input-group-addon" >
                        <a class="btn btn-fab btn-fab-mini btn-success" ng-click="$ctrl.saveFieldTemplate('index.addColor1',$ctrl.item.index.addColor1)">
                            <i class="material-icons">save</i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="text-center">
                <span><small>второй цвет проекта addColor2</small></span>
                <div class="input-group">
                    <span class="input-group-addon">
                        <a  class="btn btn-fab btn-fab-mini btn-pink"colorpicker="rgba" colorpicker-position="bottom" ng-model="$ctrl.item.index.addColor2">
                            <i class="material-icons">color_lens</i>
                        </a>
                    </span>
                    <input type="text" class="form-control" placeholder="color"ng-model="$ctrl.item.index.addColor2"
                           ng-change="$ctrl.saveFieldTemplate('index.addColor2',$ctrl.item.index.addColor2)">
                    <span class="input-group-addon" >
                        <a class="btn btn-fab btn-fab-mini btn-success" ng-click="$ctrl.saveFieldTemplate('index.addColor2',$ctrl.item.index.addColor2)">
                            <i class="material-icons">save</i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="text-center">
                <span><small>третий цвет проекта addColor3</small></span>
                <div class="input-group">
                    <span class="input-group-addon">
                        <a class="btn btn-fab btn-fab-mini btn-pink" colorpicker="rgba" colorpicker-position="bottom" ng-model="$ctrl.item.index.addColor3">
                            <i class="material-icons">color_lens</i>
                        </a>
                    </span>
                    <input type="text" class="form-control" placeholder="color"ng-model="$ctrl.item.index.addColor3"
                           ng-change="$ctrl.saveFieldTemplate('index.addColor3',$ctrl.item.index.addColor3)">
                    <span class="input-group-addon" >
                        <a class="btn btn-fab btn-fab-mini btn-success" ng-click="$ctrl.saveFieldTemplate('index.addColor3',$ctrl.item.index.addColor3)">
                            <i class="material-icons">save</i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="text-center">
                <span><small>четвертый цвет проекта addColor4</small></span>
                <div class="input-group">
                    <span class="input-group-addon">
                        <a class="btn btn-fab btn-fab-mini btn-pink" colorpicker="rgba" colorpicker-position="bottom" ng-model="$ctrl.item.index.addColor4">
                            <i class="material-icons">color_lens</i>
                        </a>
                    </span>
                    <input type="text" class="form-control" placeholder="color"ng-model="$ctrl.item.index.addColor4"
                           ng-change="$ctrl.saveFieldTemplate('index.addColor4',$ctrl.item.index.addColor4)">
                    <span class="input-group-addon" >
                        <a class="btn btn-fab btn-fab-mini btn-success" ng-click="$ctrl.saveFieldTemplate('index.addColor4',$ctrl.item.index.addColor4)">
                            <i class="material-icons">save</i>
                        </a>
                    </span>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="cart-detail">
            <h4 class="text-center name-box">элементы модальных окон</h4>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <ui-select ng-model="$ctrl.element" skip-focusser="true" search-enabled="false"
                           ng-change="$ctrl.indexAddElement($ctrl.item.index.modalProject)">
                    <ui-select-match placeholder="выбрать элемент">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="opt in $ctrl.listElements|filter:$ctrl.filterListElements">{{ opt }}</ui-select-choices>
                </ui-select>
            </div>
            <div class="name-class col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group label-floating" style="margin-top: 0">
                    <input type="text" class="form-control pull-left" placeholder="наименование класса" ng-model="$ctrl.selectors.modalwindow" style="width: 75%">
                    <a class="btn btn-fab btn-fab-mini btn-success pull-right" ng-click="$ctrl.indexAddSelector('modalwindow',$ctrl.item.index.modalProject)">
                        <i class="material-icons">add</i>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p class="info-text col-lg-10 col-md-10 col-sm-10 col-xs-10">
                для указания .class.class запись class__class<br>
                для указания class:hover запись class&hover<br>
                для указания element:hover запись &elevent&hover
            </p>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <a class="btn btn-fab btn-fab-mini btn-success pull-right" ng-click="$ctrl.saveFieldTemplate('index.modalProject.elements',$ctrl.item.index.modalProject.elements)">
                    <i class="material-icons">save</i>
                </a>
            </div>
            <div class="mb-10"  ng-repeat="(element,item) in $ctrl.item.index.modalProject.elements">
                <h4 class="col-lg-6 col-md-6 col-sm-8 col-xs-7" ng-bind="element"></h4>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-5">
                    <a class="btn btn-fab btn-fab-mini btn-warning pull-right" ng-click="$ctrl.indexDeleteElement($ctrl.item.index.modalProject.elements,element)">
                        <i class="material-icons">delete</i>
                    </a>
                    <a class="btn btn-fab btn-fab-mini btn-info pull-right"  ng-click="$ctrl.setColor(item,'index.modalProject.elements.'+element,true)">
                        <i class="material-icons ">opacity</i>
                    </a>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <hr>
            </div>
            <div class="clearfix"></div>
            <a class="btn btn-fab btn-fab-mini btn-success pull-right" ng-click="$ctrl.saveFieldTemplate('index.modalProject.elements',$ctrl.item.index.modalProject.elements)">
                <i class="material-icons">save</i>
            </a>
            <a class="btn btn-fab btn-fab-mini btn-primary pull-left"  ng-click="$ctrl.downloadPartOfTemplate('index.modalProject.elements')" title="загрузить из шаблона">
                <i class="material-icons" title="загрузить шаблон">vertical_align_bottom</i>
            </a>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="cart-detail">
            <h4 class="text-center name-box">элементы body</h4>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <ui-select ng-model="$ctrl.element" skip-focusser="true" search-enabled="false"
                           ng-change="$ctrl.addElementInMain()">
                    <ui-select-match placeholder="выбрать элемент">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="opt in $ctrl.listElements|filter:$ctrl.filterMainElements">{{ opt }}</ui-select-choices>
                </ui-select>
            </div>
            <div class="name-class col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group label-floating" style="margin-top: 0">
                    <!--<label class="control-label">наименование класса</label>-->
                    <input type="text" class="form-control pull-left" placeholder="наименование класса" ng-model="$ctrl.selectors['index']" style="width: 75%">
                    <a class="btn btn-fab btn-fab-mini btn-success pull-right" ng-click="$ctrl.indexAddSelector('index',$ctrl.item.index)">
                        <i class="material-icons">add</i>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>

            <p class="info-text col-lg-10 col-md-10 col-sm-10 col-xs-10">
                для указания .class.class запись class__class<br>
                для указания class:hover запись class&hover<br>
                для указания element:hover запись &elevent&hover
            </p>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <a class="btn btn-fab btn-fab-mini btn-success pull-right" ng-click="$ctrl.saveFieldTemplate('index.elements',$ctrl.item.index.elements)">
                    <i class="material-icons">save</i>
                </a>
            </div>
            <div class="clearfix"></div>
            <div class="mb-10" ng-repeat="(element,item) in $ctrl.item.index.elements">
                <h4 class="col-lg-6 col-md-6 col-sm-8 col-xs-7" ng-bind="element"></h4>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-5">
                    <a class="btn btn-fab btn-fab-mini btn-warning pull-right" ng-click="$ctrl.indexDeleteElement($ctrl.item.index.elements,element)">
                        <i class="material-icons">delete</i>
                    </a>
                    <a class="btn btn-fab btn-fab-mini btn-info pull-right"  ng-click="$ctrl.setColor(item,'index.elements.'+element,true)">
                        <i class="material-icons ">opacity</i>
                    </a>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <hr>
            </div>
            <div class="clearfix"></div>
            <a class="btn btn-fab btn-fab-mini btn-success pull-right" ng-click="$ctrl.saveFieldTemplate('index.elements',$ctrl.item.index.elements)">
                <i class="material-icons">save</i>
            </a>
            <a class="btn btn-fab btn-fab-mini btn-primary pull-left"  ng-click="$ctrl.downloadPartOfTemplate('index.elements')" title="загрузить из шаблона">
                <i class="material-icons" title="загрузить шаблон">vertical_align_bottom</i>
            </a>
            <span class="clearfix"></span>
        </div>
    </div>

    <div class="clearfix"></div>
</div>