<div class="template-list" ng-class="{'template-list-mobile':$ctrl.global.get('mobile').val}">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paps">
        <div class="cart-detail">
            <h4 class="text-center name-box">страницы cенкью пейдж</h4>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <ui-select ng-model="$ctrl.item.paps.templ" skip-focusser="true" search-enabled="false"
                           ng-change="$ctrl.saveFieldTemplate('paps.templ',$ctrl.item.paps.templ)">
                    <ui-select-match placeholder="шаблон">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="opt in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">{{ opt }}</ui-select-choices>
                </ui-select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <ui-select ng-model="$ctrl.item.paps.style" skip-focusser="true" search-enabled="false"
                           ng-change="$ctrl.saveFieldTemplate('paps.style',$ctrl.item.paps.style)">
                    <ui-select-match placeholder="стиль">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="opt in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">{{ opt }}</ui-select-choices>
                </ui-select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right style-box">
                <a class="btn btn-fab btn-fab-mini btn-info" ng-click="$ctrl.setColor($ctrl.item.paps,'paps')" style="margin-top: 0">
                    <i class="material-icons" title="настроить стили">opacity</i>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>