<div class="template-list" ng-show="$ctrl.block=='stats'"  ng-init="displayHelp=false">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3 class="text-center name-page">компоненты статической страницы</h3>
    <div class="cart-detail">
        <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 head-box text-center">первая колонка</div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  head-box text-center">вторая колонка</div>
        <div class="clearfix"></div>
        <div class="menu-box">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 head-box"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 head-box">название</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 head-box">наличие</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 head-box">номер шаблона</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 head-box"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 head-box">название</div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 head-box">наличие</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 head-box">номер шаблона</div>
            <div class="clearfix"></div>
        </div>
        <hr>
        <div class="part-box">
            <div class="dropzone">
                <ul class="col-lg-6  col-md-6 col-sm-12 col-xs-12"
                    dnd-list="$ctrl.item.statTempl[0]"
                    dnd-drop="$ctrl.dropCallbackStatTempl(item)"
                    dnd-allowed-types="['stuff']">
                    <li ng-if="!$ctrl.item.stuffDetail[0].length">
                        <p>добавить</p>
                    </li>
                    <li ng-repeat="block in $ctrl.item.statTempl[0]"
                        dnd-draggable="block"
                        dnd-type="'stuff'"
                        dnd-effect-allowed="move"
                        dnd-moved="$ctrl.item.statTempl[0].splice($index,1)"
                        dnd-selected="models.selected = item"
                        ng-class="{selected: models.selected === item,bgcolor_one:($index%2==0),bgcolor_two:($index%2!=0)}">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 head-box form-group">
                            <!--<i class="material-icons link-success">open_with</i>-->
                            <i class="material-icons link-success">swap_vert</i>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                                         <span ng-switch="block.name">
                                             <span ng-switch-when="gallery">баннер</span>
                                             <span ng-switch-when="gallery">фото 1</span>
                                             <span ng-switch-when="comments">фото 2</span>
                                             <span ng-switch-when="lastViewed">фото 3</span>
                                             <span ng-switch-when="sort">фото 4</span>
                                             <span ng-switch-when="addInfo">фото 5</span>
                                             <span ng-switch-when="desc">фото 6</span>
                                             <span ng-switch-when="addToCart">описание 1</span>
                                             <span ng-switch-when="price">описание 2</span>
                                             <span ng-switch-when="qty">описание 3 </span>
                                             <span ng-switch-when="addToCart">описание 4</span>
                                             <span ng-switch-when="price">описание 5</span>
                                             <span ng-switch-when="qty">описание 6 </span>

                                         </span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input ng-change="$ctrl.saveField('stuffDetail')" ng-model="block.is" type="checkbox"/>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <ui-select ng-model="$ctrl.item.statTempl" skip-focusser="true" search-enabled="false"
                                       ng-change="$ctrl.saveField('statTempl')">
                                <ui-select-match placeholder="номер">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="opt in [0,1,2,3,4,5,6]">{{ opt }}</ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
                <ul  class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                     dnd-list="$ctrl.item.statTempl[1]"
                     dnd-drop="$ctrl.dropCallbackStatTempl(item)"
                     dnd-allowed-types="['stuff']">
                    <li ng-if="!$ctrl.item.statTempl[1].length">
                        <div class="row">
                            <span>добавить</span>
                        </div>
                    </li>
                    <li ng-if="!$ctrl.item.statTempl[0].length">
                        <div class="row">
                            <span>добавить</span>
                        </div>
                    </li>
                    <li ng-repeat="block in $ctrl.item.statTempl[1]"
                        dnd-draggable="block"
                        dnd-type="'stuff'"
                        dnd-effect-allowed="move"
                        dnd-moved="$ctrl.item.statTempl[1].splice($index,1)"
                        dnd-selected="models.selected = item"
                        ng-class="{selected: models.selected === item,bgcolor_one:($index%2==0),bgcolor_two:($index%2!=0)}" >
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 head-box form-group">
                            <!--<i class="material-icons link-success">open_with</i>-->
                            <i class="material-icons link-success">swap_vert</i>
                        </div>
                        <!--<pre>{{component|json}}</pre>-->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                                            <span ng-switch="block.name">
                                             <span ng-switch-when="gallery">баннер</span>
                                             <span ng-switch-when="gallery">фото 1</span>
                                             <span ng-switch-when="comments">фото 2</span>
                                             <span ng-switch-when="lastViewed">фото 3</span>
                                             <span ng-switch-when="sort">фото 4</span>
                                             <span ng-switch-when="addInfo">фото 5</span>
                                             <span ng-switch-when="desc">фото 6</span>
                                             <span ng-switch-when="addToCart">описание 1</span>
                                             <span ng-switch-when="price">описание 2</span>
                                             <span ng-switch-when="qty">описание 3 </span>
                                             <span ng-switch-when="addToCart">описание 4</span>
                                             <span ng-switch-when="price">описание 5</span>
                                             <span ng-switch-when="qty">описание 6 </span>

                                         </span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input ng-change="$ctrl.saveField('statTempl')" ng-model="block.is" type="checkbox"/>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <!--<pre>{{component.templ|json}}</pre>-->
                            <ui-select ng-model="$ctrl.item.statTempl" skip-focusser="true" search-enabled="false"
                                       ng-change="$ctrl.saveField('statTempl')">
                                <ui-select-match placeholder="номер">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="opt in [0,1,2,3,4,5,6]">{{ opt }}</ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="clearfix"></div>

                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <!--<div class="container">
                <h4 class="text-center name-page">заголовки подразделов описания товара</h4>
                <p>если вы хотите, чтобы описание товара было разделено на подразделы или выведенно в виде табов (например, описание, технические характеристики и т.п., то внесите названия заголовков  в поля</p>
                <div class="form-group label-floating">
                    <label for="headDesc" class="control-label">заголовок 1</label>
                    <input type="text"
                           placeholder="headDesc"
                           id="headDesc"
                           class="form-control name"
                           ng-model="$ctrl.item.headDesc"
                           lost-focus="$ctrl.saveField('headDesc')"
                            />
                </div>
                <div class="form-group label-floating">
                    <label for="headDesc1" class="control-label">заголовок 2</label>
                    <input type="text"
                           placeholder="headDesc1"
                           id="headDesc1"
                           class="form-control name"
                           ng-model="$ctrl.item.headDesc1"
                           lost-focus="$ctrl.saveField('headDesc1')"
                            />
                </div>
                <div class="form-group label-floating">
                    <label for="headDesc2" class="control-label">заголовок 3</label>
                    <input type="text"
                           placeholder="headDesc2"
                           id="headDesc2"
                           class="form-control name"
                           ng-model="$ctrl.item.headDesc2"
                           lost-focus="$ctrl.saveField('headDesc2')"/>
                </div>
            </div>-->
        </div>
    </div>
</div>
</div>





   <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="cart-detail">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 head-box">название</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 head-box">наличие</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 head-box">номер шаблона</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 head-box">количество блоков</div>
            <div class="clearfix"></div>
            <hr>

            <div class="row">
                <div class="col-lg-2">
                    статические страницы
                </div>
                <div class="col-lg-2">
                </div>
                <div class="col-lg-2">
                    <ui-select ng-model="$ctrl.item.statTempl" skip-focusser="true" search-enabled="false"
                               ng-change="$ctrl.saveField('statTempl')">
                        <ui-select-match placeholder="выберите номер">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="opt in [0,1,2,3,4,5,6]">{{ opt }}</ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
</div>-->