<div class="template-list" ng-class="{'template-list-mobile':$ctrl.global.get('mobile').val}">
    <div class="block-tab">
        <div class="btn-group btn-group-justified btn-group-raised">
            <a class="btn" ng-class="{'active':$ctrl.type=='good'}"ng-click="$ctrl.type='good'"><span class="link-success">карточка 1</span></a>
            <a class="btn" ng-class="{'active':$ctrl.type=='service'}"ng-click="$ctrl.type='service'"><span class="link-success">карточка 2<br> услуга</span></a>
            <a class="btn" ng-class="{'active':$ctrl.type=='info'}"ng-click="$ctrl.type='info'"><span class="link-success">карточка 3<br> инфо</span></a>
            <a class="btn" ng-class="{'active':$ctrl.type=='media'}"ng-click="$ctrl.type='media'"><span class="link-success">карточка 4<br> медиа</span></a>
        </div>
    </div>
    <div class="setting-stuff" ng-init="$ctrl.type='good'">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="cart-detail text-center">
                <h4 class="name-box ">разделы  с этим типом карточки </h4>
                <span class="section-cart" ng-repeat="section in $ctrl.sections">
                    <span ng-bind="section"></span>
                </span>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="cart-detail">
                <h4 class="name-box text-center">
                    <div class=" header-panel">
                        <a ng-click="item.showDetai17=!item.showDetai17" ng-show="!item.showDetai17">
                            <span>настройки списка</span>
                            <i class="material-icons link-success more">
                                keyboard_arrow_down
                            </i>
                        </a>
                        <a ng-click="item.showDetai17=!item.showDetai17" ng-show="item.showDetai17">
                            <span>настройки списка</span>
                            <i class="material-icons link-success more">
                                keyboard_arrow_up
                            </i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </h4>
                <div class="clearfix"></div>
                <div  uib-collapse="!item.showDetai17" class="collapse-item">
                    <div class="part-box">
                        <div class="form-group text-center">
                            <div style="display: inline-block">
                                <h4 class="text-center label-menu">максимальное количество <br>столбцов в списке</h4>
                                <div class="radio">
                                    <label>
                                        1
                                        <input name="rowsNum" ng-model="$ctrl.item.stuffListType[$ctrl.type].rows" type="radio"
                                               ng-change="$ctrl.saveFieldTemplate('stuffListType.'+$ctrl.type+'.rows',$ctrl.item.stuffListType[$ctrl.type].rows)" value="1"/>
                                    </label>
                                </div>

                                <div class="radio">
                                    <label>
                                        2
                                        <input name="rowsNum" ng-model="$ctrl.item.stuffListType[$ctrl.type].rows" type="radio"
                                               ng-change="$ctrl.saveFieldTemplate('stuffListType.'+$ctrl.type+'.rows',$ctrl.item.stuffListType[$ctrl.type].rows)" value="2"/>
                                    </label>
                                </div>

                                <div class="radio">
                                    <label>
                                        3
                                        <input name="rowsNum" ng-model="$ctrl.item.stuffListType[$ctrl.type].rows" type="radio"
                                               ng-change="$ctrl.saveFieldTemplate('stuffListType.'+$ctrl.type+'.rows',$ctrl.item.stuffListType[$ctrl.type].rows)" value="3"/>
                                    </label>
                                </div>

                                <div class="radio">
                                    <label>
                                        4
                                        <input name="rowsNum" ng-model="$ctrl.item.stuffListType[$ctrl.type].rows" type="radio"
                                               ng-change="$ctrl.saveFieldTemplate('stuffListType.'+$ctrl.type+'.rows',$ctrl.item.stuffListType[$ctrl.type].rows)" value="4"/>
                                    </label>
                                </div>

                                <div class="radio">
                                    <label>
                                        5
                                        <input name="rowsNum" ng-model="$ctrl.item.stuffListType[$ctrl.type].rows" type="radio"
                                               ng-change="$ctrl.saveFieldTemplate('stuffListType.'+$ctrl.type+'.rows',$ctrl.item.stuffListType[$ctrl.type].rows)" value="5"/>
                                    </label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="part-box">
                            <h4 class="label-menu text-center">карточка товара</h4>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                <a class="btn btn-fab btn-fab-mini btn-primary" title="загрузить из шаблона"  ng-click="$ctrl.getBlockConfig('stuffs','cart',$ctrl.item.stuffListCart[$ctrl.type],'stuffListCart',$ctrl.item.stuffListCart)">
                                    <i class="material-icons">vertical_align_bottom</i>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                                <label>шаблон</label>
                                <ui-select ng-model="$ctrl.item.stuffListCart[$ctrl.type].templ" skip-focusser="true" search-enabled="false"
                                           ng-change="$ctrl.saveField('stuffListCart')">
                                    <ui-select-match placeholder="шаблон">{{$select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="opt in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">{{ opt }}</ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                                <label>стиль</label>
                                <ui-select ng-model="$ctrl.item.stuffListCart[$ctrl.type].style" skip-focusser="true" search-enabled="false"
                                           ng-change="$ctrl.saveField('stuffListCart')">
                                    <ui-select-match placeholder="стиль">{{$select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="opt in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">{{ opt }}</ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                <a class="btn btn-fab btn-fab-mini btn-info" ng-click="$ctrl.setColor($ctrl.item.stuffListCart[$ctrl.type],'stuffListCart.'+$ctrl.type)">
                                    <i class="material-icons" title="установить стиль карточки">opacity</i>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group text-center">
                            <h4 class="text-center label-menu">положение блока фильтров</h4>
                            <div class="togglebutton">
                                <label for="filtersPosition">
                                    <span class="ll" ng-class="{'active':!$ctrl.item.stuffListType[$ctrl.type].filtersInModal}">фильтры в списке товаров</span>
                                    <input type="checkbox"
                                           id="filtersPosition"
                                           ng-model="$ctrl.item.stuffListType[$ctrl.type].filtersInModal"
                                           ng-change="$ctrl.saveFieldTemplate('stuffListType.'+$ctrl.type+'.filtersInModal',$ctrl.item.stuffListType[$ctrl.type].filtersInModal)">
                                    <span class="lr" ng-class="{'active':$ctrl.item.stuffListType[$ctrl.type].filtersInModal}">фильтры в модальном окне</span>
                                </label>
                            </div>
                            <h4 class="text-center label-menu">наличие фильтров в списках</h4>
                            <div class="togglebutton">
                                <label for="filtersPosition2">
                                    <span class="ll" ng-class="{'active':!$ctrl.item.stuffListType[$ctrl.type].filtersForAll}">фильтры в списке категорий</span>
                                    <input type="checkbox"
                                           id="filtersPosition2"
                                           ng-model="$ctrl.item.stuffListType[$ctrl.type].filtersForAll"
                                           ng-change="$ctrl.saveFieldTemplate('stuffListType.'+$ctrl.type+'.filtersForAll',$ctrl.item.stuffListType[$ctrl.type].filtersForAll)">
                                    <span class="lr" ng-class="{'active':$ctrl.item.stuffListType[$ctrl.type].filtersForAll}">фильтры в любых списках</span>
                                </label>
                            </div>
                            <h4 class="text-center label-menu">наличие списка товаров на странице товара</h4>
                            <div class="togglebutton">
                                <label for="filtersPosition22">
                                    <span class="ll" ng-class="{'active':!$ctrl.item.stuffListType[$ctrl.type].hideList}">список есть</span>
                                    <input type="checkbox"
                                           id="filtersPosition22"
                                           ng-model="$ctrl.item.stuffListType[$ctrl.type].hideList"
                                           ng-change="$ctrl.saveFieldTemplate('stuffListType.'+$ctrl.type+'.hideList',$ctrl.item.stuffListType[$ctrl.type].hideList)">
                                    <span class="lr" ng-class="{'active':$ctrl.item.stuffListType[$ctrl.type].hideList}">списка нет</span>
                                </label>
                            </div>
                            <h4 class="text-center label-menu">установка начальной разновидности товара</h4>
                            <div class="togglebutton">
                                <label for="filtersPosition22w">
                                    <span class="ll" ng-class="{'active':!$ctrl.item.stuffListType[$ctrl.type].unsetSort}">устанавливать</span>
                                    <input type="checkbox"
                                           id="filtersPosition22w"
                                           ng-model="$ctrl.item.stuffListType[$ctrl.type].unsetSort"
                                           ng-change="$ctrl.saveFieldTemplate('stuffListType.'+$ctrl.type+'.unsetSort',$ctrl.item.stuffListType[$ctrl.type].unsetSort)">
                                    <span class="lr" ng-class="{'active':$ctrl.item.stuffListType[$ctrl.type].unsetSort}">не устанавливать</span>
                                </label>
                            </div>

                            <div class="form-group head-box text-center" ng-init="$ctrl.setRowsForStuffList($ctrl.item.stuffListType[$ctrl.type])">
                                <h4 class="text-center label-menu">количество товаров на одной странице</h4>
                                <div  class="text-center mb-20">
                                    <ui-select style="width: 200px; display:inline-block" ng-model="$ctrl.item.stuffListType[$ctrl.type].perPage" skip-focusser="true" search-enabled="false"
                                               ng-change="$ctrl.saveFieldTemplate('stuffListType.'+$ctrl.type+'.perPage',$ctrl.item.stuffListType[$ctrl.type].perPage)">
                                        <ui-select-match placeholder="выберите количество">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="opt in [10,20,30,40,50,100,200]">{{ opt }}</ui-select-choices>
                                    </ui-select>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="cart-detail">
                <h4 class="name-box text-center row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 text-left">
                        <a  class="btn btn-fab btn-fab-mini btn-primary"   ng-click="$ctrl.downloadPartOfTemplate('stuffListType.'+$ctrl.type)" title="загрузить из шаблона">
                            <i class="material-icons">vertical_align_bottom</i>
                        </a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 header-panel">
                        <a ng-click="item.showDetai171=!item.showDetai171" ng-show="!item.showDetai171">
                            <span>компоненты списка</span>
                            <i class="material-icons link-success more">
                                keyboard_arrow_down
                            </i>
                        </a>
                        <a ng-click="item.showDetai171=!item.showDetai171" ng-show="item.showDetai171">
                            <span>компоненты списка</span>
                            <i class="material-icons link-success more">
                                keyboard_arrow_up
                            </i>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 text-right">
                        <a class="btn btn-fab btn-fab-mini btn-info"  ng-click="$ctrl.setColor($ctrl.item.stuffListType[$ctrl.type],'stuffListType.'+$ctrl.type)">
                            <i class="material-icons"  title="настроить стили списка">opacity</i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </h4>
                <div class="clearfix"></div>
                <div  uib-collapse="!item.showDetai171" class="collapse-item">
                    <div  ng-if="!$ctrl.global.get('mobile').val">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 head-box">блок</div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 head-box ava">наличие</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 head-box">шаблон</div>
                        <div class="col-lg-2 col-md-1 col-sm-2 col-xs-2 head-box">стиль</div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 head-box">анимация</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 head-box">настройки</div>
                        <div class="clearfix"></div>
                    </div>
                    <div>
                        <!--<pre>{{$ctrl.item.stuffListType[$ctrl.type]|json}}</pre>-->
                        <div class="dropzone" ng-if="$ctrl.item.stuffListType[$ctrl.type].parts">
                            <ul dnd-list="$ctrl.item.stuffListType[$ctrl.type].parts"
                                dnd-drop="$ctrl.dropCallbackBlock(item)"
                                dnd-allowed-types="['stuffsList']">
                                <li ng-repeat="block in $ctrl.item.stuffListType[$ctrl.type].parts"
                                    dnd-draggable="block"
                                    dnd-type="'stuffsList'"
                                    dnd-effect-allowed="move"
                                    dnd-moved="$ctrl.item.stuffListType[$ctrl.type].parts.splice($index,1)"
                                    ng-class="{bgcolor_one:($index%2==0),bgcolor_two:($index%2!=0)}">
                                    <div class="block-box name col-lg-2 col-md-2 col-sm-2 col-xs-10 ">
                                        <div class="form-group">
                                            <i class="material-icons link-success">swap_vert</i>
                                                <span>
                                                {{$ctrl.listOfBlocksForStuffList[block.name]}}
                                            </span>
                                        </div>

                                    </div>
                                    <div class="block-box col-lg-1 col-md-1 col-sm-1 col-xs-2  ava text-center">
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input ng-change="$ctrl.saveFieldTemplate('stuffListType.'+$ctrl.type+'.parts',$ctrl.item.stuffListType[$ctrl.type].parts)"
                                                           ng-model="block.is" type="checkbox"/>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="block-box col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                        <ui-select ng-model="block.templ" skip-focusser="true" search-enabled="false"
                                                   ng-change="$ctrl.saveFieldTemplate('stuffListType.'+$ctrl.type+'.parts',$ctrl.item.stuffListType[$ctrl.type].parts)">
                                            <ui-select-match placeholder="шаблон">{{$select.selected}}</ui-select-match>
                                            <ui-select-choices repeat="opt in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">{{ opt }}</ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="block-box col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                        <ui-select ng-model="block.style" skip-focusser="true" search-enabled="false"
                                                   ng-change="$ctrl.saveFieldTemplate('stuffListType.'+$ctrl.type+'.parts',$ctrl.item.stuffListType[$ctrl.type].parts)">
                                            <ui-select-match placeholder="стиль">{{$select.selected}}</ui-select-match>
                                            <ui-select-choices repeat="opt in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">{{ opt }}</ui-select-choices>
                                        </ui-select>
                                    </div>

                                    <div class="block-box col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <ui-select ng-model="block.animate" skip-focusser="true" search-enabled="false"
                                                   ng-change="$ctrl.saveField(block,$index,'animate')">
                                            <ui-select-match placeholder="анимация">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="opt.type as opt in $ctrl.animationTypes">{{ opt.name }}</ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="block-box col-lg-2 col-md-2 col-sm-2 col-xs-4 action-box">
                                        <a class="btn btn-fab btn-fab-mini btn-info pull-right" ng-click="$ctrl.setColor(block,'stuffListType.'+$ctrl.type+'.parts')">
                                            <i class="material-icons" title="установить стиль блока">opacity</i>
                                        </a>
                                        <a class="btn btn-fab btn-fab-mini btn-primary pull-right" title="загрузить из шаблона" ng-click="$ctrl.getBlockConfig('stuffs',block.name,block,'stuffListType.'+$ctrl.type+'.parts',$ctrl.item.stuffListType[$ctrl.type].parts)">
                                            <i class="material-icons">vertical_align_bottom</i>
                                        </a>
                                    </div>

                                    <div class="clearfix"></div>
                                </li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>