/*tatiana, zefir, smart, dtn*/
.catalogDropDownMenu {
    list-style: none;
}
.first-li {
    border-left:1px solid #fff;
}
ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sub-menu {

    position: absolute;
    display: none;
}
