div(class=dj[key].wrapclass,class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-right")
    div(class=mobileWrapper)
        div(class="search-block")
            form(ng-submit="$ctrl.global.get('functions').val.searchData(searchStr)")
                div(class="form-group")
                    div(class="search")
                        //input(type="text", placeholder="поиск товара", class="form-control", ng-model="searchStr")
                        input(type="text", placeholder="{{$ctrl.global.get('lang').val.searchforgoods}}", class="form-control", ng-model="searchStr",ng-change="$ctrl.global.get('functions').val.searchStuffList(searchStr)",ng-blur="$ctrl.global.get('functions').val.searchLostFocus()",ng-focus="$ctrl.global.get('functions').val.searchStuffList(searchStr)")
                        input(type="submit", class="enter", tabindex="-1")
                div(class="searchresults",ng-show="$ctrl.globalProperty.stuffSearchList && $ctrl.globalProperty.stuffSearchList.length")
                    //h5(ng-bind="$ctrl.global.get('lang').val.goodsandservise")
                    //hr
                    div(search-stuff-list="$ctrl.globalProperty.stuffSearchList",search-str="searchStr")
div(class="clearfix")