/*.sign-login .sign,
.sign-login .login {
    margin: 10px;
}*/
.sign-login .active-tabl{
    background-color: #f5f5f5;
}
.sign-login .form-group.form-group-lg  .form-control {
    background-color: #fff;
    margin-bottom: 0;
}
.sign-login .form-group {
    margin-top: 10px;
    padding-bottom: 0;

}
.sign-login input:-webkit-autofill,
.sign-login textarea:-webkit-autofill,
.sign-login select:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
    border-bottom: 2px solid #72ad66;
}
input, textarea {
    margin-bottom: 10px;
    letter-spacing: 2px;
}
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-moz-placeholder {
    color: #666;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
    -webkit-text-fill-color: #333 !important; /* цвет текста */
}
.sign-login {
    padding: 20px;
}
.sign-login .form-group label.control-label {
    font-size: 18px;
}
.sign-login .form-group.is-focused label.control-label,
.sign-login .form-group.label-floating:not(.is-empty) label.control-label {
    font-size: 16px;
}
.form-control,
.form-group.is-focused .form-control {
    background-image: linear-gradient(#93b1c6, #93b1c6), linear-gradient(#D2D2D2, #D2D2D2);
}
.sign-login .form-group.is-focused label,
.sign-login .form-group.is-focused label.control-label,
.sign-login .form-group.label-floating:not(.is-empty) label.control-label,
.sign-login .form-group label.control-label {
    color: #93b1c6;
}
.sign-login .form-group.has-error label.control-label {
    color: #93b1c6;
}
.form-group.has-error .form-control:focus{
    box-shadow: none;
    border-color: #f02222;
}
.sign-login span.help-block {
    color: #f02222;
    margin-top: -13px;
    font-style: italic;
    letter-spacing: 1px;
    clear: both;
}
.sign-login .has-success .form-control:focus {
    border-color: #72ad66;
}
.sign-login form.log {
    margin-bottom: 40px;
}
.sign-login .panel {
    box-shadow: none;
}
.sign-login .panel > .panel-heading,
.sign-login  .panel.panel-default > .panel-heading {
    background-color: #fff;
}
.sign-login .panel-default > .panel-heading,
.sign-login .panel:not([class*="panel-"]) > .panel-heading {
    color: #93b1c6;
}
.sign-login .panel-default > .panel-heading h4 {
    font-weight: 500;
    letter-spacing: 2px;
}
.sign-login .login-user {
    font-size: 16px;
}
.sign-login span.valid {
    font-size: 14px;
}
.sign-login .panel-default>.panel-heading+.panel-collapse>.panel-body {
    padding-top: 5px;
}
.border-right {
    border-right: 1px solid #ccc;
}
/*.btn:not(.btn-raised).btn-primary,
.input-group-btn .btn:not(.btn-raised).btn-primary{
    color: #93b1c6;
}*/
.sign-login .btn-primary {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 45px;
    border: 2px solid #93b1c6;
}
.login-box{
    padding: 10px 20px;
}
.sign-box {
    padding: 10px 20px;
}

.sign-box .btn-facebook .icon-fbwhite-img,
.sign-box .btn-google-plus .icon-googlewhite-img,
.sign-box .btn-vk .icon-vkwhite-img{
    width: 18px;
}
.enter-button-box{
    padding: 0 20px 20px;
}
.link-collapsed {
    display: block;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
}
/*маркер фильтра*/
.oferta-box .checkbox .checkbox-material .check {
    margin-right: 3px;
}
.oferta-box .tag .checkbox{
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.oferta-box .checkbox input[type=checkbox]{
    width: 25px;
    height: 25px;
    margin-left: -25px;
}
.oferta-box .checkbox label,
.oferta-box .checkbox-inline label {
    padding-left: 0;
    margin-bottom: 10px;
}
.oferta-box .checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}
.oferta-box .checkbox__text {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
    line-height: 16px;
}
.oferta-box .checkbox__text:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 25px;
    height: 25px;
    border: 1px solid #CDD1DA;
    border-radius: 0;
    background: #FFF;
}
.oferta-box .checkbox__text:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 17px;
    height: 17px;
    border-radius: 0;
    background: #CCC;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: .2s;
}
.oferta-box .checkbox input:checked + .checkbox__text:after {
    opacity: 1;
}

