<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1  box-border-top"></div>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  form-group  tag-box">

    <div class="label-floating col-lg-11 col-md-11 col-sm-11 col-xs-10 ">
        <label class="control-label">признак</label>
        <input ng-model-options="{'updateOn':'default blur','debounce':{'default':700,'blur':0}}"
               ng-change="$ctrl.saveTag(tag,'name')"
               dnd-nodrag class="form-control" ng-model="tag.name">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 padding0 text-right">
        <!--<a class="btn btn-fab btn-fab-mini btn-info swap">
            <i class="material-icons">swap_vertical_circle</i>
        </a>-->
        <a  class="btn btn-fab btn-fab-mini btn-success" ui-sref="frame.filters.tag({id:tag._id})" >
            <i class="material-icons">text_format</i>
        </a>
        <a class="btn btn-fab btn-fab-mini btn-warning" ng-click="$ctrl.deleteTag(filter,$index)">
            <i class="material-icons">delete</i>
        </a>
    </div>

    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>





