<div class="filters" ng-class="{'filters-mobile':$ctrl.global.get('mobile').val}">
    <div ng-hide="$ctrl.$state.current.name!='frame.filters'">
        <div class=" advancedDemo">
            <div class="dropzone ng-scope">
                <div class="nav-box-stuff">
                    <div class="tab-nav-stuff">
                        <a  class="btn btn-fab btn-fab-mini btn-violet"  ui-sref="frame">
                            <i class="material-icons">reply</i>
                        </a>
                    </div>
                    <div class="tab-nav-stuff">
                        <h4 class="text-center name-box">характеристики и признаки</h4>
                    </div>

                    <div class="tab-nav-stuff pull-right">
                        <a class="btn btn-raised btn-success" ng-click="$ctrl.fixBrands()">
                            <span>
                                фиксировать<br> структуру
                            </span>

                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--<div class="pages-header">
                    <h4 class="text-center name-box">характеристики и признаки<br>

                    </h4>
                </div>-->
                <ul dnd-list="$ctrl.filters"
                    dnd-drop="$ctrl.dropFilterCallback(item)"
                    dnd-allowed-types="['filter']">
                    <li
                        ng-repeat="filter in $ctrl.filters"
                        dnd-draggable="filter"
                        dnd-type="'filter'"
                        dnd-effect-allowed="move"
                        dnd-moved="$ctrl.filters.splice($index,1)"
                        dnd-selected="models.selected = item"
                        ng-class="{selected: models.selected === item}">
                        <filter-component></filter-component>
                    </li>
                    <li>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <form ng-submit="$ctrl.addNewFilter($ctrl.newFilter)">
                                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11  add-filters">
                                    <div class=" form-group label-floating">
                                        <label class="control-label">добавить характеристику</label>
                                        <input class="form-control" ng-model="$ctrl.newFilter.name">
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                <div class="clearfix"></div>
                                <input type="submit"
                                       class="enter"
                                       tabindex="-1" />
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ui-view></div>
</div>





