<div class="modal-header-project">
    <div class="modal-header">
        <h4 class="modal-title text-center">{{dateEntry}}</h4>
        <a class="cancel" ng-click="$ctrl.cancel()">
            <span class="icon-cancel-img"></span>
        </a>
        <div class="clearfix"></div>
    </div>

</div>
<div class="modal-body-project">
    <h4>специалист <strong>{{entry.masterName}}</strong>  <strong> {{entry.usedTime}}</strong></h4>
    <div class="mb-40">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <h4>замена</h4>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

            <ui-select  placeholder="выберите специалиста" search-enabled="false" ng-model="entry.masterReplace" skip-focusser="true" append-to-body>

                <ui-select-match  allow-clear="true" placeholder="выбрать мастера">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="opt._id as opt in masters">{{opt.name}}</ui-select-choices>
            </ui-select>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="mb-40">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <h4>занимающихся</h4>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <ui-select ng-model="entry.members" skip-focusser="true" search-enabled="false">
                <ui-select-match placeholder="количество">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="opt in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]">{{ opt }}</ui-select-choices>
            </ui-select>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="text-center">
        <a class="btn btn-project" ng-click="$ctrl.ok()">OK</a>
    </div>
</div>
