<div class="modal-header-project">
    <div class="modal-header">
        <h4 class="modal-title text-center">{{dateEntry}}</h4>
        <a class="cancel" ng-click="$ctrl.cancel()">
            <span class="icon-cancel-img"></span>
        </a>
        <div class="clearfix"></div>
    </div>

</div>
<div class="modal-body-project">
    <h4>специалист <strong>{{entry.masterName}}</strong>  <strong> {{entry.usedTime}}</strong></h4>
    <div class="mb-40">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <h4>замена</h4>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

            <ui-select  placeholder="выберите специалиста" search-enabled="false"
                        ng-model="entry.masterReplace"
                        skip-focusser="true" append-to-body
                        ng-change="$ctrl.saveField('masterReplace')"
            >

                <ui-select-match  allow-clear="true" placeholder="выбрать мастера">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="opt._id as opt in masters">{{opt.name}}</ui-select-choices>
            </ui-select>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="mb-40">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <h4>посетители</h4>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h4>поиск клиента в базе</h4>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
                <ui-select ng-model="$ctrl.user" reset-search-input="false" ng-change="$ctrl.addNewUser()">
                    <ui-select-match allow-clear="true" placeholder="введите телефон или email">
                        {{$select.selected.name}}  +{{$select.selected.phone}}
                    </ui-select-match>
                    <ui-select-choices repeat="user in $ctrl.users track by $index"
                                       refresh="$ctrl.refreshUsers($select.search)"
                                       ui-disable-choice="user.abonement<=0"
                                       refresh-delay="0">
                        <small ng-bind="user.name"></small>  <small ng-bind="'+'+user.phone"></small><small class="pull-right"   ng-bind="user.abonement"></small>

                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div ng-repeat="user in entry.members" class="col-lg-12">
        <strong ng-bind="user.name"></strong>  <span ng-bind="'+'+user.phone"></span><a class="pull-right" ng-click="$ctrl.deleteUser($index)">X</a>
    </div>

    <div class="text-center">
        <a class="btn btn-project" ng-click="$ctrl.ok()">OK</a>
    </div>
</div>
