<div class="edit-booking select-modal">
    <div class="modal-header">
        <h4 class="modal-title text-center">редактирование записи {{$ctrl.dateEntry}}</h4>
        <a class="cancel" ng-click="$ctrl.cancel()"></a>
        <div class="clearfix"></div>
    </div>
    <div class="modal-body">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h4>специалист <strong>{{$ctrl.master.name}}</strong></h4>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h4>услугa <strong><span ng-bind="$ctrl.entry.service.name"></span></strong></h4>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <ui-select ng-model="$ctrl.service" skip-focusser="true"
                           ng-change="$ctrl.changeService()">
                    <ui-select-match placeholder="выбрать услугу">{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="opt in $ctrl.master.services|filter: $select.search">{{opt.name}} {{opt.duration}} {{$ctrl.global.get('lang').val.minute}}</ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="mb-40">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h4>другие специалисты</h4>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <ui-select  placeholder="добавить других специалистов" multiple search-enabled="false" ng-model="$ctrl.entry.masters" skip-focusser="true" append-to-body ng-change="$ctrl.saveField('masters')">
                    <ui-select-match>{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="opt._id as opt in $ctrl.mastersAdditional">{{opt.name}}</ui-select-choices>
                </ui-select>
            </div>
            <div class="clearfix"></div>
        </div>
        <div ng-show="$ctrl.entry.user._id=='schedule'">
            <h4 class=" text-center">клиенты</h4>
            <div class="mb-40">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4>поиск клиента в базе</h4>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
                    <ui-select ng-model="$ctrl.newUser" reset-search-input="false" ng-change="$ctrl.addNewUser()">
                        <ui-select-match allow-clear="true" placeholder="введите телефон или email">
                            {{$select.selected.name}}  +{{$select.selected.profile.phone}}  {{$select.selected.email}}
                        </ui-select-match>
                        <ui-select-choices repeat="user in $ctrl.users track by $index"
                                           refresh="$ctrl.refreshUsers($select.search)"
                                           refresh-delay="0">
                            <strong ng-bind="user.name"></strong>  <span ng-bind="'+'+user.profile.phone"></span> <span ng-bind="user.email"></span>

                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="clearfix"></div>
                <div>
                    <div class="text-center mt-20">
                        <h4>
                            <a class="link-success" ng-click="$ctrl.addingUser=!$ctrl.addingUser" ><strong>добавить нового клиента</strong></a>
                        </h4>
                    </div>
                    <div class="" uib-collapse="!$ctrl.addingUser">
                        <form name="formNU" ng-submit="$ctrl.addUser()">
                            <fieldset class="well the-fieldset" style="margin-bottom: 0">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group label-static">
                                        <label class="control-label">введите имя</label>
                                        <input class="form-control" type="text"
                                               ng-model="$ctrl.userName"
                                               ng-model-options="{ debounce: 300 }"
                                               ng-minlength="3"
                                               ng-maxlength="50"
                                               name="name"
                                               required/>
                                    </div>
                                    <div class="help-block" ng-messages="formNU.name.$error" role="alert">
                                        <div ng-message="required">необходимо ввести имя</div>
                                        <div ng-message="minlength">не менее 3 символов</div>
                                        <div ng-message="maxlength">не более 25</div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="form-group label-static">
                                        <label class="control-label">введите телефон</label>

                                        <ui-select ng-model="$ctrl.phoneCode" skip-focusser="true" class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                                            <ui-select-match>{{$select.selected.code}}</ui-select-match>
                                            <ui-select-choices repeat="opt.code as opt in $ctrl.phoneCodes">{{opt.code}}({{opt.country}})</ui-select-choices>
                                        </ui-select>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                                            <input type="text"
                                                   class="form-control"
                                                   ng-model="$ctrl.oldPhone"
                                                   ui-mask="( 9 9 9 )  9 9 9 - 9 9 9 9"
                                                   ui-mask-placeholder
                                                   ui-mask-placeholder-char="_"
                                                   name="phone"
                                                   required/>
                                            <!--<span class="input-group-addon">{{$ctrl.phoneCode}}</span>-->
                                            <div class="help-block" ng-messages="formNU.phone.$error" role="alert">
                                                <div ng-message="required || mask">необходимо ввести телефон в указанном формате</div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>


                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                                    <button class="btn btn-fab btn-fab-mini btn-success" ng-disabled="!formNU.$valid" type="submit">
                                        <i class="material-icons">save</i>
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

            <div ng-repeat="user in $ctrl.entry.users" style="font-size:14px">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <p ng-bind="user.name"></p>
                    <p ng-show="user.phone"><span>+ </span><span ng-bind="user.phone"></span></p>
                    <p ng-bind="user.email"></p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div ng-show="$ctrl.global.get('store').val.submitDateTime">
                        <p>
                            <span ng-show="user.confirm">
                                запись согласована - <span ng-bind="$ctrl.moment(user.confirm).format('LLL')"></span>
                            </span>
                            <span ng-show="!user.confirm">
                                запись не согласована
                            </span>
                        </p>
                        <p>
                            <a class="link-success"  ng-click="$ctrl.recordAgreed(user)">
                                 <strong>отправить уведомление о согласовании записи</strong>
                            </a>
                        </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group" style="margin-top: 0;">
                        <div class="togglebutton">
                            <label for="remind33{{$index}}" style="font-size:12px">
                                <span ng-class="{'active':!user.pay.status}">не оплачен</span>
                                <input type="checkbox"
                                       ng-true-value=1 ng-false-value=0
                                       id="remind33{{$index}}"
                                       ng-model="user.pay.status"
                                       ng-change="$ctrl.saveField('users')">
                                <span ng-class="{'active':user.pay.status}">оплачен</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-8" style="margin-top: 0; padding-left: 0">
                        <input class="form-control" ng-model="user.pay.paySum"
                               ng-model-options="{'updateOn':'default blur','debounce':{'default':400,'blur':0}}"
                               ng-change="$ctrl.saveField('users')" >
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-4">
                        <p ng-bind="$ctrl.entry.currency" style="margin-top: 0"></p>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                    <div class="form-group" style="margin-top: 0;">
                        <div class="togglebutton">
                            <label for="remind45{{$index}}" style="font-size:12px">
                                <span ng-class="{'active':!user.used}">не пришел</span>
                                <input type="checkbox"
                                       ng-true-value=1 ng-false-value=0
                                       id="remind45{{$index}}"
                                       ng-model="user.used"
                                       ng-change="$ctrl.saveField('users')">
                                <span ng-class="{'active':user.used}">пришел</span>
                            </label>
                        </div>
                    </div>
                    <a class="text-right" ng-click="$ctrl.deleteUser($index)" style="display: inline-block">
                        <span class="link-warning">удалить запись</span>
                        <i class="material-icons link-warning">clear</i>
                    </a>
                </div>
                <div class="clearfix"></div>
                <hr>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 timing-box">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-5">
                <div class="form-group">
                    <h4><strong>время</strong></h4>
                    <h4>{{$ctrl.hour}} час  {{$ctrl.minutes}} &nbsp;<span ng-bind="$ctrl.global.get('lang').val.minute"></span></h4>
                </div>
                <div class="form-group  timing">
                    <span class="link-success">изменить время</span>
                    <ui-select  search-enabled="false" ng-model="$ctrl.startPart" skip-focusser="true" append-to-body ng-change="$ctrl.changeStartPart()">
                        <ui-select-match>{{$select.selected.time}}</ui-select-match>
                        <ui-select-choices repeat="opt.part as opt in $ctrl.timeParts|filter:$ctrl.changeTimeFilter">{{opt.time}}</ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-5">
                <div class="form-group">
                    <h4><strong>длительность</strong></h4>
                    <h4><span ng-bind="$ctrl.entry.qty*15"></span>&nbsp;<span ng-bind="$ctrl.global.get('lang').val.minute"></span></h4>
                </div>

                <div class="form-group timing">
                    <span class="link-success">изменить длительность</span>
                    <ui-select  search-enabled="false" ng-model="$ctrl.qty" skip-focusser="true" append-to-body ng-change="$ctrl.changeDuration()">
                        <ui-select-match>{{$select.selected.time}}</ui-select-match>
                        <ui-select-choices repeat="opt.part as opt in $ctrl.timeDurationdArr">{{opt.time}}</ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="reminder col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <div class="togglebutton form-group">
                    <label for="setColor">
                        <span ng-class="{'active':!$ctrl.entry.setColor}">не выделять цветом</span>
                        <input type="checkbox"
                               id="setColor"
                               ng-model="$ctrl.entry.setColor"
                               ng-change="$ctrl.saveField('setColor')">
                        <span ng-class="{'active':$ctrl.entry.setColor}">{{$ctrl.global.get('langForm').val.setColor}}</span>
                    </label>
                </div>
                <!--<div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="$ctrl.setColor">
                        <span class="set-color">
                            {{$ctrl.global.get('langForm').val.setColor}}
                        </span>
                    </label>
                </div>-->

            </div>
            <div class="form-group">
                <div class="togglebutton form-group">
                    <label for="remind">
                        <span ng-class="{'active':!$ctrl.entry.remind}">без напоминания</span>
                        <input type="checkbox"
                               id="remind"
                               ng-model="$ctrl.entry.remind"
                               ng-change="$ctrl.saveField('remind')">
                        <span ng-class="{'active':$ctrl.entry.remind}">{{$ctrl.global.get('langForm').val.reminder}}</span>
                    </label>
                </div>
            </div>
            <div class=" timing">
                <ui-select  search-enabled="false" ng-model="$ctrl.entry.timeRemind" skip-focusser="true" append-to-body ng-change="$ctrl.saveField('timeRemind')">
                    <ui-select-match placeholder="{{$ctrl.global.get('langForm').val.timeReminder}}">{{$select.selected.time}}</ui-select-match>
                    <ui-select-choices repeat="opt.part as opt in $ctrl.timeRemindArr">{{opt.time}}</ui-select-choices>
                </ui-select>
            </div>




        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group label-floating">
                <label class="control-label">
                    комментарии к записи
                </label>
                <textarea rows="3" class="form-control" ng-model="$ctrl.entry.comment"
                          ng-model-options="{'updateOn':'default blur','debounce':{'default':400,'blur':0}}"
                          ng-change="$ctrl.saveField('comment')"></textarea>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide2="$ctrl.entry.user._id=='schedule'">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <h4><strong>клиент</strong></h4>
                <h4>
                    <p ng-bind="$ctrl.entry.user.name"></p>
                    <p><span>+ </span><span ng-bind="$ctrl.entry.user.phone"></span></p>
                    <p ng-bind="$ctrl.entry.user.email"></p>
                </h4>

                <a  ng-click="$ctrl.editingUser=true" class="link-success">
                    <h4><strong>изменение данных клиента</strong></h4>
                </a>
                <form name="form" ng-submit="$ctrl.updateUser()" uib-collapse="!$ctrl.editingUser">
                    <fieldset class="well the-fieldset">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group label-floating">
                                <label class="control-label">введите имя</label>
                                <input class="form-control" type="text"
                                       ng-model="$ctrl.user.name"
                                       ng-model-options="{'updateOn':'default blur','debounce':{'default':400,'blur':0}}"
                                       ng-minlength="3"
                                       ng-maxlength="50"
                                       name="name"
                                       required/>
                            </div>
                            <div class="help-block" ng-messages="form.name.$error" role="alert">
                                <div ng-message="required">необходимо ввести имя</div>
                                <div ng-message="minlength">не менее 3 символов</div>
                                <div ng-message="maxlength">не более 25</div>
                            </div>

                            <div class="form-group label-floating">
                                <label class="control-label">введите email</label>
                                <input class="form-control" type="email"
                                       ng-model="$ctrl.user.email"
                                       ng-model-options="{'updateOn':'default blur','debounce':{'default':400,'blur':0}}"
                                       name="email"/>
                            </div>

                            <label class="control-label">введите телефон</label>
                            <div class="row">
                                <ui-select class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group" ng-model="$ctrl.phoneCode" skip-focusser="true" >
                                    <ui-select-match>{{$select.selected.code}}</ui-select-match>
                                    <ui-select-choices repeat="opt.code as opt in $ctrl.phoneCodes">{{opt.code}}({{opt.country}})</ui-select-choices>
                                </ui-select>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="$ctrl.user.phone"
                                           ui-mask="(999) 999-9999"
                                           ui-mask-placeholder
                                           ui-mask-placeholder-char="_"
                                           name="phone"
                                           required/>
                                    <div class="help-block" ng-messages="form.phone.$error" style="color:maroon" role="alert">
                                        <div ng-message="required || mask">Необходимо ввести телефон в указанном формате</div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="link-warning">измененные данные сохраняются только при нажатии на кнопку сохранения в данном окне</span>
                        </div>

                        <div class="pull-right">
                            <button class="btn btn-fab btn-fab-mini btn-success" ng-disabled="!form.$valid" type="submit" title="сохранить изменения">
                                <i class="material-icons">save</i>
                            </button>
                        </div>
                        <div class="pull-left">
                            <a class="btn btn-fab btn-fab-mini btn-warning" ng-disabled="!form.$valid" type="submit" title="закрыть окно" ng-click="$ctrl.editingUser=false">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </fieldset>
                </form>

            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <div ng-show="$ctrl.global.get('store').val.submitDateTime">
                    <h4><strong>подтверждение записи</strong></h4>
                    <div>
                        <h4>
                                <span class="pull-left">
                                  <span ng-show="$ctrl.entry.confirm">
                                    запись согласована - <span ng-bind="$ctrl.moment($ctrl.entry.confirm).format('LLL')"></span>
                                    </span>
                                    <span ng-show="!$ctrl.entry.confirm">
                                        запись не согласована
                                    </span>
                                </span>
                            <a class="btn btn-fab btn-fab-mini btn-violet pull-right" title="отправить уведомление о согласовании записи" ng-click="$ctrl.recordAgreed()">
                                <i class="material-icons">notifications_active</i>
                            </a>
                            <div class="clearfix"></div>
                        </h4>

                    </div>
                    <hr>
                </div>

                <h4><strong>подтверждение сеанса</strong></h4>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="$ctrl.entry.used" ng-change="$ctrl.saveField('used')"> клиент пришел
                    </label>
                </div>


            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-8">
                <h4><strong>оплата услуги</strong></h4>
                <h4 style="width: 50%; float: left">
                    <label>сумма</label>
                    <input class="form-control" ng-model="$ctrl.entry.paySum"
                           ng-model-options="{'updateOn':'default blur','debounce':{'default':400,'blur':0}}"
                           ng-change="$ctrl.saveField('paySum')">
                </h4>
                <h4 ng-bind="$ctrl.entry.currency" style="padding-top: 30px; float: left"></h4>
                <div class="clearfix"></div>
                <h4><strong>услуга</strong></h4>
                <div class="togglebutton">
                    <label for="remind33">
                        <span ng-class="{'active':!$ctrl.entry.status}">не оплачена</span>
                        <input type="checkbox"
                               ng-true-value=1 ng-false-value=0
                               id="remind33"
                               ng-model="$ctrl.entry.status"
                               ng-change="$ctrl.saveField('status')">
                        <span ng-class="{'active':$ctrl.entry.status}">оплачена</span>
                    </label>
                </div>
                <h4><strong>статус</strong></h4>
                <div class="togglebutton" style="margin-bottom: 20px">
                    <label for="closed">
                        <span ng-class="{'active':!$ctrl.entry.closed}"> запись открыта</span>
                        <input type="checkbox"
                               id="closed"
                               ng-model="$ctrl.entry.closed"
                               ng-change="$ctrl.saveField('closed')">
                        <span ng-class="{'active':$ctrl.entry.closed}">запись закрыта</span>
                    </label>
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-4 text-center">
                <h4><strong>действия</strong></h4>
                <a class="btn btn-raised btn-block" title="перенести запись на другой день" ng-click="$ctrl.moveEntry()" style="margin-bottom: 20px">
                    <span class="link-success" ng-show="!$ctrl.entry.move">пренести запись</span>
                    <span class="link-warning" ng-show="$ctrl.entry.move">отменить перенос</span>
                </a>
                <a class="btn  btn-raised btn-block btn-success" title="сохранить запись" ng-click="$ctrl.ok()" style="margin-bottom: 20px">
                    <span>сохранить запись</span>
                </a>
                <a class="btn  btn-raised btn-block  btn-warning" title="удалить запись" ng-click="$ctrl.delete()" style="margin-bottom: 20px">
                    <span>удалить запись</span>
                </a>
            </div>
            <div class="clearfix"></div>

        </div>
        <div class="clearfix"></div>

    </div>
    <div class="clearfix"></div>
</div>