<div class="new-booking select-modal">
    <div class="modal-header">
        <h4 class="modal-title text-center">
            <span>запись на </span>
            <span ng-bind="$ctrl.date"></span>
            <span>{{$ctrl.hour}}.{{$ctrl.minutes}}</span>
            <span>специалист - {{$ctrl.master.name}}</span>

            <div class="togglebutton">
                <label for="schedule2">
                    <span ng-class="{'active':!$ctrl.schedule}">запись на клиента</span>
                    <input type="checkbox"
                           id="schedule2"
                           ng-model="$ctrl.schedule"
                           ng-change="$ctrl.saveField('schedule')">
                    <span ng-class="{'active':$ctrl.schedule}">запись в расписание</span>
                </label>
            </div>


        </h4>
        <a class="cancel" ng-click="$ctrl.cancel()"></a>
    </div>
    <div class="modal-body">
        <div ng-hide="$ctrl.schedule">
            <div class="">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4>поиск клиента в базе</h4>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
                    <ui-select ng-model="$ctrl.user" reset-search-input="false">
                        <ui-select-match allow-clear="true" placeholder="введите телефон имя или email">
                            {{$select.selected.name}}  +{{$select.selected.profile.phone}}  {{$select.selected.email}}
                        </ui-select-match>
                        <ui-select-choices repeat="user in $ctrl.users track by $index"
                                           refresh="$ctrl.refreshUsers($select.search)"
                                           refresh-delay="0">
                            <strong ng-bind="user.name"></strong>  <span ng-bind="'+'+user.profile.phone"></span> <span ng-bind="user.email"></span>

                        </ui-select-choices>
                    </ui-select>

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="">
                <!--<div class="text-center mt-20">
                    <h4><strong>добавить</strong></h4>
                </div>-->
                <div class="">
                    <button ng-click="$ctrl.addingNewUser()" class="btn btn-success btn-block">добавить нового клиента</button>
                    <div class="" uib-collapse="!$ctrl.addingUser">
                        <form name="form" ng-submit="$ctrl.addUser()">
                            <fieldset class="well the-fieldset">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group label-static">
                                        <label class="control-label">введите имя</label>
                                        <input class="form-control" type="text"
                                               ng-model="$ctrl.userName"
                                               ng-model-options="{ debounce: 300 }"
                                               ng-minlength="3"
                                               ng-maxlength="50"
                                               name="name"
                                               required/>
                                    </div>
                                    <div class="help-block" ng-messages="form.name.$error" role="alert">
                                        <!--<div ng-message="required">необходимо ввести имя</div>-->
                                        <div ng-message="minlength">не менее 3 символов</div>
                                        <div ng-message="maxlength">не более 25</div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group label-static">
                                        <label class="control-label">введите телефон</label>

                                        <ui-select ng-model="$ctrl.phoneCode" skip-focusser="true" class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                                            <ui-select-match>{{$select.selected.code}}</ui-select-match>
                                            <ui-select-choices repeat="opt.code as opt in $ctrl.phoneCodes">{{opt.code}}({{opt.country}})</ui-select-choices>
                                        </ui-select>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                                            <input type="text"
                                                   class="form-control"
                                                   ng-model="$ctrl.oldPhone"
                                                   ui-mask="( 9 9 9 )  9 9 9 - 9 9 9 9"
                                                   ui-mask-placeholder
                                                   ui-mask-placeholder-char="_"
                                                   name="phone"
                                                   required/>
                                            <!--<span class="input-group-addon">{{$ctrl.phoneCode}}</span>-->
                                            <div class="help-block" ng-messages="form.phone.$error" role="alert">
                                                <div ng-message="required || mask">необходимо ввести телефон в указанном формате</div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>


                                    </div>
                                    <div style="width: 50%; float: left">
                                        <a class="btn btn-default btn-block" ng-click="$ctrl.addingUser=false">отмена</a>
                                    </div>
                                    <div style="width: 50%; float: left">
                                        <button class="btn btn-success btn-raised btn-block" ng-disabled="!form.$valid" type="submit">сохранить</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="mb-20">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h4 class="name-box">услуги специалиста</h4>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <ui-select multiple ng-model="$ctrl.services" skip-focusser="true"
                           ng-change1="$ctrl.changePhoneCodes()">
                    <ui-select-match placeholder="выбрать услугу">{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="opt in $ctrl.master.services|filter: $select.search">{{opt.name}} {{opt.duration}} {{$ctrl.global.get('lang').val.minute}}</ui-select-choices>
                </ui-select>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="mb-20">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h4 class="name-box">другие специалисты</h4>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <ui-select  multiple search-enabled="false" ng-model="$ctrl.mastersInEntry" skip-focusser="true" append-to-body ng-change="$ctrl.saveField('masters')">
                    <ui-select-match>{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="opt._id as opt in $ctrl.masters">{{opt.name}}</ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="mb-20">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group">
                <h4 class="name-box">напоминание о записи</h4>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <reminder-online></reminder-online>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="mb-20">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group">
                <h4 class="name-box">выделить цветом</h4>
            </div>
            <div class="form-group col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="$ctrl.setColor">
                        <span class="set-color">
                            {{$ctrl.global.get('langForm').val.setColor}}
                        </span>
                    </label>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <h4 class="name-box text-center">дополнительные настройки
            <a ng-click="$ctrl.collapsedAdditionlData=!$ctrl.collapsedAdditionlData">
                <span class="name-box" ng-show="!$ctrl.collapsedAdditionlData">показать</span>
                <span class="name-box" ng-show="$ctrl.collapsedAdditionlData">скрыть</span>
            </a>
        </h4>
        <div uib-collapse="!$ctrl.collapsedAdditionlData">
            <div class="mb-20">
                <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group">
                    <h4 class="name-box">запись в резерв специалиста</h4>
                </div>
                <div class="timing col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <p>запись без привязки к услуге и к клиенту. для занесения записи в резерв специалиста просто выберите длительность резерва</p>
                    <!--<h4 class="link-success"><strong>длительность</strong></h4>-->
                    <ui-select  search-enabled="false" ng-model="$ctrl.reserved" skip-focusser="true" append-to-body>
                        <ui-select-match data-placeholder="длительность резерва">{{$select.selected.time}}</ui-select-match>
                        <ui-select-choices repeat="opt.part as opt in $ctrl.timeDurationdArr">{{opt.time}}</ui-select-choices>
                    </ui-select>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="mb-20">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group">
                    <h4 class="name-box">запись в расписание</h4>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <p>запись без привязки к клиенту. для занесения записи в расписание необходимо выбрать услугу</p>
                    <div class="togglebutton">
                        <label for="schedule">
                            <span ng-class="{'active':!$ctrl.schedule}">не вносить в расписание</span>
                            <input type="checkbox"
                                   id="schedule"
                                   ng-model="$ctrl.schedule"
                                   ng-change="$ctrl.saveField('schedule')">
                            <span ng-class="{'active':$ctrl.schedule}">внести в расписание</span>
                        </label>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 transfer" ng-show="$ctrl.entriesToMove && $ctrl.entriesToMove.length">
                <ui-select ng-model="$ctrl.entryToMove" skip-focusser="true"
                           ng-change="$ctrl.moveEtry()">
                    <ui-select-match placeholder="выбрать запись из сохраненных для переноса">{{$selected}} {{$item}}</ui-select-match>
                    <ui-select-choices repeat="opt in $ctrl.entriesToMove">{{opt.name}}</ui-select-choices>
                </ui-select>
            </div>
            <div class="clearfix"></div>
        </div>


    </div>


    <div class="clearfix"></div>

    <div class="modal-footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button class="btn btn-success btn-block" ng-click="$ctrl.ok()"
                ng-disabled="$ctrl.allFieldCheck()">
            создать запись
        </button>
    </div>
    <div class="clearfix"></div>
</div>