<div ng-hide="$ctrl.$state.current.name!='frame.paps' && $ctrl.$state.current.name!='paps'"  class="paps-list" ng-class="{'paps-list-mobile':$ctrl.mobile}">
    <div class="nav-box-stuff">
        <div class="tab-nav-stuff">
            <a class="btn btn-fab btn-fab-mini btn-violet" ui-sref="frame">
                <i class="material-icons">reply</i>
            </a>
        </div>
        <div class="tab-nav-stuff">
            <h4 class="name-box text-center">список страниц благодарности</h4>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="cart-detail">
            <p class="info-text">
                Здесь вы можете отредактировать страницы, на которые будет перенаправлен
                пользователь завершивший одно из указанных действий.
                Вы можете отредактировать заголовок и текст сообщения на данной странице, загрузить фото для баннера а также ввести
                дополнительную информацию для системы adWords.
            </p>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <div class="cart-detail">
            <ul style="padding-left: 0">
                <li  ng-repeat="item in $ctrl.items" ng-class="{bgcolor_one:($index%2==0),bgcolor_two:($index%2!=0)}">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <p>действие</p>
                        <h4 class="label-menu" ng-switch on="item.action">
                            <span ng-switch-when="order">заказ</span>
                            <span  ng-switch-when="subscriptionAdd">подписка с доп. полями</span>
                            <span  ng-switch-when="subscription">подписка(регистрация)</span>
                            <span  ng-switch-when="call">заказ обратного звонка</span>
                            <span  ng-switch-when="feedback">сообщение из формы обратной связи</span>
                            <span  ng-switch-when="booking">онлайн запись</span>
                            <span  ng-switch-when="bonus">получение контента</span>
                        </h4>
                    </div>
                    <div class="text-center col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class=" form-group label-floating">
                            <label for="name1" class="control-label">заголовок</label>
                            <input type="text" id="name1" class="form-control name"
                                   ng-model="item.name"
                                   ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }"
                                   required
                                   lost-focus="$ctrl.saveField(item,'name')"/>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0 text-right" ui-sref="frame.paps.item({id:item.url})">
                        <a class="btn btn-fab btn-fab-mini btn-success pull-right" ui-sref="frame.paps.item({id:item.url})">
                            <i class="material-icons">edit</i>
                        </a>
                        <div class=" img-box pull-right">
                            <img class="img-responsive" ng-src="{{item.img}}" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <div class="clearfix" ng-if="$index%2!=0" ng-repeat-end></div>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div ui-view></div>


