.stuffEdit {
    margin-top: 140px;
}
.stuffEdit.stuffEdit-mobile {
    margin-top: 120px;
}
.stuffEdit .name-box {
    font-weight: bold;
    letter-spacing: 1px;
}
.stuffEdit .comment-detail {
    margin-bottom: 30px;
}
.stuffEdit .comments .cart-detail {
    padding-right: 0;
    padding-left: 0;
}
.stuffEdit .date {
    font-size: 12px;
    font-weight: bold;
}
.stuffEdit .cart-detail .block-edit {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.stuffEdit .code {
    color:  #4caf50;
}
.stuffEdit input[type="number"] {
    width: 200px;
    display: inline-block;
}
.stuffEdit .name-box {
    font-weight: bold;
    letter-spacing: 2px;
}
.stuffEdit .select-filter {
    margin-top: 10px;
    margin-right: 20px;
}
.stuffEdit .cart-detail.item-filter {
    min-height: 155px;
}
.stuffEdit .name-filtarTag {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-transform:  lowercase;
    font-size: 14px;
    border: 1px dotted #ccc;
}


/*gallery*/
.stuffEdit .gallery-photo {
    font-size: 14px;
}
.stuffEdit .gallery-photo .delete {
    position: absolute;
    right: 10px;
    top: 10px;
}
.stuffEdit .gallery-photo .edit {
    position: absolute;
    left: 10px;
    top: 10px;
}

/*.stuffEdit .gallery-photo .form-group {
    margin-top: 10px;
}*/

/*.sort-of-stuff  .btn:not(.btn-raised).btn {
    width: 100%;
}*/


/*table*/
.different  .form-group,
.different .checkbox{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.stuffEdit .table>tbody>tr>td,
.stuffEdit .table>tbody>tr>th,
.stuffEdit .table>tfoot>tr>td,
.stuffEdit .table>tfoot>tr>th,
.stuffEdit .table>thead>tr>td,
.stuffEdit .table>thead>tr>th {
    vertical-align: middle;
}
.stuffEdit .table>tbody>tr>td input {
    text-align: center;
}
.stuffEdit .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}
.stuffEdit td.price-box {
    padding-left: 5px;
    padding-right: 5px;
}

.stuffEdit .btn-default-focus {
    background-color: transparent;
    box-shadow: none;
}

.stuffEdit .ui-select-container .ui-select-match .btn-default {
    margin-top: 10px;
    padding-left: 5px;
    font-size: 14px;
    margin-bottom: 0;
}
.stuffEdit .tab-nav-stuff .ui-select-container .ui-select-match .btn-default {
    margin-top: 0;
}
.blocs-edit .ui-select-container .ui-select-match .btn-default {
    margin-top: 0px;
}
.stuffEdit .currency-chois .ui-select-container i.glyphicon-remove {
    display: none;
}
.stuffEdit .add-goods {
    font-size: 24px;
}
.stuffEdit .add-goods i {
    font-size: 36px;
}
.blocks-edit .form-group {
    margin-top: 10px
}
.blocks-edit .togglebutton {
    margin-bottom: 0;
}
