/*underline LeftRightLeft*/
.animated19 {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.animated19:before {
  display: block;
  position: absolute;
  content: "";
  height: 1px;
  width: 0;
  @if $mainColor {
    background-color: $mainColor;
  }
  @else {
    background-color: #000;
  }
  transition: width .5s ease-in-out, left .5s ease-in-out;
  left: 0;
  bottom: 0px;
}

.animated19:after{
  display: block;
  position: absolute;
  content: "";
  height: 1px;
  width: 0;
  @if $mainColor {
    background-color: $mainColor;
  }
  @else {
    background-color: #000;
  }
  transition: width .5s ease-in-out;
  left: 0;
  bottom: 0;
}
.animated19:hover::before{
  width: 100%;
  left: 0;
}
.animated19:hover::after{
  width: 100%;
}