div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 video-link")
            div(class="container")
                h2=dj[key].name
                p
                    | !{dj[key].calendar}

        div(class="clearfix")
div(class="clearfix")