.online-list-mobile {
    background-color: #ffffff;
    margin-top: 60px;
    overflow: hidden;
}
.online-list-mobile .carousel-inner {
    width: 300px;
}
.online-list-mobile .carousel-inner .active{
    color: #000;
}

.online-list-mobile .online-table {
   border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}
.online-list-mobile .input-group.date-picker-new {
    margin-bottom: 0;
}
.online-list-mobile .date-picker-new .dropdown-menu{
    top: 60px !important;
    left: -20px !important;
    font-size: 12px;
    padding: 7px;
}
.online-list-mobile .date-picker-new .form-group {
    padding-bottom: 0;
}
.online-list-mobile .date-picker-new .btn.btn-sm {
    padding-right: 7px;
    padding-left: 7px;
}
.online-list-mobile .container {
    width: 100%;
}
.online-list-mobile .btn-project {
    margin-bottom: 40px;
}
.online-list-mobile .carousel-indicators {
    display: none;
}
.online-list-mobile .master,
.online-list-mobile .time {
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    border-left:none;
    border-top: 1px solid #d6d6d6;
}
.online-list-mobile .time {
    border-right: 1px solid #d6d6d6;
}
.online-list-mobile .carousel-control {
    display: none;
}
.online-list-mobile .online-table-header,
.online-list-mobile .servise-entry {
    display: block;
}
.online-list-mobile .master-name,
.online-list-mobile .servise-entry {
    width: auto;
    width: 300px;
    height: 50px;
    min-width: 300px;
    max-width: 300px;
    border-bottom: none;
}

.online-list-mobile .select-servise {
    padding-right: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
}
.online-list-mobile .online-box {
    overflow: auto;
    width: 302px;
    margin: 0 auto;
    white-space: nowrap;
    margin-bottom: 30px;
    margin-top: 10px;

}
.online-list-mobile .center-div {
    margin: 0 auto;
    width: 100%
}
.online-list-mobile .week-box {
    font-size: 12px;
    text-align: center;
    display: table-row;

}
.online-list-mobile .box-day {
    position: relative;
}
.online-list-mobile .week-box .box-day {
    float: left;
    padding: 2px 5px;
    margin: 2px 2px 0 0;
    height: auto;
    width: 98px;
    text-align: left;
    border-right: none;
    border: 1px dotted #666;
    text-align: center;

}
.online-list-mobile .week-box .box-day:hover {
    background-color: #ffffff;
}
/*.week-box .active a{
    color: #ff7148;
}*/
.online-list-mobile .time-entry {
    height:50px;
    padding-right: 0;
    padding-left: 0;

}
.online-list-mobile  .time-entry-box {
    height:50px;
    cursor: default;
    border-top: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
}
/*.week-box .active {
    background-color: #333333;
}
.week-box .active a{
    color: #ffffff;
}
.week-box .box-day.active:hover {
    background-color: #333333;
}*/
.online-list-mobile .day-week {
    text-transform: capitalize;
}
.online-list-mobile .online-table {
    margin-top: 10px;
    display: table;
    width: 100%;
    border-collapse: collapse;
    /*border-bottom: 1px solid#ccc;*/

}
.online-list-mobile .online-table-header {
    background-color: #f5f5f5;
}
.online-list-mobile .online-table-header,
.online-list-mobile .online-table-body{
    display: table-row;
    width: 300px;
}
.online-list-mobile .online-table-header .box-day {
    height: auto;
}
.online-list-mobile .online-table-day {
    display: table-cell;
    padding-left: 0;
    padding-right: 0;
    /*border-right: 1px solid#ccc;*/
    /*float: left;
    width: 110px;*/

}
.online-list-mobile .online-table-day.box-day {
    height: 50px;

}
.online-list-mobile .box-day {
    text-align: center;
    height: 50px;
    white-space: normal;
    font-size: 12px;
}
.online-list-mobile .online-table-header-left .box-day {
    border-top: 1px solid #d6d6d6;
    padding: 10px ;
}
.online-list-mobile .servise-box {
    height: 50px;
    border: none;
    border-top: 1px solid #d6d6d6;
}
.online-list-mobile .servise-entry-box {
    padding-right: 0;
    padding-left: 0;
}
.online-list-mobile .busyEntry{
    background-color: rgb(151, 202, 139);
    border-top: 1px solid transparent;

}
.online-list-mobile .borderTop{
    border-top:  1px solid #d6d6d6;
}
.online-list-mobile .disabled {
    background-color: rgba(240,240,240,1);
}

.online-list-mobile .reservation{
    background-color: rgba(255, 207, 82, 0.8);
    border-top: none;
}

.online-list-mobile .tempEntry {
    background-color: rgba(112,164,212,0.8);

}
@media (max-width: 400px) {

    .edit-booking h3,
    .new-booking h3{
        font-size: 20px;
    }
    .edit-booking .modal-body,
    .new-booking .modal-body {
        padding: 0;
    }
    .edit-booking .cancel,
    .new-booking .cancel {
        top: 7px;
        right: 7px;
    }
    .edit-booking h4,
    .new-booking h4 {
        text-align: center;
        font-size: 14px;
    }
    .edit-booking .timing-box .form-group {
        min-height: 75px;
    }
    .edit-booking .form-group {
        margin-top: 0;
    }
    .edit-booking .action .btn-lg{
        font-size: 12px;
    }
}
.date-picker-new table {
    border: 1px solid transparent;
}
.date-picker-new .dropdown-menu {
    padding: 10px;
}
.date-picker-new .btn.btn-sm {
    border: 1px solid transparent;
    margin: 1px 1px;
    padding: 8px 20px;
    font-size: 16px;
}
.date-picker-new .btn.btn-sm:hover {
    border: 1px solid #4caf50;
    background-color: transparent;
}
.date-picker-new .btn-info.active {
    background-color: transparent;
    border: 1px solid #4caf50;
}
.date-picker-new  .text-info {
    color: #4caf50;
}
.date-picker-new .btn .text-muted {
    font-size: 12px;
    color: #999;
}
.date-picker-new  .btn:not(.btn-raised).btn-danger {
    color: #ff7148;
}
.date-picker-new  table .btn:not(.btn-raised).btn-info {
    color: #6886b2;
}
.select-date .dropdown-menu {
    top:60px !important;
}
.select-servise .dropdown-menu .btn-group {
    margin-top: 0;
}
/*.unavailable,
.booked,
.your,
.reserv{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.booking {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.booking span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.unavailable {
    background-color: rgba(197, 236, 255, 0.49);
}
.booked {
    !*background-color: rgb(197, 236, 255);*!
    background-color: rgb(203, 255, 192);
}
.your {
    background-color: rgb(118, 177, 226);
}
.reserv {
    background-color: rgb(255, 214, 219);
}
.type-block {
    text-align: center;
}
.mobile-wrapper .booking {
    font-size: 12px;
    text-align: left;
}
.mobile-wrapper .booking .unavailable,
.mobile-wrapper .booking .booked,
.mobile-wrapper .booking .your,
.mobile-wrapper .booking .reserv{
    width: 20px;
    height: 20px;
}

.mobile-wrapper .type-block {
    text-align: left;
}
.mobile-wrapper .type {
    display: block;
    margin-bottom: 5px;
}

.tempEntry:hover{
    !*display: block;*!
    cursor:url(../../../../../img/icon/cancel-circle.png), auto
}*/

