<div class="text-center" ng-show="paginator.pageCount()>1">
    <div class="pagination-block">
        <ul class="pagination">
            <li ng-click="paginator.perviousPage()" ng-class="paginator.isFirstPage() && 'disabled'">
                <a class="left-right left-box">
                    <span class="icon-left-img" ng-class="paginator.isFirstPage() && 'icon-white'"></span>
                    <span class="left">назад</span>
                </a>
            </li>
            <li ng-click="paginator.setPage(i)" ng-repeat="i in arrayPage track by $index" ng-class="paginate.page==(i) && 'active'">
                <a class="page">{{getPageStr(i)}}</a>
            </li>
            <li ng-click="paginator.nextPage()" ng-class="paginator.isLastPage() && 'disabled'">
                <a class="left-right right-box">
                    <span class="right">вперед</span>
                    <span class="icon-right-img" ng-class="paginator.isLastPage() && 'icon-white'"></span>
                </a>
            </li>
            <div class="clearfix"></div>
        </ul>
        <div class="clearfix"></div>

    </div>

</div>
<div class="clearfix"></div>