div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        if(titles.desc)
            div(class="seo-desc col-lg-12 col-md-12 col-sm-12 col-xs-12")
                | !{titles.desc}
        div( class="clearfix")

    