div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="price-box", ng-if="($ctrl.item.sort)")
            p(itemprop="offers",itemscope,itemtype="http://schema.org/Offer")
                span(class="price", ng-class="{'line':($ctrl.item.priceSale && $ctrl.item.priceSale>0)}", itemprop="price", ng-if="$ctrl.item.sort")
                    span(class="",ng-bind="$ctrl.getAveragePrice($ctrl.item.stock[$ctrl.item.sort].price)| currency:$ctrl.global.get('store').val.currency[$ctrl.global.get('currency').val][2]:$ctrl.formatPrice",ng-class="{'line':$ctrl.item.priceSale||$ctrl.item.campaignUrl}")

                span(class="sale", ng-if="($ctrl.item.priceSale && $ctrl.item.sort && !$ctrl.item.stock[$ctrl.item.sort].priceCampaign)")
                    span(class="slash") /
                    span(class="",ng-bind="$ctrl.getAveragePrice($ctrl.item.stock[$ctrl.item.sort].priceSale)| currency:$ctrl.global.get('store').val.currency[$ctrl.global.get('currency').val][2]:$ctrl.formatPrice")

                span(class="sale", ng-if="$ctrl.item.stock[$ctrl.item.sort].priceCampaign")
                    span(class="slash") /
                    span(class="",ng-bind="$ctrl.getAveragePrice($ctrl.item.stock[$ctrl.item.sort].priceCampaign)| currency:$ctrl.global.get('store').val.currency[$ctrl.global.get('currency').val][2]:$ctrl.formatPrice")

                br
                span(class="retail",ng-if="($ctrl.global.get('store').val.seller.retail && $ctrl.item.sort)")
                    span(ng-bind="$ctrl.global.get('lang').val.retail")
                    span &nbsp;
                    span(class="",ng-bind="$ctrl.getAveragePrice($ctrl.item.stock[$ctrl.item.sort].retail)| currency:$ctrl.global.get('store').val.currency[$ctrl.global.get('currency').val][2]:$ctrl.formatPrice")

                p(class="campaign-detail", ng-if="$ctrl.item.stock[$ctrl.item.sort].priceCampaign")
                    a(ui-sref="campaign.detail({id:$ctrl.item.campaignUrl})",ng-bind="$ctrl.global.get('lang').val.actions")
        div(class="clearfix")