<div class="box-item"  ng-class="{'box-item-mobile':$ctrl.global.get('mobile').val}">
    <div  class="nav-box-stuff">
        <div class="tab-nav-stuff">
            <a ui-sref="frame.news" class="btn btn-fab btn-fab-mini btn-violet">
                <i class="material-icons">reply</i>
            </a>
        </div>
        <div class="tab-nav-stuff">
            <a title="отправить как рассылку" class="btn btn-fab btn-fab-mini btn-success" ng-click="$ctrl.sendEmail()">
                <i class="material-icons">send</i>
            </a>
        </div>
        <div class="tab-nav-stuff">
            <h4 class="name-box">редактирование новости</span>
            </h4>
        </div>
        <div class="tab-nav-stuff toggle">
            <div class="form-group">
                <div class="togglebutton">
                    <label for="actived{{item._id}}">
                        <span ng-class="{'active':!$ctrl.item.actived}">не опубликовано</span>
                        <input type="checkbox" id="actived{{item._id}}" ng-model="$ctrl.item.actived"
                               ng-change="$ctrl.saveField('actived',$ctrl.item.actived)">
                        <span ng-class="{'active':$ctrl.item.actived}">опубликовано</span>
                    </label>
                </div>
            </div>

        </div>
        <div class="tab-nav-stuff add-block pull-right">
            <ui-select ng-model="$ctrl.newBlock" skip-focusser="true" search-enabled="false" ng-change="$ctrl.addBlock($ctrl.newBlock)">
                <ui-select-match placeholder="добавить блок">{{$select.selected.value}}</ui-select-match>
                <ui-select-choices repeat="opt.key as (key, opt) in $ctrl.listOfBlocks">{{ opt.value }}</ui-select-choices>
            </ui-select>
        </div>
        <div class="tab-nav-stuff date-picker pull-right">
            <input ng-if="$ctrl.item.date" date-range-picker class="date-picker form-control"
                   type="text" ng-model="$ctrl.item.date" id="{{$index}}"
                   options="$ctrl.datePickerOptions" ng-blur="$ctrl.saveField('date',$ctrl.item.date,300)"/>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="$ctrl.item && $ctrl.item._id">
        <blocks-edit
                item="$ctrl.item"
                refresh-blocks="$ctrl.refreshBlocks()"
                type="News">
        </blocks-edit>
    </div>

    <div class="clearfix"></div>

</div>

<div class="clearfix"></div>
