<div class="create-seopage select-modal">
    <div class="modal-header">
        <h4 class="modal-title text-center">создание новой страницы</h4>
        <a class="cancel" ng-click="$ctrl.cancel()"></a>
    </div>
    <form ng-submit="$ctrl.ok()">
        <div class="modal-body">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group label-floating">
                    <label for="name" class="control-label">название</label>
                    <input type="text" id="name" class="form-control"
                           ng-model="$ctrl.name" autofocus/>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="modal-footer col-lg-12 text-center">
            <button class="btn btn-block btn-raised" type="submit">
                создать страницу
            </button>
        </div>
        <div class="clearfix"></div>
    </form>
    <div class="clearfix"></div>
</div>