/*dtn*/
.stuff-box {
    position: relative
}
/*.img-goods {
    width: 100%;
}*/
.box-overlay {
    background-attachment: scroll;
    background-repeat: repeat;
    background-image: none;
    background-position: 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1020;
}
.stuff-box:hover .box-overlay{
    opacity: 0.6;
}

.price-block a {
    cursor: default;
}
/*.price-block a:hover {
    color: $color
}*/
/*.sort-box {
    text-align: center;
}*/
/*.sort {
    cursor: pointer;
    transition: all 0.5s ease-out 0.1s;
}*/
.sort span {
    display: inline-block;
    min-width: 30px;
    min-height: 30px;
}
/*.sort.sort-active {
    color: #ffffff;
    border-bottom: 1px solid $mainColor
}
.icon-see-img {
    transition: all  0.4s ease-in-out 0.1s
}
.stuff-box:hover .see {
    opacity: 1;
}
.stuff-box:hover .icon-see-img {
    transform: rotate(180deg);
}*/
.stuff-box:hover .half-shadow {
    display: block;
    z-index: 1025;
}
.mobile-wrapper .form-group {
    margin-top: 0;
    margin-bottom: 0;
}
@media (max-width: 1024px){
    .half-shadow,
    .title-block{
        display: block;
    }
    /*.stuff-box .title-block {
        text-shadow: 0 0 2px #000;
    }*/
}
@media (max-width:1500px) and (min-width: 1301px){
    .stuffs {
        padding-right: 40px;
        padding-left: 40px;
    }
}
@media (max-width:1300px) and (min-width: 993px){
    .container {
        width: 70%;
    }
    .stuffs {
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media (max-width:992px){
    .container {
        width: 90%;
    }
    .stuffs {
        padding-right: 0px;
        padding-left: 0px;
    }
}
/*.mobile-wrapper .sort-box {
    display: none;
}*/
/*.mobile-wrapper .stuffs {
    padding-left: 0;
    padding-right: 0;
}*/
