/*auto balance*/
.stuff-box {
    position: relative
}
.img-box {
    overflow: hidden;
}
.img-goods {
    width: 100%;
    transition: all 0.5s ease-out 0s;
}
.img-box:hover img {
    transition: transform 0.5s ease-out 0s;
    transform: scale(1.2,1.2);
}
.box-overlay {
    background-attachment: scroll;
    background-repeat: repeat;
    background-image: none;
    background-position: 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s ease-out 0s;
    width: 100%;
    z-index: 1020;
}
.img-box:hover .box-overlay{
    opacity: 0.9;
}
.stuff-box:hover .half-shadow {
    display: block;
    z-index: 1025;
}
/*.mobile-wrapper .stuff-box:hover .half-shadow,
.tablet-wrapper .stuff-box:hover .half-shadow {
    display: none;
}*/
.icon-see-img {
    transition: all  0.4s ease-in-out 0.1s
}
.half-shadow:hover .icon-see-img {
    transform: rotate(180deg);
}
/*.price-block a {
    cursor: default;
}
.price-block a:hover {
    color: $color
}
.sort-box {
    text-align: center;
}
.sort {
    cursor: pointer;
    transition: all 0.5s ease-out 0.1s;
}
.sort-name {
    display: inline-block;
}
.sort:hover,
.sort.sort-active {
    border: 1px solid $mainColor;
    background-color: transparentize($mainColor,.82);
}*/


/*.mobile-wrapper .form-group {
    margin-top: 0;
    margin-bottom: 0;
}*/
/*
@media (max-width: 1200px) and (min-width: 1025px){
    .title-block{
        min-height: 200px;
    }
    .stuff-box h3 {
        font-size: 20px;
    }
}

.tablet-wrapper .half-shadow,
.mobile-wrapper .half-shadow {
    position: relative;
    color: #000;
    padding-left: 0;
    padding-right: 0;
}
.tablet-wrapper .half-shadow a,
.mobile-wrapper .half-shadow a{
    color: #000;
}
.tablet-wrapper .stuff-name,
.mobile-wrapper .stuff-name {
    margin-top: 0;
}
.tablet-wrapper .btn-project,
.mobile-wrapper .btn-project {
     margin-bottom: 0;
 }
.mobile-wrapper .box-overlay  {
    display: none;
}*/
