<div class="home-info-item">
    <div class="info-box">
            <div ng-if="$ctrl.item">
                <div ng-if="::global.get('crawler').val">
                    <div ng-repeat="item in $ctrl.item.blocks">
                        <h3>{{::item.name}}</h3>
                        <div ng-bind-html="::item.desc|unsafe">

                        </div>
                    </div>
                </div>
                <div ng-if="::!global.get('crawler').val">
                    <div uib-accordion close-others="true">
                        <div uib-accordion-group ng-repeat="item in $ctrl.item.blocks"
                             ng-init="item.open=($index==0)"><!--heading="{{item.name}}"--><!--is-open="item.open"-->
                            <uib-accordion-heading>
                                <div class=" all-collection">
                                    <a class="" ng-click="item.showBlock=!item.showBlock">
                                        <div class="pull-left brand-name">
                                            <span class="" ng-bind="item.name" ></span>
                                        </div>

                                        <span class="up-down pull-right text-right" ng-show="!item.showBlock">
                                            <span class="icon-downslide-img"></span>
                                        </span>
                                        <span class="up-down pull-right text-right" ng-show="item.showBlock">
                                            <span class="icon-upslide-img"></span>
                                        </span>
                                        <div class="clearfix"></div>
                                    </a>
                                </div>

                            </uib-accordion-heading>
                            <div ng-bind-html="::item.desc|unsafe">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="clearfix"></div>
</div>










