<div  class="box-list masc" ng-class="{'box-list-mobile':$ctrl.global.get('mobile').val}">
    <div class="nav-box-stuff">
        <div class="tab-nav-stuff">
            <a class="btn btn-fab btn-fab-mini btn-violet" ui-sref="frame">
                <i class="material-icons">reply</i>
            </a>
        </div>
        <div class="tab-nav-stuff">
            <h4 class="name-box">создание маски для титла</h4>
        </div>
        <div class="tab-nav-stuff pull-right">
            <a class="btn btn-raised btn-success" ng-click="$ctrl.changeGroup()">
                выбрать или <br>изменить раздел
            </a>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="cart-detail">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="name-box text-center">Порядок действий</h4>
                <ol>
                    <li>Выбрать раздел</li>
                    <li>Выбрать элемент</li>
                    <li>Выбрать разделитель</li>
                    <li>Повторить 2 и 3 пункт столько раз, сколько элементов должно быть в титле</li>
                    <li>Добавить служебные слова</li>
                </ol>
            </div>
            <div class="clearfix"></div>
            <div ng-if="$ctrl.group">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label>элементы титла</label>
                        <ui-select ng-model="$ctrl.maskElement" style="width: 300px;" title="Choose a element" ng-change="$ctrl.addMaskElement()">
                            <ui-select-match placeholder="Выбрать элемент">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="el in $ctrl.oneArr track by $index">
                                <span ng-bind="el"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label>разделители титла</label>
                        <ui-select ng-model="$ctrl.maskElement" style="width: 300px;" title="Choose a element" ng-change="$ctrl.addMaskElement()">
                            <ui-select-match placeholder="Выбрать разделитель">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="el in $ctrl.twoArr track by $index">
                                <span ng-bind="el"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p>раздел - <strong>{{$ctrl.group.name}}</strong></p>
                    <p>
                        <spen class="title-element" ng-repeat="el in $ctrl.group.mask track by $index">
                            <span ng-bind="el"></span>
                            <a ng-click="$ctrl.removeElementFromMask($index)">
                                <i class="material-icons link-warning">close </i>
                            </a>
                        </spen>
                    </p>
                </div>
                <div class="clearfix"></div>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>








