.cart-detail hr {
    border-top-color: #999;
}
.cart-detail {
    font-size: 18px;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 3px #666;
    margin-bottom: 10px;
    padding: 20px;
    transition: all .2s ease-out;
}
.cart-detail:hover {
    box-shadow: 0px 4px 15px #666;
}
.sticker {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    width: 40px;
    opacity: 0.8;
}
.index {
    position: absolute;
    font-size: 20px;
}
a:hover, a:focus {
    color: rgba(81, 149, 150, 0.71);
}
.name-models {
    font-size: 20px;
}
.name-models:hover {
    text-decoration: none;
}
input.number {
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
}

.sum {
    font-weight: bold;
    font-size: 20px;
}


.panel-violet .panel-heading {
    background-color: #575768;
    color: #fff;
    padding: 20px 15px;
    font-size: 22px;
    text-align: center;
    border: 10px solid #f5f5f5;
    box-shadow: 0 0 4px #666;
    margin-bottom: 2px;
}
.panel-violet .panel-footer {
    background-color: #eee;
    border-top: none;
    padding-left: 0;
    padding-right: 0;
}
.panel-violet .panel-footer input{
    font-size: 18px;
   /* border: 1px solid #52a8a1;*/
    padding: 3px 20px;
}
.panel-violet .panel-footer input:focus {
    /*box-shadow: 0px 1px 2px rgba(0, 117, 91, 0.55) inset, 0 0 2px rgba(0, 142, 115, 0.26)*/
}
.chat-content {
    margin: 10px;
}
.panel-violet .panel-body {
    background-color: #eee;
    padding: 10px;
}
.panel-violet .panel-body li {
    padding:10px;
    margin: 0;
}
.panel-violet .btn-default {
    background-color: #575768;
}
.chat{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body{
    margin-left: 60px;
}

.chat li.right .chat-body{
    margin-right: 60px;
}
.chat li .chat-body p{
    margin: 0;
    color: #777777;
}
.chat-content {
    margin: 10px;
}
.panel .slidedown .glyphicon,
.chat .glyphicon{
    margin-right: 5px;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.name-message {
    font-size: 12px;
}
.img-message {
    max-width: 40px;
}
.text-muted {
    font-size: 12px;
}
.message-me {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    /* border: 1px solid #575768;*/
    box-shadow: 2px 3px 6px #575768;
    box-shadow: -1px 3px 6px rgba(87, 87, 104, 0.59);
}
.message-he {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    /* border: 1px solid #575768;*/
    box-shadow: 0 3px 6px #006952;
    box-shadow: 1px 1px 6px rgba(0, 109, 88, 0.48);
}
