/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.simpleDemo ul[dnd-list],
.simpleDemo ul[dnd-list] > li {
    position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
    min-height: 32px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #E6E3EE;
    min-height: 32px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.simpleDemo ul[dnd-list] li {
    background-color: rgba(0, 128, 128, 0.04);
    border: 1px solid rgba(0, 128, 128, 0.15);
    /*border-top-right-radius: 4px;
    border-top-left-radius: 4px;*/
    display: block;
    padding: 10px 5px;
    margin-bottom: -1px;
    cursor: pointer;
    cursor: move;
}
.simpleDemo ul[dnd-list] li i {
    cursor: pointer;
}
.simpleDemo ul[dnd-list] li:hover{
    background-color: #e0deee;
    text-decoration: none;
}
.order-detail .btn.btn-fab {
    margin-right: 10px;
    margin-bottom: 10px;
}
.order-detail {
    margin-top: 100px;
}
/*link*/
.order-detail  .link-danger {
    color: #ff4437;
}
.order-detail .link-danger:hover, .link-danger:focus {
    text-decoration: none;
    /*color: rgba(228, 43, 77, 0.69);*/
    color: #ed3421;

}
.order-detail .link-warning{
    color: #ff5722;
}
.order-detail .link-warning:hover,
.order-detail .link-danger:focus  {
    color: #df3806;
}
.order-detail .link-info {
    color: #03a9f4;
}
.order-detail .link-info:hover,
.order-detail .link-info:focus  {
    color: #0385c3;
}
.order-detail .link-success {
    color: #4caf50;
}
.order-detail .link-success:hover,
.order-detail .link-success:focus  {
    color: #3a833d;
}
.order-detail .link-primary {
    color: #009688;
}
.order-detail .link-primary:hover,
.order-detail .link-primary:focus  {
    color: #007469;
}
/*link end*/
/*material-icons*/
.order-detail .material-icons {
    margin-right: 10px;
}
.order-detail .material-icons.md-18 { font-size: 18px; }
.order-detail .material-icons.md-24 { font-size: 24px; }
.order-detail .material-icons.md-36,
.order-detail .btn.btn-fab i.material-icons.md-36,
.order-detail .input-group-btn .btn.btn-fab i.material-icons.md-36{
    font-size: 36px;
    transform: translate(-17px, -11px);
}
.order-detail .material-icons.md-48 { font-size: 48px; }
/*material-icons end*/
.order-detail .order-cart-detail {
    box-shadow: 0px 8px 17px 0px;
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    margin-bottom: 40px;
}

/*fieldset.scheduler-border {
    border: 1px groove #ddd;
    padding: 0 1em 1em 1em;
    margin: 0 0 1em 0;
}

legend.scheduler-border {
    font-weight: bold;
    text-align: left ;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    margin-bottom: 10px;
}*/
/*.order-cart-detail legend {
    font-size: 26px !important;
    text-transform: lowercase;
    font-weight: bold;
}*/
.order-detail .cart-detail {
    font-size: 18px;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 3px #666;
    box-shadow: 0px 8px 17px 0px #999;
    /*0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    margin-bottom: 20px;
    padding: 20px;
    transition: all .1s ease-out;
}
/*.cart-detail:hover {
    box-shadow: 0px 2px 6px #666;
    *//*box-shadow: 0px 8px 17px 0px;*//*

}*/
.order-detail .cart-detail hr, hr {
    border-top-color: #ccc;
    background-color: #eee;
}
.order-detail .cart-detail a:hover,
.order-detail .cart-detail a:focus{
   text-decoration: none;
}
.order-detail .cart-detail a:hover,
.order-detail .cart-detail a:focus {
    color: rgba(81, 149, 150, 0.71);
}
.order-detail .order-name {
    font-size: 20px;
}
.order-detail .sticker {
    position: absolute;
    top: 5px;
    left: 20px;
    background-color: transparent;
    width: 40px;
    opacity: 0.8;
}
.order-detail .group-name {
    font-weight: bold;
}
.order-detail .index {
    position: absolute;
    left: 25px;
    font-size: 20px;
}
.order-detail .name-models {
    font-size: 20px;
}
.order-detail .name-models:hover,
.order-detail .name-models:focus{
    text-decoration: none;
}
.order-detail .coupon-name {
    font-size: 18px;
    font-weight: bold;
}
.order-detail input.number {
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
}
.order-detail .sum {
    font-weight: bold;
    font-size: 20px;
}
.order-detail .font-mobile .sum,
.order-detail .sum.font-mobile{
    font-size: 18px;
}
.order-detail .name-models.font-mobile,
.order-detail .cart-detail.font-mobile{
    font-size: 16px;
}
.order-detail .font-mobile .delete {
    font-size: 14px;
    margin-top: 30px;
    height: 20px;
}

.order-detail .cart-detail.info {
    box-shadow: none;
    min-height: 212px;
    background-color: rgba(0, 128, 128, 0.04);
    border: 1px solid rgba(0, 128, 128, 0.15);
}
.order-detail .cart-detail.info p {
    text-align: justify;
}
.order-detail .cart-detail.info .btn.btn-fab,
.order-detail .cart-detail.info .input-group-btn .btn.btn-fab {
    margin-top:-40px;
    box-shadow: 0 -1px 1px 0 rgba(0, 128, 128, 0.20) /*, 0 -1px 1px 0 rgba(0, 0, 0, 0.24)*/;
}
.order-detail .cart-detail.info .btn.btn-fab:hover,
.order-detail .cart-detail.info .input-group-btn .btn.btn-fab:hover {
    background-color: #ebebeb;
}
/*chat*/
/*.panel-violet .panel-heading {
    background-color: #575768;
    color: #fff;
    padding: 20px 15px;
    font-size: 22px;
    text-align: center;
    border: 10px solid #f5f5f5;
    box-shadow: 0 0 4px #666;
    margin-bottom: 2px;
}
.panel-violet .panel-footer {
    background-color: #eee;
    border-top: none;
    padding-left: 0;
    padding-right: 0;
}
.panel-violet .panel-footer input{
    font-size: 18px;
    border: 1px solid #52a8a1;
    padding: 3px 20px;
    margin-bottom: 0;
}
.panel-violet .panel-footer input:focus {
    box-shadow: 0px 1px 2px rgba(0, 117, 91, 0.55) inset, 0 0 2px rgba(0, 142, 115, 0.26)
}
.chat-content {
    margin: 10px;
}
.panel-violet .panel-body {
    background-color: #eee;
    padding: 10px;
}
.panel-violet .panel-body li {
    padding:10px;
    margin: 0;
}
.panel-violet .btn-default {
    background-color: #575768;
}
.chat{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body{
    margin-left: 60px;
}

.chat li.right .chat-body{
    margin-right: 60px;
}
.chat li .chat-body p{
    margin: 0;
    color: #777777;
}
.chat-content {
    margin: 10px;
}
.panel .slidedown .glyphicon,
.chat .glyphicon{
    margin-right: 5px;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.name-message {
    font-size: 12px;
}
.img-message {
    max-width: 40px;
}
.text-muted {
    font-size: 12px;
}
.message-me {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
     border: 1px solid #575768;
    box-shadow: 2px 3px 6px #575768;
    box-shadow: -1px 3px 6px rgba(87, 87, 104, 0.59);
}
.message-he {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
     border: 1px solid #575768;
    box-shadow: 0 3px 6px #006952;
    box-shadow: 1px 1px 6px rgba(0, 109, 88, 0.48);
}*/
.order-detail .order-cart-detail .panel-footer {
    border: 2px solid #52a8a1;
    padding-bottom: 0;
}
.order-detail .order-cart-detail .panel-footer .form-group {
    padding-bottom: 0;

}
.order-detail .order-cart-detail .panel-violet .panel-footer input,
.order-detail .order-cart-detail .panel-violet .panel-footer input:focus{
    border: none;
    box-shadow: none;
}

.order-detail label.btn.btn-raised:not(.btn-link).active,
.order-detail label.btn.btn-raised:not(.btn-link).active.btn-default{
    background-color:#009688;
}

.order-detail .list-group {
    min-height: 100px;
}
.order-detail  .ui-select-bootstrap > .ui-select-choices {
    margin-top: -28px;
}
.order-detail  .ui-select-bootstrap .ui-select-choices-row.active>a {
    background-color:#009688;
    background-color: rgb(116, 183, 178);
}
.order-detail .ui-select-bootstrap .ui-select-choices-row>a:hover {

    background-color:#009688;
}
.order-detail  .status  .ui-select-match  span.btn {
    background-color: #009688;
}
.order-detail .row-action-primary{
    vertical-align: top
}
.order-detail .btn.btn-fab.undo-mini {
    position: fixed;
    left: 20px;
    top:110px;
    z-index: 100;
}
.order-detail .btn.btn-fab.undo {
    position: fixed;
    left: 40px;
    top:130px;
    z-index: 100;
}
.order-detail .list-group-item-heading {
    font-weight: bold;
}
.order-detail .delivery i.remove {
    margin-right: 0;
    font-size: 32px;
}