div(class=dj[key].wrapclass,ng-hide='$ctrl.firstLook')
    div(class=mobileWrapper)
        a(class="back-link",ui-sref="stuffs($ctrl.$stateParams)")
            span(class="icon-back-img pull-left")
        div(class="clearfix")