/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.simpleDemo ul[dnd-list],
.simpleDemo ul[dnd-list] > li {
    position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
    min-height: 32px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #E6E3EE;
    min-height: 32px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.simpleDemo ul[dnd-list] li {
     background-color: #eee;;
    /*border: 1px solid #ddd;*/
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    cursor: pointer;
}
.simpleDemo ul[dnd-list] li:hover{
    background-color: #e0deee;
    text-decoration: none;
}

/**
 * Show selected elements in green
 */
/*.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}*/



@font-face {
    font-family: AVA_LNT;
    src: local("AVA_LNT"),
    url(../fonts/AVA_LNT.TTF);
}
@font-face {
    font-family: AVA_LNT;
    src: url('../fonts/AAvanteLtNrThin.eot');
    src: url('../fonts/AAvanteLtNrThin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AAvanteLtNrThin.woff') format('woff'),
    url('../fonts/AVA_LNT.TTF') format('truetype');
}
body {
    font-family:AVA_LNT;
    background-color: #f5f5f5;
    font-size: 18px;
}

.ng-pageslide {
    background: #eee;
    z-index: 2000 !important;
}
body.ng-pageslide-body-open::before {
    content: '.';
    display: block;
    position: absolute;
    top: 0;
    background-color: rgb(0,0,0);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.5;
    transition: opacity 1s;
}

body.ng-pageslide-body-closed::before {
    transition: opacity 1s;
    opacity: 0;
    content: '.';
    display: block;
    position: absolute;
    top: 0;
    background-color: rgb(0,0,0);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
}

.container {
    width: 100%
}
h1, h2, h3, h4, h5  {
    font-family:AVA_LNT;
}
h1 {
    color: #8083b0;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: lowercase;
}
img {
    border: none;
}
input, textarea {
    margin-bottom: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-40 {
    margin-top: 40px;
}

/*.color-active {
    border: 2px solid #ea4808;
}*/

/*table*/
/*.table .table > tbody > tr > td {
    border-color: #fff;
}
.table .table > thead:first-child > tr:first-child > th {
    border-color: #fff;
}*/
/*.step .active {
    color: #676a91;
}*/

/*a*/
a, .section-dark a {
    cursor: pointer;
    color: #b6956a;
    letter-spacing: 2px;
}
a:hover, a:active, .section-dark a:hover, .section-dark  a:active{
     color: #999;
     text-decoration: none;
 }
a[disabled] {
    pointer-events: none;
}
a.grey, .section-dark a.grey {
    text-decoration: none;
    color: #b6956a;;
}
a.grey:hover,
a.grey:active,
a.grey:focus,
.section-dark a.grey:hover,
.section-dark  a.grey:active,
.section-dark a.grey:focus{
    color: #676a91;
    text-decoration: none;
}
a.grey-inv {
    color: #777aa4;
    text-decoration: none;
}
a.grey-inv:hover,
a.grey-inv:active,
a.grey-inv:focus {
    color: #494b68;
    color: #d58512;
}
a.caption {
    color: #545875;
    text-decoration: none;
    font-weight: bold;
}
a.caption:hover,
a.caption:active,
a.caption:focus {
    color: #d58512;
}
a.caption-inv {
    color: #d58512;
}
.coments a {
    color: #676a91;
    letter-spacing: 2px;
}
.section-dark .panel a.basic {
    color: #ea4808;
}
.section-dark .panel a.basic:hover, .section-dark .panel a.basic:active {
    color: #666;
}
a.black:hover {
    color: #333;
}
a.go/*stuffdetail*/ {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}
.social-links a {
    background-color: #eee;
    margin-bottom: 5px;
}
.icon-plus, .icon-minus {
    width: 25px;
    margin: 5px;
}
/*a.inv {
    cursor: pointer;
    color: #ccc;
    font-weight: bold;
    font-size: 20px;
}
a.inv:hover, a.inv:active {
    color: #d58512;
    text-decoration: none;
}*/


/*btn*/
.btn {
    letter-spacing: 2px;
}
.btn-lg {
    border-radius: 0;
}
.btn-success {
    letter-spacing: 2px;
    background-color: #615a62;
    border-color: #433e43;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    background-color: #514c51;
    border-color: #342f35;
    color: #d58512;
}
.btn-success[disabled]{
    background-color: #8f8490;
    border-color: #655c66;
}
.section-dark .btn-success.btn-border {
    width: 300px;
    letter-spacing: 2px;
    background-color: transparent;
    color: #676a91;
    border:2px solid #676a91;
}
.section-dark .btn-success.btn-border:hover {
    background-color: rgba(105, 108, 147, 0.40);
    color: #fff;
}
.btn-warning {
    color: #333;
    font-weight: bold;
}
.section-dark a.btn-warning {
    color: #333;
}
.section-dark a.btn-warning:hover,
.section-dark a.btn-warning:active {
    color: #fff;
}
.btn-1 {
    border-radius: 0;
    width: 200px;
}

@media (max-width: 1350px) {
    .go.btn-1 {
        width: 165px;
        font-size: 14px;
    }
}
@media (max-width: 1110px) {
    .go.btn-1 {
        width: 140px;
        font-size: 12px;
    }
}
@media (max-width: 990px){
    .go.btn-1 {
        width: 100%;
    }

}
@media (max-width: 760px){
    .go.btn-1 {
        width: 150px;
    }

}
@media (max-width: 350px){
    .go.btn-1 {
        width: 100%;
    }
}
.btn-1.btn-block {
    width: 100%;
}
.btn-group-sm>.btn, .btn-sm {
    padding-left: 0;
    padding-right: 0;
}
/*navbar*/
.navbar-toggle {
    float: left;
}
.navbar {
    border-left: none;
    border-right: none;
    border-radius: 0;
    letter-spacing: 2px;
    min-height: 70px;
}
ul.navbar-nav {
    height: 70px;
    /*margin-right: 100px;*/
}
.logo-top {
    margin-left: 40px;
}
.logo-top img {
    height: 70px;
}
.navbar-inverse {
    background-color:#433745;
    border-bottom: none;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    z-index: 1050;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 18px;
    padding: 25px 10px;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #433745;
}
.navbar-inverse .navbar-nav > li > a.sale {
    color: rgb(210, 144, 148);
}
.navbar-inverse .navbar-nav > li > a.sale:hover {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a.new {

    color: #8083b0;
}
.navbar-inverse .navbar-nav > li > a.new:hover {
    color: #fff;
}
span.caret {
    margin-left: 5px;
}
.nav-bag span {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.nav-bag img {
    position: absolute;
    width: 65px;
    top: 5px;
    right: 20px;
}
/*.navbar-collapse.collapse {
    height: 70px !important;
    padding-right: 100px;
    z-index: 1000;
}
.navbar-collapse.collapse.in {
    height: 340px !important;
    padding-top: 70px;
    padding-left:20px;
}*/
.vw {
    width: 20px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 0px;
}
.dropdown-menu .vw {
    margin-top: 0px;
}
ul.dropdown-menu li a img.vw {
    display: block;
    width: 20px;
    float: left;
    margin-right: 5px;
    padding-bottom: 0;
    padding-top: 2px;
}
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:active{
    background-color: rgba(173, 173, 173, 0.4)
}
.navbar-inverse .navbar-nav > .open > a {
    background-color: rgba(173, 173, 173, 0.4)
}
.navbar-inverse .navbar-nav > li > a > span.glyphicon-log-out,
.navbar-inverse .navbar-nav > li> a > span.glyphicon-log-in {
    /*color: #d58512;*/
    color: #8083b0;
}
.navbar-inverse .navbar-nav > li > a > span.glyphicon-log-out:hover,
.navbar-inverse .navbar-nav > li> a > span.glyphicon-log-in:hover {
    color: #fff;
}
ul.dropdown-menu {
    background-color: #fff;
    z-index: 10000;
    box-shadow: 1px 1px 2px #666;
    min-width: 200px;
    width: auto;
    text-align: right;
}
.dropdown-menu > li > a {
    color: #433745 ;
}
ul.dropdown-menu li{
    font-size: 18px;
    width: 100%;
}
ul.dropdown-menu li a {
    font-weight: bold;
}
ul.dropdown-menu li a:hover,
ul.dropdown-menu li a:active{
    background-color: #433745;
    color: #ccc;
}
.navbar-inverse .navbar-nav > li > a.admin {
    color: #8083b0;
    font-size: 16px;
    padding: 25px 15px 23px
}
.navbar-inverse .navbar-nav > li > a.admin:hover {
    color: #fff;
}
div.navbar-collapse.navbar-ex1-collapse {
    padding-right: 20px;
}


/*media navbar*/
@media (max-width: 1335px){
    .logo-top{
        display: none
    }
}
@media (max-width: 1120px){
    .navbar-inverse .navbar-nav > li > a{
        font-size: 14px;
        padding-right: 7px;
        padding-left: 7px;
    }
}
@media (max-width: 1000px) {
    .navbar-inverse .navbar-nav > li > a{
        font-size: 12px;
        padding-right: 7px;
        padding-left: 7px;
    }
    ul.navbar-nav {
        margin-right: 60px;
    }
    .nav-bag img {
        width: 55px;
        height: 55px;
    }
}
@media (max-width: 1000px) and (min-width: 769px){
    .navbar-inverse .navbar-nav > li> a.sale,
    .navbar-inverse .navbar-nav > li>  a.new {
        display: none;
    }
}
/*@media (max-width: 768px) {
    div.navbar-collapse li {
        text-align: left;
    }
    .navbar-inverse .navbar-nav > li > a{
        font-size: 10px;
        padding-right: 3px;
        padding-left: 3px;
    }
     .navbar-collapse.collapse.in .navbar-nav > li > a{
        font-size: 18px;
    }
    .navbar-collapse.collapse.in ul.navbar-nav  {
        padding-left: 20px;
    }
    img.vw {
        width: 18px;
        margin-top: 0px;
        margin-right: 5px;
    }
    .dropdown-menu .vw {
        margin-top: -2px;
    }
    .nav-bag img{
        top: 5px;
        right: 25px;
    }
    .nav-bag span.inCart {
        top: 35px;
        right: 10px;

    }
    .nav-bag .newInCart {
        color: #ccc;
        background-color: #d58512;
        font-size:35px ;
        width: 60px;
        height: 60px;
        padding-top: 5px;
        top: 30px;
        top: 15px;
        right: 10px;
    }
    .half-section.half-section-desc .container-fluid{
        display: none;
    }

}*/
/* end @media navbar */


/*section*/
section{
    padding:10px 0;
    margin:0px auto;
    display:block;
    position:relative;
    width:100%;

}
/*section {
    padding-top: 10px;
}*/
.main {
    margin-top: 80px;
    border-bottom: 1px solid #999
}
.section-dark hr, hr {
    border-top: 1px solid #ccc;
}
.half-section .right {
    background-color: #ccc;
}
.half-section .right1 {
    background-color: #ccc;
    padding: 10px;
}
.right1 hr {
    border-top-color: #f5f5f5;
}
.my-cart hr {
    border-top-color: #999;
}
/*.half-section {
    background-image:  url(../img/bg/106a.jpg);;
}*/
.half-section-1-2 {
    /*background-image: url(../img/bg/42.jpg);
    background-position: top;*/
    display: block;
    padding-top: 20px;
}
.half-section-1-2 .container-fluid {
    margin-top: 20px;
}
.section-left, .section-right, .section-center{
    border-top: 1px solid #ccc;
    padding-left:40px;
    padding-right: 40px;
}
.section-center {
    padding-bottom:20px;
    text-align: center;
}
.section-left .desc, .section-right .desc,  .section-center .desc{
    color: #666;
}
.half-section.half-section-desc {
    padding-top:0px;
    padding-bottom:0;
}
.half-section.half-section-desc .section-left,
.half-section.half-section-desc .section-right {
    padding-top: 20px;
}

.half-section.half-section-desc .title-block-rose {
    margin-top:20px;
    margin-bottom:20px;
    text-transform: lowercase;
}
footer.section-dark {
    background-color: #433745;
}
address {
    font-size: 18px;
    font-weight: bold;
}
.section-dark {
    background-color: #f6f6f6;
}
.section-dark a.btn-success {
    color: #fff;
    font-weight: bold;
}
.section-dark a.btn-success:hover {
    color: #d58512;
}

/*img stuff*/
.img-responsive {
    max-width: 100%;
}
.thumbnail .img-responsive{
    min-width:100%;
}
.thumbnail, .thumbnail img{
    border: none;
    background-color: #fff;
    padding: 0;
}
.box-overlay {
    background: none repeat scroll 0 0 #000;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s ease-out 0s;
    width: 100%;
    z-index: 1020;
}
.box-overlay-stuff {
    background: none repeat scroll 0 0 #000;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s ease-out 0s;
    width: 100%;
    z-index: 1020;
}
div.thumbnail:hover .box-overlay{
    opacity: 0.7;
    opacity: 0.5;

}
div.thumbnail:hover .box-overlay-stuff {
    opacity: 0.7;
}

div.half-shadow, div.half-shadow-stuff {
    height: 11%;
    position: absolute;
    width: 100%;
    z-index: 1030;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 24px;
}
div.half-shadow-stuff {
    height: 25%;
}
div.title-block-stuff p {
    display: none;
}
div.thumbnail:hover div.title-block-stuff p {
    display: block;
    transition: opacity 0.5s ease-out 0s;
}
div.title-block p, div.title-block-stuff p{
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

#container-folio-stuff .thumbnail {
    margin-bottom: 0;
}
.half-shadow-stuff p {
    margin-bottom: 0;
    line-height: 22px;
}

.color-container {
    margin-top: 15px;
}
.color-container img {
    padding: 5px;
    float: left;
    margin-right: 10px;
    width: 60px;
}
.to-top {

    /*display: none;*/
}
.to-top.toTopDispalay{
    opacity: 1;
    -webkit-transition: all 0.2s ease-out 1s;
    -moz-transition: all 0.2s ease-out 1s;
    -o-transition: all 0.2s ease-out 1s;
    transition: all 0.2s ease-out 1s;
}
.to-top.toTopDispalayNone{
    opacity: 0;

}
.to-top img {
    width: 50px;
    width: 40px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1500;
}
.thumbnail .sticker {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    width: 70px;
    opacity: 0.8;
}
@media  (max-width: 768px) {
.thumbnail .sticker {
    width: 50px
}
}



/*comments, panel*/
.coments {
    background-color: #f3f3f3;
    border: 2px solid #676a91;
    border-radius: 4px;
    padding: 15px 30px 5px 30px;
}
.content-comments .panel-default > .panel-heading,
.content-comments .panel-body,
.content-comments .panel {
    background-color: #f5f5f5;
}

.panel {
    background-color: #f3f3f3;
    box-shadow: none;
}
.commenter-container .panel-body {
    border-bottom: none;
}
.panel-body {
    border-bottom: none;
    border: none;
    border-bottom: 1px solid #f3f3f3;
    color: #333;
}
.panel-body{
    background-color: #f3f3f3;
}
.box-filters {
    color: #433745;
}
.box-filters hr {
    margin-left: 15px;
    margin-right: 15px;
}
.box-filters .panel-body {
    background-color: #f5f5f5;
}
.box-filters .panel-default {
    background-color: #f5f5f5;
}
.box-filters .panel-default >  .panel-heading {
    background-color: #f5f5f5;
    border: none;
}
.box-filters .panel a {
    color: #676a91;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 24px;
    text-transform: lowercase;
}
.panel-default {
    border: none;
}
.panel-default > .panel-heading {
    border: 2px solid #676a91;
    background-color: #f3f3f3;
    padding-top: 0;
    padding-bottom: 0;
}
h4.panel-title:focus {
    outline: none;
    border: none;
}
.panel-heading h4.panel-title{
    font-size: 18px;
    color: #676a91;
    letter-spacing: 2px;

}
.panel-heading h4:hover {
    color: #999;
}

.panel-heading h4 span {
    margin-top: 8px;
    display: block;
}
.panel-title a {
    text-decoration: none;
}
.panel-title:hover, .panel-title:active {
    color: #edab2b;
    color: #666;
    text-decoration: none;
}

.panel-body {
    font-size: 14px
}
.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: none;
    border-bottom: none;
}



/*stuff*/
.block {
    margin-right: 0;
    padding: 0;
}
span.name {
    font-size: 20px;
}
span.price-stuff {
    margin-right: 10px;
}
span.price-sale {
    color: #d58512;
    font-weight: bold;
    margin-right: 10px;
}
.block-stuff {
    margin-right: 0;
    padding-right: 0;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.filter-name {
    margin-right: 20px;
    font-size: 18px;
}
.filter-value {
    margin-right: 10px;
}
.cancel {
    margin-bottom: -6px;
}
.filter-value input {
    margin-right: 5px;
}
.filter-value span {
    display: block;
    float: right;
    margin-top: 0px;
}
.section-dark .filter-value a {
    color: #676a91;
    display: block;
    float: left;
    letter-spacing: 2px;

}
.section-dark .filter-value a:hover {
    text-decoration: none;
    color: #f0a006;
}
.nope {
    color: #676a91;
    font-size: 36px;
    padding: 30px 20px;
    border: 2px solid #676a91;
    background-color: #eee;
    letter-spacing: 2px;
    text-transform: lowercase;
}
.cart-info {
    color: #676a91;
    font-size: 24px;
    padding: 30px 20px;
    border: 2px solid #676a91;
    background-color: #eee;
    letter-spacing: 2px;
    /*text-transform: lowercase;*/
    margin-bottom: 20px;
    position: relative;
}
/*.cart-info .sticker {
    position: absolute;
    left: 10px;
    top: 10px;
}*/
/*.cart-info h2 {
    text-transform: uppercase;
}*/
/*.elsl h3 {
    text-transform: lowercase;
    letter-spacing: 3px;
}*/

/*stuffdetail*/

.zoom-images img {
    width: 100%;
    cursor: zoom-in;
}
.detail {
    font-size: 18px;
    color: #433745;
    margin-top: 40px;
    /*position: fixed;
    right: 15px;*/
}
.detail h3 {
    font-size: 24px;
    font-weight: bold;
}
.detail h3:first-child {
    font-size: 32px;
}
@media (max-width: 500px) {
    .detail h3 {
        font-size: 20px;
        font-weight: bold;
    }
    .detail h3:first-child {
        font-size: 26px;
    }

}
.section-dark {
    color: #333;
    color: #fff;
}
ul.commens-list {
    padding-left: 15px;
    padding-right: 5px;
}

.zoom {
    margin-right: 20px;
    margin-bottom: 0px;
    padding: 5px;
    float: left;
}
.zoom img {
    width: 70px;
    height: 70px;
    position: relative;
    vertical-align: middle;
}
h3.price {
    margin-bottom: 10px;
    margin-top: 10px;
}
.photo-container {
    position: fixed;
    overflow: hidden;
    top: 0;
    background-color:#d3d3d3;
    z-index: 9999;
}
.navright {
    position: absolute;
    top:48%;
    right: 20px;
    z-index: 3000;
    cursor: pointer;
    width: 50px;
}
.navleft {
    position: absolute;
    top:48%;
    left: 20px;
    z-index: 3000;
    cursor: pointer;
    width: 50px;
}
.color-container-detail {
    margin-right: 0;
}
.color-container-detail img {
    padding: 5px;
}
/*.zoom img:hover {
    width: 52px;
    height: 52px;
    width: 60px;
    height: 60px;
    -webkit-box-shadow: 0 0 40px rgba(255,255,255,.6), inset 0 0 40px rgba(255,255,255,1);
    -moz-box-shadow: 0 0 40px rgba(255,255,255,.6), inset 0 0 40px rgba(255,255,255,1);
    box-shadow: 0 0 40px rgba(255,255,255,.6), inset 0 0 40px rgba(255,255,255,1);
    margin: -7px;
}*/
.size-table {
    color: #433745;
}
.number {
    height: 38px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: #eee;
    color: #333;
}
.visibleMy {
    opacity: 1;
    -webkit-transition: all ease-in-out 1s;
    -moz-transition: all ease-in-out 1s;
    -o-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s ;
}
.hiddenMy {
    opacity: 0;
}
.social-links a {
    padding: 3px;
    margin-top: 0;
}
.social-links a:hover {
    background-color: #999;
}
.social-links a img {
    width: 26px;
}
/*social-hub*/
.ng-social-icon, .ng-social-counter {
    display: none
}
ul.ng-social{
    text-align: center;
}
ul.ng-social .ng-social-text{
    font-size: 20px;
}
.ng-social-button {
    padding-top: 5px;
    padding-bottom: 5px;
}
.social-hub {
    width: 100%;
    position: absolute;
    bottom: 20px;
    z-index: 100;
    text-align: center;
}
.social-hub li {
    float: left;
    list-style:  none;

}
.social-hub  li a {
    font-size: 24px;
    color: #676a91;
    color: #fff;
    padding: 5px;
}
.ng-social .ng-social-google-plus .ng-social-button,

.ng-social-twitter .ng-social-button,
.ng-social-vk .ng-social-button,
.ng-social-pinterest .ng-social-button
{
    padding-left: 0px;
    padding-right: 5px;
    /*background: none;*/
    background-color: transparent;
    border: none;
}
.ng-social-facebook .ng-social-button {
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    border: none;
}
.ng-social, .ng-social-_widget {
    display: inline-block;
    vertical-align: middle;
}

/* cart*/
.my-cart  div{
    padding-left: 10px;
    padding-right: 10px;
}
.page-section {
    text-transform: uppercase;
    font-size: 26px;
}
/*.step {
    margin-top:30px;
}
@media (max-width: 949px) and (min-width: 760px ){
    .step {
        margin-top: 70px
    }
}*/
/*.action-cart {
    font-size: 18px;
    color: rgb(183, 121, 146);
    font-weight: bold;
    letter-spacing: 2px;
}
.action-cart img {
    width: 70px;
}*/
.quantity{
    position:absolute;
    background-color: #ccc;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    color: #d58512;
    top: 90px;
    right:140px;
    box-shadow: 1px 1px 1px #666;
}
.quantity b {
    font-size: 32px;
}
/*a.grey {
    font-weight: bold;
}*/


/*.brand img{
    width: 128px;
}*/
.page_title {
    font-size: 36px;
    color: #d58512;
    color: rgb(189, 127, 153);
    margin-bottom: 40px;
}
/*.clause {
    text-align: left;
    margin-bottom: 10px;
    line-height: 22px;
}

.clause span {
    display: block;
    padding-top: 5px;
    color: #615a62;
    text-transform: none;
    font-size: 18px;
    vertical-align: middle;
}
.clause .clause_icon {
    display: block;
    border-radius: 50px;
    padding: 0;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}*/
/*.clause_icon img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}*/
/*li.cart-caption, li.cart-detail {
    list-style: none;
    min-height: 44px;
    font-size: 20px;
}

li.cart-caption span, li.cart-detail span {
    padding-top: 9px;
}*/
.cart-detail {
    background-color: #eee;
    box-shadow: 0 3px 3px #666;
    -webkit-box-shadow: 0 3px 3px #666;
    -moz-box-shadow: 0 3px 3px #666;
    box-shadow: 0 3px 3px #666;
    margin-bottom: 10px;
    padding: 10px 20px 10px 10px;
}
.sum {
    color: #d58512;
    font-size: 20px;
}
.sum-all {
    color: #676a91;
    font-size: 22px;
}
a.delete {
    color: #a94442;
}
a.delete:hover,
a.delete:active,
a.delete:focus{
    color: #676a91;
}
.cart-label {
    margin-top: 7px;
}
.cart-label span {
    color: #a94442;
}
.my-cart .inOrder {
    background-color: #cccccc;
    border: 1px solid #999;
    padding: 15px 0;
    box-shadow: 1px 1px 2px #666;
}
.my-cart .order-detail {
    padding-left: 0;
    padding-right: 0;
}
/*table.mycart {
    overflow-x: visible;
    border-collapse: separate;
    border-spacing: 0px 10px;
}

tr.cart-caption, tr.cart-detail {
    min-height: 60px;
    font-size: 20px;
}
tr.cart-caption td, tr.cart-detail td {
    padding-top: 10px;
    padding-bottom: 10px;
}
*/
table.archive td{
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}
.name-models {
    font-size: 16px;
}

input.form-control,
textarea.form-control{
    border-radius: 0;

}
input.form-control{
    height: 40px;
}
input.form-control.cart {
    height: 40px;
    -webkit-box-shadow: 0 3px 3px #666;
    -moz-box-shadow: 0 3px 3px #666;
    box-shadow: 0 3px 3px #666;
}
textarea.cart {

    -webkit-box-shadow: 0 3px 3px #666;
    -moz-box-shadow: 0 3px 3px #666;
    box-shadow: 0 3px 3px #666;
}
.nav-bag .inCart{
    position:absolute;
    background-color: #ccc;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: 60px;
    top: 40px;
    right: 10px;
    color: #d58512;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all  ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;

}
.nav-bag .newInCart {
    color: #ccc;
    background-color: #d58512;
    font-size:35px ;
    width: 60px;
    height: 60px;
    padding-top: 5px;
    top: 30px;
    top: 10px;
    border-radius: 30px;
    opacity: 1;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all  ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    z-index: 1300;
}
.glyphicon-log-out {
    color: #d58512;
}
.form-control:focus  {
    border-color: #d58512;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75) inset, 0 0 3px rgba(233, 170, 8, 0.60)
}
.promt {
    font-size: 14px;
    margin-left: 20px;
}
.mycart li.cart-detail .glyphicon-remove {
    margin-top: 2px;
}
.mycart li.cart-detail select {
    height: 36px;
    width: 60px;
    border: none;
    margin-top: 4px;
}
/*media cart*/
@media (max-width: 1430px) and (min-width: 1270px ){
   .mycart li.cart-detail,.mycart li.cart-caption  {
       font-size: 18px;
   }
    .mycart li.cart-detail .glyphicon-remove {
        font-size: 16px;
    }
}
@media (max-width: 1269px) and (min-width: 1120px ){
    .mycart li.cart-detail,.mycart li.cart-caption  {
        font-size: 16px;
    }
    .mycart li.cart-detail .glyphicon-remove {
        font-size: 14px;
    }
    .mycart li.cart-detail select {
        width: 50px;
    }
}
@media (max-width: 1119px) and (min-width: 750px ) {
    .half-section .left {
        display: none;
    }
     .half-section .right {
        width: 100%;
    }
    .mycart li.cart-detail,.mycart li.cart-caption  {
         font-size: 18px;
        min-height: 66px;
     }
    .mycart li.cart-detail .glyphicon-remove {
        /*margin-right: 5px;*/
        font-size: 16px;
    }
    .mycart li.cart-detail select {
          width: 50px;
      }
}
@media (max-width: 749px)  {
    .half-section .left {
        display: none;
    }
    .half-section .right {
        width: 100%;
    }
    .mycart li.cart-detail,.mycart li.cart-caption  {
        font-size: 14px;
    }
    .mycart li.cart-detail .glyphicon-remove {
        margin-right: 5px;
        font-size: 14px;
    }
    .mycart li.cart-detail select {
        width: 50px;
    }
    li.cart-detail {
        min-height: 100px;
    }
    .mycart li.cart-caption {
        font-size: 14px;
    }

}
/*end media cart*/

.scale-fade {
    transition-delay: 0.5s;
    transition-duration: 1.5s;
}



/*login*/
.login {
    margin-top: 80px;
}
.login .panel,
.login .panel-body{
    background-color: #ccc;
    padding-left: 0;
    padding-right: 0;
}
.login .panel-heading {
    padding: 10px 15px ;
    background-color: #615a62;
    text-align: center;
    outline: none;
}
.login .panel-heading h4 span {
    margin-top: 0;
}
.login .panel-default > .panel-heading {
    border: none;
    border-bottom: 1px solid #eee;
}
.login .panel-heading {
    border-radius: 0;
}
.login .panel-group .panel {
    border-radius: 0;
}
.login a.accordion-toggle {
    /*color:  #d58512;*/
    color: #fff;
}
.login a.accordion-toggle:hover,
.panel-heading h4:hover{
    /*color:  #d58512;*/
    color: #d58512;
}
.sp a.accordion-toggle:hover {
    color: #666;
}
.login .modal-header, .login .modal-body{
    background-color: #ccc;
}
.login input, .mytoggle1 input{
    font-family: Tahoma, Geneva, sans-serif;

}

/*dialog modal*/

.dialog-header-error {
    background-color: #d2322d;
}
.dialog-header-wait {
    background-color: #428bca;
}
.dialog-header-notify {
    background-color: #786b7a;
}
.dialog-header-confirm {
    background-color: #333333;
}
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 {
    color: #ffffff;
}
.dialog-header-notify {
    background-color: #bbadbd;
}
.dialog-header-notify .modal-title.text-info {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.dialog-header-notify .modal-title.text-info span {
    font-size: 22px;
}
.dialog-header-notify button.close {
    color: #433745;
}
/*.modal-body.text-info {
    color: #433745;
    font-size: 22px;
}
.modal-footer button.btn-primary {
    background-color:  #bbadbd;
    border-color: #ac9eae;
}*/
.desc {
    color: #fff;
    text-align: justify;
}
/*.modal-vitget {
    padding: 40px 0;
    border: 20px solid #999;
    border-radius: 5px;
    background-color: #fff;
}
.modal-vitget img {
    padding-top:10px;
    padding-bottom:10px;
}
.modal-vitget p {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    color: #433745;
}
.modal-vitget p span {
    color: #d58512;
    font-weight: bold;
}*/

/*comments*/
.coments {
    padding-top: 10px;
    padding-bottom: 0;
}
.panel-default > .panel-heading.comment-header {
    border: none;
}
.panel-default > .panel-heading.comment-header h4 {
    font-size: 16px;
}
.section-dark .panel h4.comment-user a {
    color: #679d4f;
    color: #676a91;
}
.action {
    cursor: pointer;
    color: #d58512;
}
.action:hover {
    color: #666;
}
.label-success.action, .label-warning.action {
    background-color: #eee;
    font-size: 16px;
}
.contents-comments {
    padding-left: 20px;
    background-color: #ccc;
}
.form-inline .form-control {
    width: 100%;
}
.form-inline .form-group {
    width: 100%;
    margin-bottom: 10px;
}
.form-group {
    margin-bottom: 0;
}

/*pagination*/
ul.pagination {
    margin: 0 10px 20px 10px;
}
.pagination>li>a,
.pagination>li>span {
  padding: 4px 8px;
}
.show-by {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
}
.show-by ul {
    margin: 0 auto;
    padding-left: 0;
}
.show-by button.grey {
    border: 1px solid #615a62;
    padding: 8px 12px;
    color: #615a62;
}
.show-by button.grey:hover {
    background-color: #ccc;
}
.show-by button.grey.active,
.show-by button.grey:active{
    background-color: #615a62;
    color: #fff;
}
.pagination > li > a {
    font-size: 16px;
    color: #666 ;
}
.pagination > li > a:hover,
.pagination > li > a:active,
.pagination > li > a:focus {
   color: #615a62;
}
.pagination > .active > a,
.pagination > .active > a.grey {
    background-color: #615a62;
    border-color: #514a52;
}
.pagination > .disabled > a,
.pagination > .disabled > a:hover {
    color: #615a62;
}




/*error*/
/*.error {
    font-size: 60px;
    color: rgb(189, 127, 153);
    margin-bottom: 200px;
    margin-top: 200px;
    letter-spacing: 3px;
    text-shadow: 0 2px 3px #333;
}
.error span {
    font-size: 120px;
}*/

/*stat*/
.header-stat {
    /*font-size: 36px;*/
    color: #d58512;
}
.stat .left hr {
    border-top-color: #fff;
}
.stat .right{
    margin-top: 80px;
    margin-bottom: 40px;
    background-color: #ccc;
}
.stat .right li {
    list-style: none;
}
.stat a.btn {
    color: #676a91;
    font-size: 26px;
    text-transform: lowercase;
    font-weight: bold;


}
.stat a.btn span {
    border-bottom: 1px solid #8083b0;
}
.stat a.btn:hover{
    color: #494b68;

}
/*elastislider*/
.elsl .elastislide-wrapper nav span {
    background-color: #999;
}
.elsl .elastislide-wrapper {
    background-color: #eee;

}

/*witget*/
.witget {
    position: fixed;
    width: 300px;
    height: 450px;
    bottom: 0;
    background-color: #ddd;
    color: #433745;
    border: 2px solid #433745;
    padding: 20px;
    z-index: 10000;
}
.witget a {
    color: #d58512;
}


/*search*/
.search {
    /*width: 200px;*//*
    margin-top: 25px;
    margin-left: 20px;*/
    padding: 23px 15px 21px;
    color: #8083b0;

}
.search:hover {
    background-color: rgba(173, 173, 173, 0.4);

}
.search:hover .glyphicon.glyphicon-search {
    color: #fff;
}
.form-search .input-group-btn .glyphicon.glyphicon-search {
    color: #8083b0;
}
.search .glyphicon.glyphicon-search {
    color: #8083b0;
}
.navbar .search-form {
    position: absolute;
    left: -240px;
    top: 70px;
    width: 300px;
    height: 40px;
}
.navbar .form-search {
    position: absolute;
    left: -250px;
    top: 70px;
    width: 300px;
    height: 60px;
    background-color: #fff;
    z-index: 10000;
    box-shadow: 1px 1px 2px #666;
    padding: 15px;
}
.gsc-control-cse,
form.gsc-search-box {
    font-size: 16px;
}
td.gsc-input {
    border-radius: 4px;
    height:40px;
    width: 200px;

}
.search-form .gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 0;
}
td.gsc-input .gsc-input-box {
    font-size: 16px;
    border-radius: 4px;
    height: 40px;
    width: 250px;
}
td.gsc-input .gsc-input-box-focus {
    box-shadow: 0px 0px 1px rgba(0,0,0,0.3) inset;
    border-color: #8083b0;

}
td.gsib_a, td.gsib_b {
    height: 40px;
}
.gsc-search-button input.gsc-search-button-v2 {
    height: 40px;
    margin-left: -30px;
    margin-top: 5px;
    background-color: #8083b0;
    border-radius: 4px;

}
.navbar .search-form form input {
    border-color: #8083b0;
}


/*news-home*/
.news-container {
    overflow: hidden;
    max-height: 700px;
    border: 10px solid transparent;
    /*border:3px solid rgb(210, 144, 148);*/
}

.news-container div.half-shadow {
    font-size: 18px;
}
.news-desc {
    margin-top: 20px;
    margin-bottom: 40px;
    /*background-color: #ccc;*/
}
.news-desc img {
    margin-top: 20px;
    margin-bottom: 20px;
}
.news-desc p{
    color: #4c4f6b;
    text-align: justify;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.news-desc h3 {
    color: #676a91;
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: lowercase;
    text-align: center;
}
.news-desc .date {
    color: #676a91;
}
a.news-head {
    /*text-transform: uppercase;*/
    margin-bottom: 40px;
}

.news-head span {
    font-size: 12px;
    display: block;
    float: left;
    margin-top: 9px;
    margin-right: 5px
}
.news-home .news-container {
    max-height: 600px;
    overflow: hidden;
    border: none;
}
.news-home .thumbnail {
    background-color: #f5f5f5;
}
.news-home p{
    text-align: justify;
}
/*home-top*/
.home-top {
    margin-top: 70px;
}
.home-top .thumbnail {
    margin-bottom: 0;
}
.home-top .half-shadow {
    top: 20%;
    text-align: center;
}
.home-top .title-block-blue  {
    width: 50%;
    margin: 0 auto;
    padding: 30px 20px;
    border: 2px solid #676a91;
    background-color: rgba(255, 255, 255, 0.6);
}
.title-block-blue p {
    font-size: 72px;
    color: #676a91;
    text-shadow: none;
}
.home-top .title-block-yellow {
    width: 50%;
    margin: 0 auto;
    padding: 30px 20px;
    border: 2px solid #d58512;
    background-color: rgba(255, 255, 255, 0.6);
}
.title-block-yellow p {
    font-size: 72px;
    color: #d58512;
    text-shadow: none;
}
.home-top .title-block-rose  {
    width: 50%;
    margin: 0 auto;
    padding: 30px 20px;
    border: 2px solid rgb(210, 144, 148);
    border: 2px solid rgb(189, 127, 153);
    background-color: rgba(255, 255, 255, 0.6);
}
.title-block-rose {
    width: 70%;
    margin: 0 auto;
    padding: 30px 20px;
    border: 2px solid rgb(210, 144, 148);
    background-color: rgba(255, 255, 255, 0.6);
}
.title-block-rose:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.title-block-rose p {
    font-size: 72px;
    color: rgb(189, 127, 153);
    text-shadow: none;
}
.half-section .title-block-blue {
    border: 2px solid #676a91;
    padding: 30px;
    text-align: center;
}
.half-section .title-block-blue p {
    font-size: 46px;
    font-weight: bold;

}
.sale-home {
    padding-top: 150px;
    padding-bottom: 150px;
}
.sale-home .sale-desc {
    color: #ac5170;
    font-size: 40px;
}
.half-section .title-block-rose {
    width: 100%;
    border: 2px solid rgb(189, 127, 153);
    padding: 30px 10px;
    text-align: center;
}
.half-section .title-block-rose p {
    font-size: 40px;
    font-weight: bold;

}
.title-block-blue, .title-block-yellow span, .title-block-rose span {
    font-size: 26px;
    color:#666;
}
.block-white {
    padding: 50px 100px;
    text-align: center;
}
.block-white h1 {
    color: #413c41;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: normal;
}
.block-white h1 span.title-block-white {
    color: #676a91;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 6px;
    text-transform: lowercase;
    margin-bottom: 40px;
}
.block-white-small {
    padding: 8px;
}
footer{
    padding:20px 0 ;
    margin:0px auto;
    display:block;
    position:relative;
    width:100%;
}
footer .contacts {
    font-size: 16px;
    letter-spacing: 2px;
}
.footer-nav-links li, .footer-nav-links li li{
    float:left;
    font-size: 18px;
    margin-right: 15px;
    list-style: none;
}

.news-container {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
.news-container .thumbnail {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}
.news-container .half-shadow {
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 50%;
}
.news-container .half-shadow {
    text-align: center;
    position: absolute;
    top: 300px;
}
.news-container .title-block {
    width: 70%;
    margin: 0 auto;
    padding: 20px 20px;
    border: 2px solid #c8cce6;
    background-color: rgba(63, 63, 63, 0.60);
}
.news-container .title-block h3 {
    color: #c8cce6;
    font-weight: bold;
}
.news-stuff .news-container .thumbnail {
    padding-bottom: 240px;
}
.news-stuff .news-container .half-shadow{
    position: absolute;
    bottom:0;
    height: 240px;
}
.news-stuff .news-container .title-block {
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
    border: 2px solid #c8cce6;
    background-color: rgba(63, 63, 63, 0.60)
}
.news-stuff .news-container .title-block h3 {

    color: #c8cce6;
    font-weight: bold;
}
@media (max-width: 1920px) and (min-width: 1600px){
    .news-home .news-container {
        max-height: 520px;
    }
}
@media (max-width: 1800px) and (min-width: 1700px){
    .news-container div.half-shadow {
        top: 250px
    }
}
@media (max-width: 1699px) and (min-width: 1600px){
    .news-container div.half-shadow {
        top: 200px
    }
}
@media (max-width: 1599px) and (min-width: 1400px)  {
    .news-home .news-container {
        max-height: 450px;
    }
    .news-container div.half-shadow  {
        font-size: 16px;
        top:200px
    }
    .news-container .title-block {
        width: 80%;
    }
    .half-section.half-section-desc .title-block-rose p{
        font-size: 40px;
    }
}
@media (max-width: 1399px) and (min-width: 1200px) {
    .news-home .news-container {
        max-height: 400px;
    }
    .news-container div.half-shadow  {
        font-size: 14px;
        top:150px
    }
}
@media  (max-width: 1199px) and (min-width: 1050px) {
    .news-home .news-container {
        max-height: 350px;
    }
    .news-container div.half-shadow  {
        font-size: 14px;
        top:130px
    }
}
@media (max-width: 1049px) and  (min-width: 992px) {
    .news-home .news-container {
        max-height: 310px;
    }
    .news-container div.half-shadow  {
        font-size: 14px;
        top:100px
    }
}
@media (max-width: 1320px) {
    .half-section.half-section-desc .title-block-rose p{
        font-size: 30px;
    }
}
@media (max-width: 1250px) {
    .news-container .title-block {
        width: 80%;
    }

    .home-top  .title-block-blue p,
    .home-top  .title-block-rose p,
    .home-top  .title-block-yellow p
    {
        font-size: 60px;
    }
}
@media (max-width: 1100px) {
    .home-top  .title-block-blue p,
    .home-top  .title-block-rose p,
    .home-top  .title-block-yellow p
    {
        font-size: 50px;
    }
}
@media (max-width: 1000px) {
    div.home-top  .title-block-blue span,
    div.home-top  .title-block-rose span,
    div.home-top  .title-block-yellow span
    {
        font-size: 20px;
    }

}
@media (max-width: 960px) {
    div.home-top  .title-block-blue p,
    div.home-top  .title-block-rose p,
    div.home-top  .title-block-yellow p
    {
        font-size: 40px;
    }

}
@media (max-width: 825px) {
    div.home-top  .title-block-blue p,
    div.home-top  .title-block-rose p,
    div.home-top  .title-block-yellow p
    {
        font-size: 30px;
    }

}
@media (max-width: 750px) {
    div.home-top  .title-block-blue p,
    div.home-top  .title-block-rose p,
    div.home-top  .title-block-yellow p
    {
        font-size: 50px;
    }

}
@media (max-width: 1160px) {
    .news-stuff .news-container .thumbnail {
        padding-bottom: 255px;
    }
    .news-stuff .news-container .half-shadow{
        height: 255px;
    }
}
@media (max-width: 1050px) {
    .news-stuff .news-container .thumbnail {
        padding-bottom: 280px;
    }
    .news-stuff .news-container .half-shadow{
        height: 280px;
    }
}
@media (max-width: 1100px) {
    .news-container div.half-shadow  {
        font-size: 14px;
        height: 65%;
        /*top: 10%*/
    }
    .news-container .title-block {
        width: 90%;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}
@media (max-width: 990px) {
    .news-container div.half-shadow  {
        font-size: 16px;
       height: 50%;
    }
    .news-container .title-block {
        width: 70%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media (max-width: 768px){
    .news-container div.half-shadow  {
        font-size: 14px;
        height: 60%;
    }
    .news-container .title-block {
        width: 80%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .news-stuff .news-container .thumbnail {
        padding-bottom: 200px;
    }
    .news-stuff .news-container .half-shadow{
        height: 200px;
    }
}
@media (max-width: 600px) {
    .news-container .news-desc-home {
        display: none;
    }
}
@media (max-width: 1119px) {
    .half-shadow-stuff .title-block-stuff p {
        font-size: 18px;
        height: 30%;
    }
}
@media (max-width: 768px) {
    div.half-shadow-stuff {
        height: 35%;
    }
    span.name {
        font-size: 16px;
    }
}
@media (max-width: 650px) {
    div.half-shadow-stuff {
        height: 40%;
    }
    div.half-shadow-stuff p {
        padding-left: 5px;
        padding-right: 5px;
    }
    .half-shadow-stuff .title-block-stuff p {
        font-size: 14px;
    }
    span.name {
        font-size: 14px;
    }
    .price-stuff, .price-sale {
        font-size: 18px;
    }
}
@media (max-width: 485px) {
    div.half-shadow-stuff {
        height: 50%;
    }
    .half-shadow-stuff .title-block-stuff p {
        font-size: 14px;
    }
    /*span.name {display: none}*/
}
@media (max-width: 430px) {
    div.half-shadow-stuff {
        height: 50%;

    }


}


/*@media (max-width: 1150px){
    .choice .choice-desc {
        bottom: 50px;
    }
    .choice .choice-desc h1 {
        font-size: 24px;
    }

}
@media (max-width: 970px){
    .choice .choice-desc {
        bottom: 20px;
        line-height: 1.2em;
    }
    .choice .choice-desc h1 {
        font-size: 22px;
    }
    .choice .choice-desc p {
        font-size: 16px;
    }

}
@media (max-width: 750px){
    .choice .choice-desc {
        bottom: 150px;
        line-height: 1.4em;
    }
    .choice .choice-desc h1 {
        font-size: 36px;
    }
    .choice .choice-desc p {
        font-size: 20px;
    }

}*/
/*journal*/

.journal-section {
    letter-spacing: 3px;
    text-transform: lowercase;
    color: #494b68;
}

p.journal-section {
    font-size: 16px;
}
.journal-section a {
    color: #8083b0;
    font-weight: bold;
}
.journal-section a:hover {
    color: #494b68;
}
p.journal-section span {
    border-bottom: 1px solid #8083b0;
}
p.journal-section span.journal-menu {
    margin-left: 20px;
    margin-right: 20px;
}
.journal-desc {
    margin-top: 10px;
}
.journal-desc p {
    text-align: justify;
    color: #494b68;
}
.journal-desc p a {
    font-size: 16px;
    color: #b6956a;
    text-transform: uppercase;
    text-decoration: none;
}
.journal-desc p a:hover, .news-desc p a:focus {
    color: #333;
    text-decoration: none;
}
.journal-desc h3{
    text-transform: uppercase;
    font-size: 30px;

}
.journal-desc img {
    margin-bottom: 10px;
}
.popular-article {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    color: #494b68;
}
.popular-article img {
    margin-bottom: 20px;
}
span.name-article {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}
h2.name-article {
    text-transform: uppercase;
    font-size: 34px;
    margin-bottom: 10px;
    color: #494b68;
}
.date-article {
    font-size: 14px;
    margin-bottom: 30px;
    color: #494b68;
}
.journal-desc p.look-desk0 {
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: bold;
    /*font-family: a_GroticNrBold;*/
    text-align: center;
}
.look-desk2 {
    line-height: 16px;
}
.look-desk2 h3 {
    font-weight: bold;
    margin-bottom: 10px;
}
.look-desk3 {
    line-height: 16px;
}
.look-desk3 h3 {
    font-weight: bold;
}
.look-desk4 {
    font-weight: bold;
    font-size: 30px;
}
.article-desk {
    font-size: 16px;
    margin-bottom: 40px;
}
.journal-desc p.article-desk {
    text-align: center;
}
.stat hr {
    border-top-color: #666;
}
.header-stat {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 34px;
    color:  rgb(189, 127, 153);
}
@media (min-width:1170px) and (max-width: 1500px) {
    .header-stat {
        font-size: 32px;
    }
}
@media (min-width:740px) and (max-width: 1169px) {
    .header-stat {
        font-size: 28px;
    }
}
.chap-name {
    margin-bottom: 20px;
}
.chap-name .header-stat {
    font-size: 60px;
    padding-top: 40px;
}
.chap-name-line {
    border-bottom: 1px solid #8083b0;
    padding-top: 200px;
}
.chap-name-desc {
    font-family: scada-regular;
    letter-spacing: 2px;
}
@media (max-width: 1180px) {
    .chap-name-line {
        padding-top: 20px;
        margin-bottom: 20px;
        border: none;
    }
    .chap-name .header-stat {
        padding-top: 0;
    }
}

#dimScreen
{
    position:fixed;
    padding:0;
    margin:0;
    top:80;
    left:0;
    width: 100%;
    height: 100%;
    background:#CCC;
    z-index: 2000;
    opacity:0.95;

}
#dimScreen img {
    position: fixed;
    bottom:50%;
    left: 45%;
}


/*mosaicflow*//*
.mosaicflow__column {
    float:left;
}

.mosaicflow__item {
    position:relative;
}
.mosaicflow__item img {
    display:block;
    width:100%;
    max-width:1000px;
    height:auto;
}
.mosaicflow__item .title-block {
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    margin:0;
    padding: 0 15px;
}
.mosaicflow__item p {
    color:#fff;
    font-size:16px;
    text-shadow:1px 1px 1px hsla(0,0%,0%,.75);
    *//*opacity:0;*//*
    -webkit-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
    -moz-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
    -o-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
    transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
}
.mosaicflow__item h3 {
    color:#fff;
    font-size:18px;
    text-shadow:1px 1px 1px hsla(0,0%,0%,.75);
    text-transform: uppercase;
    letter-spacing: 2px;
}*/




/*navbar-M*/
div.half-shadow-stuff.mobil {
    background-color: rgba(255, 255, 255, 0.45);
    position: relative;
    height: auto;
    /*top: -50px;*/
    /*margin-bottom: 20px;*/
   /* height: 15%;*/
    /*bottom: 20px;*/
    padding-top: 10px;
    padding-bottom: 10px;
}
/*div.half-shadow-stuff.mobil .thumbnail {
    margin-bottom: 20px;
}*/
div.half-shadow-stuff.mobil .title-block-stuff p {
    display: block;
    color: #433745;
    font-weight: bold;
    text-shadow: none;

}
.price-sale, .price-stuff {
    font-size: 22px;
}

.sticker.mobil {
    width: 30px;
}
span.price-sale {
    color: #ea4808;
    font-weight: bold;
    /*text-shadow: 1px 1px 1px #666;*/
}
.navbar-M .navbar-nav {
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-M .navbar-nav li {
    float: left;
}
.navbar-M .navbar-nav > li > a {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-M .navbar-nav .open .dropdown-menu {
    position: absolute;
    background-color: #fff;
    z-index: 10000;
    box-shadow: 1px 1px 2px #666;
    width: 200px;
    /*text-align: right;*/
}
.navbar-M.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-M.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:active{
    background-color: #433745;
    color: #f5f5f5;
}

.navbar-M.navbar-inverse {
    height: 80px;
}
@media (max-width: 768px) {
    div.navbar-collapse li {
        text-align: left;
    }
    .navbar-M .navbar-nav .open .dropdown-menu {
       min-width: 150px;
        width: auto;
    }
    .navbar-M.navbar-inverse .navbar-nav > li > a{
        font-size: 16px;
        padding-right: 7px;
        padding-left: 7px;
    }
    .navbar-M.navbar-inverse .navbar-nav > li > a.admin{
        font-size: 14px;
        padding-right: 8px;
        padding-left: 8px;
    }
    .navbar-M .search {
        padding-right: 8px;
        padding-left: 8px;
    }
    .navbar-M .search .glyphicon.glyphicon-search {
        font-size: 14px;

    }
    .navbar-M.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #433745;
        font-size: 14px;
        }
    .navbar-M.navbar-inverse .navbar-nav .open .dropdown-menu>li>a.caption-inv {
        color: #d58512 ;
    }
    .navbar-M.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:active{
        background-color: #433745;
        color: #f5f5f5;
    }
    .navbar-M .form-search {
        position: absolute;
        left: -200px;
        top: 70px;
        width: 230px;
        height: 60px;
        background-color: #fff;
        z-index: 10000;
        box-shadow: 1px 1px 2px #666;
        padding: 15px;
    }

    /*.nav-bag img{
        top: 5px;
        right: 25px;
    }
    .nav-bag span.inCart {
        top: 35px;
        right: 10px;

    }
    .nav-bag .newInCart {
        color: #ccc;
        background-color: #d58512;
        font-size:35px ;
        width: 60px;
        height: 60px;
        padding-top: 5px;
        top: 30px;
        top: 15px;
        right: 10px;
    }*/
}

.home-top-M .title-block-rose {
    background-color: rgb(243, 230, 226);
}
.home-top-M .title-block-yellow{
    background-color: rgb(253, 239, 189);
}
.home-top-M .title-block-blue{
     background-color: rgb(221, 219, 235);
 }
.filter-stuff {
    margin-top: 10px;
    font-size: 16px;
}
hr {
    margin-bottom: 10px;
    margin-top: 5px;
}
.anchor {
    height: 80px;
}