div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="block-comments")
            div(class="comments-box")
                div(class="container")
                    h3(ng-bind="$ctrl.global.get('lang').val.addcomment")
                    div(class="", ng-repeat="item in $ctrl.item.comments")
                        div(class="comments")
                            p
                                span(class="name-user comments-header")
                                    span(ng-bind="item.user")
                                span(class="date comments-header")
                                    span(ng-bind="$ctrl.moment(item.date).format('LLL')")
                                div(class="clearfix")
                            p(class="comment-text",ng-bind="item.text")
                        div(class="comment-response")
                            p(ng-if="item.response")
                                span(class="date")
                                    span(ng-bind="$ctrl.moment(item.date).format('LLL')")
                                span( class="admin comments-header",ng-bind="$ctrl.global.get('lang').val.admin")
                                div(class="clearfix")
                            p(class="response-text",ng-bind="item.response")
                        div(class="clearfix")
                        hr
                    p(ng-if="$ctrl.paginate.items>$ctrl.item.comments.length")
                        a(ng-click="$ctrl.getComments('more')")
                            span(ng-bind="$ctrl.global.get('lang').val.previousComments")
                    form(class="add-box")
                        div(class="add-input")
                            input(class="form-control", placeholder="{{$ctrl.global.get('lang').val.enterName}}", ng-model="$ctrl.commentName",ng-disabled="$ctrl.global.get('user').val")
                            input(class="form-control", placeholder="{{$ctrl.global.get('lang').val.addcomment}}", ng-model="$ctrl.comment")
                        p(style="height:10px")
                            span(ng-show='$ctrl.commentAccess')
                                span(class="help-text",ng-bind="$ctrl.global.get('lang').val.commentsAccess")
                                a(class="login-now",ng-click="$ctrl.global.get('functions').val.enter()")
                                    span(ng-bind="$ctrl.global.get('lang').val.login")
                        a(class="btn btn-project add-comments", type="submit",ng-click="$ctrl.createNewComment($ctrl.comment)")
                            span(ng-bind="$ctrl.global.get('lang').val.send")

            div(class="clearfix")
        div(class="clearfix")