<div class="add-info">
    <div class="modal-header">
        <h3 class="modal-title text-center" >таблица дополнительных параметров</h3>
        <a class="cancel" type="button" ng-click="$ctrl.cancel()"></a>
    </div>
    <div class="modal-body">
        <div class="" ng-repeat="item in $ctrl.items">
            <a ng-click="$ctrl.selectAddInfo(item)">
                <span ng-bind="item.name"></span>
            </a>
            <a ng-click="$ctrl.editTable(item)">
                <span >edit</span>
            </a>
        </div>
        <div class="table-box">
            <table >
                <caption>
                    <div class="form-group label-static">
                        <label class="control-label">наименование таблицы</label>
                        <input class="form-control" ng-model="$ctrl.item.name"/>
                    </div>
                </caption>
                <thead>
                    <th></th>
                    <th ng-repeat="tag in $ctrl.filter.tags"><span ng-bind="tag.name"></span></th>
                    <th></th>
                </thead>
                <tr ng-repeat="row in $ctrl.item.header track by $index">
                    <td>
                        <input class="form-control parameter" placeholder="параметр" ng-model="$ctrl.item.header[$index]"/>
                    </td>
                    <td ng-repeat="tag in $ctrl.filter.tags track by $index">
                        <input class="form-control text-center"ng-model="$ctrl.item.table[tag._id][$parent.$index]">
                    </td>
                    <td>
                        <div class="form-group">
                            <a class="link-success add-goods"  ng-if="$index==$ctrl.item.header.length-1" ng-click="$ctrl.addRow()" title="добавить строку">
                                <i class="material-icons link-success">add_box</i>
                            </a>
                            <a class="add-goods" ng-click="$ctrl.deleteRow($index)" ng-if="$index!=$ctrl.item.header.length-1">
                                <i class="material-icons link-warning">delete</i>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-raised btn-block" ng-click="$ctrl.saveTable()">
                <span>сохранить</span>
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>