<article class="config-date store-list-site" ng-class="{'store-list-site-mobile':$ctrl.global.get('mobile').val}">
  <div class="nav-box-stuff">
    <div class="tab-nav-stuff">
      <a class="btn btn-fab btn-fab-mini btn-violet"  ui-sref="frame">
        <i class="material-icons">reply</i>
      </a>
    </div>
    <div class="tab-nav-stuff">
      <h4 class="name-box">Основные прараметры конфигурации</h4>
    </div>
  </div>

  <form ng-submit="$ctrl.updateItem()">
    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="cart-detail">
        <div class="form-group label-static">
          <label for="name" class="control-label">название</label>
          <input type="text" placeholder="название" id="name" class="form-control mb"
                 ng-model="$ctrl.item.name"
                 required
                 focus-me="focusInput"/>
        </div>
      </div>
    </div>
    <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="cart-detail">
        <div class="form-group">
          <tag-manager tags="$ctrl.item.currency" header="валютные метки"></tag-manager>
        </div>
        <button class="btn btn-raised btn-success btn-block" type="submit">сохранить</button>
      </div>
    </div>
    <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="cart-detail">
        <div class="form-group">
          <tag-manager tags="$ctrl.item.langs" header="языковые метки"></tag-manager>
        </div>
        <button class="btn btn-raised btn-success btn-block" type="submit">сохранить</button>
      </div>
    </div>
    <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="cart-detail">
        <div class="form-group">
          <tag-manager-for-object tags="$ctrl.item.tagsValue" header="типы для тегов"></tag-manager-for-object>
        </div>
        <button class="btn btn-raised btn-success btn-block" type="submit">сохранить</button>
      </div>
    </div>
    <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="cart-detail">
        <div class="form-group">
          <tag-manager tags="$ctrl.item.roles" header="роли для пользователей"></tag-manager>
        </div>
        <button class="btn btn-raised btn-success btn-block" type="submit">сохранить</button>
      </div>
    </div>
    <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="cart-detail">
        <div class="form-group">
          <tag-manager tags="$ctrl.item.unitOfMeasure" header="единицы измерений"></tag-manager>
        </div>
        <button class="btn btn-raised btn-success btn-block" type="submit">сохранить</button>
      </div>
    </div>
    <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="cart-detail">
        <div class="form-group">
          <tag-manager-for-object tags="$ctrl.item.actions" header="коды действие - коды писем"></tag-manager-for-object>
        </div>
        <button class="btn btn-raised btn-success btn-block" type="submit">сохранить</button>
      </div>
    </div>
    <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="cart-detail">
        <div class="form-group">
          <tag-manager tags="$ctrl.item.notification" header="виды уведомлений"></tag-manager>
        </div>
        <button class="btn btn-raised btn-success btn-block" type="submit"  ng-click="$ctrl.saveField(item,'data')">сохранить</button>
      </div>
    </div>
  </form>
</article>
