div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="paginator-block")
            div(class="form-group text-center")
                paginator-main(paginate="$ctrl.paginate", getlist="$ctrl.getList()", scroll="{{scrollId}}")
            div(class="clearfix")