<div ng-hide="$ctrl.$state.current.name!='frame.warehouse'">
    <div class="nav-box-stuff" >
        <div class="tab-nav-stuff">
            <a class="btn btn-fab btn-fab-mini btn-success"
               ui-sref="frame.warehouse.material({id:'new'})"
               title="создать материал">
                <i class="material-icons">add</i>
            </a>
        </div>
        <div class="tab-nav-stuff">
            <div class=" pull-right search">
                <form ng-submit="$ctrl.searchItems($ctrl.searchStr)">
                    <input type="text"  class="search-fluid"
                           ng-model-options="{'updateOn':'default blur','debounce':{'default':1000,'blur':0}}"
                           ng-change="$ctrl.searchItems($ctrl.searchStr)"
                           ng-model="$ctrl.searchStr"/>
                    <a ng-click="$ctrl.clearSearch()" class="btn btn-fab btn-fab-mini">
                        <i class="material-icons link-warning" title="очистить строку поиска">clear</i>
                    </a>
                </form>
            </div>
        </div>
        <div class="text-center tab-nav-stuff">
            <paginator-main
                    paginate="$ctrl.paginate"
                    getlist="$ctrl.getList()"
                    scroll="{{scrollId}}">
            </paginator-main>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="news-stuff" style="margin-top: 150px">
        <div ng-show="!$ctrl.items.length" ng-cloak class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center">
            <p class="no_story">
                по вашему запросу нет записей
            </p>
        </div>
        <div class="news-stuff-container">
            <div class="cart-detail">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #d8d8d8">
                        <div class="col-lg-3">
                            название
                        </div>
                        <div class="col-lg-2">
                            артикул
                        </div>
                        <div class="col-lg-1">
                            доп.артикул
                        </div>
                        <div class="col-lg-1">
                            цена учет
                        </div>
                        <div class="col-lg-1">
                            цена продаж
                        </div>
                        <div class="col-lg-1">
                            сумма
                        </div>
                        <div class="col-lg-1">
                            кол
                        </div>
                        <div class="col-lg-1">
                            вал
                        </div>
                        <div class="col-lg-1">
                            ред
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="clearfix"></div>


                <div class="stuff-admin col-lg-12 col-md-12 col-sm-12 col-xs-12"  ng-repeat-start="item in $ctrl.items">
                    <div class="col-lg-3">
                        <a ng-click="item.showDetail=!item.showDetail"><span ng-bind="item.name"></span></a>
                    </div>
                    <div class="col-lg-2">
                        <span ng-bind="item.sku"></span>
                    </div>
                    <div class="col-lg-1">
                        <span ng-bind="item.sk2[0]"></span>
                    </div>
                    <div class="col-lg-1">
                        <span ng-bind="item.price"></span>
                    </div>
                    <div class="col-lg-1">
                        <span ng-bind="item.priceForSale"></span>
                    </div>
                    <div class="col-lg-1">
                        <span ng-bind="item.sum"></span>
                    </div>
                    <div class="col-lg-1">
                        <span ng-bind="item.qty"></span>
                    </div>
                    <div class="col-lg-1">
                        <span ng-bind="item.currency"></span>
                    </div>
                    <div class="col-lg-1">
                        <a ui-sref="frame.warehouse.material({id:item._id})">
                            <span>edit</span>
                        </a>

                    </div>
                    <!--<div class="clearfix"></div>-->

                </div>

                <div class="col-lg-12" ng-repeat-end uib-collapse="!item.showDetail">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #d8d8d8">
                        <div class="col-lg-3">
                            склад
                        </div>
                        <div class="col-lg-3">
                            поставщик
                        </div>

                        <div class="col-lg-2">
                            цена учет
                        </div>
                        <div class="col-lg-2">
                            цена продажи
                        </div>
                        <div class="col-lg-2">

                        </div>
                        <div class="col-lg-1">
                            кол-во
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="d in item.data|filter:{qty:'!0'}">
                        <div class="col-lg-3">
                            <span ng-bind="d.account.name"></span>
                        </div>
                        <div class="col-lg-3">
                            <span ng-bind="d.supplier.name"></span>
                        </div>

                        <div class="col-lg-2">
                            <span ng-bind="d.price"></span>
                        </div>
                        <div class="col-lg-2">
                            <span ng-bind="d.priceForSale"></span>
                        </div>
                        <div class="col-lg-2">

                        </div>
                        <div class="col-lg-1">
                            <span ng-bind="d.qty"></span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div ui-view=""></div>
