<script type="text/ng-template" id="mainSection.html">
    <div  class="col-lg-11  col-md-11 col-sm-11 col-xs-11 form-group section-box padding0" >
        <div class="col-lg-10  col-md-10 col-sm-10 col-xs-10">
            <div class="label-floating">
                <label class="control-label">раздел</label>
                <input ng-model-options="{'updateOn': 'default blur','debounce': {'default': 700,'blur': 0}}"
                       ng-change="$ctrl.saveSection(section,'name')"
                       dnd-nodrag class="form-control" ng-model="section.name">
            </div>
        </div>
        <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-2 control-box padding0 text-right">
            <a class="down-up border-left btn btn-fab btn-fab-mini btn-info" ng-click="section.showList=!section.showList"
               ng-if="section.child.length || section.categories.length">
                <i  class="material-icons" ng-if="!section.showList">expand_more</i>
                <i  class="material-icons" ng-if="section.showList">expand_less</i>
            </a>
            <a class="border-left btn btn-fab btn-fab-mini btn-warning" ng-click="$ctrl.deleteSection(null,section)"ng-if="!section.child.length && !section.categories.length">
                <i class="material-icons">delete</i>
            </a>
        </div>
        <div class="clearfix"></div>
            <div  dnd-nodrag ng-if="$ctrl.setTimeout()">
                <div  class="form-inline text-center" >
                    <div class="radio" >
                        <label>
                            <input type="radio" ng-change="$ctrl.saveSection(section,'type')"ng-model="section.type"value="good" >
                            <p>товар</p>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-change="$ctrl.saveSection(section,'type')"ng-model="section.type"value="service" >
                            <p>услуга</p>
                        </label>
                    </div>
                    <div class="radio" >
                        <label>
                            <input type="radio" ng-change="$ctrl.saveSection(section,'type')"ng-model="section.type"value="info" >
                            <p>инфо</p>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-change="$ctrl.saveSection(section,'type')"ng-model="section.type"value="media" >
                            <p>медиа</p>
                        </label>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-inline text-center" >
                    <div class="form-group">
                        <div class="checkbox" style="margin-top: 0">
                            <label class="form-check-inline">
                                <span>sale link</span>
                                <input type="checkbox" ng-model="section.saleLink" ng-change="$ctrl.saveSection(section,'saleLink')">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox" style="margin-top: 0">
                            <label class="form-check-inline">
                                <span>new link</span>
                                <input type="checkbox" ng-model="section.newLink" ng-change="$ctrl.saveSection(section,'newLink')">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox" style="margin-top: 0">
                            <label class="form-check-inline">
                                <span>group stuffs</span>
                                <input type="checkbox" ng-model="section.groupStuffs" ng-change="$ctrl.saveSection(section,'groupStuffs')">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group text-center">
                    <div class="togglebutton">
                        <label for="open{{$index}}">
                            <span ng-class="{'active':!section.openCatalog}">каталог закрыт</span>
                            <input type="checkbox"
                                   id="open{{$index}}"
                                   ng-model="section.openCatalog"
                                   ng-change="$ctrl.saveSection(section,'openCatalog')">
                            <span ng-class="{'active':section.openCatalog}">каталог открыт</span>
                        </label>
                    </div>
                </div>
                <div class="text-center">
                    <div class="togglebutton">
                        <label for="views{{$index}}">
                            <span ng-class="{'active':!section.hideSection}">показывать в меню</span>
                            <input type="checkbox"
                                   id="views{{$index}}"
                                   ng-model="section.hideSection"
                                   ng-change="$ctrl.saveSection(section,'hideSection')">
                            <span ng-class="{'active':section.hideSection}">не показывать в меню</span>
                        </label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 box-border-top" ng-if="section.showList"></div>
</script>
<script type="text/ng-template" id="subSection.html">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  box-section-left" >
            <div ng-if="section.categories.length">
                <category-tree></category-tree>
            </div>
            <div ng-include="'addCategory.html'"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " ></div>
    </div>
    <ul dnd-list="section.child"
        dnd-drop="$ctrl.dropSectionCallback(item,section)"
        dnd-dragover="$ctrl.dragoverCallback(event)"
        dnd-allowed-types="['subSection']"
        ng-init="parentSection=section"
        class="subSectiondnd">
        <li class="mb-40" ng-repeat="section in section.child"
            dnd-draggable="section"
            dnd-type="'subSection'"
            dnd-effect-allowed="move"
            dnd-moved="parentSection.child.splice($index,1)"
            dnd-selected="models.selected = item"
            ng-class="{selected: models.selected === item}">
            <div class="col-lg-6  col-md-6 col-sm-6 col-xs-12" ng-init="section.showList=true;" fix-section="{{section._id}}" sub-section="true">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1  box-border-top"></div>
                    <div class="col-lg-10  col-md-10 col-sm-10 col-xs-10 padding0 form-group section-box">

                            <div class="col-lg-10  col-md-10 col-sm-10 col-xs-10 label-floating">
                                <label class="control-label">подраздел</label>
                                <input ng-model-options="{'updateOn': 'default blur','debounce': {'default': 700,'blur': 0}}"
                                       ng-change="$ctrl.saveSection(section,'name')"
                                       dnd-nodrag class="form-control" ng-model="section.name">
                            </div>
                            <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-2 control-box text-right">
                                <a class="down-up control border-left  btn btn-fab btn-fab-mini btn-info" ng-if="section.child.length || section.categories.length" ng-click="section.showList=!section.showList">
                                    <i  class="material-icons" ng-if="!section.showList">expand_more</i>
                                    <i  class="material-icons" ng-if="section.showList">expand_less</i>
                                </a>
                                <a class=" border-left btn btn-fab btn-fab-mini btn-warning" ng-click="$ctrl.deleteSection(parentSection,section)" ng-if="!section.child.length && !section.categories.length" >
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1  box-border-top"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  box-section-right  box-section-left" id="borderBox{{section._id}}">
                <div ng-if="section.showList">
                    <div ng-if="section.categories.length">
                        <category-tree></category-tree>
                    </div>
                    <div ng-include="'addCategory.html'"></div>
                </div>
            </div>

            <div class="clearfix"></div>
        </li>
    </ul>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  box-section-left" >
            <div ng-include="'addSubSection.html'"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " ></div>
    </div>
</script>
<script type="text/ng-template" id="addSubSection.html">
    <ul class="add-box"
        dnd-list="section.child"
        dnd-drop="dropSectionCallback(item,section)"
        dnd-allowed-types="['subSection']">
        <li dnd-nodrag dnd-type="'['subSection']'" >
            <form ng-submit="$ctrl.addSection(section)">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1  box-border-top"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  add-section">
                    <div class=" form-group label-floating">
                        <label class="control-label">добавить подраздел</label>
                        <input class="form-control" ng-model="section.sectionNewName">
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="clearfix"></div>
                <input class="enter" type="submit" tabindex="-1" />
            </form>
        </li>
    </ul>
</script>
<script type="text/ng-template" id="addCategory.html">
    <ul  class="add-box"
         dnd-list="section.categories"
         dnd-allowed-types="['category']"
         dnd-drop="$ctrl.dropCategoryCallback(item,section)">
        <li dnd-nodrag dnd-type="'category'">
            <form ng-submit="$ctrl.addCategory(section)">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1  box-border-top"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  add-category">
                    <div class=" form-group label-floating">
                        <label class="control-label">добавить категорию</label>
                        <input class="form-control" ng-model="section.newCategoryName">
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="clearfix"></div>
                <input type="submit"
                       class="enter"
                       tabindex="-1" />

            </form>
        </li>
    </ul>
</script>
<div  ng-hide="$ctrl.$state.current.name!='frame.sections'" class="catalog" id="sectionsTree" ng-class="{'catalog-mobile':$ctrl.global.get('mobile').val}">
    <div class="nav-box-stuff">
        <div class="tab-nav-stuff text-center">
            <a  class="btn btn-fab btn-fab-mini btn-violet"  ui-sref="frame">
                <i class="material-icons">reply</i>
            </a>
        </div>
        <div class="tab-nav-stuff text-center">
            <h4 class="text-center name-box">структура каталога</h4>
        </div>
        <div class="clearfix"></div>
    </div>
    <ul dnd-list="$ctrl.sectionsList.sections"
        dnd-drop="$ctrl.dropMainSectionCallback(item)"
        dnd-dragover="$ctrl.dragoverCallback(event)"
        dnd-allowed-types="['section']">
        <li class="mb-40" ng-repeat="section in $ctrl.sectionsList.sections"
            dnd-draggable="section"
            dnd-type="'section'"
            dnd-effect-allowed="move"
            dnd-moved="$ctrl.sectionsList.sections.splice($index, 1)"
            dnd-selected="models.selected = item"
            ng-class="{selected: models.selected === item}">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 box-section-left"  ng-include="'mainSection.html'" fix-section="{{section._id}}"></div>
            <div class="col-lg-8 col-md-8 col-sm-4 col-xs-12  box-section-right  box-section-left" ng-init="section.showList=true;" id="borderBox{{section._id}}">
                <div ng-if="section.showList" ng-include="'subSection.html'" ></div>
            </div>
            <div class="clearfix"></div>
        </li>
    </ul>
    <ul>
        <li>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12  box-section-left" ng-init="newSectionName={}">
                <form ng-submit="$ctrl.newSection(newSectionName)">
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 add-section">
                        <div class=" form-group label-floating">
                            <label class="control-label">добавить раздел</label>
                            <input class="form-control" ng-model="newSectionName.name">
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                    <input type="submit"
                           class="enter"
                           tabindex="-1" />
                </form>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 "></div>
            <div class="clearfix"></div>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="catalog">
    <div ng-hide="$state.current.name!='frame.sections'">
    </div>
    <div ui-view></div>
</div>




