<div class="category-edit" ng-if="$ctrl.item" ng-class="{'category-edit-mobile':$ctrl.global.get('mobile').val}">
    <div class="nav-box-stuff">
        <div class="tab-nav-stuff text-center" ng-class="{'active':block=='desc'}">
            <a ng-click="cnahgeBlock('desc')" class="btn btn-fab btn-fab-mini btn-violet"  ui-sref="frame.sections">
                <i class="material-icons">reply</i>
            </a>
        </div>
        <div class="tab-nav-stuff text-center" ng-class="{'active':$ctrl.block=='blocks'}">
            <a class="btn btn-fab btn-fab-mini" ng-click="$ctrl.block='blocks'" title="blocks">
                <i class="material-icons link-success">select_all</i>
            </a>
        </div>
        <div class="tab-nav-stuff add-block pull-right" ng-show="$ctrl.block=='blocks'">
            <ui-select ng-model="$ctrl.newBlock" skip-focusser="true" search-enabled2="false" ng-change="$ctrl.addBlock($ctrl.newBlock)">
                <ui-select-match placeholder="добавить блок">{{$select.selected.value}}</ui-select-match>
                <ui-select-choices repeat="opt.key as (key, opt) in $ctrl.listOfBlocks">{{ opt.value }}</ui-select-choices>
            </ui-select>
        </div>
        <div class="tab-nav-stuff">
            <h4 class="name-box">раздел</span><!--  ng-click="$ctrl.block='desc'"-->
                <span class="category-name">{{$ctrl.item.name}}</span></h4>
        </div>
        <div class="clearfix"></div>
    </div>
    <div ng-show="$ctrl.block=='desc'" >
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="cart-detail">
                <div class="form-group label-static">
                    <label for="name" class="control-label">наименование раздела</label>
                    <input type="text" id="name" class="form-control name"
                           ng-model="$ctrl.item.name"
                           ng-model-options="{'updateOn': 'default blur','debounce': {'default': 700,'blur': 0}}"
                           ng-change="$ctrl.saveField('name')"/>
                </div>
                <div class="form-group label-static ">
                    <label for="url" class="control-label">url</label>
                    <input type="text" id="url" class="form-control name"
                           ng-model="$ctrl.item.url" disabled/>
                </div>

                <div class="form-group">
                    <label  class=" control-label label-select">характеристики</label>
                    <ui-select multiple ng-model="$ctrl.item.filters" ng-change="$ctrl.saveField('filters')">
                        <ui-select-match placeholder="выберите характеристики">
                            {{$item.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item._id  as item in $ctrl.filters | filter:$select.search">
                            {{item.name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="cart-detail tag-img">
                <h4 class="text-center name-box">фото категории</h4>
                <div class="form-group">
                    <load-image
                            no-load="noLoad"
                            no-change="noChange"
                            upload-url="/api/collections/Group/fileUploadBig?collectionName=Group"
                            item-id="{{$ctrl.item._id}}"
                            item-url="{{$ctrl.item.url}}"
                            item-resourse="$ctrl.Items"
                            file-src="$ctrl.item.img">
                    </load-image>
                </div>
            </div>
            <div class="cart-detail tag-img">
                <h4 class="text-center name-box">баннер категории</h4>
                <div class="form-group">
                    <load-image
                            no-load="noLoad"
                            no-change="noChange"
                            upload-url="/api/collections/Group/fileUploadFullImg?collectionName=Group"
                            item-id="{{$ctrl.item._id}}"
                            item-url="{{$ctrl.item.url}}"
                            item-resourse="$ctrl.Items"
                            file-src="$ctrl.item.banner"
                            name-img="banner">
                    </load-image>
                </div>
            </div>
        </div>
        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
           <!-- <div class="cart-detail">
                <create-link title='false'   link="$ctrl.item.customLink" change="$ctrl.saveField('customLink')" edit-seo-page="true"></create-link>
            </div>-->
            <div class="cart-detail">
                <h4 class="text-center name-box">описание</h4>
                <div class="form-group editor">
                    <div text-angular ng-model-options="{'updateOn': 'default blur','debounce': {'default': 700,'blur': 0}}"
                         ta-toolbar="[['h1','h2','h3','h4','h5','h6','p','underline','italics','bold','ul','ol','outdent','indent','justifyLeft','justifyCenter','justifyRight','justifyFull','insertLink','insertImage','html']]"
                         ng-model="$ctrl.item.desc"
                         ng-change="$ctrl.saveField('desc',200)"
                         ta-paste="$ctrl.global.get('functions').val.taPaste($html)"\
                         ta-html-editor-class="border-around">
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="$ctrl.block=='blocks'" >
        <blocks-edit
                item="$ctrl.item"
                type="Group"
                refresh-blocks="$ctrl.refreshBlocks()">
        </blocks-edit>
    </div>
    <div class="clearfix"></div>
</div>

