<div class="panel panel-default comment">
    <div class="panel-heading comment-header">
        <!--<button ng-if="comment.children && comment.children.length" class="fa-2x clear-square fa"
                ng-class="{'fa-minus-square': !collapsed, 'fa-plus-square': collapsed}"
                title="показать комментарии" ng-click="collapse()"></button>
            <button ng-if="!comment.children || !comment.children.length" class="fa-2x fa clear-square"></button>
                -->

        <h4 class="comment-user">
            <span class="comment-username" ng-if="!comment.profileUrl">{{comment.name}}</span>
            <span ng-if="comment.profileUrl">@</span> <a class="comment-username" ng-if="comment.profileUrl" ng-href="{{comment.profileUrl}}"
               title="{{comment.name}}">{{comment.name}}</a>
            <small class="comment-date" ng-if="comment.date" title="{{comment.date}}">
                {{comment.date }}
            </small>
            <a class="pull-right" ng-if="comment.children && comment.children.length"
               ng-class="{'fa-minus-square': !collapsed, 'fa-plus-square': collapsed}"
               title="показать комментарии" ng-click="collapse()">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <a class="pull-right" ng-if="!comment.children || !comment.children.length">
                <span class="glyphicon glyphicon-minus"></span>
            </a>
        </h4>
        <img class="comment-avatar" ng-if="comment.avatarUrl" ng-src="{{comment.avatarUrl}}"
             alt="{{comment.name}}" />
    </div>
    <div class="comment-body panel-body" ng-bind-html="comment.text"></div>


    <div class="commenter-container panel-body" ng-hide="depth>4">
        <form name="form" ng-submit="addComment(child)" class="form-inline" ng-hide="toggled">
            <div ng-hide="user.val">
                <div class="form-group">
                    <label class="" >Имя</label>
                    <input class="form-control" style="" ng-model="child.name" ng-required="!user.val"/>
                </div>
                <div class="form-group">
                    <label class="" >E-mail</label>
                    <input class="form-control" style="" ng-model="comment.email" ng-required="!user.val"/>
                </div>
                <div class="form-group">
                    <label class="" >Адрес страницы</label>
                    <input class="form-control" style="" ng-model="child.profileUrl"/>
                </div>
            </div>

            <div class="form-group">
                <textarea ng-model="child.text" value="Ваш комментарий" class="form-control" rows="1"
                          focus-me="focusInput"     ng-minlength="5" required></textarea>
            </div>
            <button ng-disabled="form.$invalid" type="submit" class="btn btn-warning btn-1 mb-20" style="width: 100%">Отправить</button>
        </form>

        <span ng-if="user.val" class="label pull-left pointer action" ng-click="focusInput=!focusInput;toggleEdit()">редактировать</span>
        <span  ng-if="user.val"  class="label pull-left pointer action" ng-click="deleteComment(comment._id,comments)">удалить</span>
        <span   class="label pull-right pointer action" ng-click="focusInput=!focusInput;toggle()"
            ng-class="{'label-success': toggled, 'label-warning': !toggled}">{{ btnText }}</span>
    </div>
    <div class="collection" ng-hide="!collapsed"></div>


</div>