/*zefir*/
.filters-first-box {
    position: relative;
    width:100%
}
.filter-box {
    position: absolute;
    width:100%
}
.filters-of-stuff span{
    vertical-align: middle;
}
.filter-box .checkbox .checkbox-material .check {
    margin-right: 3px;
}
.filter-box .collection-name {
    display: inline-block;
}
.filter-box .tag {
    margin-top: 0;
}
.tag,
.tag-row {
    margin-bottom: 5px;
}
.tag .checkbox{
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.panel-heading{
    background-color: #f5f5f5;
    border-radius: 0;
    padding: 10px;
    border: 1px solid #eee;
}
.panel-group .panel + .panel {
    margin-top: 0;
}
a {
    color: #333333;
}
.panel-title a{
    display: block;
    width: 100%;
}
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    width: 20px;
    height: 20px;
    margin-left: -25px;
}
.filter-box .checkbox label,
.filter-box .checkbox-inline label {
    padding-left: 30px;
}
.filter-box .up-down{
    display: inline-block;
    padding-top: 3px;
}
.filter-box .icon-up-img,
.filter-box .icon-down-img {
    width: 18px;
    height: 18px;
    background-size: 18px;
    transition: 0.4s ease-in-out 0.1s;
    margin-right: 0;
    display: inline-block;
    vertical-align: middle;
}

.tablet-wrapper .filter-box .tag-box .panel-heading {
    padding: 20px 10px;
}
.tablet-wrapper .block-left {
    width: 90%;
}
.tablet-wrapper .block-right {
    width: 10%;
}