<div class="filters-first-box">
    <div class="filter-box">
        <div>
            <p class="name-page" ng-bind="$ctrl.sectionName"></p>
        </div>
        <uib-accordion close-others="false">
            <div uib-accordion-group class="tag-box" ng-repeat="section in $ctrl.sections" is-open="section.showDetail">
                <uib-accordion-heading>
                    <div  class="">
                        <span class="section-name pull-left" ng-class="{'active':section.active}">{{section.name}} </span>
                        <span class="pull-right item">
                            <span class="up-down" ng-show="!section.showDetail">
                                <span class="icon-downslide-img"></span>
                            </span>
                            <span class="up-down" ng-show="section.showDetail">
                                <span class="icon-upslide-img"></span>
                            </span>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </uib-accordion-heading>
                <div ng-if="section.categories.length">
                    <div class="tag-row category-check"  class="form-group tag" ng-repeat="category in section.categories" ng-if="!category.notActive">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"  ng-model="category.set"
                                       ng-click="$ctrl.changeCategory(category)">
                                <div class="checkbox-text"  ng-class="{'active':category.active}">&nbsp{{category.name}}</div>
                            </label>
                        </div>
                    </div>
                </div>
                <uib-accordion close-others="false" ng-if="section.child.length">
                    <div uib-accordion-group class="tag-box" ng-repeat="sec in section.child" is-open="sec.showDetail">
                        <uib-accordion-heading>
                            <!--<a ng-click="$ctrl.changeAllCategories(sec)"><span class="filter-name pull-left">{{sec.name}} </span></a>-->
                            <div  class="">
                                <span class="section-child-name pull-left">{{sec.name}} </span>
                                <span class="pull-left  item">
                                    <a>
                                        <span class="up-down child" ng-show="!sec.showDetail">
                                            <span class="icon-downslide-img"></span>
                                        </span>
                                        <span class="up-down child" ng-show="sec.showDetail">
                                            <span class="icon-upslide-img"></span>
                                        </span>
                                    </a>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </uib-accordion-heading>
                        <div ng-if="sec.categories.length">
                            <div class="tag-row category-check"  class="form-group tag" ng-repeat="category in sec.categories" ng-if="!cat.notActive">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"  ng-model="category.set"
                                               ng-click="$ctrl.changeCategory(category)">
                                        <div class="checkbox-text"  ng-class="{'active':category.active}">&nbsp{{category.name}}</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-accordion>
            </div>
        </uib-accordion>
        <div ng-if="$ctrl.brands.length">
            <a class="" ng-click="$ctrl.changeAllBrands()">
                <span  class="cancelall">{{$ctrl.global.get('lang').val.cancelAll}}</span>
            </a>
            <div class="clearfix"></div>
        </div>
        <uib-accordion close-others="false" >
            <div uib-accordion-group  class="brand-box" ng-repeat="brand in $ctrl.brands" ng-if="brand.inList" is-open="brand.showCollections">
                <uib-accordion-heading>
                    <div class="pull-left">
                        <span class="brand" ng-bind="brand.name" ></span>
                    </div>
                    <div class="pull-right text-right all-collection">
                        <a ng-if="$ctrl.checkedBrand<2 && brand.tags.length">
                            <span class="collection-name" ng-bind="$ctrl.global.get('lang').val.collections">
                            </span>
                            <span class="up-down" ng-show="!brand.showCollections">
                                <span class="icon-downslide-img"></span>
                            </span>
                            <span class="up-down" ng-show="brand.showCollections">
                                <span class="icon-upslide-img"></span>
                            </span>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </uib-accordion-heading>
                <div>
                    <div class="form-group tag">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"ng-model="brand.set"  ng-change="$ctrl.changeTag()">
                                <span class="brand-name" ng-bind="$ctrl.global.get('lang').val.all" ></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group tag" ng-repeat="tag in brand.tags">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="tag.set"  ng-change="$ctrl.changeTag()">
                                <div class="checkbox-text">&nbsp {{tag.name}}</div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <uib-accordion>
                <span class="filters pull-left">{{$ctrl.global.get('lang').val.filters}}</span>
                <a class="reset pull-right" ng-click="$ctrl.clearAll()"  ng-show="$ctrl.showResetAll()" >
                    <span>
                        {{$ctrl.global.get('lang').val.cancelAll}}
                    </span>
                </a>
                <div class="clearfix"></div>
                <div class="breadcrumbs">
                    <span class="breadcrumbs-box" ng-repeat="item in $ctrl.breadcrumbs">
                        <span ng-bind="item.name"></span>
                        <a ng-click="$ctrl.deleteCrumb($index)"><span class="icon-cancel-img"></span></a>
                    </span>
                    <div class="clearfix"></div>
                </div>
                <uib-accordion close-others="false" >
                    <div uib-accordion-group   class="tag-box" ng-repeat="filter in $ctrl.filters" ng-if="filter.inList && (filter.tags.length||filter.count)" is-open="filter.open">
                        <uib-accordion-heading>
                            <span class="pull-left block-left">
                                <span>{{filter.name}} </span>
                                <!--<span ng-if="filter.count">{{filter.desc}}</span>-->
                            </span>
                            <span class="pull-right block-right" ng-show="!filter.open">
                                <span class="icon-downslide-img"></span>
                            </span>
                            <span class="pull-right block-right" ng-show="filter.open">
                                <span class="icon-upslide-img"></span>
                            </span>
                            <span class="clearfix"></span>
                        </uib-accordion-heading>
                        <!--<a class="reset link-warning" ng-click="$ctrl.changeAllTags(filter)">
                            {{$ctrl.global.get('lang').val.tagsReset}}
                        </a>
                        <div class="clearfix"></div>-->
                        <div class="price-slider" ng-if="filter.maxValue">
                            <a class="max-price" ng-click="$ctrl.setCountFilter(filter)">
                                {{$ctrl.global.get('lang').val.set}}
                            </a>
                            <a class="min-price" ng-click="$ctrl.clearCountFilter(filter)">
                                {{$ctrl.global.get('lang').val.clear}}
                            </a>
                            <div class="clearfix"></div>
                            <rzslider
                                    rz-slider-model="filter.minValue"
                                    rz-slider-high="filter.maxValue"
                                    rz-slider-options="{floor: filter.min, ceil: filter.max}">
                            </rzslider>

                        </div>

                        <div class="tag-item" ng-if="!filter.count" class="form-group tag" ng-repeat="tag in filter.tags">
                            <div class="checkbox" ng-if="!filter.photo">
                                <label>
                                    <input type="checkbox"  ng-model="tag.set"
                                           ng-change="$ctrl.changeTag()">
                                    <div class="checkbox__text"  ng-class="{'active':tag.set}">&nbsp{{tag.name}}</div>
                                </label>
                            </div>
                            <div ng-if="filter.photo">
                                <!--<a ng-class="{'active':tag.set}" ng-click="tag.set=!tag.set;$ctrl.changeTag(filter,tag)">-->
                                <a ng-click="tag.set=!tag.set;$ctrl.changeTag()">
                                    <img class="tag-img" ng-class="{'active':tag.set}" ng-src="{{tag.img}}" >
                                    <span ng-bind="tag.name"  ng-class="{'active':tag.set}"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </uib-accordion>
            </uib-accordion>
        </uib-accordion>
    </div>
</div>




