div(class=dj[key].wrapclass,class="col-lg-3 col-md-4 col-sm-6 col-xs-12")
    div(class=mobileWrapper)
        div(class="filters-block",ng-hide="$ctrl.$stateParams.categoryUrl=='category'&& !$ctrl.global.get('store').val.template.stuffListType[$ctrl.global.get('sectionType').val].filtersForAll")
            div(class="form-group")
                a(class="filters-of-stuff", ng-click="$ctrl.filterList()",title="{{$ctrl.global.get('lang').val.filters}}")
                    span(class="icon-filters-img")
                    span(ng-bind="$ctrl.global.get('lang').val.filters")
        div(class="clearfix")