/*rk*/
.filters-first-box {
    position: relative;
    width:100%
}
.filter-box {
    font-size: 14px;
    position: absolute;
    width:100%
}
.filters-of-stuff span{
    vertical-align: middle;
}
.panel-heading {
    padding: 10px;
}
.checkbox .checkbox-material .check {
    margin-right: 3px;
}
.brand-name {
    font-size: 16px;
}

.collection-name {
    display: inline-block;
    vertical-align: middle;
}
.tag {
    margin-top: 0;
    font-size: 12px;
}
.tag,
.tag-row {
    margin-bottom: 5px;
}
.tag .checkbox{
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.panel {
    box-shadow: none;
    border-bottom: none;
    background-color: transparent;
}
.panel-heading {
    /*background-color: #f5f5f5;*/
    border-radius: 0;
    padding: 20px 10px 20px 15px;
    border: none;
    border-bottom: 1px solid #eee;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: none;
}
/*.panel-heading{
    background-color: #f5f5f5;
    border-radius: 0;
    padding: 20px 10px 20px 15px;
    border: 1px solid #eee;
}*/
.panel-collapse {
    border: 1px solid #eee;
}
.panel-group .panel + .panel {
    margin-top: 0;
}
/*.filter-box a {
    color: #333333;
}*/
.panel-title a{
    display: block;
    width: 100%;
}
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    width: 15px;
    height: 15px;
    margin-left: -15px;
}
.brand-name {
    display: inline-block;
    padding-top: 5px;
}
.checkbox label,
.checkbox-inline label {
    padding-left: 20px;
}
.up-down{
    display: inline-block;
    padding-top: 3px;
}
.icon-up-img,
.icon-down-img {
    width: 18px;
    height: 18px;
    background-size: 18px;
    transition: 0.4s ease-in-out 0.1s;
    margin-right: 0;
    display: inline-block;
    vertical-align: middle;
}

.tablet-wrapper .filter-box .tag-box .panel-heading {
    padding: 20px 10px;
}
.tablet-wrapper .block-left {
    width: 90%;
}
.tablet-wrapper .block-right {
    width: 10%;
}
.rzslider .rz-pointer {
    background-color: #cccccc;
    outline: none;
}
.rzslider .rz-pointer.rz-active:after {
    background-color: #333;
}
.rzslider .rz-selection {
    background-color: #666;
}
.cancelall {
    display:inline-block;
    margin-top: 15px;
    padding-left: 5px;
    padding-bottom: 10px;
}
.chars {
    width:30px;
    height:30px;
    margin: 5px;
    border: 1px solid #eee;
    display: inline-block;
    padding: 5px;
}
.chars span {
    display: inline-block;
}
/*
.brand-active {
    background-color: #f5f5f5;
}*/
