<div class="filters-first-box">
    <div class="filter-box">
        <div class="cancel-brand" ng-if="$ctrl.brands.length">
            <a class="reset" ng-click="$ctrl.changeAllBrands()">
                <span style="display:inline-block; margin-top: 15px; padding-left: 5px; padding-bottom: 5px">
                    {{$ctrl.global.get('lang').val.cancelAll}}
                </span>
            </a>
        </div>
        <div class="brand-box" ng-repeat="brand in $ctrl.brands" ng-if="brand.inList">
            <div class="pull-left">
                <span class="brand-name" ng-bind="brand.name" ></span>
            </div>
            <div class="pull-right text-right all-collection">
                <a ng-if="$ctrl.checkedBrand<2 && brand.tags.length" ng-click="brand.showCollections=!brand.showCollections">
                   <span class="collection-name" ng-bind="$ctrl.global.get('lang').val.collections">
                    </span>
                    <span class="up-down" ng-show="!brand.showCollections">
                        <span class="icon-plus-img"></span>
                    </span>
                    <span class="up-down" ng-show="brand.showCollections">
                        <span class="icon-delete-img"></span>
                    </span>
                </a>
            </div>
            <div class="clearfix"></div>
            <div class="form-group tag">
                <div class="radio">
                    <label>
                        <input type="radio"ng-model="brand.set"  ng-change="$ctrl.changeTag()">
                        <span class="brand-name" ng-bind="$ctrl.global.get('lang').val.all" ></span>
                    </label>
                </div>
            </div>
            <div class="form-group tag" ng-repeat="tag in brand.tags">
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="tag.set"  ng-change="$ctrl.changeTag()">
                        &nbsp {{tag.name}}
                    </label>
                </div>
            </div>
        </div>
        <div class="cancel-tag">
            <a class="reset" ng-click="$ctrl.clearAll()" >
                <span style="display:inline-block; margin-top: 15px; padding-left: 5px; padding-bottom: 5px">
                    {{$ctrl.global.get('lang').val.cancelAll}}
                </span>
            </a>
        </div>
        <div class="tag-box" ng-repeat="filter in $ctrl.filters" ng-if="filter.inList && (filter.tags.length||filter.count)">
            <p>
                <span class="filter-name">{{filter.name}} </span>
                <span ng-if="filter.count">{{filter.desc}}</span>
            </p>

            <a class="reset link-warning" ng-click="$ctrl.changeAllTags(filter)">
                {{$ctrl.global.get('lang').val.tagsReset}}
            </a>
            <div class="clearfix"></div>
            <div ng-if="filter.count">
                <rzslider
                        rz-slider-model="filter.minValue"
                        rz-slider-high="filter.maxValue"
                        rz-slider-options="{floor: filter.min, ceil: filter.max}"></rzslider>
                <a class="pull-right link-success" ng-click="$ctrl.setCountFilter(filter)">
                    {{$ctrl.global.get('lang').val.set}}
                </a>
                <a class="link-warning" ng-click="$ctrl.clearCountFilter(filter)">
                    {{$ctrl.global.get('lang').val.clear}}
                </a>
            </div>

            <div class="tag-row" ng-if="!filter.count" class="form-group tag" ng-repeat="tag in filter.tags">
                <div class="radio">
                    <label>
                        <input type="checkbox"  ng-model="tag.set"
                               ng-click="$ctrl.changeTag(filter,tag)">&nbsp{{tag.name}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
