.page-slides {
    position: relative;
}
.page-slides  .substrate{
    position: relative;
    -webkit-transition: opacity 1.5s  ease-in-out 0.5s;
    -moz-transition: opacity 1.5s  ease-in-out 0.5s;
    -ms-transition: opacity 1.5s  ease-in-out 0.5s;
    -o-transition: opacity 1.5s  ease-in-out 0.5s;
    transition: opacity  1.5s ease-in-out 0.5s;
}

.mytoggle-page {
    -webkit-transition: all 1.5s  ease-in-out 0.5s;
    -moz-transition: all 1.5s  ease-in-out 0.5s;
    -ms-transition: all 1.5s  ease-in-out 0.5s;
    -o-transition: all 1.5s  ease-in-out 0.5s;
    transition: all  1.5s ease-in-out 0.5s;
    position: absolute;
    top:0;
    left:0;
    max-width: 100%;
    z-index: 2;
    opacity: 0;
}








