/*tatiana*/
.substrate{
    position: relative;
    -webkit-transition: opacity 1.5s  ease-in-out 0.5s;
    -moz-transition: opacity 1.5s  ease-in-out 0.5s;
    -ms-transition: opacity 1.5s  ease-in-out 0.5s;
    -o-transition: opacity 1.5s  ease-in-out 0.5s;
    transition: opacity  1.5s ease-in-out 0.5s;
}
.mytoggle-page {
    width: 100%;
    -webkit-transition: all 1.5s  ease-in-out 0.5s;
    -moz-transition: all 1.5s  ease-in-out 0.5s;
    -ms-transition: all 1.5s  ease-in-out 0.5s;
    -o-transition: all 1.5s  ease-in-out 0.5s;
    transition: all  1.5s ease-in-out 0.5s;
    position: absolute;
    top:0;
    left:0;
    max-width: 100%;
    z-index: 2;
    opacity:0;
}
.owl-theme .owl-dots .owl-dot span {
    border: none;
    width: 15px;
    height: 15px;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.84);
}
.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot.active span {
    opacity:1;
}