<!--<style>
    .user-cart {
        padding-top: 10px;
        background-color: #ffffff;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        box-shadow: 0px 8px 17px 0px;
        border-bottom-color: rgb(51,51,51);
        margin-bottom: 15px;
        margin-right: 10px;
    }
</style>-->
<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 ">
    <form ng-submit="usersCtrl.reloadUsers(usersCtrl.searchStr)">
        <div class="form-group label-floating">
            <label class="control-label">поиск пользователя</label>
            <input type="text" class="form-control" ng-model="usersCtrl.searchStr">
            <button style="z-index: 1000" ng-show="false"class="btn btn-default" type="submit">найти</button>
        </div>
    </form>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div ng-repeat="user in usersCtrl.users">
        <user-card delete-user-function="usersCtrl.deleteUser(id)"
                   user="user"></user-card>
    </div>
</div>

<div class="clearfix"></div>
<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center">
    <paginator-main
            paginate="usersCtrl.paginate"
            getlist="usersCtrl.getList(page,rows)"
            scroll="true">
    </paginator-main>
</div>





