<!--http://stackoverflow.com/questions/27005608/angularjs-ui-bootstrap-modal-with-google-places-->
<style>
    .pac-container {
        z-index: 100000;
    }
    .user-profile {
        margin-top: 120px;
    }
    .phone-mask input.form-control {
        height: 40px;
    }
    .user-profile .phoneForm .add-phone .ui-select-match .btn-default {
        border-bottom: none;
    }
    .action-btn {
        background-color: #eee;
        border-top: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
        height: 50px;
        margin-left: -20px;
        margin-right:-20px;
        cursor: pointer;
        padding-top: 10px;
    }
    .name-info {
        font-size: 18px;
    }
    .user-profile i.material-icons {
        font-size: 28px;
    }
    .user-profile a {
        font-size: 18px;
    }
    .user-profile .name-page {
        text-transform: uppercase;
    }

    .phone-form-box .help-block {
        margin-top: 0 !important;
    }
    .phone-form-box .ui-select-match .ui-select-search {
        height: 0 !important;
        margin-bottom: 0;
    }
</style>
<div class="user-profile">
    <div class="my-switch-container cart-detail col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12" >
        <h3 class="name-page text-center">{{$ctrl.global.get('langForm').val.profileData}}</h3>
        <div class="cart-inner" ng-if="$ctrl.user.val">
            <div class="col-lg-1 col-sm-1">
                <i class="material-icons" ng-click="$ctrl.changeEmail()">account_box</i>
            </div>
            <div class="col-lg-11 col-sm-11">
                <p class="name-info">Login - <span ng-bind="$ctrl.user.val.name"></span></p>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-1 col-sm-1">
                <i class="material-icons" title="{{$ctrl.global.get('langForm').val.changeEmail}}" style="cursor: pointer">email</i>
            </div>
            <div class="col-lg-6 col-sm-6">
                <p class="name-info">Email - <span ng-bind="$ctrl.user.val.email"></span></p>
            </div>
            <div class="col-lg-5 col-sm-5">
                <a class="link-success pull-right" ng-click="$ctrl.changeEmail()">Изменить Email</a>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-1 col-sm-1">
                <i class="material-icons" title="{{$ctrl.global.get('langForm').val.changePassword}}" style="cursor: pointer">cached</i>

            </div>
            <div class="col-lg-6 col-sm-6">
                <p class="name-info">Пароль - <span>************</span></p>
            </div>
            <div class="col-lg-5 col-sm-5">
                <a class="link-success pull-right" ng-click="$ctrl.changePswd(item._id)">Изменить пароль</a>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <form class="form" name="formProfile" id="formProfile" ng-submit="$ctrl.saveProfile(formProfile)" novalidate>
                <div class="form-group control-group">
                    <div class="col-lg-1 col-sm-1">
                        <!--<i class="material-icons link-success" style="font-size: 40px">account_box</i>-->
                        <i class="material-icons" style="margin-top: 5px">font_download</i>
                    </div>
                    <div class="col-lg-11 col-sm-11">
                        <input  name="fio" type="text" class=" form-control cart" ng-class="{'has-error': formProfile.displayName.$invalid && formProfile.$submitted}"
                                pattern="[A-Za-zА-Яа-я0-9ЁёЇїІіЄє'\s-]{3,100}"
                                ng-minlength="3"
                                ng-maxlength="70"
                                required
                                ng-model="$ctrl.user.val.profile.fio"
                                ng-model-options="{'updateOn':'default blur','debounce':{'default':700,'blur':0}}"
                                ng-change="$ctrl.saveField('fio')"
                                placeholder="ФИО"
                                style="margin-bottom: 0"/>
                        <!--<span class="help-block text-danger" ng-show="formProfile.displayName.$invalid && formProfile.$submitted" ng-messages="signupForm.displayName.$error">
                            <span ng-message="maxlength">{{$ctrl.global.get('langError').val.namelong}}</span>
                        </span>-->

                        <span class="help-block"  ng-show="formProfile.fio.$error.minlength">
                            {{$ctrl.global.get('langError').val.nameshort}}
                        </span>
                        <span class="help-block"  ng-show="formProfile.fio.$error.maxlength">
                            {{$ctrl.global.get('langError').val.namelong}}
                        </span>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group phone-form-box">
                    <div class="col-lg-1 col-sm-1">
                        <i class="material-icons" style="margin-top: 5px">ring_volume</i>
                    </div>
                    <div class="col-lg-11 col-sm-11">
                        <div enter-phone-numder="$ctrl.user.val.profile.phone"></div>
                        <span class="help-block"  ng-show="formProfile.phoneForm.$error.required" style="margin-top: 0px !important;">
                        {{$ctrl.global.get('langError').val.enterphone}}
                        </span>
                        <span class="help-block"  ng-show="$ctrl.phoneExist"  style="margin-top: 0px !important;">
                            {{$ctrl.global.get('langError').val.dublePhone}}
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-lg-1 col-sm-1">
                        <i class="material-icons" >store_mall_directory</i>
                    </div>
                    <div class="col-lg-11 col-sm-11">
                        <input name="cityId" required data-ng-model="$ctrl.user.val.profile.cityId"
                               type="hidden">
                        <input type="text"   class="form-control cart"
                               ng-autocomplete-city  user="$ctrl.user.val"/>
                        <span class="help-block"  ng-show="formProfile.cityId.$error.required">
                            {{$ctrl.global.get('langError').val.selectcity}}
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="control-group form-group">
                    <div class="col-lg-1 col-sm-1">
                        <i class="material-icons" >local_shipping</i>
                    </div>
                    <div class="col-lg-11 col-sm-11">
                        <input  ng-maxlength="100"
                                name="transporter"
                                type="text" class="form-control cart"
                                pattern="[0-9A-Za-zА-Яа-я.,/\s-]{0,100}"
                                ng-model="$ctrl.user.val.profile.transporter"
                                ng-model-options="{'updateOn':'default blur','debounce':{'default':700,'blur':0}}"
                                placeholder="{{$ctrl.global.get('langForm').val.carrier}}"/>
                        <span class="help-block"  ng-show="formProfile.transporter.$error.maxlength">
                            не более 100 символов
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </form>
            <div class="you-sub-box text-center">
                <a class="you-sub btn btn-project" ng-click="$ctrl.global.get('functions').val.logout()">
                    <span class="link-success" ng-bind="$ctrl.global.get('lang').val.logout"></span>
                </a>
            </div>
            <div class="form-group text-center cancel-sub">
                <div class="checkbox">
                    <label style="font-size: 18px">
                        <input type="checkbox" ng-model="$ctrl.user.val.subscription"
                               ng-change="$ctrl.changeSubscription()">
                        <span ng-show="$ctrl.user.val.subscription">{{$ctrl.global.get('langForm').val.cancelSubscription}}</span>
                        <span ng-show="!$ctrl.user.val.subscription">{{$ctrl.global.get('langForm').val.subscribe}}</span>
                    </label>
                </div>
            </div>

        </div>

    </div>
    <div class="clearfix"></div>
</div>

