<div class="material">
    <div class="nav-box-stuff">
        <div class="tab-nav-stuff">
            <a class="btn btn-fab btn-fab-mini btn-info"
               ng-click="$ctrl.back()"
               title="вернуться">
                <i class="material-icons">reply</i>
            </a>
        </div>
        <div class="tab-nav-stuff">
            <h4 class="name-box">Карточка материала</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12">
        <div class="cart-detail">
            <form ng-submit="$ctrl.create(form)" novalidate name="form">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="name1" class="control-label">наименование материала</label>
                        <input type="text"id="name1" class="form-control name"
                               name="name"
                               ng-minlength='3'
                               ng-maxlength="100"
                               ng-model="$ctrl.item.name"
                               placeholder="наименование материала"
                               required/>
                    </div>
                    <span class="help-block" ng-show="form.name.$invalid" ng-messages="form.name.$error">
                            <span ng-message="required">Минимальная длина 3 символа</span>
                            <span ng-message="minlength">Минимальная длина 3 символа</span>
                            <span ng-message="maxlength">Максимальная длина 100 символов</span>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="form-group ">
                        <label for="sku" class="control-label">фактический артикул</label>
                        <input type="text"id="sku" class="form-control name"
                               name="sku"
                               ng-maxlength="100"
                               ng-model="$ctrl.item.sku"
                               ng-model-options="{'updateOn':'default blur','debounce':{'default':700,'blur':0}}"
                               ng-change="$ctrl.refreshData($ctrl.item.sku)"
                               placeholder="основной артикул"/>
                    </div>
                    <span class="help-block" ng-show="form.sku.$invalid" ng-messages="form.sku.$error">
                            <span ng-message="maxlength">Максимальная длина 100 символов</span>
                    </span>
                    <div class="all-sku" ng-show="$ctrl.materials.length">
                        <p ng-repeat="m in $ctrl.materials">
                            <strong ng-bind="m.name"></strong>
                            <span ng-bind="m.sku"></span>
                            <span ng-bind="m.sku2"></span>
                            <span ng-bind="m.producer.name"></span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="currency" class="control-label">производитель</label>
                        <ui-select ng-model="$ctrl.item.producer"
                                   skip-focusser="true"
                                   search-enabled="true"
                                   title="выберите производителя">
                            <ui-select-match  placeholder="производитель">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="opt._id as opt in $ctrl.producers | filter: $select.search">{{ opt.name }}</ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left">
                    <div class="">
                        <label class="control-label">коммертарии</label>
                        <textarea class="form-control">

                            </textarea>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <label for="sku2" class="control-label">основной артикул</label>
                        <p>
                            <span ng-repeat-start="s in $ctrl.item.sku2" ng-bind="s"></span>
                            <a ng-click="$ctrl.deleteSku2($index)">
                                <i class="material-icons link-warning clear">
                                    clear
                                </i>
                            </a>
                            <span ng-repeat-end> </span>
                        </p>

                    </div>
                    <div class="form-group label-floating">
                        <div class="input-group">
                            <input type="text"id="sku2" class="form-control name"
                                   name="sku2"
                                   ng-maxlength="100"
                                   ng-model="$ctrl.sku2"
                                   placeholder="введите основной артикул"/>
                            <span class="input-group-btn">
                                <button class="btn btn-fab btn-fab-mini btn-success" ng-click="$ctrl.addsku2()" type="button">
                                    <i class="material-icons">
                                        add
                                    </i>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 ">
                    <div class="form-group">
                        <label for="unit" class="control-label">единица измерения</label>
                        <ui-select ng-model="$ctrl.item.unitOfMeasure"
                                   id="unit"
                                   skip-focusser="true"
                                   search-enabled="false"
                                   title="выберите единицу измерения">
                            <ui-select-match  placeholder="единица измерения">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="opt in $ctrl.unitOfMeasure">{{ opt }}</ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 ">
                    <div class="form-group" >
                        <label for="currency" class="control-label">валюта учета</label>
                        <ui-select ng-model="$ctrl.item.currency"
                                   id="currency"
                                   skip-focusser="true"
                                   search-enabled="false"
                                   title="выберите валюту учета">
                            <ui-select-match  placeholder="валюта учета">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="opt in $ctrl.currencyArr">{{ opt }}</ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <button ng-show="$ctrl.item._id" class="btn btn-raised btn-danger btn-block" type="button" ng-click="$ctrl.deleteItem()">
                            <span>удалить</span>
                        </button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <button ng-show="$ctrl.item._id" class="btn btn-raised btn-warning btn-block" type="button" ng-click="$ctrl.clearItem()">
                            <span>очистить</span>
                        </button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <button class="btn btn-raised btn-success btn-block" type="submit">
                            <span ng-show="$ctrl.item._id">сохранить</span>
                            <span ng-hide="$ctrl.item._id">создать</span>
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>

            </form>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
