<style>
    .app-modal-window .modal-dialog {
        width: 90%;
    }
    hr {
        border-top-color:#ff7148
    }
    .name-class .form-group{
        margin-top: 0;
    }
    .change-style a {
        color: #333;
    }
    .change-style .input-group .form-group {
        margin-top: 0;
    }
    .change-style .help-text {
        font-size: 14px;
    }
    .change-style .nav-tabs {
        background-color: #aeaeae;
        height: 60px;
    }
    .change-style .nav-tabs>li {
        width: 33.33%;
        text-align: center;
        text-transform: uppercase;
        height: 60px;
        border: 1px solid #fff;
    }
    .change-style .nav-tabs>li a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .change-style .nav-tabs>li:hover {
        background-color: #ccc;
    }
    .change-style .nav-tabs>li.active {
        background-color: #4caf50;
    }
    .change-style .copy {
        text-transform: uppercase;
        background-color: #4caf50;
        border: 5px solid #fff;
    }
    .change-style .copy:hover {
        background-color: #72ad66
    }
    .change-style .copy a {
        padding: 10px;
        display: inline-block;
        color: #fff;
    }
    .change-style .header-panel {
        margin-bottom: 10px;
        padding: 15px 5px;
        height: 60px;
        border: 1px solid #ccc;
    }
    .change-style .header-panel a {
        font-size: 16px;
        font-weight: bold;
    }
    .change-style .info-text {
        font-size: 14px;
        color: #4caf50;
    }
    .change-style .dropdown-menu .form-group {
        padding-bottom: 0;
    }
    .change-style .dropdown-menu .form-control {
        font-size: 14px;
        height: 36px;
        padding-top: 10px;
        color: #4caf50;
    }
    .change-style .dropdown-menu .form-group.label-static label.control-label {
        font-size: 10px;
        top:-17px;
    }
</style>
<div class="change-style select-modal">
    <div class="modal-header">
        <h3 class="modal-title text-center">настройка стилей для блока</h3>
        <a class="cancel" ng-click="$ctrl.cancel()"></a>
    </div>
    <form ng-submit="$ctrl.done()">
        <uib-tabset>
            <uib-tab index="0" heading="desktop">
                <div class="modal-body">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <set-styles item="$ctrl.block.blockStyle" font-faces="$ctrl.fontFaces"></set-styles>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div ng-if="!$ctrl.short">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <ui-select ng-model="$ctrl.element" skip-focusser="true" search-enabled="false"
                                           ng-change="$ctrl.addNewElement()" style="margin-top: 20px">
                                    <ui-select-match placeholder="выбрать элемент">{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="opt in $ctrl.listElements|filter:$ctrl.filterListElements">{{ opt }}</ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 name-class">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="наименование класса" ng-model="$ctrl.selector" style="height: 60px">
                                    <span class="input-group-addon" style="padding: 0">
                                        <a class="btn btn-fab btn-fab-mini" ng-click="$ctrl.addSelector()" style="margin: 0">
                                            <i class="material-icons link-success">add</i>
                                        </a>
                                    </span>
                                </div>

                            </div>
                            <p class="info-text">
                                для указания .class.class запись class__class<br>
                                для указания class:hover запись class&hover<br>
                                для указания element:hover запись &elevent&hover
                            </p>
                            <div ng-repeat="(element,item) in $ctrl.block.elements">
                                <div class="header-panel">
                                    <a ng-click="item.showDetai1=!item.showDetai1" ng-show="!item.showDetai1">
                                        <span class="pull-left" ng-bind="element"></span>
                                        <i class="material-icons link-success more pull-right">
                                            keyboard_arrow_down
                                        </i>
                                        <span class="clearfix"></span>
                                    </a>
                                    <a ng-click="item.showDetai1=!item.showDetai1" ng-show="item.showDetai1">
                                        <span class="pull-left" ng-bind="element"></span>
                                        <i class="material-icons link-success more pull-right">
                                            keyboard_arrow_up
                                        </i>
                                        <span class="clearfix"></span>
                                    </a>
                                    <!--<div class="">
                                        <div class="btn-save text-right" ng-if="$ctrl.actions.save || $ctrl.actions.delete">
                                            <a class="btn btn-fab btn-fab-mini" ng-if="$ctrl.actions.save"ng-click="$ctrl.saveData()">
                                                <i class="material-icons link-success md-42">save</i>
                                            </a>
                                            <a class="btn btn-fab btn-fab-mini" style="margin-right: -20px" ng-if="$ctrl.actions.delete"ng-click="$ctrl.deleteData()">
                                                <i class="material-icons link-warning md-42">delete</i>
                                            </a>
                                        </div>
                                    </div>-->
                                </div>
                                <!--<h4 class="element-block link-warning" ng-bind="element"></h4>-->
                                <div  uib-collapse="!item.showDetai1" class="collapse-item">
                                    <set-styles item="item"
                                                font-faces="$ctrl.fontFaces"
                                                delete-function="$ctrl.deleteElement(element)"
                                                element="{{element}}"
                                                action="delete">
                                    </set-styles>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="tablet">
                <div class="modal-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="copy col-lg-6 text-center">
                            <a ng-click="$ctrl.copyStyle('desktop','tablet')">копировать с десктопа</a>
                        </div>
                        <div class="copy col-lg-6 text-center">
                            <a ng-click="$ctrl.copyStyle('mobile','tablet')">копировать с мобильного</a>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <set-styles item="$ctrl.block.tablet.blockStyle" font-faces="$ctrl.fontFaces"></set-styles>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div ng-if="!$ctrl.short">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <ui-select ng-model="$ctrl.element" skip-focusser="true" search-enabled="false"
                                           ng-change="$ctrl.addNewElement('tablet')" style="margin-top: 20px">
                                    <ui-select-match placeholder="выбрать элемент">{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="opt in $ctrl.listElements|filter:$ctrl.filterListElementsTablet">{{ opt }}</ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 name-class">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="наименование класса" ng-model="$ctrl.selector" style="height: 60px">
                                    <span class="input-group-addon" style="padding: 0">
                                        <a class="btn btn-fab btn-fab-mini" ng-click="$ctrl.addSelector('tablet')" style="margin: 0">
                                            <i class="material-icons link-success">add</i>
                                        </a>
                                    </span>
                                </div>

                            </div>
                            <p class="info-text">
                                для указания .class.class запись class__class<br>
                                для указания class:hover запись class&hover<br>
                                для указания element:hover запись &elevent&hover
                            </p>
                            <div ng-repeat="(element,item) in $ctrl.block.tablet.elements">
                                <div class="header-panel">
                                    <a ng-click="item.showDetai12=!item.showDetai12" ng-show="!item.showDetai12">
                                        <span class="pull-left" ng-bind="element"></span>
                                        <i class="material-icons link-success more pull-right">
                                            keyboard_arrow_down
                                        </i>
                                        <span class="clearfix"></span>
                                    </a>
                                    <a ng-click="item.showDetai12=!item.showDetai12" ng-show="item.showDetai12">
                                        <span class="pull-left" ng-bind="element"></span>
                                        <i class="material-icons link-success more pull-right">
                                            keyboard_arrow_up
                                        </i>
                                        <span class="clearfix"></span>
                                    </a>
                                </div>
                                <div  uib-collapse="!item.showDetai12" class="collapse-item">
                                    <set-styles item="item"
                                                font-faces="$ctrl.fontFaces"
                                                delete-function="$ctrl.deleteElement(element,'tablet')"
                                                element="{{element}}"
                                                action="delete">
                                    </set-styles>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </uib-tab>
            <uib-tab index="2" heading="mobile">
                <div class="modal-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="copy col-lg-6 text-center">
                            <a ng-click="$ctrl.copyStyle('desktop','mobile')">копировать с десктопа</a>
                        </div>
                        <div class="copy col-lg-6 text-center">
                            <a ng-click="$ctrl.copyStyle('tablet','mobile')">копировать с таблетки</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <set-styles item="$ctrl.block.mobile.blockStyle" font-faces="$ctrl.fontFaces"></set-styles>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div ng-if="!$ctrl.short">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <ui-select ng-model="$ctrl.element" skip-focusser="true" search-enabled="false"
                                           ng-change="$ctrl.addNewElement('mobile')" style="margin-top: 20px">
                                    <ui-select-match placeholder="выбрать элемент">{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="opt in $ctrl.listElements|filter:$ctrl.filterListElementsMobile">{{ opt }}</ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 name-class">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="наименование класса" ng-model="$ctrl.selector" style="height: 60px">
                                    <span class="input-group-addon" style="padding: 0">
                                    <a class="btn btn-fab btn-fab-mini" ng-click="$ctrl.addSelector('mobile')" style="margin: 0">
                                        <i class="material-icons link-success">add</i>
                                    </a>
                                </span>
                                </div>

                            </div>
                            <p class="info-text">
                                для указания .class.class запись class__class<br>
                                для указания class:hover запись class&hover<br>
                                для указания element:hover запись &elevent&hover
                            </p>
                            <div ng-repeat="(element,item) in $ctrl.block.mobile.elements">
                                <div class="header-panel">
                                    <a ng-click="item.showDetai11=!item.showDetai11" ng-show="!item.showDetai11">
                                        <span class="pull-left" ng-bind="element"></span>
                                        <i class="material-icons link-success more pull-right">
                                            keyboard_arrow_down
                                        </i>
                                        <span class="clearfix"></span>
                                    </a>
                                    <a ng-click="item.showDetai11=!item.showDetai11" ng-show="item.showDetai11">
                                        <span class="pull-left" ng-bind="element"></span>
                                        <i class="material-icons link-success more pull-right">
                                            keyboard_arrow_up
                                        </i>
                                        <span class="clearfix"></span>
                                    </a>
                                </div>
                                <div  uib-collapse="!item.showDetai11" class="collapse-item">
                                    <set-styles item="item"
                                                font-faces="$ctrl.fontFaces"
                                                delete-function="$ctrl.deleteElement(element,'mobile')"
                                                element="{{element}}"
                                                action="delete">
                                    </set-styles>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </uib-tab>
        </uib-tabset>
        <div class="modal-footer col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <button class="btn btn-block btn-raised" type="submit">
                сохранить
            </button>
        </div>
        <div class="clearfix"></div>
    </form>
    <div class="clearfix"></div>
</div>
