div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="date")
            div(class="container")
                if(dj[key].name)
                    h3=dj[key].name
                h3=dj[key].date
                social-hub


