.brands {
    padding-top: 130px;
    padding-bottom: 40px;
}
.brands ul {
    padding-left: 0;
}

.brands .brand-box {
    border: 1px solid #ccc;
    box-shadow: 0px 5px 8px 0px #999;
    cursor: move;
    background-color: #fff;
    border: 1px solid #999;
}
.brands .collection-box {
    box-shadow: 0px 5px 8px 0px #999;
    cursor: move;
    background-color: #fff;
    border: 1px solid #4caf50;
    padding-left: 0;
    padding-right: 0;
}
.brands .color-box-blue,
.brands .color-box-orange {
    background-color: #fff;
}
.brands .box-control {
    padding: 5px 0;
    font-size: 16px;
    cursor: pointer;
}
.brands .box-control a {
    font-weight: 500;
    text-decoration: none;
}
.brands .control {
    display: inline-block;
    margin-top: 20px;
}
.brands .control-box {
    padding-left: 0px;
    padding-right: 0px;
}

.brands .control-box a {
    cursor: pointer;
}
.brands .border-right {
    border-right: 1px solid #ccc;
}
.brands .border-left {
    border-left: 1px solid #ccc;
}
.brands .box-border-top {
    border-top: 1px solid #999;
    margin-top: 57px;
    padding-right: 0;
}
.brands .box-border-left {
    border-left: 1px solid #999;
}
.brands .box-section-left {
    padding-right: 0;
}
.brands .add-collection {
    border: 1px solid #4caf50;
    margin-top: 15px;
}
.brands .add-brand {
    border: 1px solid #999;
    margin-top: 15px;
}
.right-collection {
    margin-top: 55px;
}
.brands .move {
    color: #999;
    font-size: 20px;
    border-right: 1px solid #ccc;
}

.brands .down-up {
    cursor: pointer;
}


/*elements*/
.brands .form-group {
    margin-top: 0;
    margin-top: 16px;
}
.brands .collection-box  .form-control,
.brands .brand-box  .form-control {
    color: #999;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
}

.brands .add-brand .form-group  label.control-label {
    margin-top: 22px;
    color: #999;
}
.brands .add-brand .form-group.label-static label.control-label,
.brands .add-brand .form-group.label-floating.is-focused label.control-label,
.brands .add-brand .form-group.label-floating:not(.is-empty) label.control-label,
.brands .add-collection .form-group.label-static label.control-label,
.brands .add-collection .form-group.label-floating.is-focused label.control-label,
.brands .add-collection .form-group.label-floating:not(.is-empty) label.control-label {
left: 0;
}


.brands .form-group .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

.brands input.enter,
.filters input.enter {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}
.tag-to-model ul {
    padding-left: 0;
}
.select-brand-tag .section-name label,
.tag-to-model .section-name label{
    font-size: 18px;
}
.select-brand-tag .section-name,
.tag-to-model .section-name {
    margin-right: 15px;
}
.select-brand-tag .section-all,
.tag-to-model .section-all {
    display: inline-block;
}
.brands ul[dnd-list],
.brands ul[dnd-list] > li {
    position: relative;
}

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.brands .dropzone ul[dnd-list] {
    min-height: 42px;
    /*margin: 0px;
    padding-left: 0px;*/
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.brands .dropzone li {
    display: block;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.brands .dropzone .dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.brands .dropzone .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.brands .dropzone .dndPlaceholder {
    background-color: #ddd !important;
    min-height: 42px;
    display: block;
    position: relative;
}

