<div class="downloads">
    <div class="nav-box-stuff">
        <div class="tab-nav-stuff">
            <a class="btn btn-fab btn-fab-mini btn-violet"  ui-sref="frame">
                <i class="material-icons">reply</i>
            </a>
        </div>
        <div class="tab-nav-stuff">
            <h4 class="name-box">Ссылка на архив фотографий каталога</h4>
        </div>
    </div>
    <div class="container">
        <div class="cart-detail">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mb-20 text-center">
                <h4 class="name-box">Сыслка на архив фотографий каталога</h4>
                <p class="info-text">Если Вы используете ручную загрузку нашего каталога на свой сайт, то Вам доступен архив фотографий сайта на google disk.<br>
                    Фотографии размещаются в момент выпуска коллекции и не привязаны к названиям и наличию моделей на сайте.
                    К скачиванию доступны архивы фото по коллекциям или отдельные фотографии из папок коллекций. Учтите, что фотографии в папках - в полном размере.
                    Поэтому коллекцию лучше скачивать в заархивированном виде.</p>
                <a class="btn btn-raised btn-success btn-block"target="_blank" href="{{$ctrl.global.get('store').val.seller.archImages}}" >
                    посмотреть архив фото
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>