<div class="filter-stuffs-list select-modal">
    <div class="modal-header">
        <h3 class="modal-title text-center">{{$ctrl.global.get('lang').val.filterconfign}}</h3>
        <a  class="cancel  icon-cancel-img" ng-click="$ctrl.cancel()"></a>
    </div>

    <div class="modal-body">
        <div class="filters-wrap"></div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-project-inv btn-lg btn-raised btn-block" type="button"
           ng-click="$ctrl.ok()">
            {{$ctrl.global.get('lang').val.createaList}}
        </a>
    </div>
    <div class="clearfix"></div>
</div>


