<!--This works as expected.-->
<div  class="wrapper-stuffs-list"  ng-class="{'wrapper-stuffs-list-mobile':$ctrl.global.get('mobile').val}">
    <div ng-show="!$ctrl.items.length" ng-cloak class="text-center">
        <p class="no_story">
            Вы пока не создали ни одного товара.
        </p>
    </div>
    <div class="clearfix"></div>
    <div class="nav-box-stuff">
        <div class="tab-nav-stuff">
            <a class="btn btn-fab btn-fab-mini btn-violet" ui-sref="frame">
                <i class="material-icons ">reply</i>
            </a>
        </div>
        <div class="tab-nav-stuff">
            <a class="btn btn-fab btn-fab-mini btn-success"
               ng-click="$ctrl.createItem()"
               title="создать новый товар">
                <i class="material-icons">add</i>
            </a>
        </div>
        <div class="tab-nav-stuff">
            <a class="btn btn-fab btn-fab-mini btn-info" title="фильтры товаров" ng-click="$ctrl.filterList()">
                <i class="material-icons">filter_list</i>
            </a>
        </div>
        <!--<div class="tab-nav-stuff">
            <a class="btn btn-fab btn-fab-mini btn-raised" title="синхронизировать индексы" ng-click="$ctrl.alignmentIndex()">
                <i class="material-icons">sort_by_alpha</i>
            </a>
        </div>-->

        <div class="tab-nav-stuff">
            <a class="btn btn-fab btn-fab-mini btn-success"
               ng-click="$ctrl.getList(true)"
               title="обновить">
                <i class="material-icons">cached</i>
            </a>
        </div>

        <div class="tab-nav-stuff">
            <div class="dropdown setting">
                <a class="btn btn-fab btn-fab-mini btn-pink dropdown-toggle" title="дополнительные настройки" data-toggle="dropdown" data-target="#">
                    <!--<i class="material-icons">gps_fixed</i>-->
                    <i class="material-icons">settings</i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <button class="btn btn-raised"  ng-disabled="$ctrl.fixDesable" ng-click="$ctrl.fixData()">
                            фиксировать структуру данных
                        </button>
                    </li>

                    <li>
                        <button class="btn btn-raised" ng-disabled="$ctrl.reNewKeyWordsDisable" ng-click="$ctrl.reNewKeyWords()">
                            обновить ключевые слова<br> для поиска товара
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-raised" ng-click="$ctrl.alignmentIndex()">
                            синхронизировать индексы
                        </button>
                    </li>
                    <li ng-if="$ctrl.bookkeep">
                        <button class="btn btn-raised" ng-click="$ctrl.bookkeepSynchronize()">
                            синхронизировать c бухгалтерией
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-nav-stuff">
            <div class="dropdown setting">
                <a class="btn btn-fab btn-fab-mini btn-primary dropdown-toggle" title="фильтровать список по видимости" data-toggle="dropdown" data-target="#">
                    <!--<i class="material-icons">gps_fixed</i>-->
                    <i class="material-icons">remove_red_eye</i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-disabled="$ctrl.fixDesable" ng-click="$ctrl.changeListCriteria()">
                            показывать все
                        </a>
                    </li>
                    <li>
                        <a ng-click="$ctrl.changeListCriteria('actived',true)">
                            только опубликованные
                        </a>
                    </li>
                    <li>
                        <a ng-click="$ctrl.changeListCriteria('actived',false)">
                            только не опубликованные
                        </a>
                    </li>
                    <li>
                        <a ng-click="$ctrl.changeListCriteria('archived',true)">
                            только архивные
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-nav-stuff">
            <div class="dropdown  setting">
                <a class="btn btn-fab btn-fab-mini btn-info dropdown-toggle" title="показывать по" data-toggle="dropdown" data-target="#">
                    <i class="material-icons">format_list_numbered</i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-click="$ctrl.changeRows(50)">
                            50 <span ng-bind="$ctrl.global.get('lang').val.position"></span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="$ctrl.changeRows(100)">
                            100 <span ng-bind="$ctrl.global.get('lang').val.position"></span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="$ctrl.changeRows(200)">
                            200 <span ng-bind="$ctrl.global.get('lang').val.position"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-nav-stuff  pull-right" title="СБРОС КЕША">
            <a class="btn btn-fab btn-fab-mini btn-success" ng-click="$ctrl.deleteIndexPageHtml()" ng-class="{'mini-tab':$ctrl.global.get('mobile').val}">
                <i class="material-icons" ng-class="{'mini':$ctrl.global.get('mobile').val}">settings_backup_restore</i>
            </a>
        </div>
        <div class="tab-nav-stuff pull-right search">
            <form ng-submit1="$ctrl.searchItem(searchStr)">
                <input title="поиск товара в каталоге" type="text"
                       ng-model-options="{'updateOn':'default blur','debounce':{'default':1000,'blur':0}}"
                       ng-change="$ctrl.searchItem(searchStr)"
                       placeholder="поиск товара"
                       class="search-fluid"  ng-model="searchStr"/>
                <a ng-click="$ctrl.clearSearch()" class="btn btn-fab btn-fab-mini btn-warning">
                    <i class="material-icons" title="очистить строку поиска">clear</i>
                </a>
            </form>
        </div>
        <div class="clearfix"></div>
        <div class="tab-nav-stuff action form-group"  ng-if="!$ctrl.mobile" >
            <div class="checkbox">
                <label>
                    <input  ng-model="$ctrl.mark" type="checkbox" ng-change="$ctrl.markAllStuffs($ctrl.mark)">
                </label>
            </div>
        </div>
        <div class="tab-nav-stuff action-select"  ng-if="!$ctrl.mobile" >
            <ui-select ng-model="$ctrl.action"
                       skip-focusser="true"
                       search-enabled="false"
                       title="выберите действие"
                       ng-change="$ctrl.changeAction()">
                <ui-select-match  placeholder="действие">{{$select.selected.value}}</ui-select-match>
                <ui-select-choices repeat="opt.key as (key, opt) in $ctrl.listOfActions">{{ opt.value }}</ui-select-choices>
            </ui-select>
        </div>
        <div class="tab-nav-stuff  paginator-box pull-right">
            <paginator-main
                    paginate="$ctrl.paginate"
                    getlist="$ctrl.getList()"
                    scroll="{{scrollId}}">
            </paginator-main>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul dnd-list22="$ctrl.items"
            dnd-drop22="$ctrl.dropCallback(item)" style="padding-left: 0">
            <li dnd-draggable22="stuff"
                dnd-effect-allowed22="move"
                dnd-moved22="$ctrl.items.splice($index,1)"
                ng-repeat="stuff in $ctrl.items|filter:$ctrl.filteringList"
                id="stuff{{stuff._id}}">
                <div class="block-stuff stuff-admin">
                    <div class="top-box">
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12 number-box">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 label-action">
                                <div class=" form-group">
                                    <div  ng-class="{'checkbox':true}">
                                        <label>
                                            <input  type="checkbox" ng-model="stuff.select">
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12 number-order">
                                <div class="form-group label-floating name-goods">
                                    <label for="name1" class="control-label">наименование</label>
                                    <input type="text"id="name1" class="form-control name"
                                           ng-model="stuff.name"
                                           placeholder="наименование товара"
                                           required
                                           ng-model-options="{'updateOn':'default blur','debounce':{'default':700,'blur':0}}"
                                           ng-change="$ctrl.saveField(stuff,'name')"/>

                                </div>
                                <div class="form-group label-floating articul">
                                    <label  for="articul" class="control-label">артикул</label>
                                    <input ng-model-options="{'updateOn':'default blur','debounce':{'default':700,'blur':0}}"
                                           ng-change="$ctrl.saveField(stuff,'artikul')"
                                           name="rur" type="text" class="form-control" id="articul"
                                           ng-model="stuff.artikul">
                                </div>


                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 articul-box">
                            <div class="form-group label-floating index">
                                <label  for="index" class="control-label">индекс</label>
                                <input ng-model-options="{'updateOn':'default blur','debounce':{'default':700,'blur':0}}"
                                       ng-change="$ctrl.saveField(stuff,'index')" name="index" type="text" class="form-control" id="index"
                                       ng-model="stuff.index" pattern="[0-9-\.]{1,7}">
                            </div>
                            <div class="brand link-info text-right">
                                <span ng-bind="stuff.brandName"></span><br>
                                <span ng-bind="stuff.brandTagName"></span>
                            </div>

                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 button-block">
                            <div class="pull-right">
                                <a class="btn btn-fab btn-fab-mini btn-pink" title="посмотреть фото товара"  ng-click="$ctrl.zoomImg(stuff)">
                                    <i class="material-icons">photo</i>
                                </a>
                                <a class="btn btn-fab btn-fab-mini btn-success"  title="редактировать" ui-sref="frame.stuffs.stuff({groupUrl:$ctrl.$stateParams.groupUrl,categoryUrl:$ctrl.$stateParams.categoryUrl,stuffUrl:stuff.url,block:'mainInfo'})">
                                    <i class="material-icons">create</i>
                                </a>
                                <a class="btn btn-fab btn-fab-mini btn-violet"  title="клонировать товар" ng-click="$ctrl.createItem(stuff,'clone')">
                                    <i class="material-icons">add_to_photos</i>
                                </a>
                                <a class="btn btn-fab btn-fab-mini btn-warning" title="удалить товар" ng-click="$ctrl.deleteItem(stuff)">
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                            <p class="price-block">
                            <span class="price"  ng-if="stuff.sort && stuff.stock[stuff.sort].priceCampaign">
                                <label>акция</label><br>
                                <span ng-bind="stuff.stock[stuff.sort].priceCampaign"></span>
                            </span>
                                <span class=" price" ng-if="stuff.priceSale">
                                <label>sale</label><br>
                                <span ng-bind="stuff.stock[stuff.sort].priceSale"></span>
                            </span>
                                <!--<span class="price" ng-if="$ctrl.global.get('store').val.seller.retail">
                                    <label>розн</label><br>
                                    <span ng-bind="stuff.stock[stuff.sort].retail"></span>
                                </span>-->
                                <span class=" price">
                                <label>цена</label><br>
                                <span ng-bind="stuff.stock[stuff.sort].price"></span>
                            </span>
                            </p>
                            <div class="clearfix"></div>
                            <div class="togglebutton text-center form-group">
                                <label for="actived22{{$index}}">
                                    <span ng-class="{'active':!stuff.actived}"> не опубликован</span>
                                    <input type="checkbox"
                                           id="actived22{{$index}}"
                                           ng-model="stuff.actived"
                                           ng-change="$ctrl.saveField(stuff,'actived')">
                                    <span ng-class="{'active':stuff.actived}">опубликован</span>
                                </label>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 archive">
                        <div class=" form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="stuff.archived" ng-change="$ctrl.saveField(stuff,'archived')">
                                    <span ng-if="!stuff.archived" style="padding-left: 15px">в архив</span>
                                    <span ng-if="stuff.archived" style="padding-left: 15px">уже в архиве</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="checkbox size-block qty col-lg-10 col-md-10 col-sm-9 col-xs-12  text-right" ng-if="$ctrl.bookkeep">
                        <label class="form-check-inline" ng-repeat="tag in stuff.stockKeysArray">
                            <div class="form-group">
                                <span class="tag-name" ng-show="tag.name!='notag'" ng-bind="tag.name"></span>
                                <div class="form-check-input">
                                    <input class="form-control " type="number" ng-model="tag.quantity"  ng-change="$ctrl.changeStock(item,tag)">
                                </div>
                                <div class="clearfix"></div>

                            </div>
                        </label>
                    </div>
                    <div class="checkbox size-block col-lg-10 col-md-10 col-sm-9 col-xs-12  text-right" ng-if="!$ctrl.bookkeep">
                        <label  ng-repeat="tag in stuff.stockKeysArray" style="margin-left: 10px">
                            <span ng-show="tag.name!='notag'" ng-bind="tag.name"></span>
                            <input class="form-check-input"
                                   type="checkbox" ng-model="tag.quantity"
                                   ng-true-value=1 ng-false-value=0
                                   ng-change="$ctrl.changeStock(stuff,tag)">
                        </label>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>

<!--<a href="#" class="back-to-top">
    <i class="fa fa-angle-double-up fa-3x" ></i>
</a>-->

