.filters {
    padding-top: 120px;
}
.filters.filters-mobile {
    padding-top: 100px;
}
.filters .material-icons {
    margin-right: 0;
}
.filters ul {
    list-style-type: none;
    padding-left: 0;
}
.filters .color-box-orange,
.filters .color-box-blue {
    background-color: #fff;
}

.filters .filter-box {
    box-shadow: 0px 5px 8px 0px #999;
    margin-bottom: 10px;
    cursor: move;
    border: 1px solid #999;
    background-color: #fff;
}

.filters .tag-box {
    border: 1px solid #ccc;
    box-shadow: 0px 5px 8px 0px #999;
    cursor: move;
    border: 1px solid #4caf50;
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
    padding-bottom: 0;
}

.filters .add-filters {
    border: 1px solid #999;
    margin-top: 15px;
    margin-bottom: 40px;
}

.filters .add-tag {
    border: 1px solid #4caf50;
    margin-top: 15px;
}

.filters .down-up {
    cursor: pointer;
}

.filters .box-section-left {
    padding-right: 0;
}

.filters .box-section-right {
    border-left: 1px solid #999;
}
.filters .box-section-right .form-group label.control-label,
.filters .box-section-left .form-group label.control-label {
    margin-top: 5px;
}
.filters .box-border-top {
    border-top: 1px solid #999;
    margin-top: 50px;
    padding-right: 0;
}
ul.itemlist {
    padding-left: 0;

}
.tag-right {
    margin-top: 50px;
}
.filters .control-box {
    padding-left: 0px;
    padding-right: 0px;
}
.filters .control-box i {
    margin-left: 6px;
    margin-right: 6px;
}
.filters .control-box a {
    cursor: pointer;
}



/*elements*/
.filters .form-control {
    font-size: 16px;
}

.filters .add-filters .form-group.label-static label.control-label,
.filters .add-filters .form-group.label-floating.is-focused label.control-label,
.filters .add-filters .form-group.label-floating:not(.is-empty) label.control-label {
    left: 0;
}

.filters .add-filters input,
.filters .add-filters input {
    color: #999;
}

.filters .add-tag .form-group  label.control-label {
    margin-top: 22px;
    color: #999;
}
.filters .add-tag .form-group.label-static label.control-label,
.filters .add-tag .form-group.label-floating.is-focused label.control-label,
.filters .add-tag .form-group.label-floating:not(.is-empty) label.control-label {
    left: 0;
}
.filters .form-group .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}
.filters .togglebutton label .toggle,
.filters .togglebutton label input[type=checkbox][disabled] + .toggle {
    margin-left: 10px;

}
.filters .tag-box   .form-control,
.filters .filter-box  .form-control {
    letter-spacing: 1px;
    font-weight: bold;
}
.filters input.enter {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}

/************ Required styles *************/
/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.advancedDemo ul[dnd-list],
.advancedDemo ul[dnd-list] > li {
    position: relative;
}
/************ Dropzone Styling ************/
/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.advancedDemo .dropzone ul[dnd-list] {
    min-height: 42px;
    /*margin: 0px;
    padding-left: 0px;*/
}
/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.advancedDemo .dropzone li {
    display: block;
}
/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.advancedDemo .dropzone .dndDragging {
    opacity: 0.7;
}
/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.advancedDemo .dropzone .dndDraggingSource {
    /*display: none;*/
    opacity: 0.3;
}
/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.filters .dndPlaceholder {
    background-color: rgba(167, 191, 220, 0.18);
    min-height: 80px;
    width: 90%;
    margin-top: 20px;
    box-shadow: inset 0 3px 8px 0 #d1d1d1;
    display: block;
    position: relative;
}