.mobile-wrapper   .video-box {
    overflow: hidden;
}
.mobile-wrapper   .video-box img {
    object-fit: cover;
}
video {
    height: 100vh;
    object-fit: cover;
    background-size: cover;
}
iframe{
    width: 100% !important;
}
.half-section-video {
    position: relative;
    overflow: hidden;
    min-height: 550px;
}
.video-content {
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, -50%);
}
