<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><span ng-bind="stuff.name[lang]"></span><small>&nbsp&nbsp&nbsp  в Харькове</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive"  ng-src="{{stuff.img}}">
        </div>
        <div class="col-md-6">

            <p style="text-align:justify" ><span ng-bind="stuff.desc[lang]"></span></p>
            <!--<h3>Работы по ремонту двигателей:</h3>
            <ul class="list">
                <li>замена цепей и ремней газораспределения</li>
                <li>замена сальников и прокладок</li>
                <li>регулировка фаз газораспределения</li>
                <li>что-то еще</li>
                <li>что-то еще</li>
                <li>что-то еще</li>
                <li>что-то еще</li>
                <li>что-то еще</li>
            </ul>-->
           <!-- <button class="btn btn-primary pull-right">заказать услугу</button>-->
        </div>
    </div>
    </div>