div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="home-feedback")
            div(class="container")
                div(class="col-lg-5 col-md-4 col-sm-12 col-xs-12")
                    | !{dj[key].desc}
                div(class="col-lg-7 col-md-8 col-sm-12 col-xs-12")
                    h3=dj[key].name
                    feedback-message
                div(class="clearfix")
