div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="home-feedback")
            div(class="col-lg-12")
                div(class="col-lg-6")
                    h3=dj[key].name
                    | !{dj[key].desc}
                    feedback-message

