div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="home-feedback")
            div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12")
                div(class="feedback-box")
                    h3=dj[key].name
                    | !{dj[key].desc}
                    feedback-message(text="$ctrl.item.name")

