.sort-of-stuff table {
    border: 1px solid #ccc;
}
.sort-of-stuff .different-photo,
.sort-of-stuff .same-photo{
    border-bottom: 1px solid #ccc;
}

.sort-of-stuff .different-photo td.border-right-top,
.sort-of-stuff .same-photo td.border-right-top{
    border-right: 1px solid #ccc;
    vertical-align: top;
}

.sort-of-stuff .same-photo td.border-right-center {
    border-right: 1px solid #ccc;
    padding: 15px;
}
.sort-of-stuff .name-box {
    margin-bottom: 20px;
}
.sort-of-stuff .add-good {
    position: relative;
}
.sort-of-stuff img {
    width: 100%;
    margin-bottom: 5px;
}
.sort-of-stuff .name-good {
    font-size: 14px;
    font-weight: 500;
}
.sort-of-stuff .name-filters {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
}
.sort-of-stuff .checkbox {
    margin-bottom: 0;
    margin-top: 0;
}
/*select-filter*/
/*
.select-filter  .modal-header .modal-title {
    font-weight: 500;
}
.select-filter .modal-header {
    background-color:  #eee;
    padding: 12px 20px;
    border-bottom: 3px solid #d5d5d5;
}
.select-filter .cancel {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 15px;
    height: 15px;
    background: url("../../../img/icon/clear.png");
    background-size: 15px;
}
*/
