<!--http://stackoverflow.com/questions/27005608/angularjs-ui-bootstrap-modal-with-google-places-->
<style>
    .help-block {
        color: rgb(184, 25, 18);
        font-size: 12px;
    }
    .pac-container {
        z-index: 100000;
    }
    .modal-footer {
        text-align: left;
    }
</style>
<div  class="sign-box">
    <form class="form" name="formProfile" id="formProfile" ng-submit="$ctrl.signup()" ng-init="$ctrl.user.type='subscriptionAdd'">
        <div class="form-group"><!-- ng-class="{ 'has-success': formProfile.email.$valid,'has-error': formProfile.email.$invalid}"-->
            <input  name="email" type="email" class="form-control" required
                    ng-model="$ctrl.user.email" ng-disabled="$ctrl.user._id"
                    placeholder="e-mail"/>
            <div class="help-block text-danger" ng-if="formProfile.email.$dirty" ng-messages="formProfile.email.$error">
                <span ng-message="required">{{$ctrl.global.get('langError').val.enteremail}}</span>
                <span ng-message="pattern">{{$ctrl.global.get('langError').val.formatnot}}</span>
            </div>
        </div>
        <div class="form-group"><!-- ng-class="{ 'has-success': formProfile.fio.$valid,'has-error': formProfile.fio.$invalid}"-->
            <input  name="fio" type="text" class="form-control"
                    pattern="[A-Za-zА-Яа-я0-9.\s-]{3,100}"
                    ng-minlength="3"
                    ng-maxlength="70"
                    required
                    ng-model="$ctrl.user.profile.fio"
                    placeholder="{{$ctrl.global.get('langForm').val.fullname}}"/>

            <div class="help-block" ng-if="formProfile.fio.$dirty" ng-messages="formProfile.fio.$error">
                <div ng-message="required">{{$ctrl.global.get('langError').val.enterename}}</div>
                <div ng-message="pattern">{{$ctrl.global.get('langError').val.onlyletters}}</div>
                <div ng-message="minlength">{{$ctrl.global.get('langError').val.nameshort}}</div>
                <div ng-message="maxlength">{{$ctrl.global.get('langError').val.namelong}}</div>
            </div>
        </div>
        <div ng-if="$ctrl.formData.phone" class="form-group phone-enter">
            <div enter-phone-numder="$ctrl.user.profile.phone"></div><!-- ng-class="{ 'has-success': formProfile.phone.$valid,'has-error': formProfile.phone.$invalid}"-->
        </div>
        <div ng-if="$ctrl.formData.city" class="form-group" ><!--ng-class="{ 'has-success': formProfile.cityId.$valid,'has-error': formProfile.cityId.$invalid}"-->
            <input name="cityId" required data-ng-model="$ctrl.user.profile.cityId" type="hidden">
            <input type="text"   class="form-control"
                   ng-autocomplete-city  user="$ctrl.user"/>
            <div class="help-block" ng-if="formProfile.cityId.$dirty" ng-messages="formProfile.cityId.$error">
                <span ng-message="required">{{$ctrl.global.get('langError').val.selectcity}}</span>
            </div>
        </div>

        <div class="form-group" ng-repeat="field in $ctrl.formData.fields" ng-init="fName='field'+$index" ng-if="field.is">
            <!--{{fName}}-->
            <h3 ng-bind="field.name"></h3>
            <div ng-if="::field.type=='checkbox'">
                <div class="checkbox" ng-repeat="value in field.values">
                    <label>
                        <input ng-model="$ctrl.user.addInfo[value]" type="checkbox"/>
                        {{value}}
                    </label>
                </div>
            </div>
            <div ng-if="::field.type=='radio'">
                <!--<pre>{{formProfile[fName]|json}}</pre>-->
                <div class="radio" ng-repeat="value in field.values">
                    <label ng-if="::$index==0"><!-- ng-class="{ 'has-success': formProfile[fName].$valid,'has-error': formProfile[fName].$invalid}"-->
                        <input ng-model="$ctrl.user.addInfo[field.name]"type="radio" ng-required="field.required" name="{{fName}}" value='{{value}}' />
                        {{value}}
                    </label>
                    <label ng-if="::$index">
                        <input ng-model="$ctrl.user.addInfo[field.name]"type="radio"  name="{{fName}}" value='{{value}}' />
                        {{value}}
                    </label>
                </div>
                <div class="help-block text-danger"  ng-messages="formProfile[fName].$error">
                    <div ng-message="required">{{$ctrl.global.get('langForm').val.selectvalue}}</div>
                </div>
            </div>
            <div ng-if="::field.type=='text'" ng-class="{ 'has-success': formProfile[fName].$valid,'has-error': formProfile[fName].$invalid}">
                <input class="form-control" name="{{fName}}"
                       data-ng-model="$ctrl.user.addInfo[field.name]"
                       pattern="[A-Za-zА-Яа-я0-9.\s-]{3,75}"
                       ng-minlength="3"
                       ng-maxlength="75"
                       ng-required="field.required"
                       placeholder="{{$ctrl.global.get('langForm').val.entervalue}}">
                <div class="help-block text-danger" ng-messages="formProfile[fName].$error">
                    <span ng-message="required">{{$ctrl.global.get('langForm').val.entervalue}}</span>
                </div>
            </div>
            <div ng-if="::field.type=='select'" ><!--ng-class="{ 'has-success': formProfile[fName].$valid,'has-error': formProfile[fName].$invalid}"-->
                <select data-ng-model="$ctrl.user.addInfo[field.name]" name="{{fName}}" ng-required="field.required">
                    <option value="">{{$ctrl.global.get('langForm').val.selectvalue}}</option>
                    <option ng-repeat="value in field.values" value="{{value}}">
                        {{value}}
                    </option>
                </select>
                <div class="help-block text-danger"  ng-messages="formProfile[fName].$error">
                    <span ng-message="required">{{$ctrl.global.get('langForm').val.selectvalue}}</span>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <!--<div vc-recaptcha
                key="6LfW0gcUAAAAAPBl-LPkiKPpF2E84zUPTzg8WEKl"></div>
        <div class="text-center">-->
        <button class="btn btn-block btn-project" ng-disabled1="formProfile.$invalid" type="submit">{{$ctrl.global.get('store').val.texts.subscriptionAddButton[$ctrl.global.get('store').val.lang]}}</button>


    </form>
</div>